Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: aiida/.*py and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$

type check calcjobs/tasks
  .pre-commit-config.yaml
  aiida/engine/processes/calcjobs/tasks.py
Due: imports, pylint

type check computer
  .pre-commit-config.yaml
  aiida/orm/computers.py
  aiida/orm/implementation/computers.py
Due: imports, pylint

more type checking
  .pre-commit-config.yaml
  aiida/engine/processes/calcjobs/manager.py
  aiida/engine/processes/calcjobs/monitors.py
Due: imports, pylint

Docs: Fix the overindentation of lists
  docs/source/howto/data.rst
  docs/source/howto/installation.rst
  docs/source/howto/interact.rst
  docs/source/howto/plugin_codes.rst
  docs/source/howto/plugins_develop.rst
  docs/source/howto/query.rst
  docs/source/howto/ssh.rst
  docs/source/howto/write_workflows.rst
  docs/source/internals/rest_api.rst
  docs/source/internals/storage/psql_dos.rst
  docs/source/internals/storage/repository.rst
  docs/source/intro/installation.rst
  docs/source/reference/rest_api.rst
  docs/source/topics/calculations/concepts.rst
  docs/source/topics/calculations/usage.rst
  docs/source/topics/cli.rst
  docs/source/topics/data_types.rst
  docs/source/topics/processes/concepts.rst
  docs/source/topics/processes/functions.rst
  docs/source/topics/processes/usage.rst
  docs/source/topics/repository.rst
  docs/source/topics/workflows/concepts.rst
  docs/source/topics/workflows/usage.rst
Due: none

Install Transifex CLI with a specified version (#5748)
  .github/workflows/post-release.yml
Due: none

Additional fixes
  docs/source/howto/data.rst
  docs/source/howto/plugin_codes.rst
  docs/source/howto/plugins_develop.rst
  docs/source/howto/share_data.rst
  docs/source/howto/ssh.rst
  docs/source/reference/rest_api.rst
  docs/source/topics/plugins.rst
  docs/source/topics/provenance/caching.rst
  docs/source/topics/provenance/implementation.rst
  docs/source/topics/schedulers.rst
  docs/source/topics/transport.rst
Due: none

Docs: Fix the overindentation of lists (#5915)
  docs/source/howto/data.rst
  docs/source/howto/installation.rst
  docs/source/howto/interact.rst
  docs/source/howto/plugin_codes.rst
  docs/source/howto/plugins_develop.rst
  docs/source/howto/query.rst
  docs/source/howto/share_data.rst
  docs/source/howto/ssh.rst
  docs/source/howto/write_workflows.rst
  docs/source/internals/rest_api.rst
  docs/source/internals/storage/psql_dos.rst
  docs/source/internals/storage/repository.rst
  docs/source/intro/installation.rst
  docs/source/reference/rest_api.rst
  docs/source/topics/calculations/concepts.rst
  docs/source/topics/calculations/usage.rst
  docs/source/topics/cli.rst
  docs/source/topics/data_types.rst
  docs/source/topics/plugins.rst
  docs/source/topics/processes/concepts.rst
  docs/source/topics/processes/functions.rst
  docs/source/topics/processes/usage.rst
  docs/source/topics/provenance/caching.rst
  docs/source/topics/provenance/implementation.rst
  docs/source/topics/repository.rst
  docs/source/topics/schedulers.rst
  docs/source/topics/transport.rst
  docs/source/topics/workflows/concepts.rst
  docs/source/topics/workflows/usage.rst
Due: none

Update conf.py
  docs/source/conf.py
Due: none

Add support for Docker images to use as `Code` for `CalcJob`s (#5841)
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/orm/nodes/data/code/abstract.py
  aiida/orm/nodes/data/code/containerized.py
  aiida/schedulers/datastructures.py
  aiida/schedulers/scheduler.py
  docs/source/topics/data_types.rst
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/processes/calcjobs/test_calc_job/test_containerized_code_wrap_cmdline_params.sh
  tests/engine/processes/calcjobs/test_calc_job/test_multi_codes_run_parallel_False_.sh
  tests/engine/processes/calcjobs/test_calc_job/test_multi_codes_run_parallel_True_.sh
  tests/engine/processes/calcjobs/test_calc_job/test_multi_codes_run_withmpi_False_.sh
  tests/engine/processes/calcjobs/test_calc_job/test_multi_codes_run_withmpi_True_.sh
  tests/orm/data/code/test_containerized.py
Due: imports, pylint

Generate content for `verdi code show` automatically
  aiida/cmdline/commands/cmd_code.py
Due: imports, pylint, verdi-autodocs

Add ComputeClientOpenProtocol, remove classmethods
  .pre-commit-config.yaml
  aiida/calculations/monitors/base.py
  aiida/client/__init__.py
  aiida/client/implementation.py
  aiida/client/protocol.py
  aiida/cmdline/commands/cmd_computer.py
  aiida/engine/compute_queue.py
  aiida/engine/daemon/execmanager.py
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/orm/authinfos.py
  aiida/orm/computers.py
  aiida/orm/nodes/data/remote/base.py
  aiida/orm/utils/remote.py
  aiida/transports/cli.py
  tests/engine/test_transport.py
Due: imports, pylint, verdi-autodocs

fix test
  tests/engine/processes/calcjobs/test_calc_job.py
Due: pylint

Update nitpick-exceptions
  docs/source/nitpick-exceptions
Due: none

`verdi code show`: Add missing code attributes (#5916)
  aiida/cmdline/commands/cmd_code.py
Due: imports, pylint, verdi-autodocs

remove duplication of configure-aiida.sh
  .devcontainer/Dockerfile
  .devcontainer/configure-aiida.sh
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: none

`WorkChains`: Raise if predicate `if_/while_` does not return boolean
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  tests/engine/test_work_chain.py
Due: pylint, dm-generate-all, dependencies

Update tests replacing `ppn` with `ncpus`
  tests/schedulers/test_pbspro.py
Due: pylint

`PbsproScheduler`: Replace deprecated `ppn` tag with `ncpus` (#5910)
  aiida/schedulers/plugins/pbspro.py
  tests/schedulers/test_pbspro.py
Due: imports, pylint

`WorkChains`: Raise if predicate `if_/while_` does not return boolean (#5924)
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  tests/engine/test_work_chain.py
Due: pylint, dm-generate-all, dependencies

Update docker-compose.yml
  .devcontainer/docker-compose.yml
Due: none

`AbstractCode`: Add the `with_mpi` attribute
  aiida/cmdline/commands/cmd_code.py
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/manage/tests/pytest_fixtures.py
  aiida/orm/nodes/data/code/abstract.py
  docs/source/topics/calculations/usage.rst
  docs/source/topics/data_types.rst
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/processes/calcjobs/test_calc_job/test_multi_codes_run_withmpi_False_.sh
  tests/engine/processes/calcjobs/test_calc_job/test_multi_codes_run_withmpi_True_.sh
  tests/orm/data/code/test_abstract.py
Due: imports, pylint, verdi-autodocs

`AbstractCode`: Add the `with_mpi` attribute (#5922)
  aiida/cmdline/commands/cmd_code.py
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/manage/tests/pytest_fixtures.py
  aiida/orm/nodes/data/code/abstract.py
  docs/source/topics/calculations/usage.rst
  docs/source/topics/data_types.rst
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/processes/calcjobs/test_calc_job/test_multi_codes_run_withmpi_False_.sh
  tests/engine/processes/calcjobs/test_calc_job/test_multi_codes_run_withmpi_True_.sh
  tests/orm/data/code/test_abstract.py
Due: imports, pylint, verdi-autodocs

CLI: Prefix the `verdi data` subcommands with `core.`
  aiida/cmdline/commands/cmd_data/cmd_array.py
  aiida/cmdline/commands/cmd_data/cmd_bands.py
  aiida/cmdline/commands/cmd_data/cmd_cif.py
  aiida/cmdline/commands/cmd_data/cmd_dict.py
  aiida/cmdline/commands/cmd_data/cmd_remote.py
  aiida/cmdline/commands/cmd_data/cmd_singlefile.py
  aiida/cmdline/commands/cmd_data/cmd_structure.py
  aiida/cmdline/commands/cmd_data/cmd_trajectory.py
  aiida/cmdline/commands/cmd_data/cmd_upf.py
Due: imports, pylint, verdi-autodocs

Fixtures: Add argument `use_subprocess` to `run_cli_command`
  tests/cmdline/commands/test_computer.py
  tests/cmdline/commands/test_data.py
  tests/cmdline/commands/test_help.py
  tests/cmdline/commands/test_node.py
  tests/cmdline/commands/test_setup.py
  tests/cmdline/commands/test_storage.py
  tests/cmdline/commands/test_user.py
  tests/conftest.py
Due: pylint

Tests: Use `use_subprocess=False` and `suppress_warnings=True`
  tests/cmdline/commands/test_archive_create.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_computer.py
  tests/cmdline/commands/test_config.py
  tests/cmdline/commands/test_daemon.py
  tests/cmdline/commands/test_data.py
  tests/cmdline/commands/test_group.py
  tests/cmdline/commands/test_help.py
  tests/cmdline/commands/test_node.py
  tests/cmdline/commands/test_process.py
  tests/cmdline/commands/test_profile.py
  tests/cmdline/commands/test_rabbitmq.py
  tests/cmdline/commands/test_restapi.py
  tests/cmdline/commands/test_run.py
  tests/cmdline/commands/test_setup.py
  tests/cmdline/commands/test_status.py
  tests/cmdline/commands/test_storage.py
  tests/cmdline/commands/test_verdi.py
  tests/cmdline/params/options/test_conditional.py
  tests/cmdline/params/options/test_interactive.py
  tests/cmdline/params/options/test_verbosity.py
  tests/conftest.py
Due: pylint

Tests: Fix bugs revealed by running with `use_subprocess=True`
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_computer.py
  tests/cmdline/commands/test_run.py
  tests/cmdline/commands/test_user.py
Due: pylint

Fixtures: Change default `use_subprocess=False` for `run_cli_command`
  .github/workflows/ci-code.yml
  tests/cmdline/commands/test_archive_create.py
  tests/cmdline/commands/test_archive_import.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_group.py
  tests/cmdline/commands/test_node.py
  tests/cmdline/commands/test_run.py
  tests/conftest.py
Due: pylint

DevOps: Add devcontainer (#5913)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/post_create.sh
  .docker/opt/configure-aiida.sh
Due: none
