Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

Add types to orm.utils.node
  .pre-commit-config.yaml
  src/aiida/orm/utils/node.py
Due: imports

Revert "Add types to orm.utils.node"
  .pre-commit-config.yaml
  src/aiida/orm/utils/node.py
Due: imports

add types to orm.utils.remote
  .pre-commit-config.yaml
  src/aiida/orm/utils/remote.py
Due: imports

Devops: Add type hints to `aiida.orm.utils.remote` (#6503)
  .pre-commit-config.yaml
  src/aiida/orm/utils/remote.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 2bdcb7f00dac93b3287baef042f873cd5f6ee247 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Dependencies: Pin requirement `sphinx~=7.2.0`
  pyproject.toml
Due: dm-generate-all, dependencies

Dependencies: Pin requirement to minor version `sphinx~=7.2.0` (#6527)
  pyproject.toml
Due: dm-generate-all, dependencies

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for a610460572f2d85435dfa850fdc247e1c666ef68 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`LocalTransport`: Fix typo for `ignore_nonexisting` in `put`
  src/aiida/transports/plugins/local.py
Due: imports

`LocalTransport`: Fix typo for `ignore_nonexisting` in `put` (#6471)
  src/aiida/transports/plugins/local.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for de83e2ce43101ddb8b5aeaa5c3e18d1e5c85590a [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

CLI: Fix bug `verdi presto` when tab-completing without config
  src/aiida/cmdline/commands/cmd_presto.py
Due: imports, verdi-autodocs

CLI: `verdi computer test` report correct failed tests
  src/aiida/cmdline/commands/cmd_computer.py
Due: imports, verdi-autodocs

CLI: Fix bug `verdi presto` when tab-completing without config (#6535)
  src/aiida/cmdline/commands/cmd_presto.py
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for a2063f8eecb4f059c2d45201da00993e1559fc44 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

CLI: `verdi computer test` report correct failed tests (#6536)
  src/aiida/cmdline/commands/cmd_computer.py
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 17dc88c01514cee09449dc66f5d134324c666dd7 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Devops: Fix pymatgen import causing mypy to fail
  tests/orm/nodes/data/test_jsonable.py
Due: none

Devops: Fix pymatgen import causing mypy to fail (#6540)
  tests/orm/nodes/data/test_jsonable.py
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 6b56d8bebf52552217062bc4fbdb97467355d4d5 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Post release: add the `.post0` qualifier to version attribute
  src/aiida/__init__.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 16b8fe4a0912ac36973fb82f14691723e72599a7 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Docker: Make warning test insensitive to deprecation warnings
  .docker/tests/test_aiida.py
Due: none

Cast job_id to str to conform with type of _jobs_cache
  src/aiida/engine/processes/calcjobs/manager.py
Due: imports

Docker: Make warning test insensitive to deprecation warnings (#6541)
  .docker/tests/test_aiida.py
Due: none

Docs: Remove note in installation guide regarding Python requirement
  docs/source/installation/guide_quick.rst
Due: none

Docs: Add succint overview of limitations of no-services profile
  docs/source/installation/guide_complete.rst
  docs/source/installation/guide_quick.rst
  src/aiida/cmdline/commands/cmd_presto.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/commands/cmd_status.py
  src/aiida/cmdline/utils/decorators.py
  src/aiida/common/docs.py
  src/aiida/engine/daemon/client.py
  src/aiida/engine/launch.py
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for f1be224c4680407984eda8652692ec0ea708a3e1 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Docs: Move limitations warning to top of quick install
  docs/source/installation/guide_complete.rst
  docs/source/installation/guide_quick.rst
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for d73731f428b031ad4b9f68a4af2a008adc9b3290 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Add the `SshAutoTransport` transport plugin
  pyproject.toml
  src/aiida/transports/plugins/ssh_auto.py
  tests/cmdline/commands/test_computer.py
  tests/engine/daemon/test_execmanager.py
  tests/transports/test_all_plugins.py
Due: imports, dm-generate-all, dependencies

Add the `SshAutoTransport` transport plugin (#6154)
  pyproject.toml
  src/aiida/transports/plugins/ssh_auto.py
  tests/cmdline/commands/test_computer.py
  tests/engine/daemon/test_execmanager.py
  tests/transports/test_all_plugins.py
Due: imports, dm-generate-all, dependencies

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 71422eb872040a9ba23047d2ec031f6deaa6a7cc [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Engine: Ignore failing process state change for `core.sqlite_dos`
  src/aiida/engine/utils.py
  tests/engine/test_utils.py
Due: imports

Engine: Change signature of `set_process_state_change_timestamp`
  src/aiida/engine/processes/process.py
  src/aiida/engine/utils.py
Due: imports
