Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, dm-generate-all, pyproject, dependencies, verdi-autodocs, version-number

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://github.com/ikamensh/flynt/
    rev: '0.55'
    hooks:
    -   id: flynt
        args: [
            '--line-length=120',
            '--fail-on-change',
        ]

-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.30.0
    hooks:
    -   id: yapf
        name: yapf
        types: [python]
        exclude: &exclude_files >
            (?x)^(
                docs/.*|
            )$
        args: ['-i']

-   repo: local

    hooks:

    -   id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        pass_filenames: true
        files: >-
            (?x)^(
                aiida/common/progress_reporter.py|
                aiida/manage/manager.py|
                aiida/engine/.*py|
                aiida/manage/database/delete/nodes.py|
                aiida/tools/graph/graph_traversers.py|
                aiida/tools/groups/paths.py|
                aiida/tools/importexport/archive/.*py|
                aiida/tools/importexport/dbexport/__init__.py|
                aiida/tools/importexport/dbimport/backends/.*.py|
            )$

    -   id: pylint
        name: pylint
        entry: pylint
        types: [python]
        language: system
        exclude: *exclude_files

    -   id: dm-generate-all
        name: Update all requirements files
        entry: python ./utils/dependency_management.py generate-all
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.py|
                setup.json|
                utils/dependency_management.py
            )$

    -   id: pyproject
        name: Validate pyproject.toml
        entry: python ./utils/dependency_management.py validate-pyproject-toml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                pyproject.toml
            )$

    -   id: dependencies
        name: Validate environment.yml
        entry: python ./utils/dependency_management.py validate-environment-yml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                environment.yml|
            )$

    -   id: verdi-autodocs
        name: Automatically generating verdi docs
        entry: python ./utils/validate_consistency.py verdi-autodocs
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                aiida/cmdline/commands/.*|
                aiida/cmdline/params/.*|
                aiida/cmdline/params/types/.*|
                utils/validate_consistency.py|
            )$

    -   id: version-number
        name: Check version numbers
        entry: python ./utils/validate_consistency.py version
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                utils/validate_consistency.py|
                aiida/__init__.py
            )$

Skip test 'TestVerdiProcessDaemon::test_pause_play_kill'.
  tests/cmdline/commands/test_process.py
Due: pylint

CI: Increase output verbosity of tests suite. (#4740)
  .github/workflows/tests.sh
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for dca50f47a340ffa14302d7bd0714ba86227b4b57 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for dca50f47a340ffa14302d7bd0714ba86227b4b57 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

test plumpy==0.18.5a1
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

🧪 TESTS: Fix plumpy regression
  tests/engine/test_work_chain.py
Due: pylint

Update test_work_chain.py
  tests/engine/test_work_chain.py
Due: pylint

Skip test 'TestVerdiProcessDaemon::test_pause_play_kill'. (#4747)
  tests/cmdline/commands/test_process.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 28447f0cf5dd626d3eb350a93d821501df77346a [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 28447f0cf5dd626d3eb350a93d821501df77346a [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

🧪 TESTS: Fix pre-commit
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

Update tests/transports/test_all_plugins.py
  tests/transports/test_all_plugins.py
Due: pylint

Applied suggestions from code review
  tests/transports/test_all_plugins.py
Due: pylint

🧪 TESTS: Fix pre-commit (pin astroid) (#4757)
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 4a7d3bb0294ea24bb55d7c793ccf4ad87e3949a1 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 4a7d3bb0294ea24bb55d7c793ccf4ad87e3949a1 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

🧪 TESTS: Fix plumpy incompatibility (#4751)
  tests/engine/test_work_chain.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 3c5abcf9b07742514f0a4e167ef4d2fb235e9a43 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 3c5abcf9b07742514f0a4e167ef4d2fb235e9a43 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

upgrade plumpy 0.18.5
  environment.yml
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

Import from collections.abc
  aiida/cmdline/utils/common.py
  aiida/engine/processes/ports.py
  aiida/engine/processes/process.py
  aiida/engine/processes/workchains/workchain.py
  aiida/manage/external/rmq.py
  aiida/orm/implementation/sqlalchemy/groups.py
Due: mypy, pylint

Update trajectory.py
  aiida/orm/nodes/data/array/trajectory.py
Due: pylint

Apply suggestions from code review
  docs/source/howto/workchains_restart.rst
Due: none

change image
  docs/source/howto/include/images/workflow_error_handling_flow_loop.png
  docs/source/howto/include/images/workflow_error_handling_flow_loop.svg
Due: none

Update workflow_error_handling_flow_loop.png
  docs/source/howto/include/images/workflow_error_handling_flow_loop.png
Due: none

🔧 MAINTAIN: Reduce test warnings (#4742)
  aiida/cmdline/utils/common.py
  aiida/engine/processes/futures.py
  aiida/engine/processes/ports.py
  aiida/engine/processes/process.py
  aiida/engine/processes/workchains/workchain.py
  aiida/manage/external/rmq.py
  aiida/orm/implementation/sqlalchemy/groups.py
  aiida/orm/nodes/data/array/trajectory.py
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  setup.json
  tests/engine/test_rmq.py
  tests/engine/test_utils.py
Due: mypy, pylint, dm-generate-all, pyproject, dependencies, version-number

add pytest-benchmarks:ubuntu-18.04,django benchmark result for f4a537d0eb4618e90d56ca8dc2ccecd74ef3958c [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for f4a537d0eb4618e90d56ca8dc2ccecd74ef3958c [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

📚 DOCS: Add `BaseRestartWorkchain` how-to (#4709)
  docs/source/howto/include/images/workflow_error_handling_basic.svg
  docs/source/howto/include/images/workflow_error_handling_basic_failed.png
  docs/source/howto/include/images/workflow_error_handling_basic_success.png
  docs/source/howto/include/images/workflow_error_handling_flow_base.png
  docs/source/howto/include/images/workflow_error_handling_flow_base.svg
  docs/source/howto/include/images/workflow_error_handling_flow_loop.png
  docs/source/howto/index.rst
  docs/source/howto/workchains_restart.rst
  docs/source/topics/processes/concepts.rst
  docs/source/topics/processes/functions.rst
  docs/source/topics/processes/usage.rst
  docs/source/topics/workflows/usage.rst
Due: none

CI: Bump reentry to v1.3.2 (#4746)
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 8dfe6e7f730ce02371011114d7edb7aa2cdf6706 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 8dfe6e7f730ce02371011114d7edb7aa2cdf6706 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Update node.py
  aiida/orm/nodes/node.py
Due: pylint

add tests
  aiida/orm/nodes/node.py
  tests/orm/node/test_node.py
Due: pylint

remove duplication
  aiida/manage/caching.py
  tests/cmdline/commands/test_config.py
Due: pylint

combine `_enable_all`/`_disable_all`
  aiida/manage/caching.py
Due: pylint

add warning for skipped profiles
  aiida/manage/configuration/__init__.py
Due: pylint

reuse config
  tests/manage/test_caching_config.py
Due: pylint

Add `rmq.task_timeout` configuration variable
  aiida/manage/configuration/schema/config-v5.schema.json
  aiida/manage/manager.py
  tests/manage/configuration/test_options.py
Due: mypy, pylint
