Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

imports:
  name: imports
  entry: python utils/autogenerate_all_imports.py
  language: python
  require_serial: true
  pass_filenames: false

generate-conda-environment:
  name: Update conda environment file
  entry: python ./utils/dependency_management.py generate-environment-yml
  language: system
  pass_filenames: false

validate-conda-environment:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Only add missing attributes if not minimally serializing (#7370)
  src/aiida/orm/nodes/node.py
Due: imports

Factor out the mutable fields of `BaseNodeModel` as `MutableNodeFields`
  src/aiida/orm/nodes/node.py
Due: imports

Test latest rabbitmq version in nightly test
  .github/workflows/nightly.yml
Due: none

Try 4.3
  .github/workflows/nightly.yml
Due: none

wip
  .github/workflows/docs-build.yml
  docs/source/tutorials/include/tasks.py
  docs/source/tutorials/module0.md
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3.md
Due: none

📚 `tutorials`: renumber advanced modules 4–7
  docs/source/tutorials/TRACKING.md
  docs/source/tutorials/index.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3.md
  docs/source/tutorials/module4.md
  docs/source/tutorials/module5.md
  docs/source/tutorials/module6.md
Due: none

🐛 `tutorials`: pin aiida-shell PR fork for RTD
  docs/source/tutorials/include/tasks.py
  pyproject.toml
  uv.lock
Due: generate-conda-environment, validate-conda-environment

fix ref
  docs/source/tutorials/module2.md
Due: none

⬆️ `aiida-shell`: bump fork pin to simpler PR
  uv.lock
Due: none

🧪 `storage_maintain`: test --clean-loose-per-pack
  pyproject.toml
  tests/cmdline/commands/test_storage.py
Due: generate-conda-environment, validate-conda-environment

📚 `tutorials`: use `gsrd` instead of custom script
  docs/source/tutorials/TRACKING.md
  docs/source/tutorials/include/constants.py
  docs/source/tutorials/include/parse_gray_scott.py
  docs/source/tutorials/include/reaction-diffusion.py
  docs/source/tutorials/include/setup_tutorial.py
  docs/source/tutorials/include/simulate.py
  docs/source/tutorials/include/tasks.py
  docs/source/tutorials/module0.md
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3.md
  pyproject.toml
  uv.lock
Due: generate-conda-environment, validate-conda-environment

Factor out the mutable fields of `BaseNodeModel` as `MutableNodeFields` (#7371)
  src/aiida/orm/nodes/node.py
Due: imports

📚 `installation`: doc --no-clean-loose-per-pack
  docs/source/howto/installation.rst
Due: none

🧪 `ci-code`: unique coverage artifact per broker (#7368)
  .github/workflows/ci-code.yml
Due: none

Update mypy to v2.1
  pyproject.toml
  src/aiida/orm/nodes/data/array/trajectory.py
  src/aiida/orm/utils/links.py
  src/aiida/tools/archive/create.py
  src/aiida/tools/graph/age_entities.py
  uv.lock
Due: imports, generate-conda-environment, validate-conda-environment

rename flag and improve help
  docs/source/howto/installation.rst
  src/aiida/cmdline/commands/cmd_storage.py
  src/aiida/repository/backend/disk_object_store.py
  tests/cmdline/commands/test_storage.py
Due: imports, verdi-autodocs

update changelog
  CHANGELOG.md
Due: none

improve wording
  CHANGELOG.md
  docs/source/howto/installation.rst
  src/aiida/cmdline/commands/cmd_storage.py
Due: imports, verdi-autodocs

backticks
  src/aiida/cmdline/commands/cmd_storage.py
Due: imports, verdi-autodocs

✨ `storage maintain`: incremental loose cleanup (#7078)
  CHANGELOG.md
  docs/source/howto/installation.rst
  src/aiida/cmdline/commands/cmd_storage.py
  src/aiida/repository/backend/disk_object_store.py
  tests/cmdline/commands/test_storage.py
Due: imports, verdi-autodocs

✨ `--config`: support aiida-resource-registry
  DEVELOPMENT_NOTES.md
  docs/source/howto/run_codes.rst
  docs/source/reference/command_line.rst
  snippets.md
  src/aiida/cmdline/__init__.py
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/cmdline/groups/dynamic.py
  src/aiida/cmdline/params/options/__init__.py
  src/aiida/cmdline/params/options/config.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/cmdline/utils/__init__.py
  src/aiida/cmdline/utils/template_config.py
  src/aiida/transports/cli.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_computer.py
  tests/cmdline/params/options/test_config.py
  tests/cmdline/utils/test_template_config.py
Due: imports, verdi-autodocs

👌 `--config`: support aiida-resource-registry
  docs/source/howto/run_codes.rst
  src/aiida/cmdline/__init__.py
  src/aiida/cmdline/params/options/config.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/cmdline/utils/__init__.py
  src/aiida/cmdline/utils/template_config.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/params/options/test_config.py
Due: imports, verdi-autodocs

🐛 `_AsyncSSH`: honor `StrictHostKeyChecking no`
  src/aiida/transports/plugins/async_backend.py
Due: imports

🐛 `test_from_config_url`: return file-like obj
  tests/cmdline/commands/test_code.py
Due: none

🐛 `Comment.set_user`: fix broken user reassignment
  src/aiida/orm/comments.py
  src/aiida/storage/psql_dos/orm/comments.py
  tests/orm/test_comments.py
Due: imports

Leave `Data.ReadModel.node_type` as `str`
  src/aiida/orm/nodes/data/data.py
  src/aiida/orm/nodes/node.py
Due: imports

Leave `Data.ReadModel.node_type` as `str` (#7384)
  src/aiida/orm/nodes/data/data.py
  src/aiida/orm/nodes/node.py
Due: imports

Skip unconfigured computers during remote cleanup
  src/aiida/orm/utils/remote.py
  tests/orm/utils/test_remote.py
Due: imports

Fallback to `ProcessNode` if missing entrypoint
  src/aiida/orm/utils/node.py
Due: imports

Add notes regarding the fallback behavior
  src/aiida/orm/utils/node.py
Due: imports

Update the fallback test to cover processes
  tests/orm/utils/test_node.py
Due: none

Fallback to `ProcessNode` if missing entrypoint (#7386)
  src/aiida/orm/utils/node.py
  tests/orm/utils/test_node.py
Due: imports

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
