Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

reorder isinstance checks
  src/aiida/transports/plugins/local.py
Due: imports

Add annotation for bufsize
  src/aiida/transports/plugins/ssh.py
Due: imports

🐛 Report an undefined creation model as absent
  src/aiida/cmdline/groups/dynamic.py
  src/aiida/common/__init__.py
  src/aiida/common/exceptions.py
  src/aiida/orm/nodes/node.py
  tests/orm/models/test_models.py
Due: imports

Move scheduler data structures to common package
  CHANGELOG.md
  docs/source/topics/include/scheduler_template.py
  docs/source/topics/schedulers.rst
  src/aiida/cmdline/params/options/commands/computer.py
  src/aiida/common/__init__.py
  src/aiida/common/datastructures.py
  src/aiida/engine/daemon/execmanager.py
  src/aiida/engine/processes/calcjobs/calcjob.py
  src/aiida/engine/processes/calcjobs/manager.py
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/orm/nodes/process/calculation/calcjob.py
  src/aiida/schedulers/__init__.py
  src/aiida/schedulers/datastructures.py
  src/aiida/schedulers/plugins/bash.py
  src/aiida/schedulers/plugins/direct.py
  src/aiida/schedulers/plugins/lsf.py
  src/aiida/schedulers/plugins/pbsbaseclasses.py
  src/aiida/schedulers/plugins/sge.py
  src/aiida/schedulers/plugins/slurm.py
  src/aiida/schedulers/scheduler.py
  src/aiida/tools/shell.py
  tests/engine/test_manager.py
  tests/schedulers/test_all.py
  tests/schedulers/test_datastructures.py
  tests/schedulers/test_direct.py
  tests/schedulers/test_lsf.py
  tests/schedulers/test_pbspro.py
  tests/schedulers/test_sge.py
  tests/schedulers/test_slurm.py
  tests/schedulers/test_torque.py
  tests/tools/test_shell.py
Due: imports, verdi-autodocs

Turn `common/datastructures.py` into a package
  src/aiida/common/datastructures/__init__.py
  src/aiida/common/datastructures/_calcjob.py
  src/aiida/common/datastructures/_scheduler.py
Due: imports

Re-expose scheduler datastructures in scheduler
  src/aiida/schedulers/__init__.py
Due: imports

Update CHANGELOG
  CHANGELOG.md
Due: none

Discard old datastructures module
  src/aiida/common/datastructures.py
Due: imports

Add schedulers.datastructures shim for back comp
  src/aiida/schedulers/__init__.py
  src/aiida/schedulers/datastructures.py
Due: imports

Revert "Add schedulers.datastructures shim for back comp"
  src/aiida/schedulers/__init__.py
  src/aiida/schedulers/datastructures.py
Due: imports

Discard backwards compatibility imports
  CHANGELOG.md
  src/aiida/schedulers/__init__.py
Due: imports

Move scheduler data structures to common package (#7661)
  CHANGELOG.md
  docs/source/topics/include/scheduler_template.py
  docs/source/topics/schedulers.rst
  src/aiida/cmdline/params/options/commands/computer.py
  src/aiida/common/__init__.py
  src/aiida/common/datastructures/__init__.py
  src/aiida/common/datastructures/_calcjob.py
  src/aiida/common/datastructures/_scheduler.py
  src/aiida/engine/daemon/execmanager.py
  src/aiida/engine/processes/calcjobs/calcjob.py
  src/aiida/engine/processes/calcjobs/manager.py
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/orm/nodes/process/calculation/calcjob.py
  src/aiida/schedulers/__init__.py
  src/aiida/schedulers/plugins/bash.py
  src/aiida/schedulers/plugins/direct.py
  src/aiida/schedulers/plugins/lsf.py
  src/aiida/schedulers/plugins/pbsbaseclasses.py
  src/aiida/schedulers/plugins/sge.py
  src/aiida/schedulers/plugins/slurm.py
  src/aiida/schedulers/scheduler.py
  src/aiida/tools/shell.py
  tests/engine/test_manager.py
  tests/schedulers/test_all.py
  tests/schedulers/test_datastructures.py
  tests/schedulers/test_direct.py
  tests/schedulers/test_lsf.py
  tests/schedulers/test_pbspro.py
  tests/schedulers/test_sge.py
  tests/schedulers/test_slurm.py
  tests/schedulers/test_torque.py
  tests/tools/test_shell.py
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for dba9a22839a194a4841e705e6418b22dd79d79c7 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

🧪 Stabilize CalcJob disable-self monitor test (#7667)
  tests/engine/processes/calcjobs/test_calc_job.py
Due: none

🧪 Stabilize await processes log assertion (#7667)
  tests/engine/test_launch.py
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for cd133f0fc5b5ed6b6c6df8e5b0cde2845511ade4 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

🧪 Retry flaky daemon worker resize test
  tests/engine/daemon/test_client.py
Due: none

🧪 Retry flaky daemon worker resize test (#7669)
  tests/engine/daemon/test_client.py
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 919ae7461f73953d3cec0399b8ab9cbc0c4feea3 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

🧪 Namespace model test users
  tests/orm/models/test_models.py
Due: none

🧪 Namespace model test users (#7670)
  tests/orm/models/test_models.py
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for edcbd11494d72d9a1da1748e0dbda62cb9c89c9c [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

🐛 Prevent interrupting completed CalcJob transport tasks
  src/aiida/engine/utils.py
  tests/engine/test_utils.py
Due: imports

🐛 Prevent interrupting completed CalcJob transport tasks (#7671)
  src/aiida/engine/utils.py
  tests/engine/test_utils.py
Due: imports

🔧 Exclude t.TYPE_CHECKING blocks from coverage (#7665)
  pyproject.toml
Due: generate-conda-environment, validate-conda-environment

🧪 Cover QbField tab completion (#7665)
  tests/orm/test_fields.py
Due: none

🧪 Cover CalcJob presubmit validation (#7665)
  tests/engine/processes/calcjobs/test_calc_job.py
Due: none

🧪 Cover daemon shutdown while resetting storage (#7665)
  tests/tools/pytest_fixtures/test_configuration.py
Due: none

🧪 Make monitor polling test deterministic (#7665)
  tests/engine/processes/calcjobs/test_monitors.py
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 33f53d42cd868685ca0c15af3c347219033a63c3 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

👌 `_create_smarter_in_clause`: batch by UNION ALL (#7248)
  src/aiida/storage/utils.py
  tests/storage/test_utils.py
Due: imports

🧪 Move profile migration schema references (#7666)
  tests/storage/migrations/reference_schemas/psql_dos_main_0001.yml
  tests/storage/migrations/reference_schemas/psql_dos_main_0002.yml
  tests/storage/migrations/reference_schemas/psql_dos_main_0003.yml
  tests/storage/migrations/reference_schemas/sqlite_dos_main_0001.yml
  tests/storage/migrations/reference_schemas/sqlite_dos_main_0002.yml
  tests/storage/migrations/reference_schemas/sqlite_dos_main_0003.yml
  tests/storage/migrations/reference_schemas/sqlite_zip_main_0000.yml
  tests/storage/migrations/reference_schemas/sqlite_zip_main_0000a.yml
  tests/storage/migrations/reference_schemas/sqlite_zip_main_0000b.yml
  tests/storage/migrations/reference_schemas/sqlite_zip_main_0001.yml
  tests/storage/migrations/reference_schemas/sqlite_zip_main_0002.yml
  tests/storage/migrations/reference_schemas/sqlite_zip_main_0003.yml
  tests/storage/sqlite_zip/migrations/test_all_schema/test_main_0000a.yml
  tests/storage/sqlite_zip/migrations/test_all_schema/test_main_0000b.yml
  tests/storage/sqlite_zip/migrations/test_all_schema/test_main_0001.yml
  tests/storage/sqlite_zip/migrations/test_all_schema/test_main_0002.yml
Due: none

🧪 Move SQLite db_dbsetting test to main_0003 (#7666)
  tests/storage/sqlite_dos/migrations/main_branch/test_main_0003.py
  tests/storage/sqlite_dos/migrations/test_all_schema.py
Due: none
