Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

`QueryBuilder`: Remove implementation for `has_key` in SQLite storage (#6497)
  src/aiida/storage/sqlite_zip/orm.py
  tests/cmdline/commands/test_calcjob.py
  tests/orm/test_querybuilder.py
  tests/storage/sqlite/test_orm.py
  tests/test_nodes.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 24cfbe27e7408b78fca8e6f69799ebad3659400b [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 297c3c9821b22c511e80b82e504064eff326130a [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Dependencies: Update the requirements files
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.12.txt
  requirements/requirements-py-3.9.txt
Due: none

Dependencies: Update the requirements files (#6501)
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.12.txt
  requirements/requirements-py-3.9.txt
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 61ae1a55b94c50979b4e47bb7572e1d4c9b2391f [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 9cb9b5054b00e328720527b8e6f61a2c512c1854 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Devops: Update pre-commit step in CD workflow to match CI
  .github/workflows/release.yml
Due: none

Release `v2.6.0`
  CHANGELOG.md
  docs/source/conf.py
  src/aiida/__init__.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 2ccfeeebb1fff157e87599855704b25b17d64f22 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Fixtures: Make `pgtest` truly an optional dependency
  src/aiida/tools/pytest_fixtures/storage.py
Due: imports

Add types to aiida.orm.utils
  .pre-commit-config.yaml
  src/aiida/orm/nodes/data/base.py
  src/aiida/orm/nodes/data/str.py
  src/aiida/orm/utils/node.py
  src/aiida/orm/utils/remote.py
Due: imports

Fixtures: Make `pgtest` truly an optional dependency (#6502)
  src/aiida/tools/pytest_fixtures/storage.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 9fe8fd2e0b88e746ee2156eccb71b7adbab6b2c5 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Release `v2.6.1`
  CHANGELOG.md
  src/aiida/__init__.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 9c26ce7c1fc024265a8ffb986ae50783823aa1a7 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`Manager`: Catch `TimeoutError` when closing communicator
  src/aiida/manage/manager.py
Due: imports

Dependencies: Update requirements for `kiwipy` and `plumpy`
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.12.txt
  requirements/requirements-py-3.9.txt
  src/aiida/brokers/rabbitmq/broker.py
  src/aiida/engine/processes/process.py
  tests/manage/test_manager.py
Due: imports, dm-generate-all, dependencies

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 14bb05f4b4e7fbda86682ea2cf4e3881b3a3e8dc [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for e91371573a84d4a68d6107f33c392b8718f2f26f [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`SqliteDosStorage`: Make the migrator compatible with SQLite
  src/aiida/storage/migrations.py
  src/aiida/storage/psql_dos/migrator.py
  src/aiida/storage/sqlite_dos/backend.py
  src/aiida/storage/sqlite_dos/migrations/env.py
  src/aiida/storage/sqlite_dos/migrations/versions/main_0001_initial.py
  src/aiida/storage/sqlite_dos/migrations/versions/main_0002_recompute_hash_calc_job_node.py
  tests/cmdline/commands/test_status.py
  tests/storage/sqlite_dos/migrations/conftest.py
  tests/storage/sqlite_dos/migrations/test_all_schema.py
  tests/storage/sqlite_dos/migrations/test_all_schema/test_head_vs_orm_main_0002_.yml
  tests/storage/sqlite_dos/migrations/test_all_schema/test_main_main_0001_.yml
  tests/storage/sqlite_dos/migrations/test_all_schema/test_main_main_0002_.yml
Due: imports

CLI: Accept mulitple node identifiers in `verdi node graph generate`
  src/aiida/cmdline/commands/cmd_node.py
  src/aiida/tools/visualization/graph.py
  tests/cmdline/commands/test_node.py
  tests/tools/visualization/test_graph.py
  tests/tools/visualization/test_graph/test_graph_node_identifiers_label_.txt
  tests/tools/visualization/test_graph/test_graph_node_identifiers_node_id_type3_.txt
  tests/tools/visualization/test_graph/test_graph_node_identifiers_node_id_type4_.txt
  tests/tools/visualization/test_graph/test_graph_node_identifiers_pk_.txt
  tests/tools/visualization/test_graph/test_graph_node_identifiers_uuid_.txt
Due: imports, verdi-autodocs

Make `sort` parametrization consistent
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_code/test_code_export___no_sort_.yml
  tests/cmdline/commands/test_code/test_code_export___sort_.yml
  tests/cmdline/commands/test_computer.py
Due: none

Fix tests for `verdi code export`
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/cmdline/commands/cmd_computer.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_computer.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

Add tests for `overwrite` option
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/cmdline/commands/cmd_computer.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_computer.py
Due: imports, verdi-autodocs

Add `overwrite` to `Computer` export
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/cmdline/params/options/__init__.py
  src/aiida/cmdline/params/options/main.py
Due: imports, verdi-autodocs

Add `echo_success` also to `verdi code export`
  src/aiida/cmdline/commands/cmd_code.py
Due: imports, verdi-autodocs

Remove unecessary `sort` parametrization
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_code/test_code_export_False_.yml
  tests/cmdline/commands/test_code/test_code_export_True_.yml
  tests/cmdline/commands/test_code/test_code_export___no_sort_.yml
  tests/cmdline/commands/test_code/test_code_export___sort_.yml
  tests/cmdline/commands/test_computer.py
Due: none

👌 CLI: Computer/Code export `output_file` optional
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/cmdline/commands/cmd_computer.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_computer.py
Due: imports, verdi-autodocs

Fix typo in pytest plugins codeblock
  docs/source/topics/plugins.rst
Due: none

Docs: Fix typo in pytest plugins codeblock (#6513)
  docs/source/topics/plugins.rst
Due: none

Docs: Add `PluggableSchemaValidator` to nitpick exceptions
  docs/source/nitpick-exceptions
Due: none

Docs: Add `PluggableSchemaValidator` to nitpick exceptions (#6515)
  docs/source/nitpick-exceptions
Due: none

CLI: Accept mulitple node identifiers in `verdi node graph generate` (#6443)
  src/aiida/cmdline/commands/cmd_node.py
  src/aiida/tools/visualization/graph.py
  tests/cmdline/commands/test_node.py
  tests/tools/visualization/test_graph.py
  tests/tools/visualization/test_graph/test_graph_node_identifiers_label_.txt
  tests/tools/visualization/test_graph/test_graph_node_identifiers_node_id_type3_.txt
  tests/tools/visualization/test_graph/test_graph_node_identifiers_node_id_type4_.txt
  tests/tools/visualization/test_graph/test_graph_node_identifiers_pk_.txt
  tests/tools/visualization/test_graph/test_graph_node_identifiers_uuid_.txt
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 6d2edc919e3340b67d8097c425a5e5f6971707f8 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Engine: Fix bug in upload calculation for `PortableCode` with SSH
  src/aiida/engine/daemon/execmanager.py
  tests/engine/daemon/test_execmanager.py
Due: imports

added 'robots.txt' to root directory of docs
  docs/source/conf.py
  docs/source/robots.txt
Due: none

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
