Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, dm-generate-all, pyproject, dependencies, verdi-autodocs, version-number

mypy:
  name: mypy
  entry: mypy
  language: python
  require_serial: true
  pass_filenames: true

pylint:
  name: pylint
  entry: pylint
  language: system

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

pyproject:
  name: Validate pyproject.toml
  entry: python ./utils/dependency_management.py validate-pyproject-toml
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

version-number:
  name: Check version numbers
  entry: python ./utils/validate_consistency.py version
  language: system
  pass_filenames: false

👌 IMPROVE: CTRL-C on running process (#4771)
  aiida/engine/runners.py
Due: mypy, pylint

change return type to None
  aiida/engine/daemon/execmanager.py
Due: mypy, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for da872b2c488c33acf1f5c8628ac1226418cbc4de [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for da872b2c488c33acf1f5c8628ac1226418cbc4de [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

use upercase for global variable
  aiida/engine/daemon/execmanager.py
Due: mypy, pylint

undo accidental change
  aiida/engine/daemon/execmanager.py
Due: mypy, pylint

Update execmanager.py
  aiida/engine/daemon/execmanager.py
Due: mypy, pylint

🐛 FIX: kill_calculation before job submitted (#4770)
  aiida/engine/daemon/execmanager.py
Due: mypy, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 8c079175bbb32a6dc3b4ae663c586c7099cbb9a6 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 8c079175bbb32a6dc3b4ae663c586c7099cbb9a6 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

👌 IMPROVE: add type checking for aiida/orm/nodes/process
  .pre-commit-config.yaml
  aiida/engine/processes/calcjobs/tasks.py
  aiida/orm/nodes/node.py
  aiida/orm/nodes/process/__init__.py
  aiida/orm/nodes/process/calculation/calcfunction.py
  aiida/orm/nodes/process/calculation/calcjob.py
  aiida/orm/nodes/process/calculation/calculation.py
  aiida/orm/nodes/process/process.py
  aiida/orm/nodes/process/workflow/workchain.py
  aiida/orm/nodes/process/workflow/workflow.py
  aiida/orm/nodes/process/workflow/workfunction.py
Due: mypy, pylint

final fixes
  aiida/engine/processes/calcjobs/tasks.py
  aiida/orm/nodes/node.py
Due: mypy, pylint

fix cyclic imports
  aiida/orm/nodes/node.py
  aiida/orm/nodes/process/calculation/calcfunction.py
  aiida/orm/nodes/process/workflow/workflow.py
  aiida/orm/nodes/process/workflow/workfunction.py
Due: pylint

Update nitpick-exceptions
  docs/source/nitpick-exceptions
Due: none

Update test_calculation_node.py
  tests/test_calculation_node.py
Due: pylint

🐛 FIX: `ModificationNotAllowed` on workchain kill
  aiida/engine/processes/workchains/workchain.py
Due: mypy, pylint

move to after ctx update
  aiida/engine/processes/workchains/workchain.py
Due: mypy, pylint

streamline
  aiida/engine/processes/workchains/workchain.py
Due: mypy, pylint

pytest: reset test manager after test run
  aiida/manage/tests/pytest_fixtures.py
Due: pylint

disable pytest system tests
  .github/workflows/tests.sh
Due: none

🐛 FIX: `ModificationNotAllowed` on workchain kill (#4773)
  aiida/engine/processes/workchains/workchain.py
Due: mypy, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 310dcc240a54a1f81c2689a768ef0975433aa794 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 310dcc240a54a1f81c2689a768ef0975433aa794 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

⬆️ UPDATE: kiwipy/plumpy
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

👌 IMPROVE: capture of node hashing errors
  aiida/common/exceptions.py
  aiida/common/hashing.py
  aiida/manage/tests/pytest_fixtures.py
  aiida/orm/nodes/node.py
  tests/common/test_hashing.py
  tests/orm/node/test_node.py
Due: pylint

fix docs
  aiida/orm/nodes/node.py
Due: pylint

👌 IMPROVE: capture of node hashing errors (#4778)
  aiida/common/exceptions.py
  aiida/common/hashing.py
  aiida/manage/tests/pytest_fixtures.py
  aiida/orm/nodes/node.py
  tests/common/test_hashing.py
  tests/orm/node/test_node.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for a61219d16530af93854f3525f4787a7897e6be97 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for a61219d16530af93854f3525f4787a7897e6be97 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

simplify `CalcJobNode.get_authinfo`
  aiida/orm/nodes/process/calculation/calcjob.py
Due: pylint

Update environment.yml
  environment.yml
Due: dependencies

Revert "Update environment.yml"
  environment.yml
Due: dependencies

Apply PR corrections.
  aiida/orm/nodes/node.py
  tests/orm/node/test_node.py
Due: pylint

Fixed case delegation to superclass.
  aiida/orm/nodes/node.py
Due: pylint

Add fallback equality relationship based on uuid
  aiida/orm/nodes/node.py
  tests/orm/node/test_node.py
Due: pylint

Fix incompatible hash
  aiida/orm/nodes/node.py
  tests/orm/node/test_node.py
Due: pylint

Fix port test
  tests/engine/test_ports.py
Due: pylint

⬆️ UPDATE: kiwipy/plumpy (#4776)
  environment.yml
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

fix pre-commit
  aiida/orm/nodes/node.py
  aiida/orm/nodes/process/calculation/calcjob.py
Due: pylint

Path conditions:
  mypy: any of: (?x)^(
    aiida/common/progress_reporter.py|
    aiida/manage/manager.py|
    aiida/engine/.*py|
    aiida/manage/database/delete/nodes.py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/importexport/archive/.*py|
    aiida/tools/importexport/dbexport/__init__.py|
    aiida/tools/importexport/dbimport/backends/.*.py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    setup.py|
    setup.json|
    utils/dependency_management.py
)$
  pyproject: any of: (?x)^(
    setup.json|
    setup.py|
    utils/dependency_management.py|
    pyproject.toml
)$
  dependencies: any of: (?x)^(
    setup.json|
    setup.py|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
  version-number: any of: (?x)^(
    setup.json|
    utils/validate_consistency.py|
    aiida/__init__.py
)$
