Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, dm-generate-all, pyproject, dependencies, verdi-autodocs, version-number

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://github.com/ikamensh/flynt/
    rev: '0.55'
    hooks:
    -   id: flynt
        args: [
            '--line-length=120',
            '--fail-on-change',
        ]

-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.30.0
    hooks:
    -   id: yapf
        name: yapf
        types: [python]
        exclude: &exclude_files >
            (?x)^(
                docs/.*|
            )$
        args: ['-i']

-   repo: local

    hooks:

    -   id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        pass_filenames: true
        files: >-
            (?x)^(
                aiida/common/progress_reporter.py|
                aiida/manage/manager.py|
                aiida/engine/.*py|
                aiida/manage/database/delete/nodes.py|
                aiida/tools/graph/graph_traversers.py|
                aiida/tools/groups/paths.py|
                aiida/tools/importexport/archive/.*py|
                aiida/tools/importexport/dbexport/__init__.py|
                aiida/tools/importexport/dbimport/backends/.*.py|
            )$

    -   id: pylint
        name: pylint
        entry: pylint
        types: [python]
        language: system
        exclude: *exclude_files

    -   id: dm-generate-all
        name: Update all requirements files
        entry: python ./utils/dependency_management.py generate-all
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.py|
                setup.json|
                utils/dependency_management.py
            )$

    -   id: pyproject
        name: Validate pyproject.toml
        entry: python ./utils/dependency_management.py validate-pyproject-toml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                pyproject.toml
            )$

    -   id: dependencies
        name: Validate environment.yml
        entry: python ./utils/dependency_management.py validate-environment-yml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                environment.yml|
            )$

    -   id: verdi-autodocs
        name: Automatically generating verdi docs
        entry: python ./utils/validate_consistency.py verdi-autodocs
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                aiida/cmdline/commands/.*|
                aiida/cmdline/params/.*|
                aiida/cmdline/params/types/.*|
                utils/validate_consistency.py|
            )$

    -   id: version-number
        name: Check version numbers
        entry: python ./utils/validate_consistency.py version
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                utils/validate_consistency.py|
                aiida/__init__.py
            )$

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 11cb38cf14b4903ca8af53127ddf78c6034c9cae [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

fix binary path
  .github/system_tests/pytest/test_memory_leaks.py
Due: pylint

Update image version in Dockerfiles for jenkins and molecule
  .jenkins/Dockerfile
  .molecule/default/Dockerfile
Due: none

TESTS: Add pytest `requires_rmq` marker
  .github/workflows/rabbitmq.yml
  pyproject.toml
  tests/calculations/arithmetic/test_add.py
  tests/calculations/test_templatereplacer.py
  tests/calculations/test_transfer.py
  tests/cmdline/commands/test_data.py
  tests/cmdline/commands/test_process.py
  tests/cmdline/commands/test_run.py
  tests/cmdline/commands/test_status.py
  tests/engine/daemon/test_runner.py
  tests/engine/processes/workchains/test_restart.py
  tests/engine/processes/workchains/test_utils.py
  tests/engine/test_calc_job.py
  tests/engine/test_calcfunctions.py
  tests/engine/test_futures.py
  tests/engine/test_launch.py
  tests/engine/test_persistence.py
  tests/engine/test_process.py
  tests/engine/test_process_function.py
  tests/engine/test_rmq.py
  tests/engine/test_run.py
  tests/engine/test_runners.py
  tests/engine/test_utils.py
  tests/engine/test_work_chain.py
  tests/engine/test_workfunctions.py
  tests/manage/external/test_rmq.py
  tests/orm/test_querybuilder.py
  tests/parsers/test_parser.py
  tests/test_dataclasses.py
  tests/tools/importexport/orm/test_calculations.py
  tests/tools/importexport/test_prov_redesign.py
  tests/workflows/arithmetic/test_add_multiply.py
Due: pylint, pyproject

Upgrading dependency of sqlalchemy-utils (#4724)
  environment.yml
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 7272b46dbd8aadb4be42dc6ce757a03126fedc4f [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 7272b46dbd8aadb4be42dc6ce757a03126fedc4f [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

fix pre-commit
  tests/cmdline/commands/test_process.py
Due: pylint

Bump aiida-prerequisites base image to 0.3.0 (#4738)
  .jenkins/Dockerfile
  .molecule/default/Dockerfile
  Dockerfile
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 13358ed975614c0b033a37293382ed80326fe0fa [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 13358ed975614c0b033a37293382ed80326fe0fa [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Add CalcJob test over SSH (#4732)
  .github/config/README.md
  .github/config/slurm-ssh-config.yaml
  .github/config/slurm-ssh.yaml
  .github/config/slurm_rsa
  .github/system_tests/pytest/test_memory_leaks.py
  .github/workflows/ci-code.yml
  .github/workflows/setup.sh
  .github/workflows/test-install.yml
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 2e18f5bc092a7746c3d5cc151e59c52866354f10 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 2e18f5bc092a7746c3d5cc151e59c52866354f10 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

close django connection in REST API
  aiida/restapi/common/utils.py
Due: pylint

tox; allow setting PYTHONASYNCIODEBUG
  pyproject.toml
Due: pyproject

fix pytest-asyncio decorated
  tests/engine/test_utils.py
Due: pylint

Close runner on teardown
  tests/engine/test_rmq.py
Due: pylint

Fix `ProcessFuture`
  aiida/engine/processes/futures.py
Due: mypy, pylint

scope connection drop to django backend
  aiida/restapi/common/utils.py
Due: pylint

disable connection pooling by default
  aiida/backends/utils.py
  aiida/restapi/common/utils.py
Due: pylint

🧪 TESTS: Add pytest `requires_rmq` marker (#4739)
  .github/workflows/rabbitmq.yml
  pyproject.toml
  tests/calculations/arithmetic/test_add.py
  tests/calculations/test_templatereplacer.py
  tests/calculations/test_transfer.py
  tests/cmdline/commands/test_data.py
  tests/cmdline/commands/test_process.py
  tests/cmdline/commands/test_run.py
  tests/cmdline/commands/test_status.py
  tests/engine/daemon/test_runner.py
  tests/engine/processes/workchains/test_restart.py
  tests/engine/processes/workchains/test_utils.py
  tests/engine/test_calc_job.py
  tests/engine/test_calcfunctions.py
  tests/engine/test_futures.py
  tests/engine/test_launch.py
  tests/engine/test_persistence.py
  tests/engine/test_process.py
  tests/engine/test_process_function.py
  tests/engine/test_rmq.py
  tests/engine/test_run.py
  tests/engine/test_runners.py
  tests/engine/test_utils.py
  tests/engine/test_work_chain.py
  tests/engine/test_workfunctions.py
  tests/manage/external/test_rmq.py
  tests/orm/test_querybuilder.py
  tests/parsers/test_parser.py
  tests/test_dataclasses.py
  tests/tools/importexport/orm/test_calculations.py
  tests/tools/importexport/test_prov_redesign.py
  tests/workflows/arithmetic/test_add_multiply.py
Due: pylint, pyproject

`verdi group remove-nodes`: Add warning when nodes are not in group
  aiida/cmdline/commands/cmd_group.py
Due: pylint, verdi-autodocs

Fix bug and improve API
  aiida/cmdline/commands/cmd_group.py
Due: pylint, verdi-autodocs

Fail if both the `--clear` flag and nodes are provided
  aiida/cmdline/commands/cmd_group.py
Due: pylint, verdi-autodocs

fix test
  tests/restapi/conftest.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for f8f79b29ce05b927bf061d99f918a56bb102dbe7 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for f8f79b29ce05b927bf061d99f918a56bb102dbe7 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

add tests
  aiida/cmdline/commands/cmd_group.py
  tests/cmdline/commands/test_group.py
Due: pylint, verdi-autodocs

Update kiwipy
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

test plumpy 0.18.5a0
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

Update requirements-py-3.7.txt
  requirements/requirements-py-3.7.txt
Due: none

Update requirements-py-3.8.txt
  requirements/requirements-py-3.8.txt
Due: none

Update requirements-py-3.9.txt
  requirements/requirements-py-3.9.txt
Due: none

CI: Increase output verbosity of tests suite.
  .github/workflows/tests.sh
Due: none

Apply suggestions from code review
  aiida/cmdline/commands/cmd_config.py
  aiida/manage/caching.py
  aiida/manage/configuration/schema/config-v5.schema.json
  tests/manage/test_caching_config.py
Due: pylint, verdi-autodocs

Work on `verdi group remove-nodes` command (#4728).
  aiida/cmdline/commands/cmd_group.py
  tests/cmdline/commands/test_group.py
Due: pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,django benchmark result for cba7d6d58baeac67d5860234cf296b60f2d23ef6 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for cba7d6d58baeac67d5860234cf296b60f2d23ef6 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

CI: Bump reentry to v1.3.2
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: none
