Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, mypy, pylint, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: aiida/.*py and \.py$
  mypy: any of: (?x)^(
    aiida/common/timezone.py|
    aiida/common/progress_reporter.py|
    aiida/engine/.*py|
    aiida/manage/manager.py|
    aiida/manage/database/delete/nodes.py|
    aiida/orm/querybuilder.py|
    aiida/orm/implementation/entities.py|
    aiida/orm/implementation/storage_backend.py|
    aiida/orm/implementation/authinfos.py|
    aiida/orm/implementation/comments.py|
    aiida/orm/implementation/computers.py|
    aiida/orm/implementation/groups.py|
    aiida/orm/implementation/logs.py|
    aiida/orm/implementation/nodes.py|
    aiida/orm/implementation/users.py|
    aiida/orm/implementation/querybuilder.py|
    aiida/orm/entities.py|
    aiida/orm/extras.py|
    aiida/orm/authinfos.py|
    aiida/orm/comments.py|
    aiida/orm/computers.py|
    aiida/orm/groups.py|
    aiida/orm/logs.py|
    aiida/orm/users.py|
    aiida/orm/nodes/data/enum.py|
    aiida/orm/nodes/data/jsonable.py|
    aiida/orm/nodes/attributes.py|
    aiida/orm/nodes/node.py|
    aiida/orm/nodes/process/.*py|
    aiida/orm/nodes/repository.py|
    aiida/orm/utils/links.py|
    aiida/plugins/entry_point.py|
    aiida/plugins/factories.py|
    aiida/repository/.*py|
    aiida/storage/control.py|
    aiida/storage/psql_dos/backend.py|
    aiida/storage/psql_dos/orm/querybuilder/.*py|
    aiida/storage/psql_dos/utils.py|
    aiida/storage/sqlite_zip/.*.py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/archive/.*py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$

Tests: Deal with `run_via_daemon` returning `None` in RPN tests
  .molecule/default/files/polish/cli.py
Due: pylint

`Process`: Update outputs before updating node process state
  aiida/engine/processes/process.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for f45496f61454d5a8589262745a91c84fcc232f6b [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Update process.py
  aiida/engine/processes/process.py
Due: imports, mypy, pylint

Update querybuilder.py
  aiida/orm/querybuilder.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 7aa183be18c476f699d8d0daafc3fae69ed98c85 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

🔧 Type annotate aiida/tools/visualization/graph.py
  .pre-commit-config.yaml
  aiida/tools/visualization/graph.py
  docs/source/nitpick-exceptions
Due: imports, pylint

`verdi run`: Do not add `pathlib.Path` instance to `sys.path`
  .pre-commit-config.yaml
  aiida/cmdline/commands/cmd_run.py
Due: imports, pylint, verdi-autodocs

`verdi run`: Do not add `pathlib.Path` instance to `sys.path` (#5810)
  .pre-commit-config.yaml
  aiida/cmdline/commands/cmd_run.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for b8ae8e88e1e8f48ffa37dab0252d983ac4d199ee [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Dependencies: Update requirement `spglib>=1.14,<3.0`
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: dm-generate-all, dependencies

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 3d17b04612cee5c033aedafa6fc74dcc4bee9ad1 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Dependencies: Update requirement `spglib>=1.14,<3.0` (#5815)
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: dm-generate-all, dependencies

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 48cc84a03c14da3552c892ab0a0aa4bfe7ea5188 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for f3e19688e97aa715cb6a40a7239aa75179061f5c [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Process functions: Restore support for dynamic nested input namespaces
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  tests/engine/test_process_function.py
Due: pylint, dm-generate-all, dependencies

👌 Make Workchain awaitable methods private
  aiida/engine/processes/workchains/workchain.py
Due: imports, mypy, pylint

Update workchain.py
  aiida/engine/processes/workchains/workchain.py
Due: imports, mypy, pylint

fix: grant role before creating database
  aiida/cmdline/commands/cmd_setup.py
  aiida/manage/external/postgres.py
Due: imports, pylint, verdi-autodocs

fix: use current_user
  aiida/cmdline/commands/cmd_setup.py
  aiida/manage/external/postgres.py
Due: imports, pylint, verdi-autodocs

Process functions: Restore support for dynamic nested input namespaces (#5808)
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  tests/engine/test_process_function.py
Due: pylint, dm-generate-all, dependencies

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for a86e6fbf866fb670d93b3e32997f285de565af28 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

ORM: Fix typing of `aiida.orm.nodes.data.code` module
  .pre-commit-config.yaml
  aiida/orm/nodes/data/code/abstract.py
  aiida/orm/nodes/data/code/containerized.py
  aiida/orm/nodes/data/code/installed.py
  aiida/orm/nodes/data/code/legacy.py
  aiida/orm/nodes/data/code/portable.py
  tests/orm/data/code/test_abstract.py
  tests/orm/data/code/test_installed.py
Due: imports, pylint

ORM: Fix typing of `aiida.orm.nodes.data.code` module (#5830)
  .pre-commit-config.yaml
  aiida/orm/nodes/data/code/abstract.py
  aiida/orm/nodes/data/code/containerized.py
  aiida/orm/nodes/data/code/installed.py
  aiida/orm/nodes/data/code/legacy.py
  aiida/orm/nodes/data/code/portable.py
  tests/orm/data/code/test_abstract.py
  tests/orm/data/code/test_installed.py
Due: imports, pylint

👌 `WorkChain`: Make awaitable methods private (#5826)
  aiida/engine/processes/workchains/workchain.py
Due: imports, mypy, pylint

`SqliteTempBackend`: Fix the `transaction` method
  aiida/storage/sqlite_temp/backend.py
  tests/storage/sqlite_temp/__init__.py
  tests/storage/sqlite_temp/test_engine.py
  tests/storage/sqlite_temp/test_orm.py
Due: imports, pylint

`PsqlDosBackend`: Use transaction whenever mutating session state
  aiida/storage/psql_dos/backend.py
  aiida/storage/psql_dos/orm/groups.py
  aiida/storage/psql_dos/orm/nodes.py
  aiida/tools/graph/deletions.py
  tests/orm/implementation/test_backend.py
  tests/orm/nodes/test_node.py
  tests/orm/test_querybuilder.py
  tests/storage/psql_dos/test_nodes.py
  tests/storage/psql_dos/test_session.py
  tests/test_nodes.py
Due: imports, mypy, pylint

Add test for `SqlaGroup.add_nodes` to test `disable_expire_on_commit`
  tests/storage/psql_dos/test_groups.py
Due: pylint

`PsqlDosBackend`: Remove `disable_expire_on_commit` utility
  aiida/storage/psql_dos/orm/groups.py
  aiida/storage/psql_dos/orm/utils.py
  tests/storage/psql_dos/test_groups.py
Due: imports, pylint

Docs: Fix the build on ReadTheDocs
  aiida/engine/processes/calcjobs/calcjob.py
  docs/source/conf.py
  docs/source/intro/tutorial.md
  docs/source/nitpick-exceptions
Due: imports, mypy, pylint
