Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

imports:
  name: imports
  entry: python utils/autogenerate_all_imports.py
  language: python
  require_serial: true
  pass_filenames: false

generate-conda-environment:
  name: Update conda environment file
  entry: python ./utils/dependency_management.py generate-environment-yml
  language: system
  pass_filenames: false

validate-conda-environment:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for ff7eec23764373ac66305fc4c16295fe5aad85bc [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Add developer guide from wiki content
  AGENTS.md
  CONTRIBUTING.md
  docs/source/conf.py
  docs/source/developer_guide/code_review.md
  docs/source/developer_guide/coding_style.md
  docs/source/developer_guide/core.rst
  docs/source/developer_guide/core/internals.rst
  docs/source/developer_guide/database_schema.md
  docs/source/developer_guide/dependency_management.md
  docs/source/developer_guide/deprecations.md
  docs/source/developer_guide/design/changes.rst
  docs/source/developer_guide/design_evolution.md
  docs/source/developer_guide/development_environment.md
  docs/source/developer_guide/index.md
  docs/source/developer_guide/internals.md
  docs/source/developer_guide/issue_triage.md
  docs/source/developer_guide/plugins.rst
  docs/source/developer_guide/pull_requests.md
  docs/source/developer_guide/releases.md
  docs/source/developer_guide/writing_documentation.md
  docs/source/developer_guide/writing_tests.md
  docs/source/index.rst
Due: none

Review fixes
  src/aiida/schedulers/plugins/lsf.py
  src/aiida/schedulers/plugins/pbsbaseclasses.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 16ebbc5d7873be8d1ddf724a2c92000dce022334 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Improve formatting and clarify import warning message
  src/aiida/cmdline/commands/cmd_devel.py
Due: imports, verdi-autodocs

fix backend implementations and typing
  src/aiida/repository/backend/abstract.py
  src/aiida/repository/backend/disk_object_store.py
  src/aiida/repository/repository.py
  tests/repository/backend/test_abstract.py
Due: imports

Fix AbstractRepositoryBackend.open() typing and contextmanager contract
  src/aiida/repository/backend/abstract.py
Due: imports

Apply ruff fixes for AbstractRepositoryBackend.open()
  src/aiida/repository/backend/abstract.py
Due: imports

Finalize AbstractRepositoryBackend.open() abstraction fix
  src/aiida/repository/backend/abstract.py
Due: imports

proper comment
  src/aiida/repository/backend/abstract.py
Due: imports

fix sandbox implementation
  src/aiida/repository/backend/sandbox.py
Due: imports

updating tests for codecov
  tests/repository/test_repository.py
Due: none

comprehensive resturucturing of the AGENTS.md file
  AGENTS.md
Due: none

Address review feedback: pass specific PIDs to terminate
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/storage/psql_dos/backend.py
  tests/cmdline/commands/test_process.py
  tests/storage/psql_dos/test_backend.py
Due: imports, verdi-autodocs

Add unreferenced database connection cleanup to `verdi process repair`
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/storage/psql_dos/backend.py
  tests/cmdline/commands/test_process.py
  tests/storage/psql_dos/test_backend.py
Due: imports, verdi-autodocs

Add profile name to warning messages for connection cleanup
  src/aiida/cmdline/commands/cmd_process.py
Due: imports, verdi-autodocs

Refactor unreferenced connections tests into a test class
  tests/cmdline/commands/test_process.py
Due: none

Apply suggestion from @agoscinski
  tests/storage/psql_dos/test_backend.py
Due: none

addressing review comments
  src/aiida/repository/backend/disk_object_store.py
  src/aiida/repository/backend/sandbox.py
  src/aiida/repository/repository.py
  src/aiida/storage/psql_dos/migrations/utils/utils.py
  tests/repository/test_repository.py
Due: imports

finalize implementation and drop temp/experiment.py
  src/aiida/repository/backend/disk_object_store.py
  src/aiida/tools/archive/imports.py
  temp/experiment.py
Due: imports

parametrized benchmark tests
  src/aiida/repository/backend/abstract.py
  src/aiida/repository/backend/disk_object_store.py
  src/aiida/repository/backend/sandbox.py
  src/aiida/storage/psql_dos/migrations/utils/utils.py
  src/aiida/storage/sqlite_zip/backend.py
  src/aiida/tools/archive/imports.py
  tests/tools/archive/test_specific_import.py
Due: imports

fixed the verdi group list --order-by ctime command by adding a field mapping in PROJECT_MAP
  src/aiida/storage/psql_dos/orm/querybuilder/main.py
Due: imports

Apply suggestions from code review
  src/aiida/repository/backend/abstract.py
Due: imports

Apply suggestion from @GeigerJ2
  tests/repository/test_repository.py
Due: none

Make `AbstractRepositoryBackend.open()` abstract (#7216)
  src/aiida/repository/backend/abstract.py
  src/aiida/repository/backend/disk_object_store.py
  src/aiida/repository/backend/sandbox.py
  src/aiida/repository/repository.py
  src/aiida/storage/psql_dos/migrations/utils/utils.py
  tests/repository/backend/test_abstract.py
Due: imports

fix missing rename
  tests/repository/backend/test_abstract.py
Due: none

review applied
  src/aiida/transports/transport.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 0904796e06ddb7b537add5bb0df7ad7599da5a3b [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

add `test_packed_import.py` benchmark tests
  tests/benchmark/test_packed_import.py
Due: none

more tests added
  tests/cmdline/commands/test_profile.py
Due: none

Asyncify `request_transport` context manager (#7209)
  src/aiida/engine/processes/calcjobs/manager.py
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/engine/transports.py
  src/aiida/transports/transport.py
  tests/engine/daemon/test_execmanager.py
  tests/engine/test_transport.py
  tests/transports/test_asyncssh_plugin.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 41acc86c6512b82f693e4b2ce2f063fdd6f902b3 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Asyncify `request_transport` context manager to avoid two nested loops
  src/aiida/engine/transports.py
  src/aiida/transports/transport.py
Due: imports

.
  uv.lock
Due: none

fix lock file
  src/aiida/engine/processes/functions.py
  src/aiida/engine/processes/workchains/workchain.py
  src/aiida/engine/transports.py
  src/aiida/manage/manager.py
  uv.lock
Due: imports

review applied
  tests/integration/__init__.py
  tests/integration/notebook/__init__.py
  tests/integration/notebook/test_magic_cells.ipynb
  tests/integration/notebook/test_notebook_integration.py
  tests/integration/notebook/test_same_cell.ipynb
  tests/integration/notebook/test_separate_cell.ipynb
Due: none

update min required
  pyproject.toml
  tests/manage/notebook_integration/test_same_cell.ipynb
  uv.lock
Due: generate-conda-environment, validate-conda-environment

Adopt to greenback changes in plumpy, with support for jupyternotebook
  .pre-commit-config.yaml
  docs/source/tutorials/basic.md
  environment.yml
  pyproject.toml
  src/aiida/engine/processes/functions.py
  src/aiida/engine/processes/process.py
  src/aiida/engine/processes/workchains/workchain.py
  src/aiida/engine/runners.py
  src/aiida/engine/transports.py
  src/aiida/manage/manager.py
  src/aiida/transports/transport.py
  tests/manage/notebook_integration/__init__.py
  tests/manage/notebook_integration/test_magic_cells.ipynb
  tests/manage/notebook_integration/test_notebook_integration.py
  tests/manage/notebook_integration/test_same_cell.ipynb
  tests/manage/notebook_integration/test_separate_cell.ipynb
  uv.lock
Due: imports, generate-conda-environment, validate-conda-environment

bump ipykernel
  pyproject.toml
  uv.lock
Due: generate-conda-environment, validate-conda-environment

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
