Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: aiida/.*py and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$

reduce processes in performance benchmark to 10
  docs/source/howto/include/scripts/performance_benchmark_base.py
Due: none

mention profile in benchmark script
  docs/source/howto/include/scripts/performance_benchmark_base.py
Due: none

Update docs/source/howto/include/scripts/performance_benchmark_base.py
  docs/source/howto/include/scripts/performance_benchmark_base.py
Due: none

adapt benchmark topic
  docs/source/topics/performance.rst
Due: none

Update docs/source/topics/performance.rst
  docs/source/topics/performance.rst
Due: none

Docs: Small improvements to the benchmark script (#5854)
  docs/source/howto/include/scripts/performance_benchmark_base.py
  docs/source/topics/performance.rst
Due: none

fix: more flexible verdi status check
  aiida/cmdline/utils/daemon.py
Due: imports, pylint

CLI: verdi export to a yaml file with keys from code class
  aiida/cmdline/commands/cmd_code.py
  aiida/orm/nodes/data/code/abstract.py
  docs/source/reference/command_line.rst
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_code/test_code_export.yml
Due: imports, pylint, verdi-autodocs

`SlurmScheduler`: Parse the `NODE_FAIL` state
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/schedulers/plugins/slurm.py
  tests/schedulers/test_slurm.py
Due: imports, pylint

icsd plugin: determine is_theoretical
  aiida/tools/dbimporters/plugins/icsd.py
Due: imports, pylint

`SlurmScheduler`: Parse the `NODE_FAIL` state (#5866)
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/schedulers/plugins/slurm.py
  tests/schedulers/test_slurm.py
Due: imports, pylint

Daemon: Fix false-positive of stopped daemon in `verdi daemon status` (#5862)
  aiida/cmdline/utils/daemon.py
Due: imports, pylint

Update aiida/manage/external/postgres.py
  aiida/manage/external/postgres.py
Due: imports, pylint

`verdi quicksetup`: Fix error incorrect role when creating database (#5828)
  aiida/cmdline/commands/cmd_setup.py
  aiida/manage/external/postgres.py
Due: imports, pylint, verdi-autodocs

fix: limit sqlalchemy<1.4.45
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: dm-generate-all, dependencies

fix pre-commit on CI
  environment.yml
  pyproject.toml
Due: dm-generate-all, dependencies

fix: gracefully exit if no profile exists
  aiida/cmdline/commands/cmd_daemon.py
Due: imports, pylint, verdi-autodocs

unified SQL query to determine is_theoretical
  aiida/tools/dbimporters/plugins/icsd.py
Due: imports, pylint

fix: adapt to exceptions raised by sqla>=1.4.45
  aiida/storage/psql_dos/orm/querybuilder/main.py
Due: imports, pylint

`QueryBuilder`: Catch new exception raised by `sqlalchemy>=1.4.45` (#5875)
  aiida/storage/psql_dos/orm/querybuilder/main.py
Due: imports, pylint

fix: use setup-miniconda in test-install workflow
  .github/workflows/test-install.yml
Due: none

DevOps: Fix the `test-install` workflow (#5873)
  .github/workflows/test-install.yml
Due: none

fix: add a decorator for CLI commands that require a profile to be loaded
  aiida/cmdline/commands/cmd_daemon.py
  aiida/cmdline/utils/decorators.py
Due: imports, pylint, verdi-autodocs

test: add a test for require_profile_loaded decorator
  tests/cmdline/commands/test_daemon.py
Due: pylint

Apply suggestions from code review
  aiida/cmdline/utils/decorators.py
Due: imports, pylint

Dependencies: Update pre-commit requirement `isort==5.12.0`
  .pre-commit-config.yaml
Due: none

Dependencies: Update pre-commit requirement `isort==5.12.0` (#5877)
  .pre-commit-config.yaml
Due: none

`verdi daemon status`: Do not except when no profiles are defined (#5874)
  aiida/cmdline/commands/cmd_daemon.py
  aiida/cmdline/utils/decorators.py
  tests/cmdline/commands/test_daemon.py
Due: imports, pylint, verdi-autodocs

`verdi node delete`: Add verbose list of pks to be deleted
  aiida/cmdline/commands/cmd_node.py
Due: imports, pylint, verdi-autodocs

Add support for Docker images to use as `Code` for `CalcJob`s
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/orm/nodes/data/code/abstract.py
  aiida/orm/nodes/data/code/containerized.py
  aiida/schedulers/datastructures.py
  aiida/schedulers/scheduler.py
  docs/source/topics/data_types.rst
  tests/engine/processes/calcjobs/test_calc_job/test_multi_codes_run_parallel_False_.sh
  tests/engine/processes/calcjobs/test_calc_job/test_multi_codes_run_parallel_True_.sh
  tests/engine/processes/calcjobs/test_calc_job/test_multi_codes_run_withmpi_False_.sh
  tests/engine/processes/calcjobs/test_calc_job/test_multi_codes_run_withmpi_True_.sh
  tests/orm/data/code/test_containerized.py
Due: imports, pylint

Add explicit test for CalcJob submission script using Docker
  docs/source/topics/data_types.rst
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/processes/calcjobs/test_calc_job/test_containerized_code_wrap_cmdline_params.sh
Due: pylint
