Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

🧪 Pin the JSON written for an empty repository
  tests/tools/dumping/executors/test_process.py
Due: none

📚 Name both effects of `include_data_json` in its docstrings
  src/aiida/manage/configuration/profile.py
  src/aiida/orm/groups.py
  src/aiida/orm/nodes/process/process.py
Due: imports

📚 Say `node_outputs` also needs `--include-outputs`
  CHANGELOG.md
  src/aiida/cmdline/params/options/main.py
  src/aiida/manage/configuration/profile.py
  src/aiida/orm/groups.py
  src/aiida/orm/nodes/process/process.py
Due: imports, verdi-autodocs

📚 Reposition the `--include-data-json` versionadded note
  docs/source/howto/data.rst
Due: none

🧪 Exercise each dump flag alone and together
  tests/cmdline/commands/test_group.py
  tests/cmdline/commands/test_process.py
  tests/cmdline/commands/test_profile.py
  tests/manage/configuration/test_profile.py
  tests/tools/dumping/executors/test_process.py
Due: none

✨ `process dump`: add `--include-workflow-outputs`
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/__init__.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/manage/configuration/profile.py
  src/aiida/orm/groups.py
  src/aiida/orm/nodes/process/process.py
  src/aiida/tools/_dumping/config.py
  src/aiida/tools/_dumping/executors/process.py
Due: imports, verdi-autodocs

📚 Document the two dump flags as independent
  CHANGELOG.md
  docs/source/howto/data.rst
Due: none

👌 Drop a link label nested inside another's value
  src/aiida/tools/_dumping/executors/process.py
  tests/tools/dumping/executors/test_process.py
Due: imports

📚 Correct the JSON-dump example and namespace note
  docs/source/howto/data.rst
Due: none

👌 Leave the changelog to the release tooling
  CHANGELOG.md
Due: none

👌 Write flat-dump JSON after repository copies
  src/aiida/tools/_dumping/executors/process.py
  tests/tools/dumping/executors/test_process.py
Due: imports

📚 Scope the 2.10 versionadded to the new flags
  docs/source/howto/data.rst
Due: none

👌 Read the JSON-valued nodes through one branch
  src/aiida/tools/_dumping/executors/process.py
Due: imports

📚 tutorials: make notebooks self-contained
  docs/source/tutorials/include/constants.py
  docs/source/tutorials/include/gsrd_code.yaml
  docs/source/tutorials/include/input.yaml
  docs/source/tutorials/include/input_bad.yaml
  docs/source/tutorials/include/plotting.py
  docs/source/tutorials/include/tasks.py
  docs/source/tutorials/include/tasks_module_3b.py
  docs/source/tutorials/include/tutorial_plumbing.py
  docs/source/tutorials/include/workflows.py
  docs/source/tutorials/index.rst
  docs/source/tutorials/module0.md
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3a.md
  docs/source/tutorials/module3b.md
  docs/source/tutorials/module4.md
  docs/source/tutorials/module5.md
  docs/source/tutorials/module6a.md
  docs/source/tutorials/module6b.md
  docs/source/tutorials/module7.md
Due: none

cleanup pass
  docs/source/_ext/polish_download_notebooks.py
  docs/source/tutorials/.gitignore
  docs/source/tutorials/basic.md
  docs/source/tutorials/index.rst
  docs/source/tutorials/module0.md
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3a.md
  docs/source/tutorials/module3b.md
  docs/source/tutorials/module6b.md
Due: none

⬆️ tutorials: pin gsrd and aiida-workgraph to PyPI
  docs/source/tutorials/index.rst
  docs/source/tutorials/module3a.md
  docs/source/tutorials/module3b.md
  pyproject.toml
  uv.lock
Due: generate-conda-environment, validate-conda-environment

improve polish script
  docs/source/_ext/polish_download_notebooks.py
Due: none

Proof of concept redisignen ORM
  orm_model_redesign/README.md
  orm_model_redesign/__init__.py
  orm_model_redesign/__main__.py
  orm_model_redesign/cmdline/__init__.py
  orm_model_redesign/cmdline/_core/__init__.py
  orm_model_redesign/cmdline/_core/models.py
  orm_model_redesign/common/__init__.py
  orm_model_redesign/common/_core/__init__.py
  orm_model_redesign/common/_core/fields.py
  orm_model_redesign/common/_core/pydantic.py
  orm_model_redesign/orm/__init__.py
  orm_model_redesign/orm/_core/__init__.py
  orm_model_redesign/orm/_core/entities.py
  orm_model_redesign/orm/_core/fields.py
  orm_model_redesign/orm/_core/implementation/__init__.py
  orm_model_redesign/orm/_core/implementation/computers.py
  orm_model_redesign/orm/_core/implementation/nodes.py
  orm_model_redesign/orm/_core/nodes/__init__.py
  orm_model_redesign/orm/_core/nodes/attributes.py
  orm_model_redesign/orm/_core/nodes/columns.py
  orm_model_redesign/orm/_core/nodes/node.py
  orm_model_redesign/orm/_core/qb_fields.py
  orm_model_redesign/orm/computers.py
  orm_model_redesign/orm/fields.py
  orm_model_redesign/orm/nodes/__init__.py
  orm_model_redesign/orm/nodes/data/__init__.py
  orm_model_redesign/orm/nodes/data/data.py
  orm_model_redesign/orm/nodes/data/primitives/__init__.py
  orm_model_redesign/orm/nodes/data/primitives/base.py
  orm_model_redesign/orm/nodes/data/primitives/bool.py
  orm_model_redesign/orm/nodes/data/primitives/int.py
  orm_model_redesign/orm/nodes/data/primitives/str.py
  orm_model_redesign/restapi/__init__.py
  orm_model_redesign/restapi/_core/__init__.py
  orm_model_redesign/restapi/_core/models.py
Due: none

🐛 tutorials: fix the Read the Docs build
  docs/source/conf.py
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3a.md
  docs/source/tutorials/module3b.md
Due: none

profile setup structure
  docs/source/tutorials/module1.md
Due: none

📚 tutorials: rework the setup-cell presentation
  docs/source/tutorials/module0.md
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3a.md
  docs/source/tutorials/module3b.md
Due: none

final edits
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3a.md
Due: none

all-notebook zip link, and image width
  docs/source/_ext/polish_download_notebooks.py
  docs/source/tutorials/index.rst
Due: none

.
  docs/source/tutorials/index.rst
Due: none

📚 `docs`: add new introductory tutorial modules (#7205)
  .github/workflows/docs-build.yml
  .readthedocs.yml
  docs/source/_ext/polish_download_notebooks.py
  docs/source/conf.py
  docs/source/tutorials/.gitignore
  docs/source/tutorials/basic.md
  docs/source/tutorials/index.rst
  docs/source/tutorials/module0.md
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3a.md
  docs/source/tutorials/module3b.md
  docs/source/tutorials/module4.md
  docs/source/tutorials/module5.md
  docs/source/tutorials/module6a.md
  docs/source/tutorials/module6b.md
  docs/source/tutorials/module7.md
  pyproject.toml
  uv.lock
Due: generate-conda-environment, validate-conda-environment

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 56ad4d0500ddbd60f68e5e88da53b371249f1b5d [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

🐛 Report an undefined creation model as absent
  src/aiida/cmdline/groups/dynamic.py
  src/aiida/common/__init__.py
  src/aiida/common/exceptions.py
  src/aiida/orm/nodes/node.py
  tests/orm/models/test_models.py
Due: imports

🐛 Missing greenback portal on terminal transitions
  src/aiida/engine/processes/process.py
  tests/engine/test_process.py
Due: imports

Stop autogenerating imports for user API
  .pre-commit-config.yaml
  utils/autogenerate_all_imports.py
Due: none

Disable execution of tutorial temporarily
  docs/source/conf.py
Due: none

WIP
  src/aiida/common/__init__.py
  src/aiida/common/links.py
  src/aiida/tools/archive/create.py
  src/aiida/tools/graph/deletions.py
  src/aiida/tools/graph/graph_traversers.py
Due: imports

Fix @class and @module stripping in JsonableData
  src/aiida/orm/nodes/data/jsonable.py
  tests/orm/nodes/data/test_jsonable.py
Due: imports

♻️ Remove the deprecated `Code` data plugin
  CHANGELOG.md
  docs/source/developer_guide/core/internals.rst
  docs/source/howto/data.rst
  docs/source/reference/rest_api.rst
  docs/source/topics/data_types.rst
  pyproject.toml
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/cmdline/utils/shell.py
  src/aiida/manage/configuration/profile.py
  src/aiida/manage/tests/pytest_fixtures.py
  src/aiida/orm/__init__.py
  src/aiida/orm/nodes/__init__.py
  src/aiida/orm/nodes/data/__init__.py
  src/aiida/orm/nodes/data/code/__init__.py
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/data/code/legacy.py
  src/aiida/orm/querybuilder.py
  src/aiida/orm/utils/node.py
  src/aiida/restapi/translator/nodes/data/code.py
  src/aiida/tools/_dumping/config.py
  src/aiida/tools/_dumping/detect.py
  src/aiida/tools/archive/imports.py
  src/aiida/tools/visualization/graph.py
  tests/cmdline/commands/test_code.py
  tests/orm/data/test_code.py
  tests/orm/nodes/data/test_data.py
  tests/orm/test_fields/fields_aiida.data.core.code.Code.yml
  tests/orm/test_querybuilder.py
  tests/orm/utils/test_node.py
  tests/test_generic.py
  tests/test_nodes.py
  tests/tools/archive/migration/test_prov_redesign.py
  tests/tools/archive/orm/test_codes.py
Due: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

✨ Migrate stored legacy `Code` nodes to the modern code plugins
  docs/source/howto/include/graph1.aiida/db.sqlite3
  docs/source/howto/include/graph1.aiida/metadata.json
  docs/source/howto/process.aiida
  docs/source/howto/share_data.rst
  src/aiida/storage/psql_dos/migrations/versions/main_0003_migrate_legacy_code.py
  src/aiida/storage/sqlite_dos/migrations/versions/main_0003_migrate_legacy_code.py
  src/aiida/storage/sqlite_zip/migrations/versions/main_0002_migrate_legacy_code.py
  tests/static/calcjob/arithmetic.add.aiida
  tests/static/calcjob/arithmetic.add_old.aiida
  tests/static/export/compare/django.aiida
  tests/static/export/compare/sqlalchemy.aiida
  tests/static/export/migrate/export_main_0002_simple.aiida
  tests/storage/psql_dos/migrations/main_branch/test_main_0003_migrate_legacy_code.py
  tests/storage/psql_dos/migrations/test_all_schema/test_main_main_0003_.yml
  tests/storage/sqlite_dos/migrations/test_all_schema/test_head_vs_orm_main_0003_.yml
  tests/storage/sqlite_dos/migrations/test_all_schema/test_main_main_0003_.yml
  tests/storage/sqlite_dos/migrations/test_main_0003_migrate_legacy_code.py
  tests/tools/archive/migration/test_main_0001_to_main_0002.py
Due: imports

♻️ Derive `InstalledCode`/`PortableCode` from `AbstractCode`
  src/aiida/engine/daemon/execmanager.py
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/utils/loaders.py
  tests/orm/data/code/test_installed.py
  tests/orm/data/code/test_portable.py
Due: imports

manual changes
  CHANGELOG.md
Due: none

Address review comments: type annotations and assign msg before raising
  src/aiida/orm/nodes/data/jsonable.py
  tests/orm/nodes/data/test_jsonable.py
Due: imports

🐛 `tests`: fix collection error from duplicate test module basename
  tests/storage/psql_dos/migrations/main_branch/__init__.py
  tests/storage/sqlite_dos/migrations/__init__.py
Due: none

Disable execution of tutorial temporarily (#7595)
  docs/source/conf.py
Due: none
