Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, mypy, pylint, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

pylint:
  name: pylint
  entry: pylint
  language: system

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

🐛 FIX: Archive creation after packing repository
  aiida/tools/archive/implementations/sqlite_zip/writer.py
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  tests/tools/archive/test_repository.py
Due: imports, mypy, pylint, dm-generate-all, dependencies

treat 'false' as False
  aiida/restapi/common/utils.py
Due: imports, pylint

decode exportcontent
  aiida/restapi/resources.py
  aiida/restapi/translator/nodes/data/__init__.py
Due: imports, pylint

🐛 FIX: Archive creation after packing repository (#5570)
  aiida/tools/archive/implementations/sqlite_zip/writer.py
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  tests/tools/archive/test_repository.py
Due: imports, mypy, pylint, dm-generate-all, dependencies

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 46d244e32ac5eca2e22a3d088314591ce064be57 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

docs: resubmit a `Process` from a `ProcessNode`
  docs/source/howto/run_codes.rst
Due: none

Fix portable code upload in transport also files in folders
  aiida/engine/daemon/execmanager.py
Due: imports, mypy, pylint

Add test
  aiida/engine/daemon/execmanager.py
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/processes/calcjobs/test_calc_job/test_portable_code.sh
Due: imports, mypy, pylint

fix: `is_valid_cache` setter for `ProcessNode`s
  aiida/orm/nodes/process/process.py
  tests/orm/nodes/test_node.py
Due: imports, mypy, pylint

Docs: add `-U` flag to PostgreSQL database backup command (#5550)
  docs/source/howto/installation.rst
Due: none

📚 DOCS: correct snippet for workchain context nested keys (#5551)
  docs/source/topics/workflows/include/snippets/workchains/run_workchain_submit_parallel_nested.py
  docs/source/topics/workflows/usage.rst
Due: none

Fix: reference to command in message for `verdi storage maintain` (#5558)
  aiida/cmdline/commands/cmd_storage.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for cb82327e5e4587b8752674a6b57e64613a5e11f2 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Revert "decode exportcontent"
  aiida/restapi/resources.py
  aiida/restapi/translator/nodes/data/__init__.py
Due: imports, pylint

CustomJSONEncoder support bytes objects
  aiida/restapi/common/utils.py
Due: imports, pylint

add the download=false test
  tests/restapi/test_routes.py
Due: pylint

Do real test
  aiida/engine/daemon/execmanager.py
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/processes/calcjobs/test_calc_job/test_portable_code.sh
Due: imports, mypy, pylint

fix: `is_valid_cache` setter for `ProcessNode`s (#5583)
  aiida/orm/nodes/process/process.py
  tests/orm/nodes/test_node.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 70b4e9958657056d2d95439f8bd9b099dfb9d146 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

RestAPI: CustomJSONEncoder support bytes objects
  aiida/restapi/common/utils.py
  tests/restapi/test_routes.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for ef9c544d4ee4736c21375f583f4265dcbd220e08 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

add test
  tests/restapi/test_routes.py
Due: pylint

Update tests/restapi/test_routes.py
  tests/restapi/test_routes.py
Due: pylint

fix test
  tests/restapi/test_routes.py
Due: pylint

RESTAPI: treat 'false' as False in url parsing (#5573)
  aiida/restapi/common/utils.py
  tests/restapi/test_routes.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 7772adcae4113404eef27e1e964d7d55734c924c [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

`PortableCode`: fix upload task not dealing with nested files (#5580)
  aiida/engine/daemon/execmanager.py
  tests/engine/processes/calcjobs/test_calc_job.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for f68260362b031baaab78b9fbe8d237b9095bf259 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Update docs/source/howto/run_codes.rst
  docs/source/howto/run_codes.rst
Due: none

Add `Complex` data type and support for `numbers.Complex` in database
  aiida/orm/__init__.py
  aiida/orm/implementation/utils.py
  aiida/orm/nodes/__init__.py
  aiida/orm/nodes/data/__init__.py
  aiida/orm/nodes/data/complex.py
  aiida/storage/json.py
  aiida/storage/psql_dos/orm/querybuilder/main.py
  aiida/storage/psql_dos/utils.py
  aiida/storage/sqlite_zip/orm.py
  aiida/storage/sqlite_zip/utils.py
  pyproject.toml
  tests/orm/implementation/test_utils.py
  tests/orm/nodes/data/test_base.py
  tests/orm/nodes/data/test_to_aiida_type.py
  tests/orm/nodes/test_node.py
  tests/orm/test_querybuilder.py
  tests/storage/sqlite/test_orm.py
  utils/make_all.py
Due: imports, mypy, pylint, dm-generate-all, dependencies

Release `v2.0.2`
  CHANGELOG.md
  aiida/__init__.py
Due: imports, pylint

Post release: add the `.post0` qualifier to version attribute
  aiida/__init__.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 974ace2ad9ff8160cdd0006c22706a592ce36326 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

`BaseRestartWorkChain`: fix `handler_overrides` ignoring `enabled=False`
  aiida/engine/processes/workchains/restart.py
  tests/engine/processes/workchains/test_restart.py
Due: imports, mypy, pylint

`BaseRestartWorkChain`: fix `handler_overrides` ignoring `enabled=False` (#5598)
  aiida/engine/processes/workchains/restart.py
  tests/engine/processes/workchains/test_restart.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for a0c0699f2ce0fc0c4112385dd6c7e6f0097eeb34 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Deprecate `Profile.repository_path`
  CHANGELOG.md
  aiida/manage/configuration/config.py
  aiida/manage/configuration/profile.py
  aiida/storage/psql_dos/backend.py
  aiida/storage/psql_dos/migrations/utils/migrate_repository.py
  aiida/storage/psql_dos/migrations/utils/utils.py
  aiida/storage/psql_dos/migrations/versions/12536798d4d3_trajectory_symbols_to_attribute.py
  aiida/storage/psql_dos/migrations/versions/ce56d84bcc35_delete_trajectory_symbols_array.py
  aiida/storage/psql_dos/migrations/versions/django_0026_trajectory_symbols_to_attribute.py
  aiida/storage/psql_dos/migrations/versions/django_0027_delete_trajectory_symbols_array.py
  aiida/storage/psql_dos/migrator.py
  aiida/storage/sqlite_temp/backend.py
  docs/source/intro/tutorial.md
  tests/storage/psql_dos/migrations/django_branch/test_0026_0027_traj_data.py
  tests/storage/psql_dos/migrations/django_branch/test_0047_migrate_repository.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_11_v2_repository.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_6_trajectory_data.py
  tests/storage/sqlite/test_orm.py
Due: imports, mypy, pylint

Deprecate `Profile.repository_path` (#5516)
  CHANGELOG.md
  aiida/manage/configuration/config.py
  aiida/manage/configuration/profile.py
  aiida/storage/psql_dos/backend.py
  aiida/storage/psql_dos/migrations/utils/migrate_repository.py
  aiida/storage/psql_dos/migrations/utils/utils.py
  aiida/storage/psql_dos/migrations/versions/12536798d4d3_trajectory_symbols_to_attribute.py
  aiida/storage/psql_dos/migrations/versions/ce56d84bcc35_delete_trajectory_symbols_array.py
  aiida/storage/psql_dos/migrations/versions/django_0026_trajectory_symbols_to_attribute.py
  aiida/storage/psql_dos/migrations/versions/django_0027_delete_trajectory_symbols_array.py
  aiida/storage/psql_dos/migrator.py
  aiida/storage/sqlite_temp/backend.py
  docs/source/intro/tutorial.md
  tests/storage/psql_dos/migrations/django_branch/test_0026_0027_traj_data.py
  tests/storage/psql_dos/migrations/django_branch/test_0047_migrate_repository.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_11_v2_repository.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_6_trajectory_data.py
  tests/storage/sqlite/test_orm.py
Due: imports, mypy, pylint

Path conditions:
  imports: any of: aiida/.*py and \.py$
  mypy: any of: (?x)^(
    aiida/common/timezone.py|
    aiida/common/progress_reporter.py|
    aiida/engine/.*py|
    aiida/manage/manager.py|
    aiida/manage/database/delete/nodes.py|
    aiida/orm/querybuilder.py|
    aiida/orm/implementation/entities.py|
    aiida/orm/implementation/storage_backend.py|
    aiida/orm/implementation/authinfos.py|
    aiida/orm/implementation/comments.py|
    aiida/orm/implementation/computers.py|
    aiida/orm/implementation/groups.py|
    aiida/orm/implementation/logs.py|
    aiida/orm/implementation/nodes.py|
    aiida/orm/implementation/users.py|
    aiida/orm/implementation/querybuilder.py|
    aiida/orm/entities.py|
    aiida/orm/extras.py|
    aiida/orm/authinfos.py|
    aiida/orm/comments.py|
    aiida/orm/computers.py|
    aiida/orm/groups.py|
    aiida/orm/logs.py|
    aiida/orm/users.py|
    aiida/orm/nodes/data/enum.py|
    aiida/orm/nodes/data/jsonable.py|
    aiida/orm/nodes/attributes.py|
    aiida/orm/nodes/node.py|
    aiida/orm/nodes/process/.*py|
    aiida/orm/nodes/repository.py|
    aiida/orm/utils/links.py|
    aiida/plugins/entry_point.py|
    aiida/plugins/factories.py|
    aiida/repository/.*py|
    aiida/storage/control.py|
    aiida/storage/psql_dos/backend.py|
    aiida/storage/psql_dos/orm/querybuilder/.*py|
    aiida/storage/psql_dos/utils.py|
    aiida/storage/sqlite_zip/.*.py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/archive/.*py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
