Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Fix fixture in tests/cmdline/commands/test_process.py
  tests/cmdline/commands/test_process.py
Due: none

Ignore plumpy get_event_loop deprecation warning
  pyproject.toml
Due: dm-generate-all, dependencies

fixes fields
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.custom.RemoteStashCustomData.yml
Due: none

Interactive setup runs through.
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/cmdline/commands/computer_search.py
  src/aiida/cmdline/commands/registry_helpers.py
Due: imports, verdi-autodocs

wip
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/cmdline/commands/registry_helpers.py
Due: imports, verdi-autodocs

Restrict only to saving the setup and config yaml files
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/cmdline/utils/registry_helpers.py
Due: imports, verdi-autodocs

Check for core.sqlite_zip storage backend and filepath existence
  src/aiida/cmdline/commands/cmd_profile.py
Due: imports, verdi-autodocs

Apply suggestions from code review
  src/aiida/cmdline/commands/cmd_profile.py
Due: imports, verdi-autodocs

Check first for sqlite_zip, as other backends might not have filepath key
  src/aiida/cmdline/commands/cmd_profile.py
Due: imports, verdi-autodocs

wip
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/manage/configuration/config.py
  tests/cmdline/commands/test_profile.py
Due: imports, verdi-autodocs

.
  src/aiida/cmdline/commands/cmd_computer.py
Due: imports, verdi-autodocs

Move logic to `delete_profile` method of `Config`
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/manage/configuration/config.py
  tests/cmdline/commands/test_profile.py
Due: imports, verdi-autodocs

Use cast
  src/aiida/orm/nodes/data/code/installed.py
Due: imports

Added sqlite_zip profile factory and tests
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/manage/configuration/config.py
  tests/conftest.py
  tests/manage/configuration/test_config.py
Due: imports, verdi-autodocs

Use `SqliteZipBackend.create_profile` instead of fixture
  src/aiida/manage/configuration/config.py
  tests/conftest.py
  tests/manage/configuration/test_config.py
Due: imports

Remove note on unsupported `contains` and `get_creation_statistics`
  docs/source/topics/storage.rst
Due: none

Fix typing of shared_options in src/aiida/cmdline/groups/dynamic.py
  src/aiida/cmdline/groups/dynamic.py
Due: imports

computer setup works with `ctx.invoke`
  src/aiida/cmdline/commands/cmd_computer.py
Due: imports, verdi-autodocs

wip
  src/aiida/cmdline/commands/cmd_profile.py
Due: imports, verdi-autodocs

Mark ctx positional-only in profile_configure_rabbitmq
  src/aiida/cmdline/commands/cmd_profile.py
Due: imports, verdi-autodocs

Docs: Remove note on unsupported `contains` and `get_creation_statistics` (#6930)
  docs/source/topics/storage.rst
Due: none

Add ruff rule to not use numpy API deprecated for numpy v1
  pyproject.toml
Due: dm-generate-all, dependencies

working version for sqlite, without migration
  src/aiida/cmdline/commands/cmd_profile.py
Due: imports, verdi-autodocs

Reduce diff
  src/aiida/cmdline/commands/cmd_profile.py
Due: imports, verdi-autodocs

Bump mypy to 1.16.1 (#6858)
  .pre-commit-config.yaml
  pyproject.toml
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/groups/dynamic.py
  src/aiida/engine/processes/functions.py
  src/aiida/engine/processes/process.py
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/data/code/legacy.py
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/nodes/process/calculation/calcfunction.py
  src/aiida/orm/nodes/process/workflow/workchain.py
  src/aiida/orm/nodes/process/workflow/workfunction.py
  src/aiida/repository/backend/abstract.py
  src/aiida/tools/archive/imports.py
  uv.lock
Due: imports, dm-generate-all, dependencies, verdi-autodocs

Run type checking on multiply_add.py
  .pre-commit-config.yaml
  src/aiida/workflows/arithmetic/multiply_add.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 2106844200ef8e77fcd3dd93c1bab07702f10a2c [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Run type checking on multiply_add.py (#6833)
  .pre-commit-config.yaml
  src/aiida/workflows/arithmetic/multiply_add.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 1229ddd385a33d37825aede224e526a17ce4d5ec [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Run typing on orm/implementation/storage_backend.py
  .pre-commit-config.yaml
  src/aiida/orm/implementation/storage_backend.py
Due: imports

Run mypy on orm/{comments,computer}.py
  .pre-commit-config.yaml
  src/aiida/orm/comments.py
  src/aiida/orm/computers.py
  src/aiida/transports/transport.py
Due: imports

Silence new mypy errors
  src/aiida/orm/comments.py
  src/aiida/orm/computers.py
Due: imports

Workaround ruff issue
  pyproject.toml
  src/aiida/orm/authinfos.py
  src/aiida/orm/comments.py
  src/aiida/orm/computers.py
  src/aiida/orm/groups.py
  src/aiida/orm/logs.py
  src/aiida/orm/nodes/node.py
  src/aiida/orm/users.py
Due: imports, dm-generate-all, dependencies

Remove unused type ignore
  src/aiida/orm/computers.py
Due: imports

cast
  src/aiida/orm/comments.py
Due: imports

Remove ignore
  src/aiida/orm/computers.py
  src/aiida/orm/entities.py
Due: imports

Use builtins for typing
  src/aiida/orm/computers.py
Due: imports

Remove incorrect return type
  src/aiida/orm/computers.py
Due: imports

Fix regression test
  src/aiida/orm/computers.py
Due: imports

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
