Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

🧪 Regenerate PostgreSQL main schema references (#7666)
  tests/storage/psql_dos/migrations/test_all_schema/test_main_0001.yml
  tests/storage/psql_dos/migrations/test_all_schema/test_main_0002.yml
  tests/storage/psql_dos/migrations/test_all_schema/test_main_0003.yml
Due: none

🧪 Extract SQLAlchemy migration schema reflection (#7666)
  tests/storage/migrations/utils.py
  tests/storage/sqlite/utils.py
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for a1e01a8d51dd257882e3217d16597dd4865d3523 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Move orbital datastructures to common
  .pre-commit-config.yaml
  CHANGELOG.md
  src/aiida/common/datastructures/__init__.py
  src/aiida/common/datastructures/_orbital.py
  src/aiida/orm/nodes/data/orbital.py
  src/aiida/plugins/factories.py
  src/aiida/tools/data/orbital/orbital.py
  src/aiida/tools/data/orbital/realhydrogen.py
  tests/plugins/test_factories.py
  tests/tools/data/orbital/test_orbitals.py
Due: imports

Temporarily disable models/fields testing
  tests/orm/models/test_models.py
  tests/orm/test_fields.py
Due: none

Fix computer construction calls
  docs/source/howto/include/scripts/performance_benchmark_base.py
  tests/calculations/test_transfer.py
  tests/cmdline/commands/test_computer.py
  tests/cmdline/commands/test_run.py
  tests/orm/test_computers.py
  tests/orm/utils/test_remote.py
  tests/tools/archive/conftest.py
  tests/tools/archive/orm/test_authinfo.py
Due: none

✨ Add `CallableData` to record a Python callable (#7617)
  CHANGELOG.md
  environment.yml
  pyproject.toml
  src/aiida/cmdline/params/types/identifier.py
  src/aiida/cmdline/params/types/plugin.py
  src/aiida/common/callables.py
  src/aiida/common/distributions.py
  src/aiida/orm/__init__.py
  src/aiida/orm/nodes/__init__.py
  src/aiida/orm/nodes/data/__init__.py
  src/aiida/orm/nodes/data/callable.py
  tests/common/test_callables.py
  tests/common/test_distributions.py
  tests/orm/data/test_callable.py
  tests/orm/test_fields/fields_aiida.data.core.callable.CallableData.yml
  uv.lock
Due: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

👌 `checkpoints`: carry modules the worker lacks (#7617)
  CHANGELOG.md
  src/aiida/engine/daemon/client.py
  src/aiida/engine/processes/calcjobs/calcjob.py
  src/aiida/engine/processes/persistence.py
  src/aiida/orm/utils/serialize.py
  src/aiida/parsers/parser.py
  src/aiida/parsers/plugins/templatereplacer/parser.py
  tests/engine/daemon/test_client.py
  tests/engine/test_callables_through_the_daemon.py
  tests/engine/test_persistence.py
  tests/orm/utils/test_serialize.py
  tests/parsers/test_parser.py
Due: imports

✨ `ProcessNode`: record a `__main__` class source (#7617)
  CHANGELOG.md
  src/aiida/engine/processes/process.py
  src/aiida/orm/nodes/process/process.py
  tests/engine/test_callables_through_the_daemon.py
  tests/engine/test_process.py
Due: imports

✨ `checkpoints`: route the payload by its size (#7617)
  CHANGELOG.md
  environment.yml
  pyproject.toml
  src/aiida/engine/persistence.py
  src/aiida/orm/nodes/process/process.py
  src/aiida/repository/backend/disk_object_store.py
  tests/engine/test_checkpoint_payload_store.py
  uv.lock
Due: imports, generate-conda-environment, validate-conda-environment

♻️ `ShellJob`: record `parser` as `CallableData` (#7617)
  CHANGELOG.md
  docs/source/howto/run_shell_commands.rst
  environment.yml
  open_source_licenses.txt
  pyproject.toml
  src/aiida/calculations/shell.py
  src/aiida/engine/processes/calcjobs/calcjob.py
  src/aiida/orm/__init__.py
  src/aiida/orm/nodes/__init__.py
  src/aiida/orm/nodes/data/__init__.py
  src/aiida/orm/nodes/data/entry_point.py
  src/aiida/orm/nodes/data/pickled.py
  src/aiida/parsers/plugins/shell/parser.py
  tests/calculations/conftest.py
  tests/calculations/test_shell.py
  tests/engine/test_callables_through_the_daemon.py
  tests/orm/data/test_entry_point.py
  tests/orm/data/test_pickled.py
  tests/orm/test_fields/fields_aiida.data.core.entry_point.EntryPointData.yml
  tests/orm/test_fields/fields_aiida.data.core.pickled.PickledData.yml
  tests/orm/utils/test_node.py
  tests/parsers/test_shell.py
  uv.lock
Due: imports, generate-conda-environment, validate-conda-environment

﻿feat(cli): add `-w/--workchains` option to `verdi calcjob cleanworkdir`
  src/aiida/cmdline/commands/cmd_calcjob.py
  tests/cmdline/commands/test_calcjob.py
Due: imports, verdi-autodocs

🧪 Run profile schema tests via backend fixtures (#7666)
  tests/storage/migrations/conftest.py
  tests/storage/migrations/test_schema_regressions.py
  tests/storage/psql_dos/migrations/conftest.py
  tests/storage/psql_dos/migrations/fixtures.py
  tests/storage/psql_dos/migrations/test_schema_regressions.py
  tests/storage/sqlite_dos/migrations/conftest.py
  tests/storage/sqlite_dos/migrations/fixtures.py
  tests/storage/sqlite_dos/migrations/test_all_schema.py
  tests/storage/sqlite_zip/migrations/test_all_schema.py
Due: none

Enforce process control loop affinity
  src/aiida/engine/processes/process.py
  tests/engine/test_process.py
Due: imports

🧪 Hold RabbitMQ message exchange alive for requires_rmq sessions
  tests/conftest.py
Due: none

🧪 Hold RabbitMQ message exchange alive for requires_rmq sessions (#7675)
  tests/conftest.py
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 2dfaee3d4dc842b96c650502d6ee214278fa3638 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

🧪 Make profile symlink test order-independent (#7677)
  tests/tools/dumping/test_integration.py
Due: none

🧪 Include dumping module in coverage (#7677)
  codecov.yml
  pyproject.toml
Due: generate-conda-environment, validate-conda-environment

🧪 Collect dumping integration tests (#7677)
  tests/tools/dumping/test_integration.py
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 2485e9e48e98697ed764743aee398ca753ed7c46 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

🧪 Speed up dumping integration tests with manual nodes (#7678)
  tests/conftest.py
  tests/tools/dumping/test_integration.py
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 46ba8c147bc9db46bcb77754cd34a1d6fc460ce1 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

📚 Align archive-profile how-to with tutorial style (#7676)
  docs/source/howto/archive_profile.md
Due: none

📝 Generate archive-profile example at runtime (#7676)
  docs/source/howto/archive_profile.md
  docs/source/howto/process.aiida
Due: none

🧪 Move profile migration schema references (#7666)
  tests/storage/migrations/reference_schemas/psql_dos_main_0001.yml
  tests/storage/migrations/reference_schemas/psql_dos_main_0002.yml
  tests/storage/migrations/reference_schemas/psql_dos_main_0003.yml
  tests/storage/migrations/reference_schemas/sqlite_dos_main_0001.yml
  tests/storage/migrations/reference_schemas/sqlite_dos_main_0002.yml
  tests/storage/migrations/reference_schemas/sqlite_dos_main_0003.yml
  tests/storage/migrations/reference_schemas/sqlite_zip_main_0000.yml
  tests/storage/migrations/reference_schemas/sqlite_zip_main_0000a.yml
  tests/storage/migrations/reference_schemas/sqlite_zip_main_0000b.yml
  tests/storage/migrations/reference_schemas/sqlite_zip_main_0001.yml
  tests/storage/migrations/reference_schemas/sqlite_zip_main_0002.yml
  tests/storage/migrations/reference_schemas/sqlite_zip_main_0003.yml
  tests/storage/sqlite_zip/migrations/test_all_schema/test_main_0000a.yml
  tests/storage/sqlite_zip/migrations/test_all_schema/test_main_0000b.yml
  tests/storage/sqlite_zip/migrations/test_all_schema/test_main_0001.yml
  tests/storage/sqlite_zip/migrations/test_all_schema/test_main_0002.yml
Due: none

🧪 Move SQLite db_dbsetting test to main_0003 (#7666)
  tests/storage/sqlite_dos/migrations/main_branch/test_main_0003.py
  tests/storage/sqlite_dos/migrations/test_all_schema.py
Due: none

📝 Generalize migratation-related examples (#7666)
  docs/source/howto/share_data.rst
  docs/source/reference/rest_api.rst
Due: none
