Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

Remove bare exception handlers
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/detect.py
  src/aiida/tools/dumping/executors/collection.py
  src/aiida/tools/dumping/executors/deletion.py
  src/aiida/tools/dumping/executors/group.py
  src/aiida/tools/dumping/executors/process.py
  src/aiida/tools/dumping/executors/profile.py
  src/aiida/tools/dumping/tracking.py
Due: imports

Ignore `_dumping` module from codecov in `pyproject.toml`
  pyproject.toml
Due: dm-generate-all, dependencies

Add minimal CLI tests for dumping feature
  tests/cmdline/commands/test_group.py
  tests/cmdline/commands/test_process.py
  tests/cmdline/commands/test_profile.py
Due: none

Fix broken dry-run for process dump
  src/aiida/cmdline/commands/cmd_process.py
Due: imports, verdi-autodocs

Revert "Type check src/aiida/manage/tests/pytest_fixtures.py"
  .pre-commit-config.yaml
  src/aiida/manage/tests/pytest_fixtures.py
Due: imports

Setup SSH
  .github/workflows/ci-code.yml
  src/aiida/manage/tests/test_pytest_fixtures.py
  tests/tools/pytest_fixtures/test_configuration.py
Due: imports

Remove async fixture
  src/aiida/manage/tests/test_pytest_fixtures.py
Due: imports

Expand process dump API and CLI tests
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/_dumping/engine.py
  src/aiida/tools/_dumping/executors/process.py
  src/aiida/tools/_dumping/utils.py
  tests/cmdline/commands/test_process.py
  tests/orm/nodes/process/test_process.py
Due: imports, verdi-autodocs

Fix rtd
  docs/source/reference/command_line.rst
  src/aiida/cmdline/params/options/main.py
Due: imports, verdi-autodocs

Fix configuration reset
  src/aiida/manage/tests/pytest_fixtures.py
Due: imports

Add tests for group dump CLI
  tests/cmdline/commands/test_group.py
Due: none

New tests for new fixtures
  .github/workflows/ci-code.yml
  tests/tools/pytest_fixtures/test_daemon.py
  tests/tools/pytest_fixtures/test_orm.py
Due: none

Better tests for legacy fixtures
  src/aiida/manage/tests/test_pytest_fixtures.py
Due: imports

Put back test_aiida_localhost
  tests/tools/pytest_fixtures/test_orm.py
Due: none

Test legacy fixtures first
  .github/workflows/ci-code.yml
Due: none

Fix
  tests/tools/pytest_fixtures/test_daemon.py
  tests/tools/pytest_fixtures/test_orm.py
Due: none

Revert "Test legacy fixtures first"
  .github/workflows/ci-code.yml
Due: none

reset_config
  src/aiida/manage/tests/pytest_fixtures.py
Due: imports

add aiida_profile_with_rmq fixture to test_daemon.py
  tests/tools/pytest_fixtures/test_daemon.py
Due: none

Fix?
  tests/tools/pytest_fixtures/test_daemon.py
Due: none

Reapply "Test legacy fixtures first"
  .github/workflows/ci-code.yml
Due: none

Add tests to orm.Group `dump` endpoint
  tests/orm/test_groups.py
Due: none

Revert "Reapply "Test legacy fixtures first""
  .github/workflows/ci-code.yml
Due: none

Verbose output
  .github/workflows/ci-code.yml
Due: none

Remove test_daemon.py for now
  tests/tools/pytest_fixtures/test_daemon.py
Due: none

Try fix get_env?
  src/aiida/engine/daemon/client.py
Due: imports

Use legacy fixture in get_daemon_client
  src/aiida/manage/tests/pytest_fixtures.py
Due: imports

Print config paths
  .github/workflows/ci-code.yml
  src/aiida/manage/tests/test_pytest_fixtures.py
Due: imports

Start adding dump API tests to profile
  src/aiida/manage/configuration/profile.py
  src/aiida/tools/_dumping/detect.py
  tests/manage/configuration/test_profile.py
Due: imports

Update tests/cmdline/commands/test_process.py
  tests/cmdline/commands/test_process.py
Due: none

Apply review
  tests/cmdline/commands/test_process.py
Due: none

apply review
  tests/cmdline/commands/test_process.py
Due: none

Regular killing reschedules a cancel of scheduler job
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/engine/processes/process.py
  src/aiida/engine/utils.py
  tests/cmdline/commands/test_process.py
Due: imports

apply review
  src/aiida/engine/processes/process.py
  src/aiida/engine/utils.py
  tests/cmdline/commands/test_process.py
Due: imports

Sending multiple `process_kill` actions reschedules the cancelation of scheduler job (#6870)
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/engine/processes/process.py
  tests/cmdline/commands/test_process.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for e768b70383ee605feeafd05862a17b8481447880 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Merging usage of `wait` and `timeout` for actions
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/engine/processes/control.py
  tests/cmdline/commands/test_process.py
  tests/engine/processes/test_control.py
Due: imports, verdi-autodocs

debug
  tests/restapi/test_statistics.py
Due: none

Fix test name
  src/aiida/manage/tests/test_pytest_fixtures.py
Due: imports
