Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Replace `flask` `JSONEncoder` by `JSONProvider`
  aiida/cmdline/utils/decorators.py
  aiida/restapi/common/utils.py
  aiida/restapi/run_api.py
  aiida/tools/dbimporters/plugins/materialsproject.py
  aiida/tools/ipython/ipython_magics.py
  docs/source/nitpick-exceptions
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  tests/orm/nodes/data/test_jsonable.py
Due: imports, pylint, dm-generate-all, dependencies

Dependencies: Add upper limit for `flask<2.3`
  docs/source/nitpick-exceptions
  pyproject.toml
Due: dm-generate-all, dependencies

Dependencies: Add upper limit for `ipython<8.13`
  environment.yml
  pyproject.toml
Due: dm-generate-all, dependencies

Addresses #5984 to try to make the documentation about the negation operator clearer.
  docs/source/howto/query.rst
  docs/source/topics/database.rst
Due: none

DevOps: Fix the `daemon_client` fixture
  aiida/manage/tests/pytest_fixtures.py
Due: imports, pylint

Update docs/source/howto/query.rst
  docs/source/howto/query.rst
Due: none

Update docs/source/topics/database.rst
  docs/source/topics/database.rst
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 5e92f5ef9ed7fdedeb890365809d1748052bff86 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Adding the negation opeator as a subsub section in the filtering section.
  docs/source/howto/query.rst
  docs/source/topics/database.rst
Due: none

Apply suggestions from code review
  docs/source/howto/query.rst
  docs/source/topics/database.rst
Due: none

Docs: Clarify negation operator in `QueryBuilder` filters (#5985)
  docs/source/howto/query.rst
  docs/source/topics/database.rst
Due: none

DevOps: Fix the `daemon_client` fixture (#5988)
  aiida/manage/tests/pytest_fixtures.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 9e5f5eefd0cd6be44f0be76efae157dcf6e160ed [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`CalcJob`: Assign outputs from node in case of cache hit
  aiida/engine/processes/calcjobs/calcjob.py
  tests/engine/test_runners.py
Due: imports, pylint

`CalcJob`: Assign outputs from node in case of cache hit (#5995)
  aiida/engine/processes/calcjobs/calcjob.py
  tests/engine/test_runners.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 777b976013d0041e059f86c1ac0d2f43b52884df [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Bump Python version for RTD build
  .readthedocs.yml
Due: none

Update nitpick
  docs/source/nitpick-exceptions
Due: none

Subtly bump down Python version a little bit
  .readthedocs.yml
  aiida/manage/tests/pytest_fixtures.py
Due: imports, pylint

Docs: Bump Python version for RTD build (#5999)
  .readthedocs.yml
  aiida/manage/tests/pytest_fixtures.py
  docs/source/nitpick-exceptions
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 5df446cd3558b1b7ee11d9b60d75287d6395a693 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`ProcessNode`: Add the `exit_code` property
  aiida/orm/nodes/process/process.py
  tests/orm/nodes/process/test_process.py
Due: imports, pylint

`ProcessNode`: Add the `exit_code` property (#5973)
  aiida/orm/nodes/process/process.py
  tests/orm/nodes/process/test_process.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for ad8a539ee2b481d526607b5924789fbbd1e14102 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`verdi process list`: Fix double percent sign in daemon usage
  aiida/cmdline/commands/cmd_process.py
Due: imports, pylint, verdi-autodocs

`verdi process list`: Fix double percent sign in daemon usage (#6002)
  aiida/cmdline/commands/cmd_process.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 68be866e653c610e9b957a3fdedc1b77e6e41a05 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Docs: Add `graphviz` to system requirements of RTD build runner
  .readthedocs.yml
Due: none

Docs: Add `graphviz` to system requirements of RTD build runner (#6004)
  .readthedocs.yml
Due: none

`CalcJobNode`: Fix the computation of the hash
  aiida/orm/nodes/process/calculation/calcjob.py
  tests/engine/processes/calcjobs/test_calc_job.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 3df02550eff02cd625d0e14eb35e6d6b01b4b12d [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`CalcJobNode`: Fix the computation of the hash (#5998)
  aiida/orm/nodes/process/calculation/calcjob.py
  tests/engine/processes/calcjobs/test_calc_job.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 685e0f87d7c571df24aea8f0ce21c6c45dfbd8a0 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`SinglefileData`: Fix bug when `filename` is `pathlib.Path`
  aiida/orm/nodes/data/singlefile.py
  tests/orm/nodes/data/test_singlefile.py
Due: imports, pylint

`SinglefileData`: Fix bug when `filename` is `pathlib.Path` (#6006)
  aiida/orm/nodes/data/singlefile.py
  tests/orm/nodes/data/test_singlefile.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for f36bf583c2bb4ac532d97f843141c907ee350f69 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

CLI: clean potential stale pid file when daemon stop
  aiida/engine/daemon/client.py
Due: imports, pylint

Expose `get_daemon_client` so it can be imported from `aiida.engine`
  aiida/engine/__init__.py
  aiida/engine/daemon/__init__.py
  aiida/engine/daemon/client.py
Due: imports, pylint

Path conditions:
  imports: any of: aiida/.*py and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
