Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, mypy, pylint, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

pylint:
  name: pylint
  entry: pylint
  language: system

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 2ac06735bd3de7c83a2b27fe8eca432d66e67151 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for fa28956a0355f125dbc4ac7fd8ad4a59dc03277a [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Post release: add the `.post0` qualifier to version attribute
  aiida/__init__.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 8fa2d4e1744715a27d0b34285094861b62196ad8 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Made singlefile initializable empty
  aiida/orm/nodes/data/singlefile.py
Due: imports, pylint

incorporate sugestions
  aiida/orm/nodes/data/structure.py
Due: imports, pylint

reducing diff
  aiida/orm/nodes/data/structure.py
Due: imports, pylint

further fixes to tests
  tests/test_dataclasses.py
Due: pylint

fix tests
  aiida/orm/nodes/data/structure.py
Due: imports, pylint

fix cmd
  aiida/cmdline/commands/cmd_data/cmd_structure.py
Due: imports, pylint, verdi-autodocs

fix validation
  aiida/cmdline/commands/cmd_data/cmd_structure.py
  tests/orm/test_querybuilder.py
  tests/restapi/conftest.py
  tests/test_dataclasses.py
  tests/tools/archive/orm/test_groups.py
  tests/tools/archive/orm/test_users.py
  tests/tools/archive/test_simple.py
Due: imports, pylint, verdi-autodocs

`JobTemplate`: change `CodeInfo` to `JobTemplateCodeInfo` in `codes_info` (#5350)
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/schedulers/datastructures.py
  aiida/schedulers/scheduler.py
  tests/schedulers/test_direct.py
  tests/schedulers/test_lsf.py
  tests/schedulers/test_pbspro.py
  tests/schedulers/test_slurm.py
  tests/schedulers/test_torque.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for ad94a0a0e17d19be487c5a99e4059dc6b0528bd7 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

`CalcJob`: always call `Scheduler.parse_output`
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/schedulers/scheduler.py
Due: imports, mypy, pylint

`SlurmScheduler`: use `stderr` in `parse_stdout` for OOW and OOM
  aiida/schedulers/plugins/slurm.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 2982e404bcceb1e979f4097541544fa7584c1ebe [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for bab1ad6cfc8e4ff041bce268f9270c613663cb35 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Print warning when incompatible RabbitMQ version is used (#5315)
  aiida/cmdline/commands/cmd_status.py
  aiida/manage/configuration/__init__.py
  environment.yml
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  setup.json
  tests/conftest.py
Due: imports, pylint, dependencies, verdi-autodocs

`Config`: add the `warnings.rabbitmq_version` option (#5415)
  aiida/cmdline/commands/cmd_status.py
  aiida/manage/configuration/__init__.py
  aiida/manage/configuration/schema/config-v5.schema.json
  aiida/manage/manager.py
  tests/cmdline/commands/test_run.py
  tests/manage/configuration/test_options.py
Due: imports, mypy, pylint, verdi-autodocs

Release `v1.6.8`
  CHANGELOG.md
  aiida/__init__.py
  setup.json
Due: imports, pylint

Docs: add section on RabbitMQ compatibility
  docs/source/intro/get_started.rst
  docs/source/intro/install_system.rst
  docs/source/intro/troubleshooting.rst
Due: none

Docs: add section on RabbitMQ compatibility (#5469)
  docs/source/intro/get_started.rst
  docs/source/intro/install_system.rst
  docs/source/intro/troubleshooting.rst
Due: none

🔧MAINTAIN: Add `Node.ctx`
  aiida/orm/nodes/node.py
Due: imports, mypy, pylint

🔧 MAINTAIN: Add `warn_deprecation` function
  .github/workflows/ci-code.yml
  .github/workflows/test-install.yml
  aiida/common/warnings.py
  pyproject.toml
Due: imports, pylint, dm-generate-all, dependencies

Use `aiida.common.warnings.warn_deprecation` for existing deprecations
  aiida/common/json.py
  aiida/manage/configuration/__init__.py
  aiida/manage/manager.py
  aiida/manage/tests/main.py
  aiida/manage/tests/pytest_fixtures.py
  aiida/orm/querybuilder.py
  aiida/orm/utils/managers.py
  aiida/plugins/entry_point.py
Due: imports, mypy, pylint

🔧 MAINTAIN: Add `Node.base`
  aiida/orm/nodes/node.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 8293e453789d0bad9cf631ecfc08542dd9ad892d [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Process: make log level of process configuable
  aiida/engine/processes/process.py
Due: imports, mypy, pylint

♻️ REFACTOR: Move methods to `Node.comments`
  aiida/cmdline/commands/cmd_node.py
  aiida/orm/nodes/node.py
  aiida/restapi/translator/nodes/node.py
  docs/source/howto/data.rst
  tests/cmdline/commands/test_node.py
  tests/orm/nodes/test_node.py
  tests/orm/test_comments.py
  tests/restapi/test_routes.py
  tests/test_nodes.py
Due: imports, mypy, pylint, verdi-autodocs

♻️ REFACTOR: `EntityExtrasMixin` -> `EntityExtras`
  .github/system_tests/test_daemon.py
  .pre-commit-config.yaml
  aiida/cmdline/commands/cmd_node.py
  aiida/engine/processes/workchains/restart.py
  aiida/engine/processes/workchains/utils.py
  aiida/orm/__init__.py
  aiida/orm/entities.py
  aiida/orm/extras.py
  aiida/orm/groups.py
  aiida/orm/nodes/data/code.py
  aiida/orm/nodes/data/remote/base.py
  aiida/orm/nodes/node.py
  aiida/restapi/translator/nodes/node.py
  docs/source/howto/data.rst
  docs/source/howto/run_codes.rst
  tests/cmdline/commands/test_calcjob.py
  tests/cmdline/commands/test_node.py
  tests/common/test_hashing.py
  tests/engine/processes/workchains/test_restart.py
  tests/engine/test_process.py
  tests/engine/test_process_function.py
  tests/orm/implementation/test_nodes.py
  tests/orm/nodes/test_node.py
  tests/orm/test_groups.py
  tests/restapi/test_routes.py
  tests/test_nodes.py
  tests/tools/archive/orm/test_extras.py
  tests/tools/archive/orm/test_groups.py
Due: imports, mypy, pylint, verdi-autodocs

Path conditions:
  imports: any of: aiida/.*py and \.py$
  mypy: any of: (?x)^(
    aiida/common/progress_reporter.py|
    aiida/engine/.*py|
    aiida/manage/manager.py|
    aiida/manage/database/delete/nodes.py|
    aiida/orm/querybuilder.py|
    aiida/orm/implementation/entities.py|
    aiida/orm/implementation/storage_backend.py|
    aiida/orm/implementation/authinfos.py|
    aiida/orm/implementation/comments.py|
    aiida/orm/implementation/computers.py|
    aiida/orm/implementation/groups.py|
    aiida/orm/implementation/logs.py|
    aiida/orm/implementation/nodes.py|
    aiida/orm/implementation/users.py|
    aiida/orm/implementation/querybuilder.py|
    aiida/orm/entities.py|
    aiida/orm/authinfos.py|
    aiida/orm/comments.py|
    aiida/orm/computers.py|
    aiida/orm/groups.py|
    aiida/orm/logs.py|
    aiida/orm/users.py|
    aiida/orm/nodes/data/enum.py|
    aiida/orm/nodes/data/jsonable.py|
    aiida/orm/nodes/node.py|
    aiida/orm/nodes/process/.*py|
    aiida/orm/utils/links.py|
    aiida/plugins/entry_point.py|
    aiida/plugins/factories.py|
    aiida/repository/.*py|
    aiida/storage/control.py|
    aiida/storage/psql_dos/backend.py|
    aiida/storage/psql_dos/orm/querybuilder/.*py|
    aiida/storage/psql_dos/utils.py|
    aiida/storage/sqlite_zip/.*.py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/archive/.*py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
