Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Update src/aiida/manage/configuration/settings.py
  src/aiida/manage/configuration/settings.py
Due: imports

fj
  src/aiida/manage/configuration/settings.py
Due: imports

global object pattern applied
  src/aiida/cmdline/commands/cmd_presto.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/commands/cmd_status.py
  src/aiida/cmdline/params/options/commands/setup.py
  src/aiida/manage/configuration/__init__.py
  src/aiida/manage/configuration/profile.py
  src/aiida/manage/configuration/settings.py
  src/aiida/manage/tests/pytest_fixtures.py
  src/aiida/storage/sqlite_dos/backend.py
  tests/manage/configuration/test_config.py
  tests/manage/test_caching_config.py
Due: imports, verdi-autodocs

Bump pytest to v8
  pyproject.toml
Due: dm-generate-all, dependencies

Bump pytest-asyncio to 0.24
  pyproject.toml
Due: dm-generate-all, dependencies

async transport, the first implementation
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.9.txt
  src/aiida/engine/daemon/execmanager.py
  src/aiida/engine/processes/calcjobs/calcjob.py
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/orm/computers.py
  src/aiida/schedulers/plugins/direct.py
  src/aiida/transports/__init__.py
  src/aiida/transports/plugins/local.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/transport.py
  src/aiida/transports/util.py
  tests/engine/daemon/test_execmanager.py
  tests/engine/processes/test_caching.py
  tests/engine/test_process.py
  tests/engine/test_runners.py
  tests/engine/test_work_chain.py
  tests/transports/test_all_plugins.py
  tests/utils/processes.py
  utils/dependency_management.py
Due: imports, dm-generate-all, dependencies

asynchrounous counterparts are added to transport.py
  src/aiida/engine/daemon/execmanager.py
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/transport.py
Due: imports

implement has_key filter for SQLite backend
  src/aiida/storage/sqlite_zip/orm.py
  tests/cmdline/commands/test_calcjob.py
  tests/orm/test_querybuilder.py
  tests/storage/sqlite/test_orm.py
  tests/test_nodes.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 779cc29d8a47eddabdf9b274d7fa711220ee1aa9 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

temp
  src/aiida/storage/sqlite_zip/orm.py
  tests/storage/sqlite/test_orm.py
Due: imports

add tests for nested arrays
  tests/orm/test_querybuilder.py
Due: none

Giovanni's review applied
  src/aiida/transports/plugins/local.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/transport.py
  src/aiida/transports/util.py
Due: imports

update
  tests/storage/sqlite/test_orm.py
Due: none

custom function
  src/aiida/storage/sqlite_zip/orm.py
  src/aiida/storage/sqlite_zip/utils.py
  tests/storage/sqlite/test_orm.py
Due: imports

cleanup
  src/aiida/storage/sqlite_zip/orm.py
Due: imports

Update src/aiida/manage/configuration/__init__.py
  src/aiida/manage/configuration/__init__.py
Due: imports

hehe, this looks like real Singleton
  src/aiida/manage/configuration/__init__.py
  src/aiida/manage/configuration/profile.py
  src/aiida/manage/configuration/settings.py
  src/aiida/storage/sqlite_dos/backend.py
  src/aiida/tools/pytest_fixtures/configuration.py
  tests/conftest.py
  tests/manage/configuration/test_config.py
Due: imports

Using xdist to run pytest in parallel
  .github/workflows/ci-code.yml
  pyproject.toml
  tests/orm/test_fields.py
Due: dm-generate-all, dependencies

Explicitly load and set configuration folder in the main module level
  src/aiida/__init__.py
  src/aiida/manage/configuration/settings.py
  tests/manage/test_caching_config.py
Due: imports

fix compilation error on py39
  src/aiida/storage/sqlite_zip/utils.py
Due: imports

Add to requirement deps list
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.12.txt
  requirements/requirements-py-3.9.txt
Due: none

The regular tests suits as well
  .github/workflows/ci-code.yml
Due: none

add benchmark
  tests/benchmark/test_json_contains.py
Due: none

ignore benchmark results
  .gitignore
Due: none

remove requires_psql marks for sqlite tests
  tests/storage/sqlite/test_orm.py
Due: none

Fix order change entry points test for xdist
  tests/orm/test_fields.py
Due: none

adopted tests
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.12.txt
  requirements/requirements-py-3.9.txt
  src/aiida/calculations/monitors/base.py
  src/aiida/engine/daemon/execmanager.py
  src/aiida/engine/processes/calcjobs/monitors.py
  src/aiida/engine/transports.py
  src/aiida/orm/authinfos.py
  src/aiida/orm/computers.py
  src/aiida/orm/nodes/data/remote/base.py
  src/aiida/orm/nodes/process/calculation/calcjob.py
  src/aiida/orm/utils/remote.py
  src/aiida/plugins/factories.py
  src/aiida/schedulers/scheduler.py
  src/aiida/tools/pytest_fixtures/__init__.py
  src/aiida/tools/pytest_fixtures/orm.py
  src/aiida/transports/__init__.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/transport.py
  tests/engine/daemon/test_execmanager.py
  tests/manage/tests/test_pytest_fixtures.py
  tests/orm/test_computers.py
  tests/plugins/test_factories.py
  tests/test_calculation_node.py
  tests/transports/test_all_plugins.py
  utils/dependency_management.py
Due: imports, dm-generate-all, dependencies

docstring updated
  environment.yml
  src/aiida/transports/plugins/local.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/transport.py
Due: imports, dependencies

added computer test for ssh_async
  src/aiida/transports/plugins/local.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/plugins/ssh_async.py
  tests/cmdline/commands/test_computer.py
Due: imports

Clean storage before test_base_data_nodes
  tests/tools/archive/test_simple.py
Due: none

Rename the fixture for static node/data entry points
  tests/orm/test_fields.py
Due: none

Make restapi ports dynamic and non-conflict
  tests/restapi/conftest.py
  tests/restapi/test_identifiers.py
  tests/restapi/test_statistics.py
  tests/restapi/test_threaded_restapi.py
Due: none

test_all_plugins conflict when run in parallel
  tests/transports/test_all_plugins.py
Due: none

Using tmp_path and mock the remote path using tmp_path_factory
  tests/transports/test_all_plugins.py
Due: none

test_dir_copy
  tests/transports/test_all_plugins.py
Due: none

more checkpoint
  tests/transports/test_all_plugins.py
Due: none

Seperate put/get and putfile/getfile
  tests/transports/test_all_plugins.py
Due: none

Fix the exception type and docstring of local plugin
  src/aiida/transports/plugins/local.py
Due: imports

more checkpoints
  tests/transports/test_all_plugins.py
Due: none

test_exec_pwd
  tests/transports/test_all_plugins.py
Due: none

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
