Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

Slightly improve QbAttributesField logic
  src/aiida/orm/qb_fields.py
Due: imports

Temporarily disable models/fields testing
  tests/orm/models/test_models.py
  tests/orm/test_fields.py
Due: none

Rename `PrimitiveType` back to `BaseType`
  src/aiida/engine/processes/builder.py
  src/aiida/orm/__init__.py
  src/aiida/orm/implementation/utils.py
  src/aiida/orm/nodes/__init__.py
  src/aiida/orm/nodes/data/__init__.py
  src/aiida/orm/nodes/data/base.py
  src/aiida/orm/nodes/data/bool.py
  src/aiida/orm/nodes/data/numeric.py
  src/aiida/orm/nodes/data/str.py
Due: imports

Fix computer construction calls
  docs/source/howto/include/scripts/performance_benchmark_base.py
  tests/calculations/test_transfer.py
  tests/cmdline/commands/test_computer.py
  tests/cmdline/commands/test_run.py
  tests/orm/test_computers.py
  tests/orm/utils/test_remote.py
  tests/tools/archive/conftest.py
  tests/tools/archive/orm/test_authinfo.py
Due: none

🧪 Regenerate PostgreSQL main schema references (#7666)
  tests/storage/psql_dos/migrations/test_all_schema/test_main_0001.yml
  tests/storage/psql_dos/migrations/test_all_schema/test_main_0002.yml
  tests/storage/psql_dos/migrations/test_all_schema/test_main_0003.yml
Due: none

🧪 Move SQLite db_dbsetting test to main_0003 (#7666)
  tests/storage/sqlite_dos/migrations/main_branch/test_main_0003.py
  tests/storage/sqlite_dos/migrations/test_all_schema.py
Due: none

📝 Generalize migratation-related examples (#7666)
  docs/source/howto/share_data.rst
  docs/source/reference/rest_api.rst
Due: none

🧪 Extract SQLAlchemy migration schema reflection (#7666)
  tests/storage/migrations/utils.py
  tests/storage/sqlite/utils.py
Due: none

🧪 Run profile schema tests via backend fixtures (#7666)
  tests/storage/migrations/conftest.py
  tests/storage/migrations/test_schema_regressions.py
  tests/storage/psql_dos/migrations/conftest.py
  tests/storage/psql_dos/migrations/fixtures.py
  tests/storage/psql_dos/migrations/test_schema_regressions.py
  tests/storage/sqlite_dos/migrations/conftest.py
  tests/storage/sqlite_dos/migrations/fixtures.py
  tests/storage/sqlite_dos/migrations/test_all_schema.py
  tests/storage/sqlite_zip/migrations/test_all_schema.py
Due: none

🧪 Move profile migration schema references (#7666)
  tests/storage/migrations/reference_schemas/psql_dos_main_0001.yml
  tests/storage/migrations/reference_schemas/psql_dos_main_0002.yml
  tests/storage/migrations/reference_schemas/psql_dos_main_0003.yml
  tests/storage/migrations/reference_schemas/sqlite_dos_main_0001.yml
  tests/storage/migrations/reference_schemas/sqlite_dos_main_0002.yml
  tests/storage/migrations/reference_schemas/sqlite_dos_main_0003.yml
  tests/storage/migrations/reference_schemas/sqlite_zip_main_0000.yml
  tests/storage/migrations/reference_schemas/sqlite_zip_main_0000a.yml
  tests/storage/migrations/reference_schemas/sqlite_zip_main_0000b.yml
  tests/storage/migrations/reference_schemas/sqlite_zip_main_0001.yml
  tests/storage/migrations/reference_schemas/sqlite_zip_main_0002.yml
  tests/storage/migrations/reference_schemas/sqlite_zip_main_0003.yml
  tests/storage/sqlite_zip/migrations/test_all_schema/test_main_0000a.yml
  tests/storage/sqlite_zip/migrations/test_all_schema/test_main_0000b.yml
  tests/storage/sqlite_zip/migrations/test_all_schema/test_main_0001.yml
  tests/storage/sqlite_zip/migrations/test_all_schema/test_main_0002.yml
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 04de716c1127c3eafc88a5a23afb7ad3ce5b7683 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Improve ORM entity initialization procedure
  docs/source/topics/data_types.rst
  src/aiida/orm/__init__.py
  src/aiida/orm/authinfos.py
  src/aiida/orm/comments.py
  src/aiida/orm/computers.py
  src/aiida/orm/convert.py
  src/aiida/orm/entities.py
  src/aiida/orm/groups.py
  src/aiida/orm/logs.py
  src/aiida/orm/nodes/data/array/bands.py
  src/aiida/orm/nodes/data/array/kpoints.py
  src/aiida/orm/nodes/data/cif.py
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/data/data.py
  src/aiida/orm/nodes/data/jsonable.py
  src/aiida/orm/nodes/data/remote/base.py
  src/aiida/orm/nodes/data/structure.py
  src/aiida/orm/nodes/data/upf.py
  src/aiida/orm/nodes/node.py
  src/aiida/orm/users.py
  src/aiida/orm/utils/__init__.py
  src/aiida/orm/utils/node.py
  src/aiida/restapi/translator/nodes/data/kpoints.py
  src/aiida/tools/data/__init__.py
  src/aiida/tools/data/array/kpoints/main.py
  src/aiida/tools/data/array/kpoints/seekpath.py
  tests/cmdline/commands/test_data.py
  tests/orm/nodes/data/test_data.py
  tests/orm/nodes/data/test_trajectory.py
  tests/test_dataclasses.py
Due: imports

⬆️ Require spglib 2.x for atomic tools (#7641)
  pyproject.toml
  uv.lock
Due: generate-conda-environment, validate-conda-environment

⬆️ Upgrade PyCifRW to 5.0
  pyproject.toml
  uv.lock
Due: generate-conda-environment, validate-conda-environment

⬆️ Upgrade PyCifRW to 5.0 (#7682)
  pyproject.toml
  uv.lock
Due: generate-conda-environment, validate-conda-environment

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 7eee77e8e71d1f65bf6156224441af7a86e528d6 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

🧪 Materialize migration parametrization values for pytest (#7641)
  tests/manage/configuration/migrations/test_migrations.py
  tests/storage/psql_dos/migrations/test_schema_regressions.py
Due: none

👌 Keep dumping plugin lookup cache isolated (#7641)
  src/aiida/tools/pytest_fixtures/entry_points.py
  tests/test_conftest.py
Due: imports

👌 Replace deprecated ORM JSON encoders (#7641)
  src/aiida/orm/pydantic.py
  tests/orm/models/test_models.py
Due: imports

⬆️ Update setup-python action to v7 (#7641)
  .github/actions/install-aiida-core/action.yml
Due: none

🧪 Isolate node deletion tests from shared storage state (#7641)
  tests/test_nodes.py
Due: none

🧪 Isolate storage info timestamp test (#7641)
  tests/storage/psql_dos/test_backend.py
Due: none

🧪 Close shell parser test result file (#7641)
  tests/tools/test_shell.py
Due: none

🧪 Avoid deprecated broker options in tests (#7641)
  tests/cmdline/commands/test_profile.py
Due: none

🧪 Keep trajectory show tests headless (#7641)
  tests/cmdline/commands/test_data.py
Due: none

🧪 Scope model compatibility warnings (#7641)
  tests/orm/models/test_models.py
Due: none

🧪 Restore transport test directory access (#7641)
  tests/transports/test_all_plugins.py
Due: none

👌 Normalize legacy PostgreSQL DSNs before calling pgsu (#7641)
  src/aiida/manage/external/postgres.py
  tests/manage/external/test_postgres.py
Due: imports

Remove the `core.ssh` transport plugin
  .github/config/slurm-ssh-config.yaml
  .github/config/slurm-ssh.yaml
  .github/workflows/setup.sh
  .pre-commit-config.yaml
  docs/source/howto/run_codes.rst
  docs/source/howto/ssh.rst
  docs/source/nitpick-exceptions
  docs/source/topics/plugins.rst
  docs/source/topics/transport.rst
  environment.yml
  pyproject.toml
  src/aiida/cmdline/commands/cmd_devel.py
  src/aiida/cmdline/params/options/commands/computer.py
  src/aiida/common/log.py
  src/aiida/manage/configuration/config.py
  src/aiida/manage/configuration/migrations/migrations.py
  src/aiida/tools/pytest_fixtures/__init__.py
  src/aiida/tools/pytest_fixtures/orm.py
  src/aiida/transports/__init__.py
  src/aiida/transports/cli.py
  src/aiida/transports/plugins/__init__.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/util.py
  tests/cmdline/commands/test_computer.py
  tests/cmdline/commands/test_computer/test_computer_export_setup___no_sort_.yaml
  tests/cmdline/commands/test_computer/test_computer_export_setup___sort_.yaml
  tests/cmdline/params/types/test_plugin.py
  tests/engine/daemon/test_execmanager.py
  tests/engine/test_memory_leaks.py
  tests/manage/configuration/migrations/test_migrations.py
  tests/manage/configuration/test_options.py
  tests/orm/data/code/test_installed.py
  tests/orm/nodes/data/test_remote.py
  tests/orm/test_computers.py
  tests/restapi/test_routes.py
  tests/tools/pytest_fixtures/test_orm.py
  tests/transports/test_all_plugins.py
  tests/transports/test_ssh.py
  uv.lock
Due: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

`core.ssh_async`: honor the config directives `asyncssh` ignores
  src/aiida/transports/cli.py
  src/aiida/transports/plugins/async_backend.py
  src/aiida/transports/plugins/ssh_async.py
  tests/transports/test_asyncssh_plugin.py
Due: imports

Rename `core.ssh_async` to `core.ssh`
  .github/config/slurm-ssh.yaml
  .github/workflows/setup.sh
  docs/source/howto/faq.rst
  docs/source/howto/run_codes.rst
  docs/source/howto/ssh.rst
  docs/source/howto/tune_performance.rst
  docs/source/reference/rest_api.rst
  docs/source/topics/plugins.rst
  docs/source/topics/transport.rst
  pyproject.toml
  src/aiida/tools/pytest_fixtures/__init__.py
  src/aiida/tools/pytest_fixtures/orm.py
  src/aiida/transports/plugins/__init__.py
  src/aiida/transports/plugins/ssh.py
  tests/cmdline/commands/test_computer.py
  tests/cmdline/commands/test_computer/test_computer_export_setup___no_sort_.yaml
  tests/cmdline/commands/test_computer/test_computer_export_setup___sort_.yaml
  tests/cmdline/params/types/test_plugin.py
  tests/engine/daemon/test_execmanager.py
  tests/engine/test_memory_leaks.py
  tests/orm/data/code/test_installed.py
  tests/orm/nodes/data/test_remote.py
  tests/orm/test_computers.py
  tests/restapi/test_routes.py
  tests/storage/sqlite_dos/migrations/main_branch/test_main_0003.py
  tests/tools/pytest_fixtures/test_orm.py
  tests/transports/test_all_plugins.py
  tests/transports/test_asyncssh_plugin.py
Due: imports, generate-conda-environment, validate-conda-environment
