Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

imports:
  name: imports
  entry: python utils/autogenerate_all_imports.py
  language: python
  require_serial: true
  pass_filenames: false

generate-conda-environment:
  name: Update conda environment file
  entry: python ./utils/dependency_management.py generate-environment-yml
  language: system
  pass_filenames: false

validate-conda-environment:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Add `skip_missing` option to control stashing behavior for missing files
  src/aiida/common/exceptions.py
  src/aiida/engine/daemon/execmanager.py
  src/aiida/engine/processes/calcjobs/calcjob.py
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/orm/nodes/data/remote/stash/compress.py
  src/aiida/orm/nodes/data/remote/stash/folder.py
  tests/calculations/test_stash.py
  tests/engine/daemon/test_execmanager.py
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.compress.RemoteStashCompressedData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.folder.RemoteStashFolderData.yml
Due: imports

Add validation to reject stashing via StashCalculation from unsealed calculations
  docs/source/topics/calculations/usage.rst
  src/aiida/calculations/stash.py
  tests/calculations/test_stash.py
Due: imports

Add validation to reject stashing via StashCalculation from unsealed calculations (#7147)
  docs/source/topics/calculations/usage.rst
  src/aiida/calculations/stash.py
  tests/calculations/test_stash.py
Due: imports

Deprecate `core.ssh` transport plugin in favor of `core.ssh_async`
  src/aiida/cmdline/params/options/commands/computer.py
  src/aiida/transports/cli.py
Due: imports, verdi-autodocs

Improve path escaping in OpenSSH transport for special characters
  src/aiida/transports/plugins/async_backend.py
  src/aiida/transports/plugins/ssh_async.py
  tests/transports/test_all_plugins.py
  tests/transports/test_asyncssh_plugin.py
Due: imports

📚 DOCS: Extend `XyData` documentation (#6736)
  docs/source/topics/data_types.rst
  src/aiida/orm/nodes/data/array/xy.py
  tests/orm/nodes/data/test_xy.py
Due: imports

Ensure PsqlDosMigrator always closes database connections
  src/aiida/storage/psql_dos/migrator.py
Due: imports

Switch from token-based to OIDC trusted publishing
  .github/workflows/release.yml
Due: none

Deprecate `core.ssh` transport plugin in favor of `core.ssh_async` (#7175)
  src/aiida/cmdline/params/options/commands/computer.py
  src/aiida/transports/cli.py
Due: imports, verdi-autodocs

Transport: deprecate chown method
  src/aiida/transports/plugins/async_backend.py
  src/aiida/transports/plugins/local.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/transport.py
Due: imports

Add semaphore control to AsyncSshTransport::exec_command_wait_async to prevent SSH connection overwhelm.
  src/aiida/transports/plugins/ssh_async.py
  tests/transports/test_asyncssh_plugin.py
Due: imports

Fixes a critical race condition in TransportQueue.
  src/aiida/engine/transports.py
  src/aiida/schedulers/scheduler.py
  src/aiida/transports/plugins/ssh_async.py
  tests/engine/test_transport.py
Due: imports

remove the redundancy
  .github/workflows/test-install.yml
Due: none

Fix: Avoid mutating `_polling_jobs` inside (slurm) scheduler (#7155)
  src/aiida/engine/processes/calcjobs/manager.py
  src/aiida/schedulers/plugins/slurm.py
Due: imports

CI: change test-install schedule from nightly to weekly
  .github/workflows/test-install.yml
Due: none

Release v2.7.3
  CHANGELOG.md
  src/aiida/__init__.py
Due: imports

CI: change test-install schedule from nightly to weekly (#7179)
  .github/workflows/test-install.yml
Due: none

Fix profile rename for profiles without broker
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_profile.py
  tests/cmdline/commands/test_profile.py
Due: imports, verdi-autodocs

Update src/aiida/transports/transport.py
  src/aiida/transports/transport.py
Due: imports

Adding the `verdi computer goto` command
  docs/source/reference/command_line.rst
  docs/source/topics/transport_template.py
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/transports/plugins/local.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/transport.py
  tests/cmdline/commands/test_computer.py
Due: imports, verdi-autodocs

Fixing ResourceWarning with TextIOWrapper
  src/aiida/orm/nodes/repository.py
Due: imports

Adding the `verdi computer goto` command (#7124)
  docs/source/reference/command_line.rst
  docs/source/topics/transport_template.py
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/transports/plugins/local.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/transport.py
  tests/cmdline/commands/test_computer.py
Due: imports, verdi-autodocs

Support 2FA with improving authentication script handling in ssh_async transport
  docs/source/howto/ssh.rst
  src/aiida/transports/plugins/ssh_async.py
  tests/transports/test_asyncssh_plugin.py
Due: imports

Apply suggestions from code review
  src/aiida/orm/nodes/repository.py
Due: imports

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
