Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 8feef5189ab9a2ba4b358bb6937d5d7c3f555ad8 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

CLI: Add the command `verdi presto`
  docs/source/reference/command_line.rst
  src/aiida/brokers/rabbitmq/defaults.py
  src/aiida/cmdline/commands/__init__.py
  src/aiida/cmdline/commands/cmd_presto.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/commands/cmd_status.py
  src/aiida/manage/configuration/__init__.py
  src/aiida/storage/sqlite_dos/backend.py
  tests/cmdline/commands/test_presto.py
Due: imports, verdi-autodocs

CLI: Add the command `verdi presto` (#6351)
  docs/source/reference/command_line.rst
  src/aiida/brokers/rabbitmq/defaults.py
  src/aiida/cmdline/commands/__init__.py
  src/aiida/cmdline/commands/cmd_presto.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/commands/cmd_status.py
  src/aiida/manage/configuration/__init__.py
  src/aiida/storage/sqlite_dos/backend.py
  tests/cmdline/commands/test_presto.py
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 6b6e1520f2d3807e366dd672e7917f381ea7b524 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Storage: Move profile locking to the abstract base class
  src/aiida/orm/implementation/storage_backend.py
  src/aiida/storage/psql_dos/backend.py
Due: imports

Fixed image links, moved target pdf to `_static`
  docs/source/_static/cheatsheet_h.pdf
  docs/source/intro/_cheatsheet/cheatsheet.svg
  docs/source/intro/_cheatsheet/cheatsheet_h.pdf
  docs/source/intro/_cheatsheet/cheatsheet_v.pdf
  docs/source/intro/cheatsheet.rst
Due: none

Clean-up cheat sheet directory.
  docs/source/intro/_cheatsheet/cheatsheet.png
  docs/source/intro/_cheatsheet/cheatsheet.svg
  docs/source/intro/_cheatsheet/cheatsheet_h.pdf
  docs/source/intro/_cheatsheet/cheatsheet_v.pdf
  docs/source/intro/cheatsheet.rst
  docs/source/intro/index.rst
Due: none

Docs: Add the updated cheat sheet (#6332)
  docs/source/_static/cheatsheet_h.pdf
  docs/source/intro/_cheatsheet/cheatsheet.png
  docs/source/intro/_cheatsheet/cheatsheet.svg
  docs/source/intro/_cheatsheet/cheatsheet_v.pdf
  docs/source/intro/cheatsheet.rst
  docs/source/intro/index.rst
Due: none

`SqliteDosStorage`: Implement the backup functionality
  src/aiida/storage/sqlite_dos/backend.py
  src/aiida/tools/pytest_fixtures/configuration.py
  tests/storage/sqlite_dos/test_backend.py
Due: imports

Refactor _computer_test_no_unexpected_output function in cmd_computer.py to support transport pluging that don't support command execution.
  src/aiida/cmdline/commands/cmd_computer.py
Due: imports, verdi-autodocs

Add `aiida` as a `verdi` alias (for now?)
  pyproject.toml
Due: dm-generate-all, dependencies

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 18e447c77f48a18f361e458186cd87b2355aea75 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Improve import time of aiida.orm and aiida.storage
  src/aiida/brokers/rabbitmq/broker.py
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/data/folder.py
  src/aiida/orm/nodes/node.py
  src/aiida/orm/nodes/repository.py
  src/aiida/storage/psql_dos/backend.py
  src/aiida/storage/sqlite_dos/backend.py
  src/aiida/storage/sqlite_temp/backend.py
  src/aiida/storage/sqlite_zip/backend.py
  src/aiida/storage/sqlite_zip/migrations/legacy_to_main.py
  src/aiida/storage/sqlite_zip/utils.py
Due: imports

Improve import time of `aiida.orm` and `aiida.storage` (#6382)
  src/aiida/brokers/rabbitmq/broker.py
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/data/folder.py
  src/aiida/orm/nodes/node.py
  src/aiida/orm/nodes/repository.py
  src/aiida/storage/psql_dos/backend.py
  src/aiida/storage/sqlite_dos/backend.py
  src/aiida/storage/sqlite_temp/backend.py
  src/aiida/storage/sqlite_zip/backend.py
  src/aiida/storage/sqlite_zip/migrations/legacy_to_main.py
  src/aiida/storage/sqlite_zip/utils.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for fb9b6cc3b3df244549fdd78576c34f6d9dfd4568 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Removed SORT_OUTPUT and added test parametrization
  src/aiida/cmdline/params/options/main.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_code/test_code_export_False_.yml
  tests/cmdline/commands/test_code/test_code_export_True_.yml
Due: imports, verdi-autodocs

CLI: Optional sorting for `verdi code export`
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/cmdline/params/options/main.py
Due: imports, verdi-autodocs

Option to `unsorted` (off by default). Added test.
  src/aiida/cmdline/commands/cmd_code.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_code/test_code_export_unsorted.yml
Due: imports, verdi-autodocs

Updates from aiidalab stack
  .docker/docker-bake.hcl
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker-test.yml
  .github/workflows/docker.yml
  .github/workflows/extract-docker-image-names.sh
Due: none

Use `--sort/--no-sort` switch
  src/aiida/cmdline/commands/cmd_code.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_code/test_code_export_False_.yml
  tests/cmdline/commands/test_code/test_code_export_True_.yml
Due: imports, verdi-autodocs

CLI: Add `--sort/--no-sort` to `verdi code export` (#6345)
  src/aiida/cmdline/commands/cmd_code.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_code/test_code_export_False_.yml
  tests/cmdline/commands/test_code/test_code_export_True_.yml
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 80c60689063f1517c3de91d86eef80f7852667e3 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Apply suggestions from code review
  src/aiida/cmdline/commands/cmd_computer.py
Due: imports, verdi-autodocs

fixed E501 Line too long (121 > 120)
  src/aiida/cmdline/commands/cmd_computer.py
Due: imports, verdi-autodocs

CLI: `verdi computer test` make unexpected output check optional (#6384)
  src/aiida/cmdline/commands/cmd_computer.py
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 589a3b2c03d44cebd26e88243ca34fcdb0e23ff4 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Doc: Fixed recursive workchain in code snippets
  docs/source/topics/workflows/include/snippets/workchains/run_workchain_submit_append.py
  docs/source/topics/workflows/include/snippets/workchains/run_workchain_submit_complete.py
  docs/source/topics/workflows/include/snippets/workchains/run_workchain_submit_parallel.py
  docs/source/topics/workflows/include/snippets/workchains/run_workchain_submit_parallel_nested.py
Due: none

CI: Do not install aiida-core in editable mode
  .github/actions/install-aiida-core/action.yml
Due: none

Bump uv version
  .github/actions/install-aiida-core/action.yml
Due: none

Use uv installer in readthedocs build
  .readthedocs.yml
Due: none

Speed up uv install
  .readthedocs.yml
Due: none

Docs: Use uv installer in readthedocs build (#6395)
  .readthedocs.yml
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for be0db3cc49506294ae1845b6e746e40cd76f39a9 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Fix test-amd64
  .github/workflows/docker.yml
Due: none

One more fix
  .github/workflows/docker.yml
Due: none

Don't run ci-code on push
  .github/workflows/ci-code.yml
Due: none

workdir
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker-test.yml
Due: none

Fix test-install?
  .github/workflows/test-install.yml
Due: none
