Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

imports:
  name: imports
  entry: python utils/autogenerate_all_imports.py
  language: python
  require_serial: true
  pass_filenames: false

generate-conda-environment:
  name: Update conda environment file
  entry: python ./utils/dependency_management.py generate-environment-yml
  language: system
  pass_filenames: false

validate-conda-environment:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Rename ZmqBrokerController to ZmqBrokerManagementClient
  src/aiida/brokers/zmq/__init__.py
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/client.py
  tests/brokers/test_zmq.py
  tests/conftest.py
Due: imports

Fix RPC response thread-safety by polling instead of callbacks
  src/aiida/brokers/zmq/communicator.py
Due: imports

Add ZeroMQ-based message broker plugin
  src/aiida/brokers/zmq/__init__.py
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/communicator.py
  src/aiida/brokers/zmq/controller.py
  src/aiida/brokers/zmq/protocol.py
  src/aiida/brokers/zmq/queue.py
  src/aiida/brokers/zmq/server.py
  src/aiida/brokers/zmq/service.py
Due: imports

Add ZMQ broker entry point and verdi broker command
  docs/source/reference/command_line.rst
  pyproject.toml
  src/aiida/brokers/zmq/__init__.py
  src/aiida/brokers/zmq/defaults.py
  src/aiida/cmdline/commands/__init__.py
  src/aiida/cmdline/commands/cmd_broker.py
  src/aiida/manage/manager.py
Due: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

Rename service query methods to clarify they refer to ZmqBrokerService
  src/aiida/brokers/zmq/broker.py
  src/aiida/cmdline/commands/cmd_daemon.py
  src/aiida/cmdline/commands/cmd_status.py
  tests/brokers/test_zmq.py
  tests/conftest.py
Due: imports, verdi-autodocs

Merge ZmqBrokerManagementClient into ZmqBroker
  src/aiida/brokers/zmq/__init__.py
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/client.py
  src/aiida/cmdline/commands/cmd_daemon.py
  src/aiida/cmdline/commands/cmd_status.py
  tests/brokers/test_zmq.py
  tests/conftest.py
Due: imports, verdi-autodocs

Show ZMQ broker status in `verdi status`
  src/aiida/cmdline/commands/cmd_daemon.py
  src/aiida/cmdline/commands/cmd_status.py
  tests/cmdline/commands/test_status.py
Due: imports, verdi-autodocs

Add protocol design note documenting AMQP-over-ZMQ architecture
  src/aiida/brokers/zmq/protocol.py
Due: imports

Default verdi presto to ZMQ broker, add --use-rabbitmq flag
  src/aiida/cmdline/commands/cmd_presto.py
Due: imports, verdi-autodocs

Show broker directory in verdi daemon status
  src/aiida/cmdline/commands/cmd_daemon.py
Due: imports, verdi-autodocs

pre-commit run --all-files
  docs/source/reference/command_line.rst
  src/aiida/brokers/__init__.py
  src/aiida/brokers/zmq/__init__.py
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/communicator.py
  src/aiida/brokers/zmq/server.py
  src/aiida/engine/daemon/client.py
  tests/cmdline/commands/test_daemon.py
  tests/conftest.py
  tests/engine/test_zmq.py
Due: imports

Refactor ZmqCommunicator to use asyncio event loop instead of threading locks
  src/aiida/brokers/zmq/communicator.py
Due: imports

Slim down ZmqBrokerService for circus-managed lifecycle
  src/aiida/brokers/zmq/service.py
Due: imports

Clarify dock
  src/aiida/brokers/zmq/protocol.py
Due: imports

Use PID file sentinel instead of cmdline matching for broker validation
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/protocol.py
  src/aiida/brokers/zmq/service.py
  tests/brokers/test_zmq.py
  tests/conftest.py
Due: imports

Inherit from kiwipy.Communicator
  src/aiida/brokers/zmq/communicator.py
Due: imports

Replace recursive pop() with iterative loop in PersistentQueue
  src/aiida/brokers/zmq/queue.py
Due: imports

Clean up orphaned socket directory in _cleanup_stale_files
  src/aiida/brokers/zmq/client.py
Due: imports

Remove PUB/SUB sockets, send broadcasts over ROUTER/DEALER
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/communicator.py
  src/aiida/brokers/zmq/protocol.py
  src/aiida/brokers/zmq/server.py
  src/aiida/brokers/zmq/service.py
  tests/brokers/test_zmq.py
Due: imports

Fix daemon failing to pick up tasks due to dual broker conflict
  src/aiida/brokers/zmq/broker.py
  src/aiida/engine/daemon/client.py
Due: imports

Route broadcast subscriber mutations through _run_on_loop
  src/aiida/brokers/zmq/communicator.py
Due: imports

Run ZMQ broker as a circus watcher instead of standalone subprocess
  src/aiida/brokers/broker.py
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/client.py
  src/aiida/cmdline/commands/cmd_daemon.py
  src/aiida/cmdline/commands/cmd_status.py
  src/aiida/engine/daemon/client.py
  tests/brokers/test_zmq.py
  tests/cmdline/commands/test_daemon.py
  tests/conftest.py
Due: imports, verdi-autodocs

Use deque for PersistentQueue._pending for O(1) popleft
  src/aiida/brokers/zmq/queue.py
Due: imports

Remove HAS_PSUTIL guard from ZmqBrokerManagementClient
  src/aiida/brokers/zmq/client.py
Due: imports

Improve _validate_pid fallback to check /proc cmdline on Linux
  src/aiida/brokers/zmq/client.py
Due: imports

Fix missing @ on pytest.mark.requires_broker in test_process_function.py
  tests/engine/test_process_function.py
Due: none

Clean up minor issues in ZMQ broker
  src/aiida/brokers/zmq/protocol.py
  src/aiida/brokers/zmq/server.py
  src/aiida/brokers/zmq/service.py
  src/aiida/cmdline/commands/cmd_daemon.py
  src/aiida/cmdline/commands/cmd_status.py
Due: imports, verdi-autodocs

Switch ZMQ broker encoding from two-layer YAML+JSON to single-layer JSON
  src/aiida/brokers/__init__.py
  src/aiida/brokers/utils.py
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/communicator.py
  src/aiida/brokers/zmq/protocol.py
  src/aiida/brokers/zmq/queue.py
  src/aiida/brokers/zmq/server.py
  src/aiida/brokers/zmq/service.py
  tests/brokers/test_zmq.py
  tests/brokers/test_zmq_payload_optimization.py
Due: imports

Fix mypy errors in ZMQ broker and communicator
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/communicator.py
  tests/brokers/test_zmq.py
Due: imports

👌 Add type annotations to ZMQ broker modules
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/communicator.py
  src/aiida/brokers/zmq/protocol.py
  src/aiida/brokers/zmq/server.py
  src/aiida/brokers/zmq/service.py
Due: imports

address review of module0
  docs/source/tutorials/include/reaction-diffusion-fields-2.png
  docs/source/tutorials/include/reaction-diffusion-fields.png
  docs/source/tutorials/include/reaction-diffusion.py
  docs/source/tutorials/include/tasks.py
  docs/source/tutorials/module0.md
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3.md
Due: none

update module 0 after meeting
  docs/source/tutorials/TRACKING.md
  docs/source/tutorials/include/constants.py
  docs/source/tutorials/include/input_2.yaml
  docs/source/tutorials/include/reaction-diffusion-fields-2.png
  docs/source/tutorials/include/reaction-diffusion-fields.png
  docs/source/tutorials/include/reaction-diffusion.py
  docs/source/tutorials/index.md
  docs/source/tutorials/module0.md
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3.md
Due: none

Remove support of py3.9
  .github/workflows/ci-code.yml
  .github/workflows/docs-build.yml
  .github/workflows/release.yml
  .github/workflows/test-install.yml
  environment.yml
  pyproject.toml
  src/aiida/orm/nodes/data/array/bands.py
  utils/dependency_management.py
  uv.lock
Due: imports, generate-conda-environment, validate-conda-environment

♻️ Remove `get-annotations` backport (#7245)
  environment.yml
  pyproject.toml
  src/aiida/engine/processes/functions.py
  uv.lock
Due: imports, generate-conda-environment, validate-conda-environment

♻️ Use stdlib `importlib.metadata` (#7245)
  environment.yml
  pyproject.toml
  src/aiida/cmdline/params/types/identifier.py
  src/aiida/cmdline/params/types/plugin.py
  src/aiida/manage/tests/pytest_fixtures.py
  src/aiida/orm/groups.py
  src/aiida/orm/nodes/node.py
  src/aiida/plugins/entry_point.py
  src/aiida/plugins/factories.py
  src/aiida/tools/pytest_fixtures/entry_points.py
  tests/orm/test_fields.py
  tests/plugins/test_entry_point.py
  tests/test_conftest.py
  uv.lock
Due: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

⬆️ Bump asyncssh to ~=2.22.0 (#7245)
  environment.yml
  pyproject.toml
  uv.lock
Due: generate-conda-environment, validate-conda-environment

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
