Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, dm-generate-all, pyproject, dependencies, verdi-autodocs, version-number

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.30.0
    hooks:
    -   id: yapf
        name: yapf
        types: [python]
        exclude: &exclude_files >
            (?x)^(
                docs/.*|
            )$
        args: ['-i']

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.780
    hooks:
    -   id: mypy
        pass_filenames: true
        files: >-
            (?x)^(
                aiida/engine/processes/calcjobs/calcjob.py|
                aiida/tools/groups/paths.py
            )$

-   repo: local

    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        types: [python]
        language: system
        exclude: *exclude_files

    -   id: dm-generate-all
        name: Update all requirements files
        entry: python ./utils/dependency_management.py generate-all
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.py|
                setup.json|
                utils/dependency_management.py
            )$

    -   id: pyproject
        name: Validate pyproject.toml
        entry: python ./utils/dependency_management.py validate-pyproject-toml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                pyproject.toml
            )$

    -   id: dependencies
        name: Validate environment.yml
        entry: python ./utils/dependency_management.py validate-environment-yml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                environment.yml|
            )$

    -   id: verdi-autodocs
        name: Automatically generating verdi docs
        entry: python ./utils/validate_consistency.py verdi-autodocs
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                aiida/cmdline/commands/.*|
                aiida/cmdline/params/.*|
                aiida/cmdline/params/types/.*|
                utils/validate_consistency.py|
            )$

    -   id: version-number
        name: Check version numbers
        entry: python ./utils/validate_consistency.py version
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                utils/validate_consistency.py|
                aiida/__init__.py
            )$

`CalcJob`: support nested directories in target of `remote_copy/symlink_list` (#4416)
  aiida/engine/daemon/execmanager.py
  tests/engine/daemon/test_execmanager.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 16bc30548f7f1c686d200935174533535e850fd5 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 16bc30548f7f1c686d200935174533535e850fd5 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

docs: link to packaging plugins howto
  docs/source/howto/faq.rst
  docs/source/howto/plugin_codes.rst
Due: none

Docs: link to packaging plugins howto (#4439)
  docs/source/howto/faq.rst
  docs/source/howto/plugin_codes.rst
Due: none

Docs: Add redirects from old documenation
  docs/source/conf.py
  docs/source/redirects.txt
  requirements/requirements-py-3.6.txt
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

Add docs live build to tox configuration
  pyproject.toml
Due: pyproject

Move over old import/export documentation
  docs/source/howto/data.rst
Due: none

fix pre-commit
  pyproject.toml
Due: pyproject

Update pyproject.toml
  pyproject.toml
Due: pyproject

Use local variable instead of global variable
  aiida/cmdline/commands/cmd_import.py
Due: pylint, verdi-autodocs

tox: add env for updating the requirements file(s)
  pyproject.toml
Due: pyproject

Docs: Add docs live build to tox configuration (#4460)
  pyproject.toml
Due: pyproject

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 0fb6f72333b0e553590326fc348acbee3ef0763b [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 0fb6f72333b0e553590326fc348acbee3ef0763b [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Add pre-commit validation of requirements
  .pre-commit-config.yaml
  pyproject.toml
  utils/dependency_management.py
Due: pylint, dm-generate-all, pyproject, dependencies

Docs: ⬆️ Updata sphinx version + extensions
  docs/source/conf.py
  pyproject.toml
  requirements/requirements-py-3.6.txt
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  setup.json
  tests/sphinxext/Makefile
  tests/sphinxext/conftest.py
  tests/sphinxext/reference_results/workchain.xml
  tests/sphinxext/sources/workchain/_static/placeholder
  tests/sphinxext/sources/workchain/conf.py
  tests/sphinxext/sources/workchain/index.rst
  tests/sphinxext/sources/workchain_broken/_static/placeholder
  tests/sphinxext/sources/workchain_broken/conf.py
  tests/sphinxext/sources/workchain_broken/index.rst
  tests/sphinxext/test_workchain.py
  tests/sphinxext/workchains/broken_demo_workchain.py
  tests/sphinxext/workchains/demo_workchain.py
Due: pylint, dm-generate-all, pyproject, dependencies, version-number

update
  tests/conftest.py
  tests/sphinxext/conftest.py
  tests/sphinxext/test_workchain.py
Due: pylint

Docs: Add redirects from old documenation (#4457)
  docs/source/conf.py
  docs/source/redirects.txt
  requirements/requirements-py-3.6.txt
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

Docs: add "How to install plugins" section
  docs/source/get_started/index.rst
  docs/source/howto/index.rst
  docs/source/howto/plugin_codes.rst
  docs/source/howto/plugins_develop.rst
  docs/source/howto/plugins_install.rst
  docs/source/howto/run_codes.rst
  docs/source/internals/plugin_system.rst
  docs/source/intro/tutorial.rst
  docs/source/redirects.txt
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 4791046a58a1dfd0948f02cea6cf4b13eb1be4a5 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 4791046a58a1dfd0948f02cea6cf4b13eb1be4a5 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Fix tests
  aiida/orm/nodes/data/list.py
  aiida/tools/groups/paths.py
  docs/source/conf.py
  docs/source/nitpick-exceptions
  tests/sphinxext/conftest.py
  tests/sphinxext/test_workchain.py
Due: pylint

Update setup.json
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

Docs: add "How to install plugins" section (#4468)
  docs/source/get_started/index.rst
  docs/source/howto/index.rst
  docs/source/howto/plugin_codes.rst
  docs/source/howto/plugins_develop.rst
  docs/source/howto/plugins_install.rst
  docs/source/howto/run_codes.rst
  docs/source/internals/plugin_system.rst
  docs/source/intro/tutorial.rst
  docs/source/redirects.txt
Due: none

Transport plugins:
  docs/source/topics/index.rst
  docs/source/topics/transport.rst
  docs/source/topics/transport_template.py
Due: none

Add redirects
  docs/source/redirects.txt
Due: none

Docs: add the "Transport plugins" topic section (#4465)
  docs/source/redirects.txt
  docs/source/topics/index.rst
  docs/source/topics/transport.rst
  docs/source/topics/transport_template.py
Due: none

Fix autodoc bug
  aiida/sphinxext/calcjob.py
  aiida/sphinxext/process.py
  aiida/sphinxext/workchain.py
Due: pylint

fix test
  tests/sphinxext/reference_results/workchain.xml
Due: none

add test
  tests/restapi/test_routes.py
Due: pylint

roll-back autodoc
  aiida/sphinxext/calcjob.py
  aiida/sphinxext/process.py
  aiida/sphinxext/workchain.py
  docs/source/nitpick-exceptions
  tests/sphinxext/reference_results/workchain.xml
Due: pylint

fix List.pop
  aiida/orm/nodes/data/list.py
Due: pylint

Docs: move the "Daemon as a service" section
  docs/source/howto/installation.rst
  docs/source/working_with_aiida/daemon_service.rst
Due: none

Remove all section + add extra info
  docs/source/import_export/main.rst
  docs/source/internals/data_storage.rst
Due: none

Change references to export => archive (+includes)
  docs/source/internals/data_storage.rst
  docs/source/internals/includes/data.json
  docs/source/internals/includes/metadata.json
Due: none

Apply corrections + redirections.
  docs/source/internals/data_storage.rst
  docs/source/redirects.txt
Due: none

Add info on export format to internals section
  docs/source/conf.py
  docs/source/internals/data_storage.rst
  docs/source/internals/index.rst
Due: none

Docs: ⬆️ Update sphinx + extensions versions (#4470)
  aiida/orm/nodes/data/list.py
  aiida/sphinxext/calcjob.py
  aiida/sphinxext/process.py
  aiida/sphinxext/workchain.py
  aiida/tools/groups/paths.py
  docs/source/conf.py
  docs/source/nitpick-exceptions
  pyproject.toml
  requirements/requirements-py-3.6.txt
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  setup.json
  tests/conftest.py
  tests/sphinxext/Makefile
  tests/sphinxext/conftest.py
  tests/sphinxext/reference_results/workchain.xml
  tests/sphinxext/sources/workchain/_static/placeholder
  tests/sphinxext/sources/workchain/conf.py
  tests/sphinxext/sources/workchain/index.rst
  tests/sphinxext/sources/workchain_broken/_static/placeholder
  tests/sphinxext/sources/workchain_broken/conf.py
  tests/sphinxext/sources/workchain_broken/index.rst
  tests/sphinxext/test_workchain.py
  tests/sphinxext/workchains/broken_demo_workchain.py
  tests/sphinxext/workchains/demo_workchain.py
Due: pylint, dm-generate-all, pyproject, dependencies, version-number
