Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Add dump engine
  src/aiida/tools/dumping/engine.py
Due: imports

Add changes to CLI
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/main.py
Due: imports, verdi-autodocs

Fix bug in explicitly-groupd sub-workflows being filtered out for profile/group dumping
  src/aiida/tools/dumping/detect.py
Due: imports

Fix QueryBuilder filtering for AbstractCode (#6866)
  pyproject.toml
  src/aiida/orm/querybuilder.py
  tests/orm/nodes/data/test_data.py
  tests/orm/test_fields/fields_aiida.data.core.code.abstract.AbstractCode.yml
  tests/orm/test_querybuilder.py
Due: imports, dm-generate-all, dependencies

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for b618cb755d6309c765c7d757efacb9a71094dcc6 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

apply review
  tests/cmdline/commands/test_process.py
Due: none

Regular killing reschedules a cancel of scheduler job
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/engine/processes/process.py
  src/aiida/engine/utils.py
  tests/cmdline/commands/test_process.py
Due: imports

WIP: Profile data dumping (#6723)
  .pre-commit-config.yaml
  docs/source/howto/data.rst
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/__init__.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/detect.py
  src/aiida/tools/dumping/engine.py
  src/aiida/tools/dumping/facades.py
  src/aiida/tools/dumping/logger.py
  src/aiida/tools/dumping/managers/__init__.py
  src/aiida/tools/dumping/managers/deletion.py
  src/aiida/tools/dumping/managers/process.py
  src/aiida/tools/dumping/managers/profile.py
  src/aiida/tools/dumping/mapping.py
  src/aiida/tools/dumping/processes.py
  src/aiida/tools/dumping/utils.py
  src/aiida/tools/dumping/utils/__init__.py
  src/aiida/tools/dumping/utils/helpers.py
  src/aiida/tools/dumping/utils/paths.py
  tests/cmdline/commands/test_process.py
  tests/conftest.py
  tests/tools/dumping/__init__.py
  tests/tools/dumping/conftest.py
  tests/tools/dumping/managers/test_process_dump_manager.py
  tests/tools/dumping/test_facades.py
  tests/tools/dumping/test_processes.py
  tests/tools/dumping/utils.py
Due: imports, verdi-autodocs

Regular killing reschedules a cancel of scheduler job (#6870)
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/engine/processes/process.py
  src/aiida/engine/utils.py
  tests/cmdline/commands/test_process.py
Due: imports

Add defer_build to pydantic models for faster aiida.orm import time (#6867)
  src/aiida/orm/entities.py
  src/aiida/orm/utils/mixins.py
Due: imports

Implement a cache for QB fields construction #6869
  src/aiida/orm/fields.py
Due: imports

Release `v2.7.0pre1`
  CHANGELOG.md
  src/aiida/__init__.py
Due: imports

Fix pre-commit CI errors
  docs/source/reference/command_line.rst
Due: none

Fix pre-commit CD errors
  pyproject.toml
  src/aiida/storage/psql_dos/migrations/versions/0edcdd5a30f0_dbgroup_extras.py
  src/aiida/storage/psql_dos/migrations/versions/7536a82b2cc4_add_node_repository_metadata.py
  src/aiida/storage/psql_dos/migrations/versions/django_0003_add_link_type.py
  src/aiida/storage/psql_dos/migrations/versions/django_0024a_dblog_update.py
  src/aiida/storage/psql_dos/migrations/versions/django_0045_dbgroup_extras.py
  src/aiida/storage/psql_dos/migrations/versions/django_0046_add_node_repository_metadata.py
Due: imports, dm-generate-all, dependencies

WIP: Migrate `Transport` to use pydantic for configuration
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/cmdline/groups/dynamic.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/transport.py
  tests/cmdline/commands/test_computer.py
Due: imports, verdi-autodocs

Add `AsyncSshTransport.Model`
  src/aiida/transports/plugins/ssh_async.py
Due: imports

Make localhost configure non-interactive during CI environment setup
  .github/workflows/setup.sh
Due: none

Update `SshTransport.Model` parent to `BlockingTransport.Model` for consistency
  src/aiida/transports/plugins/ssh.py
Due: imports

Lift `_DEFAULT_max_io_allowed` to module level
  src/aiida/transports/plugins/ssh_async.py
Due: imports

Discard `non-interactive` positional argument in `configure_computer`
  src/aiida/cmdline/commands/cmd_computer.py
Due: imports, verdi-autodocs

Run conda install test on linux-arm64
  .github/workflows/test-install.yml
Due: none

Remove default prefix and appendix for group and profile dump paths
  src/aiida/tools/dumping/utils/paths.py
Due: imports

Remove conda workarounds
  .github/workflows/test-install.yml
Due: none

Get rid of warning
  .github/workflows/test-install.yml
Due: none

to be reverted: add aiida-core specifier
  .github/workflows/test-install.yml
Due: none

Filter active processes to repair only for the default user
  src/aiida/cmdline/commands/cmd_process.py
Due: imports, verdi-autodocs

Fixing doc references after `click` 8.2 release
  src/aiida/cmdline/groups/verdi.py
Due: imports

Test legacy pytest fixtures
  .github/workflows/ci-code.yml
  src/aiida/manage/tests/test_pytest_fixtures.py
Due: imports

Switch order - to be reverted
  .github/workflows/ci-code.yml
Due: none

Test more
  .github/workflows/ci-code.yml
Due: none

Type check src/aiida/manage/tests/pytest_fixtures.py
  .pre-commit-config.yaml
  src/aiida/manage/tests/pytest_fixtures.py
Due: imports

Use get_config
  src/aiida/manage/tests/pytest_fixtures.py
Due: imports

Fixing doc references after `click` 8.2 release (#6880)
  src/aiida/cmdline/groups/verdi.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 5168032b810aef94ca91c91859e53e1752c72273 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Update click package in lockfile
  uv.lock
Due: none

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
