Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, mypy, pylint, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: aiida/.*py and \.py$
  mypy: any of: (?x)^(
    aiida/common/timezone.py|
    aiida/common/progress_reporter.py|
    aiida/engine/.*py|
    aiida/manage/manager.py|
    aiida/manage/database/delete/nodes.py|
    aiida/orm/querybuilder.py|
    aiida/orm/implementation/entities.py|
    aiida/orm/implementation/storage_backend.py|
    aiida/orm/implementation/authinfos.py|
    aiida/orm/implementation/comments.py|
    aiida/orm/implementation/computers.py|
    aiida/orm/implementation/groups.py|
    aiida/orm/implementation/logs.py|
    aiida/orm/implementation/nodes.py|
    aiida/orm/implementation/users.py|
    aiida/orm/implementation/querybuilder.py|
    aiida/orm/entities.py|
    aiida/orm/extras.py|
    aiida/orm/authinfos.py|
    aiida/orm/comments.py|
    aiida/orm/computers.py|
    aiida/orm/groups.py|
    aiida/orm/logs.py|
    aiida/orm/users.py|
    aiida/orm/nodes/data/enum.py|
    aiida/orm/nodes/data/jsonable.py|
    aiida/orm/nodes/attributes.py|
    aiida/orm/nodes/node.py|
    aiida/orm/nodes/process/.*py|
    aiida/orm/nodes/repository.py|
    aiida/orm/utils/links.py|
    aiida/plugins/entry_point.py|
    aiida/plugins/factories.py|
    aiida/repository/.*py|
    aiida/storage/control.py|
    aiida/storage/psql_dos/backend.py|
    aiida/storage/psql_dos/orm/querybuilder/.*py|
    aiida/storage/psql_dos/utils.py|
    aiida/storage/sqlite_zip/.*.py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/archive/.*py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 98fd0671814b6fc1381ec9e5b9e3d2165402d5f5 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Release `v2.1.1`
  .pre-commit-config.yaml
  CHANGELOG.md
  aiida/__init__.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 1e77f2af642e40579578b547854242e9266cc963 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

`CalcJob`: Add functionality that allows live monitoring
  .github/system_tests/test_daemon.py
  aiida/calculations/monitors/__init__.py
  aiida/calculations/monitors/base.py
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/engine/processes/calcjobs/monitors.py
  aiida/engine/processes/calcjobs/tasks.py
  aiida/engine/processes/process.py
  aiida/plugins/utils.py
  docs/source/conf.py
  docs/source/howto/run_codes.rst
  pyproject.toml
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/processes/calcjobs/test_monitors.py
Due: imports, mypy, pylint, dm-generate-all, dependencies

`CalcJobMonitor`: Add the `priority` attribute
  aiida/engine/processes/calcjobs/monitors.py
  aiida/engine/processes/calcjobs/tasks.py
  docs/source/howto/run_codes.rst
  tests/engine/processes/calcjobs/test_monitors.py
Due: imports, mypy, pylint

`CalcJobMonitor`: Add the `minimum_poll_interval` attribute
  aiida/engine/processes/calcjobs/monitors.py
  docs/source/howto/run_codes.rst
  docs/source/nitpick-exceptions
  tests/engine/processes/calcjobs/test_monitors.py
Due: imports, mypy, pylint

Add the `CalcJobMonitorResult` dataclass
  aiida/engine/processes/calcjobs/monitors.py
  aiida/engine/processes/calcjobs/tasks.py
  tests/engine/processes/calcjobs/test_monitors.py
Due: imports, mypy, pylint

`CalcJobMonitorResult`: Add the `override_exit_code` attribute
  aiida/engine/processes/calcjobs/monitors.py
  aiida/engine/processes/calcjobs/tasks.py
  docs/source/howto/run_codes.rst
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/processes/calcjobs/test_monitors.py
Due: imports, mypy, pylint

`CalcJobMonitorResult`: Add the `retrieve` attribute
  aiida/engine/processes/calcjobs/monitors.py
  aiida/engine/processes/calcjobs/tasks.py
  docs/source/howto/run_codes.rst
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/processes/calcjobs/test_monitors.py
Due: imports, mypy, pylint

`CalcJobMonitorResult`: Add the `parse` attribute
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/engine/processes/calcjobs/monitors.py
  aiida/engine/processes/calcjobs/tasks.py
  docs/source/howto/run_codes.rst
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/processes/calcjobs/test_monitors.py
Due: imports, mypy, pylint

`CalcJobMonitorAction`: Add the `DISABLE_ALL` option
  aiida/engine/processes/calcjobs/monitors.py
  aiida/engine/processes/calcjobs/tasks.py
  docs/source/howto/run_codes.rst
  tests/engine/processes/calcjobs/test_calc_job.py
Due: imports, mypy, pylint

`CalcJobMonitorAction`: Add the `DISABLE_SELF` option
  aiida/engine/processes/calcjobs/monitors.py
  aiida/engine/processes/calcjobs/tasks.py
  docs/source/howto/run_codes.rst
  tests/engine/processes/calcjobs/test_calc_job.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for afccd6fa121c195b85c50d17a155c1bcaccb6ec0 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

`BaseRestartWorkChain`: Fix bug in `_wrap_bare_dict_inputs`
  aiida/engine/processes/workchains/restart.py
  tests/engine/processes/workchains/test_restart.py
Due: imports, mypy, pylint

Update legacy.py
  aiida/orm/nodes/data/code/legacy.py
Due: imports, pylint

`BaseRestartWorkChain`: Fix bug in `_wrap_bare_dict_inputs` (#5757)
  aiida/engine/processes/workchains/restart.py
  tests/engine/processes/workchains/test_restart.py
Due: imports, mypy, pylint

Release `v2.1.2`
  CHANGELOG.md
  aiida/__init__.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 230243e58011aced8e4ab6a4f10d7a235bf92a9d [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Rename `PsqlDostoreMigrator` to `PsqlDosMigrator`
  aiida/storage/psql_dos/alembic_cli.py
  aiida/storage/psql_dos/backend.py
  aiida/storage/psql_dos/migrator.py
  docs/source/internals/storage/psql_dos.rst
  tests/cmdline/commands/test_status.py
  tests/storage/psql_dos/migrations/conftest.py
  tests/storage/psql_dos/migrations/django_branch/test_0024_dblog_update.py
  tests/storage/psql_dos/migrations/django_branch/test_0026_0027_traj_data.py
  tests/storage/psql_dos/migrations/django_branch/test_0028_0029_node_type.py
  tests/storage/psql_dos/migrations/django_branch/test_0032_remove_legacy_workflows.py
  tests/storage/psql_dos/migrations/django_branch/test_0033_replace_text_field_with_json_field.py
  tests/storage/psql_dos/migrations/django_branch/test_0037_attributes_extras_settings_json.py
  tests/storage/psql_dos/migrations/django_branch/test_0038_data_migration_legacy_job_calculations.py
  tests/storage/psql_dos/migrations/django_branch/test_0039_reset_hash.py
  tests/storage/psql_dos/migrations/django_branch/test_0040_data_migration_legacy_process_attributes.py
  tests/storage/psql_dos/migrations/django_branch/test_0041_seal_unsealed_processes.py
  tests/storage/psql_dos/migrations/django_branch/test_0043_default_link_label.py
  tests/storage/psql_dos/migrations/django_branch/test_0044_dbgroup_type_string.py
  tests/storage/psql_dos/migrations/django_branch/test_0045_dbgroup_extras.py
  tests/storage/psql_dos/migrations/django_branch/test_0046_add_node_repository_metadata.py
  tests/storage/psql_dos/migrations/django_branch/test_0047_migrate_repository.py
  tests/storage/psql_dos/migrations/django_branch/test_0048_computer_name_to_label.py
  tests/storage/psql_dos/migrations/django_branch/test_0049_entry_point_core_prefix.py
  tests/storage/psql_dos/migrations/django_branch/test_0050_schema_parity.py
  tests/storage/psql_dos/migrations/django_branch/test_legacy.py
  tests/storage/psql_dos/migrations/django_branch/test_migrate_to_head.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_10_group_update.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_11_v2_repository.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_12_sqla_django_parity.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_1_provenance_redesign.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_2_group_renaming.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_3_calc_attributes_keys.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_4_dblog_update.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_5_data_move_with_node.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_6_trajectory_data.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_7_node_prefix_removal.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_8_parameter_data_to_dict.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_9_legacy_process.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_migrate_to_head.py
  tests/storage/psql_dos/migrations/test_all_schema.py
Due: imports, mypy, pylint

Rename `PsqlDostoreMigrator` to `PsqlDosMigrator` (#5761)
  aiida/storage/psql_dos/alembic_cli.py
  aiida/storage/psql_dos/backend.py
  aiida/storage/psql_dos/migrator.py
  docs/source/internals/storage/psql_dos.rst
  tests/cmdline/commands/test_status.py
  tests/storage/psql_dos/migrations/conftest.py
  tests/storage/psql_dos/migrations/django_branch/test_0024_dblog_update.py
  tests/storage/psql_dos/migrations/django_branch/test_0026_0027_traj_data.py
  tests/storage/psql_dos/migrations/django_branch/test_0028_0029_node_type.py
  tests/storage/psql_dos/migrations/django_branch/test_0032_remove_legacy_workflows.py
  tests/storage/psql_dos/migrations/django_branch/test_0033_replace_text_field_with_json_field.py
  tests/storage/psql_dos/migrations/django_branch/test_0037_attributes_extras_settings_json.py
  tests/storage/psql_dos/migrations/django_branch/test_0038_data_migration_legacy_job_calculations.py
  tests/storage/psql_dos/migrations/django_branch/test_0039_reset_hash.py
  tests/storage/psql_dos/migrations/django_branch/test_0040_data_migration_legacy_process_attributes.py
  tests/storage/psql_dos/migrations/django_branch/test_0041_seal_unsealed_processes.py
  tests/storage/psql_dos/migrations/django_branch/test_0043_default_link_label.py
  tests/storage/psql_dos/migrations/django_branch/test_0044_dbgroup_type_string.py
  tests/storage/psql_dos/migrations/django_branch/test_0045_dbgroup_extras.py
  tests/storage/psql_dos/migrations/django_branch/test_0046_add_node_repository_metadata.py
  tests/storage/psql_dos/migrations/django_branch/test_0047_migrate_repository.py
  tests/storage/psql_dos/migrations/django_branch/test_0048_computer_name_to_label.py
  tests/storage/psql_dos/migrations/django_branch/test_0049_entry_point_core_prefix.py
  tests/storage/psql_dos/migrations/django_branch/test_0050_schema_parity.py
  tests/storage/psql_dos/migrations/django_branch/test_legacy.py
  tests/storage/psql_dos/migrations/django_branch/test_migrate_to_head.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_10_group_update.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_11_v2_repository.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_12_sqla_django_parity.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_1_provenance_redesign.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_2_group_renaming.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_3_calc_attributes_keys.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_4_dblog_update.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_5_data_move_with_node.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_6_trajectory_data.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_7_node_prefix_removal.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_8_parameter_data_to_dict.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_9_legacy_process.py
  tests/storage/psql_dos/migrations/sqlalchemy_branch/test_migrate_to_head.py
  tests/storage/psql_dos/migrations/test_all_schema.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 40e13cd3056a039aa8e8e147574c28b8300d399b [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

CLI: Add `--raw` option to `verdi code list`
  aiida/cmdline/commands/cmd_code.py
  tests/cmdline/commands/test_code.py
Due: imports, pylint, verdi-autodocs

CLI: Add `--raw` option to `verdi code list` (#5763)
  aiida/cmdline/commands/cmd_code.py
  tests/cmdline/commands/test_code.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 17b3fb805d74dd69c51d6b70bf543bcfbb58b946 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

feat: reduce user interaction in `quicksetup`
  aiida/manage/external/postgres.py
  tests/manage/external/test_postgres.py
Due: imports, pylint

CI: Increase load limit for `verdi` to 0.5 seconds
  .github/workflows/verdi.sh
Due: none

CI: Increase load limit for `verdi` to 0.5 seconds (#5773)
  .github/workflows/verdi.sh
Due: none

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 5b6b2b2e2c1d1672e45033dcebf3530626f87bc3 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

incorporate suggestions from code review
  aiida/manage/external/postgres.py
Due: imports, pylint

try setting postgres password on CI
  .github/config/profile.yaml
  .github/workflows/benchmark.yml
  .github/workflows/ci-code.yml
  .github/workflows/nightly.yml
  .github/workflows/rabbitmq.yml
  .github/workflows/release.yml
  .github/workflows/test-install.yml
Due: none
