Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, dm-generate-all, pyproject, dependencies, verdi-autodocs, version-number

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.30.0
    hooks:
    -   id: yapf
        name: yapf
        types: [python]
        exclude: &exclude_files >
            (?x)^(
                docs/.*|
            )$
        args: ['-i']

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.780
    hooks:
    -   id: mypy
        pass_filenames: true
        files: >-
            (?x)^(
                aiida/engine/processes/calcjobs/calcjob.py|
                aiida/tools/groups/paths.py
            )$

-   repo: local

    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        types: [python]
        language: system
        exclude: *exclude_files

    -   id: dm-generate-all
        name: Update all requirements files
        entry: python ./utils/dependency_management.py generate-all
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.py|
                setup.json|
                utils/dependency_management.py
            )$

    -   id: pyproject
        name: Validate pyproject.toml
        entry: python ./utils/dependency_management.py validate-pyproject-toml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                pyproject.toml
            )$

    -   id: dependencies
        name: Validate environment.yml
        entry: python ./utils/dependency_management.py validate-environment-yml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                environment.yml|
            )$

    -   id: verdi-autodocs
        name: Automatically generating verdi docs
        entry: python ./utils/validate_consistency.py verdi-autodocs
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                aiida/cmdline/commands/.*|
                aiida/cmdline/params/.*|
                aiida/cmdline/params/types/.*|
                utils/validate_consistency.py|
            )$

    -   id: version-number
        name: Check version numbers
        entry: python ./utils/validate_consistency.py version
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                utils/validate_consistency.py|
                aiida/__init__.py
            )$

CI: Remove `--use-feature=2020-resolver` pip feature flag tests. (#4689)
  .github/workflows/test-install.yml
Due: none

Update utils.py
  aiida/engine/processes/workchains/utils.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for d2b255b713a82230ad4f298b112d7095c31c1f24 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for d2b255b713a82230ad4f298b112d7095c31c1f24 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

CI: Notify slack on failure of the test-install workflow. (#4690)
  .github/workflows/test-install.yml
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for dcc80618368f405c02c9eaa6d122177e78d70a4b [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for dcc80618368f405c02c9eaa6d122177e78d70a4b [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Improve namedtuples in aiida/engine (#4688)
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/engine/processes/exit_code.py
  aiida/engine/processes/functions.py
  aiida/engine/processes/workchains/utils.py
  aiida/engine/processes/workchains/workchain.py
  aiida/engine/transports.py
  setup.json
Due: pylint, dm-generate-all, pyproject, dependencies, version-number

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 97cecd2ef57946dd53a0ecd2005f3d2d0a94a2aa [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 97cecd2ef57946dd53a0ecd2005f3d2d0a94a2aa [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

docs: include ipython magics from source code
  aiida/tools/ipython/aiida_magic_register.py
  docs/source/intro/installation.rst
Due: pylint

add tests for IPython extensions
  .ci/test_ipython_magics.py
  .github/workflows/tests.sh
  aiida/tools/ipython/ipython_magics.py
Due: pylint

apply suggestions from code review
  .ci/test_ipython_magics.py
  docs/source/intro/installation.rst
Due: pylint

Fix: Allow interruption of `do_upload`
  aiida/engine/processes/calcjobs/tasks.py
  aiida/engine/utils.py
Due: pylint

reduce coverage diff
  aiida/engine/processes/calcjobs/tasks.py
Due: pylint

test AiiDA ipython magics and remove copy-paste in docs (#4548)
  .ci/test_ipython_magics.py
  .github/workflows/tests.sh
  aiida/tools/ipython/ipython_magics.py
  docs/source/intro/installation.rst
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for a490fe07ab5752f04efaac338c1f1a9ef648426a [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for a490fe07ab5752f04efaac338c1f1a9ef648426a [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

engine: try cleanup transports
  aiida/engine/transports.py
Due: pylint

CI: Increase timeout for test-install test suite.
  .github/workflows/test-install.yml
Due: none

memory leaks: don't pass process stack via context
  aiida/engine/transports.py
Due: pylint

🐛 FIX: typing failure
  aiida/tools/graph/graph_traversers.py
Due: pylint

Update graph_traversers.py
  aiida/tools/graph/graph_traversers.py
Due: pylint

🐛 FIX: typing failure (#4700)
  aiida/tools/graph/graph_traversers.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 48fa47584c993cdac019c6199bc045a4c19da152 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 48fa47584c993cdac019c6199bc045a4c19da152 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

add test against memory leaks in engine.run
  .ci/test_daemon.py
  aiida/engine/transports.py
  setup.json
Due: pylint, dm-generate-all, pyproject, dependencies, version-number

add pympler dependency also on CI
  requirements/requirements-py-3.6.txt
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: none

refactor test to get rid of local variables
  .ci/test_daemon.py
Due: pylint

try freeing results dict
  .ci/test_daemon.py
Due: pylint

try adding more empty contexts...
  aiida/engine/processes/calcjobs/manager.py
Due: pylint

📚 DOCS: Add `BaseRestartWorkchain` how-to
  docs/source/howto/include/images/workflow_error_handling_basic.svg
  docs/source/howto/include/images/workflow_error_handling_basic_failed.png
  docs/source/howto/include/images/workflow_error_handling_basic_success.png
  docs/source/howto/include/images/workflow_error_handling_flow_base.png
  docs/source/howto/include/images/workflow_error_handling_flow_base.svg
  docs/source/howto/include/images/workflow_error_handling_flow_loop.png
  docs/source/howto/include/images/workflow_error_handling_flow_loop.svg
  docs/source/howto/index.rst
  docs/source/howto/workchains_restart.rst
  docs/source/topics/processes/concepts.rst
  docs/source/topics/processes/functions.rst
  docs/source/topics/processes/usage.rst
  docs/source/topics/workflows/usage.rst
Due: none

♻️ REFACTOR: verdi export/import -> verdi archive
  aiida/cmdline/commands/__init__.py
  aiida/cmdline/commands/cmd_archive.py
  aiida/cmdline/commands/cmd_export.py
  aiida/cmdline/commands/cmd_import.py
  docs/source/reference/command_line.rst
  tests/cmdline/commands/test_archive_export.py
  tests/cmdline/commands/test_archive_import.py
Due: pylint, verdi-autodocs

Update caching.rst
  docs/source/topics/provenance/caching.rst
Due: none

📚 DOCS: fix typo (#4711)
  docs/source/topics/provenance/caching.rst
Due: none

Initial implementation
  MANIFEST.in
  aiida/cmdline/commands/cmd_config.py
  aiida/cmdline/commands/cmd_setup.py
  aiida/cmdline/params/options/commands/setup.py
  aiida/manage/configuration/config.py
  aiida/manage/configuration/migrations/migrations.py
  aiida/manage/configuration/options.py
  aiida/manage/configuration/schema/__init__.py
  aiida/manage/configuration/schema/config-v5.schema.json
  docs/source/reference/command_line.rst
  environment.yml
  pyproject.toml
  setup.json
  tests/cmdline/commands/test_config.py
  tests/manage/configuration/migrations/test_migrations.py
  tests/manage/configuration/migrations/test_samples/input/4.json
  tests/manage/configuration/migrations/test_samples/reference/5.json
  tests/manage/configuration/test_config.py
  tests/manage/configuration/test_options.py
Due: pylint, dm-generate-all, pyproject, dependencies, verdi-autodocs, version-number

Update options.py
  aiida/manage/configuration/options.py
Due: pylint

Update config-v5.schema.json
  aiida/manage/configuration/schema/config-v5.schema.json
Due: none

drop support for python 3.6
  .github/workflows/ci-code.yml
  .github/workflows/test-install.yml
  aiida/engine/daemon/runner.py
  aiida/orm/implementation/django/comments.py
  aiida/orm/implementation/django/nodes.py
  docs/source/intro/install_system.rst
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.6.txt
  setup.json
  utils/dependency_management.py
Due: pylint, dm-generate-all, pyproject, dependencies, version-number

add memory leak test in test suite
  tests/engine/test_run.py
Due: pylint
