Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

Add support for Python 3.14 (#7240)
  .github/workflows/ci-code.yml
  .github/workflows/test-install.yml
  pyproject.toml
Due: generate-conda-environment, validate-conda-environment

Pin orm field regression tests to only run for py3.14 (#7240)
  tests/orm/test_fields.py
  tests/orm/test_fields/fields_AuthInfo.yml
  tests/orm/test_fields/fields_Comment.yml
  tests/orm/test_fields/fields_Computer.yml
  tests/orm/test_fields/fields_Group.yml
  tests/orm/test_fields/fields_Log.yml
  tests/orm/test_fields/fields_User.yml
  tests/orm/test_fields/fields_aiida.data.core.array.ArrayData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.bands.BandsData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.kpoints.KpointsData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.projection.ProjectionData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.trajectory.TrajectoryData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.xy.XyData.yml
  tests/orm/test_fields/fields_aiida.data.core.base.BaseType.yml
  tests/orm/test_fields/fields_aiida.data.core.bool.Bool.yml
  tests/orm/test_fields/fields_aiida.data.core.cif.CifData.yml
  tests/orm/test_fields/fields_aiida.data.core.code.Code.yml
  tests/orm/test_fields/fields_aiida.data.core.code.abstract.AbstractCode.yml
  tests/orm/test_fields/fields_aiida.data.core.code.containerized.ContainerizedCode.yml
  tests/orm/test_fields/fields_aiida.data.core.code.installed.InstalledCode.yml
  tests/orm/test_fields/fields_aiida.data.core.code.portable.PortableCode.yml
  tests/orm/test_fields/fields_aiida.data.core.dict.Dict.yml
  tests/orm/test_fields/fields_aiida.data.core.enum.EnumData.yml
  tests/orm/test_fields/fields_aiida.data.core.float.Float.yml
  tests/orm/test_fields/fields_aiida.data.core.folder.FolderData.yml
  tests/orm/test_fields/fields_aiida.data.core.int.Int.yml
  tests/orm/test_fields/fields_aiida.data.core.jsonable.JsonableData.yml
  tests/orm/test_fields/fields_aiida.data.core.list.List.yml
  tests/orm/test_fields/fields_aiida.data.core.numeric.NumericType.yml
  tests/orm/test_fields/fields_aiida.data.core.orbital.OrbitalData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.RemoteData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.RemoteStashData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.compress.RemoteStashCompressedData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.custom.RemoteStashCustomData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.folder.RemoteStashFolderData.yml
  tests/orm/test_fields/fields_aiida.data.core.singlefile.SinglefileData.yml
  tests/orm/test_fields/fields_aiida.data.core.str.Str.yml
  tests/orm/test_fields/fields_aiida.data.core.structure.StructureData.yml
  tests/orm/test_fields/fields_aiida.data.core.upf.UpfData.yml
Due: none

Remove support of py3.9
  .github/workflows/ci-code.yml
  .github/workflows/docs-build.yml
  .github/workflows/release.yml
  .github/workflows/test-install.yml
  environment.yml
  pyproject.toml
  src/aiida/orm/nodes/data/array/bands.py
  utils/dependency_management.py
  uv.lock
Due: imports, generate-conda-environment, validate-conda-environment

Remove `get-annotations` backport, use stdlib since Python 3.10
  pyproject.toml
  src/aiida/engine/processes/functions.py
  uv.lock
Due: imports, generate-conda-environment, validate-conda-environment

Replace flit and tox with hatch
  .docker/aiida-core-dev/aiida-clone-and-install.sh
  .github/workflows/release.yml
  .molecule/README.md
  pyproject.toml
Due: generate-conda-environment, validate-conda-environment

Switch to checking machine precision eps
  src/aiida/orm/nodes/data/structure.py
  tests/orm/nodes/data/test_structure.py
Due: imports

🐛 Fix SD `cell_angles` for zero-length vectors (#6820)
  src/aiida/orm/nodes/data/structure.py
  tests/orm/nodes/data/test_structure.py
Due: imports

revert switch from `OR` to `UNION` in `_create_smarter_in_clause`
  src/aiida/storage/utils.py
Due: imports

Fix missing return of exit code 0 in inspect_process when not paused
  src/aiida/engine/processes/workchains/restart.py
  tests/engine/processes/workchains/test_restart.py
Due: imports

Update src/aiida/storage/psql_dos/migrator.py
  src/aiida/storage/psql_dos/migrator.py
Due: imports

Apply suggestion from @danielhollas
  src/aiida/storage/psql_dos/migrator.py
Due: imports

Fix missing return of exit code 0 in `inspect_process` when not paused (#7247)
  src/aiida/engine/processes/workchains/restart.py
  tests/engine/processes/workchains/test_restart.py
Due: imports

Use context manager in migration fixture and trigger nightly workflow on migrator changes
  .github/workflows/nightly.yml
  tests/storage/psql_dos/migrations/conftest.py
Due: none

Align sqlite migration tests with context-managed migrator lifecycle
  tests/storage/sqlite_dos/migrations/test_all_schema.py
Due: none

Pin pydantic to `~=2.12`
  environment.yml
  pyproject.toml
  uv.lock
Due: generate-conda-environment, validate-conda-environment

Missed cast
  src/aiida/orm/nodes/node.py
Due: imports

Fix `Node.from_model`
  src/aiida/orm/nodes/node.py
Due: imports

Fix ORM pydantic schemas
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/cmdline/groups/dynamic.py
  src/aiida/common/datastructures.py
  src/aiida/common/pydantic.py
  src/aiida/orm/authinfos.py
  src/aiida/orm/comments.py
  src/aiida/orm/computers.py
  src/aiida/orm/entities.py
  src/aiida/orm/fields.py
  src/aiida/orm/groups.py
  src/aiida/orm/logs.py
  src/aiida/orm/nodes/data/array/kpoints.py
  src/aiida/orm/nodes/data/array/trajectory.py
  src/aiida/orm/nodes/data/bool.py
  src/aiida/orm/nodes/data/cif.py
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/nodes/data/data.py
  src/aiida/orm/nodes/data/float.py
  src/aiida/orm/nodes/data/int.py
  src/aiida/orm/nodes/data/remote/base.py
  src/aiida/orm/nodes/data/singlefile.py
  src/aiida/orm/nodes/data/str.py
  src/aiida/orm/nodes/data/structure.py
  src/aiida/orm/nodes/node.py
  src/aiida/orm/nodes/process/calculation/calcjob.py
  src/aiida/orm/nodes/process/process.py
  src/aiida/orm/users.py
  src/aiida/orm/utils/mixins.py
  src/aiida/storage/psql_dos/orm/querybuilder/main.py
Due: imports, verdi-autodocs

Allow unstored entity (de)serialization
  src/aiida/orm/entities.py
Due: imports

Add Kpoints constructor
  src/aiida/orm/nodes/data/array/kpoints.py
Due: imports

Discard direct `orm` import from `cmdline` package
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/cmdline/groups/dynamic.py
Due: imports, verdi-autodocs

Fix computer type
  src/aiida/cmdline/groups/dynamic.py
  src/aiida/common/pydantic.py
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/node.py
Due: imports

Add `exclude` parameter to `to_model`
  src/aiida/orm/entities.py
Due: imports

Fix centralized model field collection
  src/aiida/orm/entities.py
Due: imports

Implement constructors for `KpointsData` and `BandsData`
  src/aiida/orm/nodes/data/array/array.py
  src/aiida/orm/nodes/data/array/bands.py
  src/aiida/orm/nodes/data/array/kpoints.py
Due: imports

Nitpick some classes
  docs/source/nitpick-exceptions
Due: none

Exclude `attributes` from ORM
  src/aiida/orm/nodes/node.py
Due: imports

Update regression tests
  tests/orm/test_fields/fields_aiida.data.core.array.ArrayData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.bands.BandsData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.kpoints.KpointsData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.projection.ProjectionData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.trajectory.TrajectoryData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.xy.XyData.yml
  tests/orm/test_fields/fields_aiida.data.core.code.containerized.ContainerizedCode.yml
  tests/orm/test_fields/fields_aiida.data.core.code.installed.InstalledCode.yml
Due: none

Fix tests
  tests/orm/test_fields/fields_aiida.data.core.code.containerized.ContainerizedCode.yml
  tests/orm/test_fields/fields_aiida.data.core.code.installed.InstalledCode.yml
Due: none

Fix `from_serialized`
  src/aiida/orm/entities.py
  tests/orm/data/code/test_abstract.py
  tests/orm/data/code/test_installed.py
  tests/orm/data/code/test_portable.py
  tests/orm/models/test_models.py
Due: imports

Fix `_prepare_yaml`
  src/aiida/orm/nodes/data/code/abstract.py
Due: imports

Enable `ArrayNode` numpy array POST payloads via model validator
  src/aiida/orm/nodes/data/array/array.py
Due: imports

Update QB projection map aliasing
  src/aiida/storage/psql_dos/orm/querybuilder/main.py
Due: imports

Fix types
  src/aiida/orm/nodes/data/array/array.py
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/nodes/data/enum.py
Due: imports

Fix docstring
  src/aiida/orm/entities.py
Due: imports

Discard `exclude_from_cli`
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/cmdline/groups/dynamic.py
  src/aiida/common/pydantic.py
  src/aiida/orm/entities.py
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/data/data.py
  src/aiida/orm/nodes/node.py
Due: imports, verdi-autodocs
