Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, mypy, pylint, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: aiida/.*py and \.py$
  mypy: any of: (?x)^(
    aiida/common/progress_reporter.py|
    aiida/engine/.*py|
    aiida/manage/manager.py|
    aiida/manage/database/delete/nodes.py|
    aiida/orm/querybuilder.py|
    aiida/orm/implementation/entities.py|
    aiida/orm/implementation/storage_backend.py|
    aiida/orm/implementation/authinfos.py|
    aiida/orm/implementation/comments.py|
    aiida/orm/implementation/computers.py|
    aiida/orm/implementation/groups.py|
    aiida/orm/implementation/logs.py|
    aiida/orm/implementation/nodes.py|
    aiida/orm/implementation/users.py|
    aiida/orm/implementation/querybuilder.py|
    aiida/orm/entities.py|
    aiida/orm/authinfos.py|
    aiida/orm/comments.py|
    aiida/orm/computers.py|
    aiida/orm/groups.py|
    aiida/orm/logs.py|
    aiida/orm/users.py|
    aiida/orm/nodes/data/enum.py|
    aiida/orm/nodes/data/jsonable.py|
    aiida/orm/nodes/node.py|
    aiida/orm/nodes/process/.*py|
    aiida/orm/utils/links.py|
    aiida/plugins/entry_point.py|
    aiida/plugins/factories.py|
    aiida/repository/.*py|
    aiida/storage/control.py|
    aiida/storage/psql_dos/backend.py|
    aiida/storage/psql_dos/orm/querybuilder/.*py|
    aiida/storage/psql_dos/utils.py|
    aiida/storage/sqlite_zip/.*.py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/archive/.*py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$

CLI: monkeypatch `click` to fix shell-completion for relative filepaths
  aiida/cmdline/commands/cmd_verdi.py
Due: imports, pylint, verdi-autodocs

CLI: fix shell completion of script for `verdi run`
  aiida/cmdline/commands/cmd_run.py
  docs/source/reference/command_line.rst
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 186b16f419eca80022c084691c8a1cef407ab6ea [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

`load_backend_if_not_loaded`: test `get_profile_storage` is called just once (#5438)
  tests/cmdline/utils/test_decorators.py
Due: pylint

`verdi code setup`: make `--input-plugin` optional (#5436)
  aiida/cmdline/commands/cmd_code.py
  aiida/cmdline/params/options/commands/code.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 47ebc6c196fc252aa0eaf7233e056d166d452d08 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 7d40c1fcbc3d67351fafbe7b0ee3bb2941273e9b [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

🔧 MAINTAIN: Remove `Entity.init_from_backend` (#5441)
  aiida/orm/entities.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 7c51328db07992bac5660ad08f69e658a76812ce [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

🔧 MAINTAIN: Type annotate links (#5440)
  .pre-commit-config.yaml
  aiida/orm/utils/links.py
Due: imports, mypy, pylint

Deprecated: add warning for `QueryBuilder.queryhelp` (#5435)
  aiida/orm/querybuilder.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 4ee8204b3f88bfe2169c8ffbca7072a12755ae31 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 8920aa5dc594fa3116fcc12f181658340ddb03f2 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Limit the use of `pylint:disable consider-using-with`
  aiida/cmdline/commands/cmd_daemon.py
  aiida/cmdline/commands/cmd_data/cmd_show.py
  aiida/common/folders.py
  aiida/transports/plugins/local.py
  tests/cmdline/commands/test_archive_create.py
  tests/common/test_folders.py
  tests/common/test_hashing.py
  tests/conftest.py
  tests/transports/test_all_plugins.py
Due: imports, pylint, verdi-autodocs

Limit the use of `pylint:disable consider-using-with` (#5444)
  aiida/cmdline/commands/cmd_daemon.py
  aiida/cmdline/commands/cmd_data/cmd_show.py
  aiida/common/folders.py
  aiida/transports/plugins/local.py
  tests/cmdline/commands/test_archive_create.py
  tests/common/test_folders.py
  tests/common/test_hashing.py
  tests/conftest.py
  tests/transports/test_all_plugins.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for edb3a3392800c48488fc47fb7c3f21580f8c6b9a [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

👌 IMPROVE: Add `JsonableData` to `aiida.orm.__all__`
  aiida/orm/__init__.py
  aiida/orm/nodes/__init__.py
  aiida/orm/nodes/data/__init__.py
  aiida/orm/nodes/data/jsonable.py
  docs/source/conf.py
Due: imports, mypy, pylint

👌 IMPROVE: Add `echo` functions to `aiida.cmdline.__all__`
  aiida/cmdline/__init__.py
  aiida/cmdline/utils/__init__.py
  aiida/cmdline/utils/echo.py
  utils/make_all.py
Due: imports, pylint

🔧 MAINTAIN: Add `py.typed` file
  aiida/py.typed
Due: none

📚 DOCS: Fix links to plugin writing
  aiida/transports/transport.py
  docs/source/howto/plugin_codes.rst
  docs/source/howto/plugins_develop.rst
  docs/source/intro/tutorial.rst
  docs/source/topics/transport.rst
Due: imports, pylint

📚 DOCS: Auto-generate public API
  aiida/manage/configuration/__init__.py
  docs/source/reference/api/public.rst
Due: imports, pylint

📚 DOCS: Add `CalcJobImporter` section
  aiida/engine/processes/calcjobs/importer.py
  docs/source/howto/plugin_codes.rst
Due: imports, mypy, pylint

📚 DOCS: Add links to AEPs
  docs/source/conf.py
  docs/source/internals/storage/repository.rst
  docs/source/internals/storage/sqlite_zip.rst
Due: none

📚 DOCS: Add `EnumData` and `JsonableData` sections
  docs/source/topics/data_types.rst
Due: none

📚 DOCS: Improve plugin testing section
  docs/source/topics/plugins.rst
Due: none

📚 DOCS: Enforce nitpicky mode
  docs/source/conf.py
  docs/source/nitpick-exceptions
Due: none

🚀 RELEASE: v2.0.0b1
  CHANGELOG.md
  aiida/__init__.py
  docs/source/conf.py
  docs/source/howto/installation.rst
  docs/source/howto/interact.rst
Due: imports, pylint
