Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

imports:
  name: imports
  entry: python utils/autogenerate_all_imports.py
  language: python
  require_serial: true
  pass_filenames: false

generate-conda-environment:
  name: Update conda environment file
  entry: python ./utils/dependency_management.py generate-environment-yml
  language: system
  pass_filenames: false

validate-conda-environment:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

🔧 Remove leftover deprecated pytest fixtures
  src/aiida/manage/tests/pytest_fixtures.py
Due: imports

✨ `--config`: accept resource-registry templates (#7378)
  CHANGELOG.md
  docs/source/howto/run_codes.rst
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/cmdline/commands/cmd_setup.py
  src/aiida/cmdline/groups/dynamic.py
  src/aiida/cmdline/params/options/__init__.py
  src/aiida/cmdline/params/options/config.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/transports/cli.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_computer.py
  tests/cmdline/params/options/test_config.py
Due: imports, verdi-autodocs

✨ `template_config`: resolve Jinja2 YAML templates (#7378)
  pyproject.toml
  src/aiida/cmdline/utils/template_config.py
  tests/cmdline/utils/test_template_config.py
Due: imports, generate-conda-environment, validate-conda-environment

🔧 Remove leftover deprecated pytest fixtures (#7631)
  src/aiida/manage/tests/pytest_fixtures.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 01bd7146dd06ce9ad048fdf5eec1c7634433c81a [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

🧪 Replace daemon-timing xfails with flaky retries
  tests/cmdline/commands/test_process.py
  tests/engine/daemon/test_client.py
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/test_launch.py
Due: none

Preserve node annotations from cache
  src/aiida/orm/nodes/node.py
  tests/orm/nodes/test_node.py
Due: imports

🧪 Replace daemon-timing xfails with flaky retries (#7633)
  tests/cmdline/commands/test_process.py
  tests/engine/daemon/test_client.py
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/test_launch.py
Due: none

🧪 SIGKILL leftover daemon when graceful stop fails (#7630)
  src/aiida/tools/pytest_fixtures/daemon.py
Due: imports

🧪 Cover repair and unwrap cancellation paths (#7630)
  tests/cmdline/commands/test_process.py
  tests/engine/processes/generic/test_futures.py
Due: none

🧪 Restart daemon before each submission test (#7630)
  src/aiida/tools/pytest_fixtures/daemon.py
  tests/benchmark/test_engine.py
  tests/brokers/test_rabbitmq.py
  tests/calculations/test_shell.py
  tests/cmdline/commands/test_daemon.py
  tests/cmdline/commands/test_devel.py
  tests/cmdline/commands/test_process.py
  tests/cmdline/commands/test_rabbitmq.py
  tests/cmdline/commands/test_storage.py
  tests/engine/daemon/test_client.py
  tests/engine/daemon/test_worker.py
  tests/engine/processes/test_control.py
  tests/engine/test_launch.py
  tests/engine/test_work_chain.py
  tests/tools/test_shell.py
Due: imports

🐛 Isolate user CLI tests on temporary profiles (#7630)
  tests/cmdline/commands/test_user.py
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 43e024fdab63d6a4da320ee494f2c9ba4cd71540 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

🧪 Change to correct use of usefixtures in fixtures (#7632)
  tests/cmdline/params/types/test_code.py
  tests/manage/configuration/test_profile.py
  tests/orm/nodes/process/test_process.py
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for b18ab1c5110cd033922b74838941eea9ce5c9446 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

fixup! ✨ `GraphProcess`: run a graph of tasks (#7619)
  pyproject.toml
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/utils/common.py
  src/aiida/engine/processes/graphs/process.py
  src/aiida/orm/__init__.py
  src/aiida/orm/nodes/__init__.py
  src/aiida/orm/nodes/process/workflow/__init__.py
  src/aiida/orm/nodes/process/workflow/graph.py
  tests/engine/processes/graphs/test_build.py
  tests/engine/processes/graphs/test_process.py
Due: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

✨ `rerun_from`: run a graph again from a task (#7619)
  src/aiida/engine/__init__.py
  src/aiida/engine/processes/__init__.py
  src/aiida/engine/processes/graphs/run.py
  tests/engine/processes/graphs/test_caching.py
Due: imports

✨ `frontier`: what a graph could start next (#7619)
  src/aiida/engine/__init__.py
  src/aiida/engine/processes/__init__.py
  src/aiida/engine/processes/graphs/run.py
  tests/engine/processes/graphs/test_run.py
Due: imports

🧪 Run code the daemon cannot import, end to end (#7629)
  tests/engine/test_callables_through_the_daemon.py
Due: none

✨ `callables`: answer whether a name reaches the reader (#7629)
  src/aiida/common/callables.py
  tests/common/test_callables.py
Due: imports

✨ Add `CallableData` to record a Python callable (#7617)
  environment.yml
  pyproject.toml
  src/aiida/common/callables.py
  src/aiida/orm/__init__.py
  src/aiida/orm/nodes/__init__.py
  src/aiida/orm/nodes/data/__init__.py
  src/aiida/orm/nodes/data/callable.py
  tests/common/test_callables.py
  tests/orm/data/test_callable.py
  tests/orm/test_fields/fields_aiida.data.core.callable.CallableData.yml
  uv.lock
Due: imports, generate-conda-environment, validate-conda-environment

🧪 `setup_codes`: actually use a clean profile (#7617)
  tests/cmdline/params/types/test_code.py
Due: none

👌 `checkpoints`: carry what the worker cannot import (#7629)
  CHANGELOG.md
  src/aiida/engine/processes/persistence.py
  src/aiida/orm/utils/serialize.py
  tests/engine/test_persistence.py
  tests/orm/utils/test_serialize.py
Due: imports

👌 `serialize`: represent callables by value (#7617)
  CHANGELOG.md
  src/aiida/orm/utils/serialize.py
  tests/orm/utils/test_serialize.py
Due: imports

✨ `processes`: record the class no name identifies (#7629)
  CHANGELOG.md
  src/aiida/engine/processes/process.py
  src/aiida/orm/nodes/process/process.py
  tests/engine/test_process.py
Due: imports

♻️ `ShellJob`: record the `parser` callable (#7617)
  CHANGELOG.md
  docs/source/howto/run_shell_commands.rst
  src/aiida/calculations/shell.py
  src/aiida/engine/processes/calcjobs/calcjob.py
  src/aiida/parsers/plugins/shell/parser.py
  tests/calculations/conftest.py
  tests/calculations/test_shell.py
  tests/parsers/test_shell.py
Due: imports

✨ `DaemonClient`: record the workers' import paths (#7629)
  src/aiida/engine/daemon/client.py
  tests/engine/daemon/test_client.py
Due: imports

👌 `Parser`: ask the process for its class (#7629)
  CHANGELOG.md
  src/aiida/engine/processes/calcjobs/calcjob.py
  src/aiida/parsers/parser.py
  src/aiida/parsers/plugins/templatereplacer/parser.py
  tests/parsers/test_parser.py
Due: imports

♻️ Remove `PickledData` and `EntryPointData` (#7617)
  CHANGELOG.md
  environment.yml
  open_source_licenses.txt
  pyproject.toml
  src/aiida/orm/nodes/data/entry_point.py
  src/aiida/orm/nodes/data/pickled.py
  tests/orm/data/test_entry_point.py
  tests/orm/data/test_pickled.py
  tests/orm/test_fields/fields_aiida.data.core.entry_point.EntryPointData.yml
  tests/orm/test_fields/fields_aiida.data.core.pickled.PickledData.yml
  tests/orm/utils/test_node.py
  uv.lock
Due: imports, generate-conda-environment, validate-conda-environment

🧪 Add SQLite ZIP schema regression tests (#7621)
  tests/storage/sqlite/utils.py
  tests/storage/sqlite_dos/migrations/conftest.py
  tests/storage/sqlite_zip/test_all_schema.py
  tests/storage/sqlite_zip/test_all_schema/test_main_0000.yml
  tests/storage/sqlite_zip/test_all_schema/test_main_0000a.yml
  tests/storage/sqlite_zip/test_all_schema/test_main_0000b.yml
  tests/storage/sqlite_zip/test_all_schema/test_main_0001.yml
Due: none

📝 Document archive file migration (#7621)
  docs/source/howto/archive_profile.md
  docs/source/howto/share_data.rst
Due: none

🐛 Update visualization graph archive (#7621)
  docs/source/howto/include/graph1.aiida
  docs/source/howto/include/graph1.aiida/db.sqlite3
  docs/source/howto/include/graph1.aiida/metadata.json
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for f30d9f2051e69982a936b3ea7a502edc20fbad03 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

🐛 Normalize ZeroMQ communicator exceptions (#7622)
  src/aiida/brokers/zeromq/communicator.py
  tests/brokers/test_zeromq_communicator.py
Due: imports

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
