Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

fix running in bash environment on windows
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/manage/configuration/config.py
  src/aiida/manage/profile_access.py
Due: imports, verdi-autodocs

fix running external code on windows
  pyproject.toml
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/data/code/containerized.py
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/data/code/legacy.py
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/nodes/data/folder.py
  src/aiida/orm/nodes/data/singlefile.py
  src/aiida/orm/nodes/repository.py
  src/aiida/repository/repository.py
  src/aiida/storage/sqlite_zip/migrations/legacy_to_main.py
  src/aiida/transports/plugins/local.py
  src/aiida/transports/transport.py
  tests/orm/data/code/test_abstract.py
  tests/repository/test_repository.py
Due: imports, dm-generate-all, dependencies

Fix None detection
  src/aiida/transports/transport.py
Due: imports

AsyncSshTransport
  environment.yml
  pyproject.toml
  src/aiida/engine/daemon/execmanager.py
  src/aiida/orm/computers.py
  src/aiida/orm/nodes/data/remote/base.py
  src/aiida/orm/nodes/process/calculation/calcjob.py
  src/aiida/plugins/factories.py
  src/aiida/schedulers/plugins/direct.py
  src/aiida/tools/pytest_fixtures/__init__.py
  src/aiida/tools/pytest_fixtures/orm.py
  src/aiida/transports/__init__.py
  src/aiida/transports/cli.py
  src/aiida/transports/plugins/local.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/transport.py
  src/aiida/transports/util.py
  tests/cmdline/commands/test_computer.py
  tests/manage/tests/test_pytest_fixtures.py
  tests/plugins/test_factories.py
  tests/transports/test_all_plugins.py
  uv.lock
Due: imports, dm-generate-all, dependencies

path_to_str -> str
  src/aiida/transports/plugins/local.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/transport.py
Due: imports

Support CifData conversion
  src/aiida/tools/data/structure.py
Due: imports

CLI importer support for atomistic
  src/aiida/cmdline/commands/cmd_data/cmd_structure.py
Due: imports, verdi-autodocs

revert modifications in CI pipeline
  .github/workflows/ci-code.yml
  .github/workflows/test-install.yml
Due: none

return NULL when attr_key doesn't exist
  src/aiida/storage/sqlite_zip/orm.py
  tests/orm/test_querybuilder.py
Due: imports

revert modificiations in .github
  .github/workflows/test-install.yml
Due: none

explain why sqlite contains implementation in comment
  src/aiida/storage/sqlite_zip/orm.py
Due: imports

QB: Re-introduction of `contains` Filter Operator for SQLite (#6619)
  .gitignore
  src/aiida/storage/sqlite_zip/orm.py
  src/aiida/storage/sqlite_zip/utils.py
  tests/benchmark/test_json_contains.py
  tests/orm/test_querybuilder.py
  tests/storage/sqlite/test_orm.py
  tests/storage/sqlite_zip/test_utils.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for aa0aa262ab30e40211c0bd4d2c08a7172c2fd257 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

quick return if nothing to insert
  src/aiida/storage/psql_dos/orm/groups.py
Due: imports

use skip_orm as the default implementation for `add_nodes` and `remove_nodes`; remove skip_orm related tests;
  src/aiida/storage/psql_dos/orm/groups.py
  tests/orm/implementation/test_groups.py
Due: imports

add tests to cover cases when add/remove nothing
  tests/orm/test_groups.py
Due: none

Use Github arm runners for docker arm build tests
  .github/workflows/docker.yml
Due: none

Fix verdi devel check-undesired-imports when tui extra is installed
  .github/workflows/ci-code.yml
  src/aiida/cmdline/commands/cmd_devel.py
Due: imports, verdi-autodocs

Run mypy on orm/{comments,computer}.py
  .pre-commit-config.yaml
  src/aiida/orm/comments.py
  src/aiida/orm/computers.py
  src/aiida/transports/transport.py
Due: imports

Run typing on orm/implementation/storage_backend.py
  .pre-commit-config.yaml
  src/aiida/orm/implementation/storage_backend.py
Due: imports

Move all 2nd layer import to 1st layer to form pub APIs
  docs/source/reference/command_line.rst
  src/aiida/__init__.py
Due: imports

review applied
  src/aiida/transports/plugins/local.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/transport.py
  tests/cmdline/commands/test_computer.py
  tests/manage/tests/test_pytest_fixtures.py
Due: imports

fix rtd
  src/aiida/transports/transport.py
Due: imports

Dependencies: version check on `sqlite` C-language (#6567)
  src/aiida/common/exceptions.py
  src/aiida/storage/sqlite_dos/backend.py
  src/aiida/storage/sqlite_zip/backend.py
  tests/cmdline/commands/test_profile.py
  tests/cmdline/commands/test_status.py
  tests/storage/sqlite_dos/test_backend.py
  tests/storage/sqlite_zip/test_backend.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for d0c9572c83aa953f1490f35c1110f5815dc15ac3 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Transport: `AsyncTransport` plugin (#6626)
  environment.yml
  pyproject.toml
  src/aiida/engine/daemon/execmanager.py
  src/aiida/orm/computers.py
  src/aiida/orm/nodes/data/remote/base.py
  src/aiida/orm/nodes/process/calculation/calcjob.py
  src/aiida/plugins/factories.py
  src/aiida/schedulers/plugins/direct.py
  src/aiida/tools/pytest_fixtures/__init__.py
  src/aiida/tools/pytest_fixtures/orm.py
  src/aiida/transports/__init__.py
  src/aiida/transports/cli.py
  src/aiida/transports/plugins/local.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/transport.py
  src/aiida/transports/util.py
  tests/cmdline/commands/test_computer.py
  tests/manage/tests/test_pytest_fixtures.py
  tests/plugins/test_factories.py
  tests/transports/test_all_plugins.py
  uv.lock
Due: imports, dm-generate-all, dependencies

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for eba6954bf97999bbfd07210b33641d3b494ce221 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Install latest uv in test-install.yml
  .github/workflows/test-install.yml
Due: none

Fix coverage action warning
  .github/workflows/ci-code.yml
Due: none

Bump setup-uv action to 5.2.1
  .github/actions/install-aiida-core/action.yml
  .github/workflows/test-install.yml
Due: none

Bump uv in .readthedocs.yml
  .readthedocs.yml
  pyproject.toml
Due: dm-generate-all, dependencies

Bump uv to 0.5.22
  .github/actions/install-aiida-core/action.yml
  .pre-commit-config.yaml
  .readthedocs.yml
Due: none

Bump uv to 0.5.21
  .github/actions/install-aiida-core/action.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: dm-generate-all, dependencies

Use uv-pre-commit to validate lockfile
  .github/workflows/test-install.yml
  .pre-commit-config.yaml
Due: none

tmp remove linux commands
  .github/workflows/ci-code.yml
Due: none

if condition does not work in services -> tmp just put windows workflow
  .github/workflows/ci-code.yml
Due: none

move to test-presto
  .github/workflows/ci-code.yml
Due: none

Run windows with sqlite in CI
  .github/workflows/ci-code.yml
Due: none

Only initialize containers if required
  .github/workflows/ci-code.yml
Due: none

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
