Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: aiida/.*py and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
    .docker/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 1b13014b14274024dcb6bb0a721eb62665567987 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Add python 3.12 tox environment
  pyproject.toml
Due: dm-generate-all, dependencies

Devops: Add Python 3.12 tox environment (#6291)
  pyproject.toml
Due: dm-generate-all, dependencies

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 6b0d4396068a43b6823eca8c78b9048044b0b4b8 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Fix path to user .local/bin
  .docker/aiida-core-base/Dockerfile
Due: none

Docker: Fix incorrect user variable in when setting the `PATH` (#6292)
  .docker/aiida-core-base/Dockerfile
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 82c3728cd16b1846602d3b334a1b42e0e86492dd [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Process: Add the `metadata.disable_cache` input
  docs/source/howto/run_codes.rst
  src/aiida/engine/processes/process.py
  src/aiida/orm/nodes/caching.py
  src/aiida/orm/nodes/node.py
  src/aiida/orm/nodes/process/process.py
  tests/conftest.py
  tests/engine/test_process.py
  tests/sphinxext/test_workchain/test_workchain_build.xml
Due: imports, pylint

Process: Add the `metadata.disable_cache` input (#6293)
  docs/source/howto/run_codes.rst
  src/aiida/engine/processes/process.py
  src/aiida/orm/nodes/caching.py
  src/aiida/orm/nodes/node.py
  src/aiida/orm/nodes/process/process.py
  tests/conftest.py
  tests/engine/test_process.py
  tests/sphinxext/test_workchain/test_workchain_build.xml
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 4626b11f85cd0d95a17d8f5766a90b88ddddd689 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

preliminary backup script and verdi profile dbdump command
  backup_script/check_if_profile_locked.py
  backup_script/make_backup.sh
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_profile.py
Due: imports, pylint

convert the script to 'verdi storage backup' command
  backup_script/check_if_profile_locked.py
  backup_script/make_backup.sh
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_storage.py
  src/aiida/storage/psql_dos/backend.py
Due: imports, pylint

reorganize; separate utility functions to backup_utils
  aiida/storage/psql_dos/backup_utils.py
  src/aiida/cmdline/commands/cmd_storage.py
  src/aiida/orm/implementation/storage_backend.py
  src/aiida/storage/psql_dos/backend.py
Due: imports, pylint

use backup utilities from disk_objectstore
  aiida/storage/psql_dos/backup_utils.py
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_storage.py
  src/aiida/orm/implementation/storage_backend.py
  src/aiida/storage/psql_dos/backend.py
Due: imports, pylint

adapt to latest disk-objectstore PR161
  src/aiida/cmdline/commands/cmd_storage.py
  src/aiida/orm/implementation/storage_backend.py
  src/aiida/storage/psql_dos/backend.py
Due: imports, pylint

rm dbdump cli command
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_profile.py
Due: imports, pylint

implement sphuber's review
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_storage.py
  src/aiida/common/exceptions.py
  src/aiida/orm/implementation/storage_backend.py
  src/aiida/storage/psql_dos/backend.py
Due: imports, pylint

add a minimal backup pytest
  tests/cmdline/commands/test_storage.py
Due: pylint

config.json - only the backed up profile
  src/aiida/storage/psql_dos/backend.py
Due: imports, pylint

test psql_dos backup; raise NotImplementedError for other backends
  src/aiida/orm/implementation/storage_backend.py
  src/aiida/storage/psql_dos/backend.py
  src/aiida/storage/sqlite_dos/backend.py
  src/aiida/storage/sqlite_temp/backend.py
  src/aiida/storage/sqlite_zip/backend.py
  tests/storage/psql_dos/test_backend.py
Due: imports, pylint

temporarily install `disk-objectstore` from repo
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.12.txt
  requirements/requirements-py-3.9.txt
Due: dm-generate-all, dependencies

docs: update backup instructions
  docs/source/howto/installation.rst
Due: none

Update docs/source/howto/installation.rst
  docs/source/howto/installation.rst
Due: none

docs: restore tui section
  docs/source/reference/command_line.rst
Due: none

Update src/aiida/cmdline/commands/cmd_storage.py
  src/aiida/cmdline/commands/cmd_storage.py
Due: imports, pylint

Update tests/cmdline/commands/test_storage.py
  tests/cmdline/commands/test_storage.py
Due: pylint

storage_backend backup non-abstract
  src/aiida/orm/implementation/storage_backend.py
  src/aiida/storage/sqlite_temp/backend.py
  src/aiida/storage/sqlite_zip/backend.py
Due: imports, pylint

Update tests/storage/psql_dos/test_backend.py
  tests/storage/psql_dos/test_backend.py
Due: pylint

docs: add backup mention in FAQ
  docs/source/howto/faq.rst
Due: none

docs: update backup section
  docs/source/howto/installation.rst
Due: none

adapt docs
  docs/source/howto/installation.rst
Due: none

cli: pg-dump-exe comment
  src/aiida/cmdline/commands/cmd_storage.py
Due: imports, pylint

add backup_utils.BackupManager to docs nitpick-exceptions
  docs/source/nitpick-exceptions
Due: none

config.json check at the start; doc changes
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_storage.py
  src/aiida/storage/psql_dos/backend.py
Due: imports, pylint

fix live-backup created as a file
  src/aiida/storage/psql_dos/backend.py
Due: imports, pylint

correct pass exception message
  src/aiida/cmdline/commands/cmd_storage.py
  src/aiida/storage/psql_dos/backend.py
Due: imports, pylint

backup: turn off compression for maintain to match default cli cmd
  src/aiida/storage/psql_dos/backend.py
Due: imports, pylint
