Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

imports:
  name: imports
  entry: python utils/autogenerate_all_imports.py
  language: python
  require_serial: true
  pass_filenames: false

generate-conda-environment:
  name: Update conda environment file
  entry: python ./utils/dependency_management.py generate-environment-yml
  language: system
  pass_filenames: false

validate-conda-environment:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

include hidden files to enable upload of binary coverage file
  .github/workflows/ci-code.yml
Due: none

✨ `BaseRestartWorkChain`: add `pause_on_max_iterations` input
  docs/source/howto/workchains_restart.rst
  src/aiida/engine/processes/workchains/restart.py
  tests/engine/processes/workchains/test_restart.py
Due: imports

Apply suggestion from @GeigerJ2
  .github/workflows/ci-code.yml
Due: none

possible fix
  tests/engine/daemon/test_worker.py
Due: none

Format allowed packages as indented bullet list for better readability
  src/aiida/cmdline/commands/cmd_devel.py
Due: imports, verdi-autodocs

what happens if reset_event_loop_policy is used
  src/aiida/engine/runners.py
Due: imports

Alex solution
  src/aiida/engine/runners.py
  tests/conftest.py
Due: imports

Apply review 1
  src/aiida/engine/processes/workchains/restart.py
  tests/engine/processes/workchains/test_restart.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 24e840cd03665025f0f2708c5fd04e43957a7d2c [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

🐛 `TrajectoryData`: Fix `pbc` handling for non-periodic structures
  docs/source/topics/data_types.rst
  src/aiida/orm/nodes/data/array/trajectory.py
  tests/orm/nodes/data/test_trajectory.py
  tests/orm/test_fields/fields_aiida.data.core.array.trajectory.TrajectoryData.yml
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 08c58ffc0eae5f89d4f1e7923d62af30f418f3d7 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

review
  docs/source/howto/ssh.rst
Due: none

Support 2FA with improving authentication script handling in ssh_async transport
  docs/source/howto/ssh.rst
  src/aiida/transports/plugins/ssh_async.py
  tests/transports/test_asyncssh_plugin.py
Due: imports

review applied
  docs/source/howto/ssh.rst
Due: none

better formatting
  docs/source/howto/ssh.rst
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for dc034b1468e4574f31466f0c63db154076f494a6 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

update docstring of `cell_angles`
  src/aiida/orm/nodes/data/structure.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for af9d1f600dc1b341a0047abdfad55e0b8fe7bfff [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Replace nest_asyncio with greenback support (#7206)
  .pre-commit-config.yaml
  docs/source/howto/interact.rst
  docs/source/tutorials/basic.md
  environment.yml
  pyproject.toml
  src/aiida/engine/processes/functions.py
  src/aiida/engine/processes/process.py
  src/aiida/engine/processes/workchains/workchain.py
  src/aiida/engine/runners.py
  src/aiida/engine/transports.py
  src/aiida/manage/manager.py
  src/aiida/transports/transport.py
  tests/integration/__init__.py
  tests/integration/notebook/__init__.py
  tests/integration/notebook/test_magic_cells.ipynb
  tests/integration/notebook/test_notebook_integration.py
  tests/integration/notebook/test_same_cell.ipynb
  tests/integration/notebook/test_separate_cell.ipynb
  tests/manage/test_manager.py
  uv.lock
Due: imports, generate-conda-environment, validate-conda-environment

Replace deprecated asyncio.get_event_loop() with plumpy.get_or_create_event_loop() (#7206)
  src/aiida/engine/processes/futures.py
  src/aiida/engine/runners.py
  src/aiida/engine/transports.py
  src/aiida/engine/utils.py
  src/aiida/manage/tests/pytest_fixtures.py
  tests/conftest.py
  tests/engine/test_manager.py
  tests/engine/test_utils.py
  tests/utils/memory.py
Due: imports

Bump disk-objectstore to ~=1.5.0 (#7206)
  environment.yml
  pyproject.toml
  src/aiida/repository/backend/disk_object_store.py
  uv.lock
Due: imports, generate-conda-environment, validate-conda-environment

Revert workaround of increasing maximum stack size
  src/aiida/engine/processes/functions.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for e3217c0fe4359d80097605b7c348c3bf6cce028e [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Update CHANGELOG of v2.7.3
  CHANGELOG.md
Due: none

Release v2.8.0rc0
  CHANGELOG.md
  src/aiida/__init__.py
Due: imports

Release v2.8.0rc0 (#7239)
  CHANGELOG.md
  src/aiida/__init__.py
Due: imports

make cosine clamping test more stable
  tests/orm/nodes/data/test_structure.py
Due: none

Add test script to verify error message formatting
  test_error_message.py
Due: none

Apply suggested changes for ResourceWarning fix
  src/aiida/storage/psql_dos/migrator.py
  tests/storage/psql_dos/migrations/conftest.py
Due: imports

Deleted test_error_message.py
  test_error_message.py
Due: none

Improve error message clarity for import violations in verdi CLI (#7211)
  src/aiida/cmdline/commands/cmd_devel.py
Due: imports, verdi-autodocs

Add benchmark mode to verdi devel check-load-time
  COMMAND_OUTPUTS.md
  demo_benchmark_output.py
  src/aiida/cmdline/commands/cmd_devel.py
  test_benchmark_feature.py
Due: imports, verdi-autodocs

Remove standalone reproducer (posted as PR comment instead)
  reproduce_migrator_resourcewarning.py
Due: none

Remove commented inspector property
  src/aiida/storage/psql_dos/migrator.py
Due: imports

Bump asyncssh from ~=2.19.0 to ~=2.21.0 (#7240)
  environment.yml
  pyproject.toml
  uv.lock
Due: generate-conda-environment, validate-conda-environment

Replace `urllib.request.url2pathname` with local shim for Python 3.14 (#7240)
  src/aiida/common/__init__.py
  src/aiida/common/utils.py
  src/aiida/manage/configuration/profile.py
  src/aiida/storage/psql_dos/backend.py
Due: imports

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
