Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

🐛 Lower finalizer messages to info (#7551)
  src/aiida/brokers/rabbitmq/broker.py
  src/aiida/brokers/zeromq/broker.py
  src/aiida/storage/psql_dos/backend.py
  src/aiida/storage/sqlite_temp/backend.py
  src/aiida/storage/sqlite_zip/backend.py
  tests/brokers/test_rabbitmq.py
  tests/brokers/test_zeromq_broker.py
  tests/orm/implementation/test_backend.py
Due: imports

🐛 Finalizer for unclosed brokers and storage backend (#7551)
  src/aiida/brokers/rabbitmq/broker.py
  src/aiida/brokers/zeromq/broker.py
  src/aiida/orm/implementation/storage_backend.py
  src/aiida/storage/psql_dos/backend.py
  src/aiida/storage/sqlite_temp/backend.py
  src/aiida/storage/sqlite_zip/backend.py
  tests/brokers/test_rabbitmq.py
  tests/brokers/test_zeromq_broker.py
  tests/orm/implementation/test_backend.py
Due: imports

Upper bound flit_core < 4 for release (#7581)
  .github/workflows/release.yml
Due: none

index and mod 1
  docs/source/tutorials/basic.md
  docs/source/tutorials/index.rst
  docs/source/tutorials/module0.md
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
Due: none

Upper bound flit_core < 4 for release (#7582)
  .github/workflows/release.yml
Due: none

Update to flit 4 (#7524)
  .github/workflows/release.yml
  docs/source/howto/plugin_codes.rst
  pyproject.toml
Due: generate-conda-environment, validate-conda-environment

mod 2
  docs/source/tutorials/module0.md
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3a.md
  docs/source/tutorials/module3b.md
Due: none

🔖 Release v2.7.5 (#7581)
  CHANGELOG.md
  src/aiida/__init__.py
Due: imports

🔖 Release v2.8.2 (#7582)
  CHANGELOG.md
  src/aiida/__init__.py
Due: imports

✨ Avoid duplicate workflow runs for upstream PR branches
  .github/workflows/ci-code.yml
  .github/workflows/docs-build.yml
  .github/workflows/pre-commit.yml
Due: none

🐛 `process dump`: dump all repo-backed outputs (#7525)
  src/aiida/tools/_dumping/executors/process.py
  tests/tools/dumping/executors/__init__.py
  tests/tools/dumping/executors/test_process.py
Due: imports

🐛 Failed `COPY` stash deletes sibling stashes (#7563)
  src/aiida/engine/daemon/execmanager.py
  tests/engine/daemon/test_execmanager.py
Due: imports

🐛 Stash failures are not logged to the process node (#7572)
  src/aiida/engine/processes/calcjobs/tasks.py
  tests/calculations/test_stash.py
Due: imports

🔖 Release v2.9.1 (#7583)
  CHANGELOG.md
  src/aiida/__init__.py
Due: imports

🧪 `test_calc_job`: fix daemon-restart flake (#7452)
  src/aiida/tools/pytest_fixtures/daemon.py
  tests/engine/processes/calcjobs/test_calc_job.py
Due: imports

Revert hardening against interpreter shutdown (#7551)
  src/aiida/cmdline/utils/log.py
  tests/cmdline/utils/test_log.py
Due: imports

Cache derived minimal model on specific class (#7539)
  src/aiida/orm/pydantic.py
  tests/orm/models/test_models.py
Due: imports

Update CHANGELOG with release v2.7.5 (#7586)
  CHANGELOG.md
Due: none

Update CHANGELOG with release v2.8.2 (#7586)
  CHANGELOG.md
Due: none

Update CHANGELOG with release v2.9.1 (#7586)
  CHANGELOG.md
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 4019b32ec10e3193c84c5b413fab42311c2a3dd0 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

mod 3a
  docs/source/tutorials/index.rst
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3a.md
Due: none

✨ `process dump`: write non-repository `Data` as JSON
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/__init__.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/manage/configuration/profile.py
  src/aiida/orm/groups.py
  src/aiida/orm/nodes/process/process.py
  src/aiida/tools/_dumping/config.py
  src/aiida/tools/_dumping/executors/process.py
  tests/cmdline/commands/test_group.py
  tests/cmdline/commands/test_process.py
  tests/cmdline/commands/test_profile.py
  tests/manage/configuration/test_profile.py
  tests/tools/dumping/executors/test_process.py
Due: imports, verdi-autodocs

📚 Document `--include-data-json` for dumping
  CHANGELOG.md
  docs/source/howto/data.rst
Due: none
