Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

imports:
  name: imports
  entry: python utils/autogenerate_all_imports.py
  language: python
  require_serial: true
  pass_filenames: false

generate-conda-environment:
  name: Update conda environment file
  entry: python ./utils/dependency_management.py generate-environment-yml
  language: system
  pass_filenames: false

validate-conda-environment:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Update deprecation and CHANGELOG text
  CHANGELOG.md
  src/aiida/orm/fields.py
Due: imports

Fix deprecation issue
  src/aiida/orm/fields.py
Due: imports

Restore `is_subscriptable` API argument (#7532)
  CHANGELOG.md
  src/aiida/orm/fields.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for a690bad60af163239562987697908db4ca0a023c [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

📚 Add section v2.7.4 to CHANGELOG (#7458)
  CHANGELOG.md
Due: none

📚 Add section v2.8.1 to CHANGELOG (#7458)
  CHANGELOG.md
Due: none

🔖 Release v2.9.0 (#7458)
  src/aiida/__init__.py
Due: imports

📚 Add section v2.9.0 to CHANGELOG (#7458)
  CHANGELOG.md
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 299e94593b927c09a039a13612c86766ca04df6a [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Fix wrong v2.9.0 changelog information
  CHANGELOG.md
Due: none

wip m2
  docs/source/tutorials/include/tasks.py
  docs/source/tutorials/include/tasks_module_3b.py
  docs/source/tutorials/include/tasks_module_6.py
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3b.md
  docs/source/tutorials/module5.md
  docs/source/tutorials/module6a.md
  docs/source/tutorials/module7.md
Due: none

wip m2
  docs/source/tutorials/module2.md
Due: none

Relax type for structurelist argument to TrajectoryData
  src/aiida/orm/nodes/data/array/trajectory.py
Due: imports

Update docstring
  src/aiida/orm/nodes/data/array/trajectory.py
Due: imports

wip
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3a.md
  docs/source/tutorials/module3b.md
  docs/source/tutorials/module4.md
  docs/source/tutorials/module5.md
  docs/source/tutorials/module6a.md
  docs/source/tutorials/module6b.md
  docs/source/tutorials/module7.md
Due: none

Cache derived minimal model on specific class
  src/aiida/orm/pydantic.py
  tests/orm/models/test_models.py
Due: imports

mod 2 final
  docs/source/tutorials/module2.md
  docs/source/tutorials/module5.md
Due: none

Post release preparation of version and changelog
  CHANGELOG.md
  src/aiida/__init__.py
Due: imports

wip
  docs/source/tutorials/include/workflows.py
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3a.md
Due: none

Add markdown linter
  .markdownlint.json
  .pre-commit-config.yaml
  CHANGELOG.md
Due: none

Add sphinx check to see if it detects overshadowing
  docs/source/conf.py
Due: none

overshadow
  CHANGELOG.md
Due: none

wip
  docs/source/tutorials/include/setup_tutorial.py
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3a.md
  docs/source/tutorials/module3b.md
  docs/source/tutorials/module4.md
  docs/source/tutorials/module5.md
  docs/source/tutorials/module6a.md
  docs/source/tutorials/module6b.md
  docs/source/tutorials/module7.md
Due: none

🔧 Configure CodeRabbit via `.coderabbit.yaml`
  .coderabbit.yaml
  AI_POLICY.md
Due: none

Fix wrong v2.9.0 changelog information (#7534)
  CHANGELOG.md
Due: none

Post release preparation of version and changelog (#7534)
  CHANGELOG.md
  src/aiida/__init__.py
Due: imports

Collab: add the wire protocol and the HTTP transport that carries it
  src/aiida/tools/collab/client.py
  src/aiida/tools/collab/config.py
  src/aiida/tools/collab/protocol.py
  src/aiida/tools/collab/server.py
  tests/tools/collab/test_transport.py
Due: imports

Collab: add the collab profile options and the per-profile state file
  src/aiida/manage/configuration/config.py
  src/aiida/manage/configuration/settings.py
  src/aiida/tools/collab/__init__.py
  src/aiida/tools/collab/config.py
  src/aiida/tools/collab/state.py
  tests/manage/configuration/test_config.py
  tests/tools/collab/__init__.py
  tests/tools/collab/test_state.py
Due: imports

Node: preserve the modification time when rehashing
  src/aiida/cmdline/commands/cmd_node.py
  tests/cmdline/commands/test_node.py
Due: imports, verdi-autodocs

Collab: negotiate the missing UUIDs and import a thin delta
  src/aiida/tools/collab/state.py
  src/aiida/tools/collab/sync.py
  tests/tools/collab/test_sync.py
Due: imports

Collab: add verdi collab init and the join code that founds or joins
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/__init__.py
  src/aiida/cmdline/commands/cmd_collab.py
  src/aiida/manage/configuration/config.py
  src/aiida/tools/collab/client.py
  src/aiida/tools/collab/config.py
  src/aiida/tools/collab/endpoint.py
  src/aiida/tools/collab/protocol.py
  src/aiida/tools/collab/server.py
  tests/cmdline/commands/test_collab.py
  tests/tools/collab/test_endpoint.py
  tests/tools/collab/test_identity.py
  tests/tools/collab/test_transport.py
Due: imports, verdi-autodocs

Collab: add verdi collab pull and verdi collab push
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_collab.py
  src/aiida/tools/collab/endpoint.py
  tests/cmdline/commands/test_collab.py
Due: imports, verdi-autodocs

Collab: add the immutable collab.policy option, fixed at creation
  src/aiida/cmdline/commands/cmd_collab.py
  src/aiida/manage/configuration/config.py
  src/aiida/tools/collab/config.py
  src/aiida/tools/collab/endpoint.py
  src/aiida/tools/collab/protocol.py
  tests/cmdline/commands/test_collab.py
  tests/tools/collab/test_identity.py
  tests/tools/collab/test_transport.py
Due: imports, verdi-autodocs

Collab: gate the handshake on the peer's archive format version
  src/aiida/cmdline/commands/cmd_collab.py
  src/aiida/tools/collab/client.py
  src/aiida/tools/collab/protocol.py
  src/aiida/tools/collab/sync.py
  tests/cmdline/commands/test_collab.py
  tests/tools/collab/test_sync.py
  tests/tools/collab/test_transport.py
Due: imports, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
