Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, mypy, pylint, dm-generate-all, dependencies, verdi-autodocs, version-number

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

pylint:
  name: pylint
  entry: pylint
  language: system

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

version-number:
  name: Check version numbers
  entry: python ./utils/validate_consistency.py version
  language: system
  pass_filenames: false

Correct version number for RabbitMQ warning (#5413)
  aiida/manage/manager.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 53bfee8a8d4beb6a56733ef859da017b77ee1eca [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

📚 DOCS: Replace `verdi archive inspect`
  docs/source/howto/share_data.rst
Due: none

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 98167fd675ddc326b48ca5cf4a538dec8ae410ac [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 5b97568b824a20b4ad5eab124f5fc2ac9cb4237f [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Dependencies: put upper limit `markupsafe<2.1` (#5371)
  setup.json
Due: dm-generate-all, dependencies, version-number

📚 DOCS: Replace `verdi archive inspect` (#5417)
  docs/source/howto/share_data.rst
Due: none

Docs: replace CircleCI build with ReadTheDocs (#5279)
  .circleci/config.yml
Due: none

Release `v1.6.6`
  CHANGELOG.md
  aiida/__init__.py
  setup.json
Due: imports, pylint, dm-generate-all, dependencies, version-number

Dependencies: add upper limit for `pytest-asyncio` (#5309)
  setup.json
Due: dm-generate-all, dependencies, version-number

CI: move Jenkins workflow to nightly GHA workflow (#5277)
  .github/system_tests/test_polish_workchains.sh
  .github/workflows/setup.sh
  .github/workflows/tests.sh
  .jenkins/Dockerfile
  .jenkins/Jenkinsfile
  .jenkins/check-jenkinsfile.sh
  .molecule/README.md
  .molecule/default/config_jenkins.yml
  .molecule/default/files/polish/cli.py
Due: pylint

Do not use the deprecated matplotlib config option 'text.latex.preview'. (#5233)
  aiida/orm/nodes/data/array/bands.py
  setup.json
Due: imports, pylint, dm-generate-all, dependencies, version-number

📚 DOCS: Replace sphinx-panels with sphinx-design
  docs/source/conf.py
  docs/source/howto/installation.rst
  docs/source/index.rst
  docs/source/intro/get_started.rst
  docs/source/intro/install_conda.rst
  docs/source/intro/install_system.rst
  docs/source/intro/run_docker.rst
  docs/source/intro/tutorial.rst
  docs/source/nitpick-exceptions
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: none

center text in cards
  docs/source/index.rst
  docs/source/nitpick-exceptions
Due: none

increase gutter
  docs/source/index.rst
Due: none

Improve landing page
  docs/source/images/aiida-icon.svg
  docs/source/index.rst
Due: none

Dependencies: remove `simplejson`
  aiida/cmdline/utils/echo.py
  aiida/common/json.py
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/manage/configuration/config.py
  aiida/orm/implementation/utils.py
  aiida/orm/nodes/data/array/bands.py
  aiida/orm/nodes/data/structure.py
  aiida/restapi/translator/nodes/data/array/bands.py
  aiida/schedulers/datastructures.py
  aiida/storage/psql_dos/migrations/utils/create_dbattribute.py
  aiida/storage/psql_dos/migrations/utils/legacy_workflows.py
  aiida/storage/psql_dos/migrations/utils/utils.py
  aiida/storage/psql_dos/utils.py
  aiida/storage/sqlite_zip/migrator.py
  aiida/storage/sqlite_zip/utils.py
  aiida/tools/dbimporters/plugins/mpds.py
  aiida/tools/ipython/ipython_magics.py
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  tests/common/test_extendeddicts.py
  tests/manage/configuration/migrations/test_migrations.py
  tests/manage/configuration/test_config.py
  tests/orm/test_logs.py
  tests/restapi/test_routes.py
  tests/storage/psql_dos/migrations/django_branch/test_0033_replace_text_field_with_json_field.py
  tests/tools/archive/test_simple.py
  tests/utils/archives.py
Due: imports, mypy, pylint, dependencies

cards: Increase shadow, remove title bold
  docs/source/index.rst
Due: none

Dependencies: move `markupsafe` specification to `install_requires`
  environment.yml
  setup.json
Due: dm-generate-all, dependencies, version-number

Release `v1.6.7`
  CHANGELOG.md
  aiida/__init__.py
  setup.json
Due: imports, pylint, dm-generate-all, dependencies, version-number

Update get_started.rst
  docs/source/intro/get_started.rst
Due: none

📚 DOCS: Replace sphinx-panels with sphinx-design (#5405)
  docs/source/conf.py
  docs/source/howto/installation.rst
  docs/source/images/aiida-icon.svg
  docs/source/index.rst
  docs/source/intro/get_started.rst
  docs/source/intro/install_conda.rst
  docs/source/intro/install_system.rst
  docs/source/intro/run_docker.rst
  docs/source/intro/tutorial.rst
  docs/source/nitpick-exceptions
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: none

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for c31c90a169ae8fc92386b2a7aa744c745260196d [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

`GroupParamType`: store group if created
  aiida/cmdline/params/types/group.py
  tests/cmdline/params/types/test_group.py
Due: imports, pylint, verdi-autodocs

Update sphinx
  aiida/engine/processes/workchains/restart.py
  aiida/engine/utils.py
  aiida/manage/manager.py
  aiida/manage/tests/main.py
  aiida/orm/querybuilder.py
  aiida/restapi/resources.py
  docs/Makefile
  docs/source/conf.py
  docs/source/developer_guide/core/internals.rst
  docs/source/howto/data.rst
  docs/source/howto/faq.rst
  docs/source/howto/plugin_codes.rst
  docs/source/howto/query.rst
  docs/source/howto/run_codes.rst
  docs/source/internals/engine.rst
  docs/source/nitpick-exceptions
  docs/source/reference/rest_api.rst
  docs/source/topics/data_types.rst
  docs/source/topics/plugins.rst
  docs/source/topics/processes/concepts.rst
  docs/source/topics/processes/usage.rst
  docs/source/topics/provenance/caching.rst
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  tests/sphinxext/reference_results/workchain.xml
  tests/sphinxext/test_workchain.py
Due: imports, mypy, pylint

Apply suggestions from code review
  docs/source/conf.py
  docs/source/nitpick-exceptions
Due: none

📚⬆️ UPDATE: sphinx v4 (+ sphinx extensions) (#5420)
  aiida/engine/processes/workchains/restart.py
  aiida/engine/utils.py
  aiida/manage/manager.py
  aiida/manage/tests/main.py
  aiida/orm/querybuilder.py
  aiida/restapi/resources.py
  docs/Makefile
  docs/source/conf.py
  docs/source/developer_guide/core/internals.rst
  docs/source/howto/data.rst
  docs/source/howto/faq.rst
  docs/source/howto/plugin_codes.rst
  docs/source/howto/query.rst
  docs/source/howto/run_codes.rst
  docs/source/internals/engine.rst
  docs/source/nitpick-exceptions
  docs/source/reference/rest_api.rst
  docs/source/topics/data_types.rst
  docs/source/topics/plugins.rst
  docs/source/topics/processes/concepts.rst
  docs/source/topics/processes/usage.rst
  docs/source/topics/provenance/caching.rst
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  tests/sphinxext/reference_results/workchain.xml
  tests/sphinxext/test_workchain.py
Due: imports, mypy, pylint

📚 DOCS: Include changelog in docs
  CHANGELOG.md
  docs/source/conf.py
  docs/source/reference/_changelog.md
  docs/source/reference/index.rst
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: none

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 58a5d8017e8cd09d7e477aa41c8a07bb24a35e58 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

📚 DOCS: Include changelog in docs (#5421)
  CHANGELOG.md
  docs/source/conf.py
  docs/source/reference/_changelog.md
  docs/source/reference/index.rst
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: none

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 6866d03b1afa57a74b734066643b361b072ba060 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

📚 DOCS: Execute graph tutorial as Jupyter Notebook
  .pre-commit-config.yaml
  docs/source/conf.py
  docs/source/howto/visualising_graphs/graph1.aiida
  docs/source/howto/visualising_graphs/graph1.aiida/db.sqlite3
  docs/source/howto/visualising_graphs/graph1.aiida/metadata.json
  docs/source/howto/visualising_graphs/graph1.aiida/repo/8f434346648f6b96df89dda901c5176b10a6d83961dd3c1ac88b59b2dc327aa4
  docs/source/howto/visualising_graphs/visualising_graphs.ipynb
  docs/source/howto/visualising_graphs/visualising_graphs.md
  docs/source/howto/visualising_graphs/visualising_graphs.rst
  docs/source/howto/visualising_graphs/visualising_graphs_files/output_10_0.svg
  docs/source/howto/visualising_graphs/visualising_graphs_files/output_11_0.svg
  docs/source/howto/visualising_graphs/visualising_graphs_files/output_12_0.svg
  docs/source/howto/visualising_graphs/visualising_graphs_files/output_13_0.svg
  docs/source/howto/visualising_graphs/visualising_graphs_files/output_14_0.svg
  docs/source/howto/visualising_graphs/visualising_graphs_files/output_15_0.svg
  docs/source/howto/visualising_graphs/visualising_graphs_files/output_16_0.svg
  docs/source/howto/visualising_graphs/visualising_graphs_files/output_17_0.svg
  docs/source/howto/visualising_graphs/visualising_graphs_files/output_19_0.svg
  docs/source/howto/visualising_graphs/visualising_graphs_files/output_20_0.svg
  docs/source/howto/visualising_graphs/visualising_graphs_files/output_21_0.svg
  docs/source/howto/visualising_graphs/visualising_graphs_files/output_22_0.svg
  docs/source/howto/visualising_graphs/visualising_graphs_files/output_23_0.svg
  docs/source/howto/visualising_graphs/visualising_graphs_files/output_7_0.svg
  docs/source/howto/visualising_graphs/visualising_graphs_files/output_8_0.svg
  docs/source/howto/visualising_graphs/visualising_graphs_files/output_9_0.svg
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: none

Path conditions:
  imports: any of: aiida/.*py and \.py$
  mypy: any of: (?x)^(
    aiida/common/progress_reporter.py|
    aiida/engine/.*py|
    aiida/manage/manager.py|
    aiida/manage/database/delete/nodes.py|
    aiida/orm/querybuilder.py|
    aiida/orm/implementation/querybuilder.py|
    aiida/orm/implementation/sqlalchemy/querybuilder/.*py|
    aiida/orm/nodes/data/jsonable.py|
    aiida/orm/nodes/node.py|
    aiida/orm/nodes/process/.*py|
    aiida/plugins/entry_point.py|
    aiida/plugins/factories.py|
    aiida/repository/.*py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/importexport/archive/.*py|
    aiida/tools/importexport/dbexport/__init__.py|
    aiida/tools/importexport/dbimport/backends/.*.py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    setup.py|
    setup.json|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    setup.json|
    setup.py|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
  version-number: any of: (?x)^(
    setup.json|
    utils/validate_consistency.py|
    aiida/__init__.py
)$
