Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, dm-generate-all, pyproject, dependencies, verdi-autodocs, version-number

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://github.com/ikamensh/flynt/
    rev: '0.55'
    hooks:
    -   id: flynt
        args: [
            '--line-length=120',
            '--fail-on-change',
        ]

-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.30.0
    hooks:
    -   id: yapf
        name: yapf
        types: [python]
        exclude: &exclude_files >
            (?x)^(
                docs/.*|
            )$
        args: ['-i']

-   repo: local

    hooks:

    -   id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        pass_filenames: true
        files: >-
            (?x)^(
                aiida/common/progress_reporter.py|
                aiida/manage/manager.py|
                aiida/engine/.*py|
                aiida/manage/database/delete/nodes.py|
                aiida/tools/graph/graph_traversers.py|
                aiida/tools/groups/paths.py|
                aiida/tools/importexport/archive/.*py|
                aiida/tools/importexport/dbexport/__init__.py|
                aiida/tools/importexport/dbimport/backends/.*.py|
            )$

    -   id: pylint
        name: pylint
        entry: pylint
        types: [python]
        language: system
        exclude: *exclude_files

    -   id: dm-generate-all
        name: Update all requirements files
        entry: python ./utils/dependency_management.py generate-all
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.py|
                setup.json|
                utils/dependency_management.py
            )$

    -   id: pyproject
        name: Validate pyproject.toml
        entry: python ./utils/dependency_management.py validate-pyproject-toml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                pyproject.toml
            )$

    -   id: dependencies
        name: Validate environment.yml
        entry: python ./utils/dependency_management.py validate-environment-yml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                environment.yml|
            )$

    -   id: verdi-autodocs
        name: Automatically generating verdi docs
        entry: python ./utils/validate_consistency.py verdi-autodocs
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                aiida/cmdline/commands/.*|
                aiida/cmdline/params/.*|
                aiida/cmdline/params/types/.*|
                utils/validate_consistency.py|
            )$

    -   id: version-number
        name: Check version numbers
        entry: python ./utils/validate_consistency.py version
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                utils/validate_consistency.py|
                aiida/__init__.py
            )$

suggest running reentry scan for unstorable Node
  aiida/orm/nodes/node.py
Due: pylint

incorporate suggestions from code review
  aiida/orm/nodes/node.py
Due: pylint

Update aiida/orm/nodes/node.py
  aiida/orm/nodes/node.py
Due: pylint

ORM: suggest running reentry scan for unstorable Node (#4950)
  aiida/orm/nodes/node.py
Due: pylint

Refactor: migrate `tests/manage/configuration/test_config` to pytest
  tests/conftest.py
  tests/manage/configuration/test_config.py
Due: pylint

`Config`: write config to disk at end of `delete_profile`
  aiida/manage/configuration/config.py
  tests/manage/configuration/test_config.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 5e3ec3a19f618bc5b76d4b5ac4277cd97adfe1c8 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 5e3ec3a19f618bc5b76d4b5ac4277cd97adfe1c8 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 2f1c1f82c5085bd311303dfc82c0a3bf67629377 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 2f1c1f82c5085bd311303dfc82c0a3bf67629377 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Changes to jsonschema
  aiida/restapi/resources.py
  aiida/restapi/schema/querybuilder.schema.json
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: pylint

Adds __init__ file
  aiida/restapi/schema/__init__.py
Due: pylint

Remove voluptuous from setup.json
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

correcting schema
  aiida/restapi/schema/querybuilder.schema.json
Due: none

remove ete3 dependency
  environment.yml
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

Create hashing function for DatetimePrecision Object
  aiida/common/hashing.py
Due: pylint

replace reentry by importlib.meta
  aiida/manage/database/integrity/plugins.py
  aiida/plugins/entry_point.py
Due: pylint

remove reentry
  .github/workflows/benchmark.yml
  .github/workflows/ci-code.yml
  .github/workflows/rabbitmq.yml
  .github/workflows/release.yml
  .github/workflows/test-install.yml
  .molecule/default/setup_aiida.yml
  .pre-commit-config.yaml
  aiida/manage/database/integrity/plugins.py
  aiida/orm/nodes/node.py
  aiida/plugins/entry_point.py
  docs/source/howto/faq.rst
  docs/source/howto/installation.rst
  docs/source/howto/plugins_develop.rst
  docs/source/howto/plugins_install.rst
  docs/source/internals/plugin_system.rst
  docs/source/intro/install_conda.rst
  docs/source/intro/install_system.rst
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  setup.json
  utils/dependency_management.py
  utils/validate_consistency.py
Due: pylint, dm-generate-all, pyproject, dependencies, verdi-autodocs, version-number

Adds tests
  tests/common/test_hashing.py
  tests/restapi/test_routes.py
Due: pylint

Dependencies: remove unused `ete3` dependency (#4956)
  environment.yml
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 305589757dee7e4f4fa885b712ef2473179951af [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 305589757dee7e4f4fa885b712ef2473179951af [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Move DatetimePrecision to aiida.common
  aiida/common/hashing.py
  aiida/common/utils.py
  aiida/restapi/common/utils.py
  tests/common/test_hashing.py
Due: pylint

fix verdi computer show tab completion
  aiida/cmdline/params/types/computer.py
  tests/cmdline/params/types/test_computer.py
Due: pylint, verdi-autodocs

🔧 MAINTAIN: Remove psycopg2 Conda mapping (#4941)
  environment.yml
  utils/dependency_management.py
Due: pylint, dm-generate-all, pyproject, dependencies

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 3214236df66a3792ee57fe38a06c0c3bb65861ab [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 3214236df66a3792ee57fe38a06c0c3bb65861ab [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

example additional printing
  aiida/orm/nodes/node.py
  aiida/orm/nodes/process/process.py
Due: pylint

CLI: fix broken autocomplete for `verdi computer` (#4962)
  aiida/cmdline/params/types/computer.py
  tests/cmdline/params/types/test_computer.py
Due: pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 3489d051e1a1c1119043b7ef38a0da9b8f55f808 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 3489d051e1a1c1119043b7ef38a0da9b8f55f808 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

add sphinx dependency to test extra
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

Dependencies: add sphinx dependency to test extra (#4971)
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 6c159cafc36375bebeab96715ae7c63f02610880 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 6c159cafc36375bebeab96715ae7c63f02610880 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Avoid deadlocks when retrieving stdout/stderr via SSH
  aiida/transports/plugins/ssh.py
  tests/transports/test_all_plugins.py
Due: pylint

Optimizing the parameters to have a high throughput
  aiida/transports/plugins/ssh.py
Due: pylint

Major refactoring of the exec_commmand_wait functionality
  aiida/transports/plugins/local.py
  aiida/transports/plugins/ssh.py
  aiida/transports/transport.py
  docs/source/topics/transport_template.py
  tests/transports/test_all_plugins.py
Due: pylint
