Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, mypy, pylint, dm-generate-all, dependencies, verdi-autodocs, version-number

Path conditions:
  imports: any of: aiida/.*py and \.py$
  mypy: any of: (?x)^(
    aiida/common/progress_reporter.py|
    aiida/engine/.*py|
    aiida/manage/manager.py|
    aiida/manage/database/delete/nodes.py|
    aiida/orm/querybuilder.py|
    aiida/orm/implementation/querybuilder.py|
    aiida/orm/implementation/sqlalchemy/querybuilder/.*py|
    aiida/orm/nodes/data/jsonable.py|
    aiida/orm/nodes/node.py|
    aiida/orm/nodes/process/.*py|
    aiida/plugins/entry_point.py|
    aiida/plugins/factories.py|
    aiida/repository/.*py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/importexport/archive/.*py|
    aiida/tools/importexport/dbexport/__init__.py|
    aiida/tools/importexport/dbimport/backends/.*.py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    setup.py|
    setup.json|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    setup.json|
    setup.py|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
  version-number: any of: (?x)^(
    setup.json|
    utils/validate_consistency.py|
    aiida/__init__.py
)$

Update nitpick-exceptions
  docs/source/nitpick-exceptions
Due: none

Update aiida/common/lang.py
  aiida/common/lang.py
Due: imports, pylint

🔧 MAINTAIN: Improve type annotations of `@classproperty` (#5176)
  aiida/common/lang.py
  docs/source/nitpick-exceptions
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 5acf437edf08e79e38bb878aaa7d6b7f5ebbd723 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 5acf437edf08e79e38bb878aaa7d6b7f5ebbd723 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

revert django is_stored change
  aiida/orm/implementation/django/computers.py
  aiida/orm/implementation/django/entities.py
Due: imports, pylint

Fix cmdline tests
  aiida/common/__init__.py
  aiida/common/exceptions.py
  aiida/orm/implementation/sqlalchemy/utils.py
  tests/backends/aiida_sqlalchemy/test_migrations.py
  tests/cmdline/commands/test_calcjob.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_computer.py
  tests/cmdline/commands/test_data.py
  tests/cmdline/commands/test_node.py
  tests/cmdline/params/types/test_calculation.py
  tests/cmdline/params/types/test_data.py
  tests/cmdline/params/types/test_node.py
  tests/conftest.py
Due: imports, pylint

Update test_code.py
  tests/cmdline/commands/test_code.py
Due: pylint

Ensure all backends are closed on AiidaTestCase.tearDown
  aiida/backends/testbase.py
  aiida/orm/implementation/backends.py
  aiida/orm/implementation/sql/backends.py
Due: imports, pylint

fix tests
  aiida/manage/tests/main.py
  aiida/orm/implementation/backends.py
  aiida/orm/implementation/sql/backends.py
  docs/source/nitpick-exceptions
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/test_manager.py
  tests/restapi/conftest.py
Due: imports, pylint

Move create_sqlalchemy_engine to SqlBackend
  aiida/backends/utils.py
  aiida/orm/implementation/sql/backends.py
Due: imports, pylint

remove unused attributes
  aiida/manage/manager.py
Due: imports, mypy, pylint

🐛 FIX: sqlalchemy v2 API warning
  aiida/backends/sqlalchemy/models/node.py
Due: imports, pylint

🐛 FIX: sqlalchemy v2 API warning (#5177)
  aiida/backends/sqlalchemy/models/node.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 0b7db7b78b2e19d27f71c05bc528ff775b176c16 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 0b7db7b78b2e19d27f71c05bc528ff775b176c16 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Improve testing
  aiida/orm/implementation/backends.py
  aiida/orm/implementation/django/backend.py
  aiida/orm/implementation/sql/backends.py
  aiida/orm/implementation/sqlalchemy/backend.py
  aiida/tools/graph/deletions.py
  tests/orm/implementation/test_backend.py
Due: imports, pylint

fix test
  aiida/orm/implementation/django/backend.py
  aiida/orm/implementation/sqlalchemy/backend.py
  tests/orm/node/test_node.py
Due: imports, pylint

✨ NEW: Add `Backend` bulk methods (#5171)
  .pre-commit-config.yaml
  aiida/backends/djsite/utils.py
  aiida/backends/sqlalchemy/models/group.py
  aiida/backends/sqlalchemy/utils.py
  aiida/backends/utils.py
  aiida/orm/entities.py
  aiida/orm/implementation/backends.py
  aiida/orm/implementation/django/backend.py
  aiida/orm/implementation/sql/backends.py
  aiida/orm/implementation/sqlalchemy/backend.py
  aiida/tools/graph/deletions.py
  docs/source/nitpick-exceptions
  tests/orm/implementation/test_backend.py
  tests/orm/node/test_node.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 8fb1457636eed4bd8c1cdabdb8530d972e423962 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 8fb1457636eed4bd8c1cdabdb8530d972e423962 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

🔧 MAINTAIN: Add `pylint_aiida` plugin
  utils/pylint_aiida.py
Due: pylint

Update pyproject.toml
  pyproject.toml
Due: none

Update transport.py
  aiida/transports/transport.py
Due: imports, pylint

Update utils.py
  aiida/common/utils.py
Due: imports, pylint

🔧 MAINTAIN: Add `pylint_aiida` plugin (#5182)
  aiida/common/utils.py
  aiida/transports/transport.py
  pyproject.toml
  utils/pylint_aiida.py
Due: imports, pylint

👌 IMPROVE: Entity collection typing
  .pre-commit-config.yaml
  aiida/common/datastructures.py
  aiida/common/utils.py
  aiida/orm/authinfos.py
  aiida/orm/comments.py
  aiida/orm/computers.py
  aiida/orm/entities.py
  aiida/orm/groups.py
  aiida/orm/implementation/comments.py
  aiida/orm/logs.py
  aiida/orm/nodes/data/remote/base.py
  aiida/orm/nodes/node.py
  aiida/orm/users.py
  aiida/transports/transport.py
  tests/orm/test_groups.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for bd91bdb11cdd4a24dd220bf67dcc318d5ee7d44f [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for bd91bdb11cdd4a24dd220bf67dcc318d5ee7d44f [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

lint fixes
  aiida/orm/nodes/node.py
  tests/orm/test_groups.py
Due: imports, mypy, pylint

fix docs
  docs/source/howto/data.rst
  docs/source/nitpick-exceptions
Due: none

fix node subclassing
  aiida/common/lang.py
  aiida/orm/entities.py
  aiida/orm/nodes/node.py
  docs/source/nitpick-exceptions
Due: imports, mypy, pylint

`BaseRestartWorkChain`: clearify the log report when output ports not compatible
  aiida/engine/processes/workchains/restart.py
Due: imports, mypy, pylint

address review comments
  aiida/backends/general/migrations/utils.py
  aiida/repository/backend/abstract.py
  aiida/repository/backend/sandbox.py
  tests/repository/backend/test_abstract.py
Due: imports, mypy, pylint

Update abstract.py
  aiida/repository/backend/abstract.py
Due: imports, mypy, pylint

👌 IMPROVE: Add `AbstractRepositoryBackend.iter_object_streams` (#5168)
  aiida/backends/general/migrations/utils.py
  aiida/repository/backend/abstract.py
  aiida/repository/backend/disk_object_store.py
  aiida/repository/backend/sandbox.py
  tests/repository/backend/test_abstract.py
  tests/repository/backend/test_disk_object_store.py
  tests/repository/backend/test_sandbox.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 0de3f214a502b6fc28b22d37336977c24a3c837e [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 0de3f214a502b6fc28b22d37336977c24a3c837e [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

fix import regression
  aiida/orm/implementation/django/backend.py
Due: imports, pylint
