Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

CI: Fix the benchmark workflow
  .github/workflows/benchmark-config.json
  .github/workflows/benchmark.yml
  README.md
Due: none

Docs: Update AiiDA logo in `README.md`
  README.md
  docs/source/images/aiida-logo.svg
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 888e90b0879ff1d1329224f49431b22ce51fbdf0 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/benchmark.css
  dev/bench/ubuntu-22.04/psql_dos/config.js
  dev/bench/ubuntu-22.04/psql_dos/data.js
  dev/bench/ubuntu-22.04/psql_dos/funcs.js
  dev/bench/ubuntu-22.04/psql_dos/index.html
  dev/bench/ubuntu-22.04/psql_dos/main.js
Due: none

Dependencies: Update requirement `importlib-metadata~=4.13`
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/orm/groups.py
  aiida/orm/nodes/process/calculation/calcjob.py
  aiida/plugins/entry_point.py
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: imports, pylint, dm-generate-all, dependencies

Dependencies: Update requirement `importlib-metadata~=4.13` (#5963)
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/orm/groups.py
  aiida/orm/nodes/process/calculation/calcjob.py
  aiida/plugins/entry_point.py
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: imports, pylint, dm-generate-all, dependencies

Docs: Fix the `intro/tutorial.md` notebook
  docs/source/intro/tutorial.md
Due: none

Fix the `%verdi` IPython magics utility
  aiida/tools/ipython/ipython_magics.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for e1923a1faf0ce8222b83a364b1c0f13437f0b28f [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Dependencies: Bump `graphviz` version to `0.19`
  environment.yml
  pyproject.toml
Due: dm-generate-all, dependencies

Dependencies: Bump `graphviz` version to `0.19` (#5965)
  environment.yml
  pyproject.toml
Due: dm-generate-all, dependencies

`DaemonClient`: Fix and homogenize use of `timeout` in client calls
  aiida/engine/daemon/client.py
  aiida/manage/configuration/schema/config-v9.schema.json
  aiida/manage/tests/pytest_fixtures.py
  docs/source/conf.py
  docs/source/topics/daemon.rst
  docs/source/topics/index.rst
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 9a81d106b4eeefff52fb6986116bf9e95ea7b1c4 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for b26c2d430329cd9da1d898f1d28dbac21e9f5eea [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`DaemonClient`: Fix and homogenize use of `timeout` in client calls (#5960)
  aiida/engine/daemon/client.py
  aiida/manage/configuration/schema/config-v9.schema.json
  aiida/manage/tests/pytest_fixtures.py
  docs/source/conf.py
  docs/source/topics/daemon.rst
  docs/source/topics/index.rst
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 30c7f442951fdb22a8e63e4f761352a56d5f8713 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

CLI: Add `--timeout` option to all `verdi daemon` commands
  aiida/cmdline/commands/cmd_daemon.py
  tests/cmdline/commands/test_daemon.py
Due: imports, pylint, verdi-autodocs

CLI: Add `--timeout` option to all `verdi daemon` commands (#5966)
  aiida/cmdline/commands/cmd_daemon.py
  tests/cmdline/commands/test_daemon.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 9de3f90a157ec7c9f99c1f17f3ca3548f6d96bba [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`CalcJob`: Fix bug in `validate_calc_job` if `code` excluded
  aiida/engine/processes/calcjobs/calcjob.py
Due: imports, pylint

Release `v2.3.0`
  CHANGELOG.md
  aiida/__init__.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for fce1cd6d7da2b0241830cab30a83eb5ab978a16d [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

docs: variable arguments => variadic arguments
  CHANGELOG.md
Due: none

update docs
  docs/source/topics/processes/functions.rst
Due: none

fix typo
  docs/source/topics/processes/functions.rst
Due: none

Remove outdated passage on variadic arguments
  docs/source/topics/processes/functions.rst
Due: none

Update docs/source/topics/processes/functions.rst
  docs/source/topics/processes/functions.rst
Due: none

Docs: Correct "variable" to "variadic" arguments (#5975)
  CHANGELOG.md
  docs/source/topics/processes/functions.rst
Due: none

Set the properties of KpointsData class in the constructor.
  aiida/orm/nodes/data/array/kpoints.py
  tests/orm/nodes/data/test_kpoints.py
Due: imports, pylint

Avoid setting cell, mesh at the same time in the constructor
  aiida/orm/nodes/data/array/kpoints.py
  tests/orm/nodes/data/test_kpoints.py
Due: imports, pylint

Avoid setting cell, mesh at the same time in the constructor
  tests/orm/nodes/data/test_kpoints.py
Due: pylint

Add class methods for KpointsData.
  aiida/orm/nodes/data/array/kpoints.py
Due: imports, pylint

Addresses #5984 to try to make the documentation about the negation operator clearer.
  docs/source/howto/query.rst
  docs/source/topics/database.rst
Due: none

Replace `flask` `JSONEncoder` by `JSONProvider`
  aiida/restapi/common/utils.py
  aiida/restapi/run_api.py
  pyproject.toml
Due: imports, pylint, dm-generate-all, dependencies

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 978217693af987f015b51dc1c422a2e71bd39f4f [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Dependencies: Add upper limit for `ipython<8.13`
  environment.yml
  pyproject.toml
Due: dm-generate-all, dependencies

Apply reviewer suggestions
  aiida/restapi/common/utils.py
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: imports, pylint, dm-generate-all, dependencies

Path conditions:
  imports: any of: aiida/.*py and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
