Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

Fix stale DB reads after RPC round-trip on SQLite
  src/aiida/engine/processes/control.py
Due: imports

Remove broker start/stop from daemon CLI commands
  src/aiida/cmdline/commands/cmd_daemon.py
Due: imports, verdi-autodocs

Fix missing @ on pytest.mark.requires_broker in test_process_function.py
  tests/engine/test_process_function.py
Due: none

Replace recursive pop() with iterative loop in PersistentQueue
  src/aiida/brokers/zmq/queue.py
Due: imports

Show ZMQ broker status in `verdi status`
  src/aiida/cmdline/commands/cmd_daemon.py
  src/aiida/cmdline/commands/cmd_status.py
  tests/cmdline/commands/test_status.py
Due: imports, verdi-autodocs

test zmq with psq
  .github/workflows/ci-code.yml
Due: none

Auto-start/stop ZMQ broker with daemon lifecycle
  src/aiida/brokers/broker.py
  src/aiida/brokers/zmq/broker.py
  src/aiida/cmdline/commands/cmd_broker.py
  src/aiida/cmdline/commands/cmd_daemon.py
  tests/conftest.py
Due: imports, verdi-autodocs

Add verdi bug-report command
  src/aiida/brokers/zmq/service.py
  src/aiida/cmdline/commands/__init__.py
  src/aiida/cmdline/commands/cmd_bug_report.py
  src/aiida/cmdline/commands/cmd_daemon.py
Due: imports, verdi-autodocs

Slim down ZmqBrokerService for circus-managed lifecycle
  src/aiida/brokers/zmq/service.py
Due: imports

Default verdi presto to ZMQ broker, add --use-rabbitmq flag
  src/aiida/cmdline/commands/cmd_presto.py
Due: imports, verdi-autodocs

Route broadcast subscriber mutations through _run_on_loop
  src/aiida/brokers/zmq/communicator.py
Due: imports

Run ZMQ broker as a circus watcher instead of standalone subprocess
  src/aiida/brokers/broker.py
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/client.py
  src/aiida/cmdline/commands/cmd_daemon.py
  src/aiida/cmdline/commands/cmd_status.py
  src/aiida/engine/daemon/client.py
  tests/brokers/test_zmq.py
  tests/cmdline/commands/test_daemon.py
  tests/conftest.py
Due: imports, verdi-autodocs

Refactor ZmqCommunicator to use asyncio event loop instead of threading locks
  src/aiida/brokers/zmq/communicator.py
Due: imports

Remove HAS_PSUTIL guard from ZmqBrokerManagementClient
  src/aiida/brokers/zmq/client.py
Due: imports

Remove PUB/SUB sockets, send broadcasts over ROUTER/DEALER
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/communicator.py
  src/aiida/brokers/zmq/protocol.py
  src/aiida/brokers/zmq/server.py
  src/aiida/brokers/zmq/service.py
  tests/brokers/test_zmq.py
Due: imports

Merge ZmqBrokerManagementClient into ZmqBroker
  src/aiida/brokers/zmq/__init__.py
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/client.py
  src/aiida/cmdline/commands/cmd_daemon.py
  src/aiida/cmdline/commands/cmd_status.py
  tests/brokers/test_zmq.py
  tests/conftest.py
Due: imports, verdi-autodocs

Clean up minor issues in ZMQ broker
  src/aiida/brokers/zmq/protocol.py
  src/aiida/brokers/zmq/server.py
  src/aiida/brokers/zmq/service.py
  src/aiida/cmdline/commands/cmd_daemon.py
  src/aiida/cmdline/commands/cmd_status.py
Due: imports, verdi-autodocs

Inherit from kiwipy.Communicator
  src/aiida/brokers/zmq/communicator.py
Due: imports

Clarify dock
  src/aiida/brokers/zmq/protocol.py
Due: imports

Show broker directory in verdi daemon status
  src/aiida/cmdline/commands/cmd_daemon.py
Due: imports, verdi-autodocs

Add protocol design note documenting AMQP-over-ZMQ architecture
  src/aiida/brokers/zmq/protocol.py
Due: imports

Fix daemon failing to pick up tasks due to dual broker conflict
  src/aiida/brokers/zmq/broker.py
  src/aiida/engine/daemon/client.py
Due: imports

Use PID file sentinel instead of cmdline matching for broker validation
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/protocol.py
  src/aiida/brokers/zmq/service.py
  tests/brokers/test_zmq.py
  tests/conftest.py
Due: imports

Rename service query methods to clarify they refer to ZmqBrokerService
  src/aiida/brokers/zmq/broker.py
  src/aiida/cmdline/commands/cmd_daemon.py
  src/aiida/cmdline/commands/cmd_status.py
  tests/brokers/test_zmq.py
  tests/conftest.py
Due: imports, verdi-autodocs

Strict typing for psql_dos.migrator
  pyproject.toml
  src/aiida/storage/psql_dos/migrator.py
  src/aiida/storage/psql_dos/utils.py
Due: imports, generate-conda-environment, validate-conda-environment

Add missing type annotation for __enter__ and __exit__
  src/aiida/storage/psql_dos/migrator.py
Due: imports

review
  src/aiida/storage/sqlite_temp/backend.py
  src/aiida/storage/sqlite_zip/backend.py
Due: imports

Update src/aiida/storage/sqlite_zip/backend.py
  src/aiida/storage/sqlite_zip/backend.py
Due: imports

Add typing to storage/*/migrator.py
  .pre-commit-config.yaml
  src/aiida/storage/psql_dos/migrator.py
  src/aiida/storage/psql_dos/utils.py
  src/aiida/storage/sqlite_dos/backend.py
  src/aiida/storage/sqlite_zip/migrator.py
Due: imports

Improve typing of psql_dos/backend.py
  src/aiida/storage/psql_dos/backend.py
Due: imports

Add typing to storage/sqlite_*/backend.py
  .pre-commit-config.yaml
  src/aiida/repository/backend/sandbox.py
  src/aiida/storage/sqlite_temp/backend.py
  src/aiida/storage/sqlite_zip/backend.py
Due: imports

InfoDictType exists
  src/aiida/repository/backend/sandbox.py
  src/aiida/storage/psql_dos/migrations/utils/utils.py
  src/aiida/storage/sqlite_temp/backend.py
  src/aiida/storage/sqlite_zip/backend.py
Due: imports

__zipfile.close and fixes
  src/aiida/storage/psql_dos/migrator.py
  src/aiida/storage/sqlite_zip/backend.py
Due: imports

more typed methods for sqlite backends
  src/aiida/storage/sqlite_dos/backend.py
  src/aiida/storage/sqlite_zip/backend.py
  src/aiida/storage/sqlite_zip/utils.py
Due: imports

python3 shebang
  docs/source/howto/include/scripts/performance_benchmark_base.py
Due: none

Update docstring
  docs/source/howto/include/scripts/performance_benchmark_base.py
Due: none

Fix verdi status message when no daemon is available
  src/aiida/cmdline/commands/cmd_status.py
Due: imports, verdi-autodocs

Generalize print_status and add types
  pyproject.toml
  src/aiida/cmdline/commands/cmd_status.py
Due: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

Future
  src/aiida/cmdline/commands/cmd_status.py
Due: imports, verdi-autodocs

Split lines automatically
  src/aiida/cmdline/commands/cmd_status.py
Due: imports, verdi-autodocs
