Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

🧪 Test remote process controller (#7640)
  tests/engine/processes/test_communications.py
Due: none

🧪 Stabilize monitoring tests with local controller (#7640)
  tests/engine/processes/calcjobs/test_monitors.py
Due: none

✨ Add local process controller (#7640)
  src/aiida/engine/processes/communications.py
  tests/engine/processes/test_communications.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 74cc462fc03bee465a8b4f37420220d91c0cf788 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Preserve enum types during AiiDA serialization
  docs/source/topics/data_types.rst
  src/aiida/orm/nodes/data/base.py
  tests/orm/data/test_enum.py
Due: imports

Annotate enum serialization regression tests
  tests/orm/data/test_enum.py
Due: none

🧪 Avoid deprecated Entity properties in serialization tests
  tests/orm/models/test_models.py
Due: none

🧪 Close results.json in the shell parser test
  tests/tools/test_shell.py
Due: none

🔧 Update actions/setup-python to v7
  .github/actions/install-aiida-core/action.yml
Due: none

🧪 Register the dumping test node before use
  tests/tools/dumping/test_utils.py
Due: none

🔧 `pre-commit`: update hooks to current releases (#7637)
  .pre-commit-config.yaml
  pyproject.toml
  src/aiida/common/loaders.py
Due: imports, generate-conda-environment, validate-conda-environment

⬆️ `pytest`: move the pin from 7.x to 9.x (#7637)
  pyproject.toml
  uv.lock
Due: generate-conda-environment, validate-conda-environment

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 5f27d66596f4d9db49249e2c31b8d438d81bc9b7 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

✨ `JsonableData`: take a pydantic model
  src/aiida/orm/nodes/data/jsonable.py
  tests/orm/nodes/data/test_jsonable.py
Due: imports

📚 `CHANGELOG`: a pydantic model as a node
  CHANGELOG.md
Due: none

🔧 Enable Ruff union type ordering (#7656)
  pyproject.toml
  src/aiida/common/datastructures.py
  src/aiida/engine/processes/communications.py
  src/aiida/engine/processes/futures.py
  src/aiida/engine/processes/process.py
  src/aiida/engine/processes/states.py
  src/aiida/engine/processes/workchains/restart.py
  src/aiida/engine/processes/workchains/utils.py
  src/aiida/engine/utils.py
  src/aiida/manage/manager.py
  src/aiida/orm/implementation/storage_backend.py
  src/aiida/orm/querybuilder.py
  src/aiida/schedulers/datastructures.py
  src/aiida/storage/psql_dos/backend.py
  src/aiida/storage/psql_dos/migrations/utils/utils.py
  src/aiida/storage/sqlite_zip/backend.py
  src/aiida/tools/archive/create.py
  src/aiida/tools/visualization/graph.py
Due: imports, generate-conda-environment, validate-conda-environment

👌 `ports`: check a namespace against its container (#7619)
  src/aiida/engine/processes/graphs/process.py
  src/aiida/engine/processes/ports.py
  src/aiida/engine/processes/process_spec.py
  tests/engine/processes/test_container_validation.py
Due: imports

♻️ Rename QueryBuilder fields module to qb_fields
  src/aiida/orm/__init__.py
  src/aiida/orm/entities.py
  src/aiida/orm/nodes/node.py
  src/aiida/orm/qb_fields.py
  src/aiida/orm/querybuilder.py
  tests/orm/test_fields.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 9786b4c1ad1f35e18de04a1a1836a791dcd9de36 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

♻️ Rename QueryBuilder fields module to qb_fields (#7654)
  src/aiida/orm/__init__.py
  src/aiida/orm/entities.py
  src/aiida/orm/nodes/node.py
  src/aiida/orm/qb_fields.py
  src/aiida/orm/querybuilder.py
  tests/orm/test_fields.py
Due: imports

🔧 Add linting rule to support only t.<Type> usage (#7655)
  pyproject.toml
Due: generate-conda-environment, validate-conda-environment

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 90d6bdaded976766d2de23fd5d592c45c4689b00 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 9cbe7be74829a480a74c7285457fb0fa395c3bb3 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for f2fb61dff946f44005ce5d192ac65923680da849 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Migrate v2 `core.ssh` computers to the asynchronous transport
  docs/source/internals/storage/migrations.rst
  src/aiida/storage/psql_dos/migrations/utils/legacy_ssh_computers.py
  src/aiida/storage/psql_dos/migrations/versions/main_0003.py
  src/aiida/storage/sqlite_dos/migrations/versions/main_0003.py
  src/aiida/storage/sqlite_zip/migrations/versions/main_0003.py
  tests/storage/psql_dos/migrations/main_branch/test_main_0003.py
  tests/storage/sqlite_dos/migrations/main_branch/test_main_0003.py
  tests/storage/sqlite_zip/migrations/test_migrator.py
Due: imports

🐛 `core.ssh`: raise `OSError` when `asyncssh` fails to list a directory
  src/aiida/transports/plugins/async_backend.py
  tests/transports/test_asyncssh_plugin.py
Due: imports

🧪 Give the `AuthInfo` model test user a unique email
  tests/orm/models/test_models.py
Due: none

Remove the `core.ssh` transport plugin
  .github/config/slurm-ssh-config.yaml
  .github/config/slurm-ssh.yaml
  .github/workflows/setup.sh
  .pre-commit-config.yaml
  docs/source/howto/run_codes.rst
  docs/source/howto/ssh.rst
  docs/source/nitpick-exceptions
  docs/source/topics/plugins.rst
  docs/source/topics/transport.rst
  environment.yml
  pyproject.toml
  src/aiida/cmdline/commands/cmd_devel.py
  src/aiida/cmdline/params/options/commands/computer.py
  src/aiida/common/log.py
  src/aiida/manage/configuration/config.py
  src/aiida/manage/configuration/migrations/migrations.py
  src/aiida/tools/pytest_fixtures/__init__.py
  src/aiida/tools/pytest_fixtures/orm.py
  src/aiida/transports/__init__.py
  src/aiida/transports/cli.py
  src/aiida/transports/plugins/__init__.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/util.py
  tests/cmdline/commands/test_computer.py
  tests/cmdline/commands/test_computer/test_computer_export_setup___no_sort_.yaml
  tests/cmdline/commands/test_computer/test_computer_export_setup___sort_.yaml
  tests/cmdline/params/types/test_plugin.py
  tests/engine/daemon/test_execmanager.py
  tests/engine/test_memory_leaks.py
  tests/manage/configuration/migrations/test_migrations.py
  tests/manage/configuration/test_options.py
  tests/orm/data/code/test_installed.py
  tests/orm/nodes/data/test_remote.py
  tests/orm/test_computers.py
  tests/restapi/test_routes.py
  tests/tools/pytest_fixtures/test_orm.py
  tests/transports/test_all_plugins.py
  tests/transports/test_ssh.py
  uv.lock
Due: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

`core.ssh_async`: honor the client configuration of a migrated computer
  src/aiida/transports/cli.py
  src/aiida/transports/plugins/async_backend.py
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/plugins/ssh_legacy.py
  tests/transports/test_asyncssh_plugin.py
  tests/transports/test_ssh_legacy.py
Due: imports

Rename `core.ssh_async` to `core.ssh`
  .github/config/slurm-ssh.yaml
  .github/workflows/setup.sh
  docs/source/howto/faq.rst
  docs/source/howto/run_codes.rst
  docs/source/howto/ssh.rst
  docs/source/howto/tune_performance.rst
  docs/source/reference/rest_api.rst
  docs/source/topics/plugins.rst
  docs/source/topics/transport.rst
  pyproject.toml
  src/aiida/tools/pytest_fixtures/__init__.py
  src/aiida/tools/pytest_fixtures/orm.py
  src/aiida/transports/plugins/__init__.py
  src/aiida/transports/plugins/ssh.py
  tests/cmdline/commands/test_computer.py
  tests/cmdline/commands/test_computer/test_computer_export_setup___no_sort_.yaml
  tests/cmdline/commands/test_computer/test_computer_export_setup___sort_.yaml
  tests/cmdline/params/types/test_plugin.py
  tests/engine/daemon/test_execmanager.py
  tests/engine/test_memory_leaks.py
  tests/orm/data/code/test_installed.py
  tests/orm/nodes/data/test_remote.py
  tests/orm/test_computers.py
  tests/restapi/test_routes.py
  tests/tools/pytest_fixtures/test_orm.py
  tests/transports/test_all_plugins.py
  tests/transports/test_asyncssh_plugin.py
Due: imports, generate-conda-environment, validate-conda-environment

Remove unused code from transports.cli module
  src/aiida/transports/cli.py
Due: imports

Run mypy on aiida.transports module
  .pre-commit-config.yaml
  src/aiida/transports/cli.py
  src/aiida/transports/plugins/local.py
  src/aiida/transports/plugins/ssh.py
Due: imports
