Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, mypy, pylint, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: aiida/.*py and \.py$
  mypy: any of: (?x)^(
    aiida/common/timezone.py|
    aiida/common/progress_reporter.py|
    aiida/engine/.*py|
    aiida/manage/manager.py|
    aiida/manage/database/delete/nodes.py|
    aiida/orm/querybuilder.py|
    aiida/orm/implementation/entities.py|
    aiida/orm/implementation/storage_backend.py|
    aiida/orm/implementation/authinfos.py|
    aiida/orm/implementation/comments.py|
    aiida/orm/implementation/computers.py|
    aiida/orm/implementation/groups.py|
    aiida/orm/implementation/logs.py|
    aiida/orm/implementation/nodes.py|
    aiida/orm/implementation/users.py|
    aiida/orm/implementation/querybuilder.py|
    aiida/orm/entities.py|
    aiida/orm/extras.py|
    aiida/orm/authinfos.py|
    aiida/orm/comments.py|
    aiida/orm/computers.py|
    aiida/orm/groups.py|
    aiida/orm/logs.py|
    aiida/orm/users.py|
    aiida/orm/nodes/data/enum.py|
    aiida/orm/nodes/data/jsonable.py|
    aiida/orm/nodes/attributes.py|
    aiida/orm/nodes/node.py|
    aiida/orm/nodes/process/.*py|
    aiida/orm/nodes/repository.py|
    aiida/orm/utils/links.py|
    aiida/plugins/entry_point.py|
    aiida/plugins/factories.py|
    aiida/repository/.*py|
    aiida/storage/control.py|
    aiida/storage/psql_dos/backend.py|
    aiida/storage/psql_dos/orm/querybuilder/.*py|
    aiida/storage/psql_dos/utils.py|
    aiida/storage/sqlite_zip/.*.py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/archive/.*py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$

🐛 FIX: SQLA model `instant_defaults_listener`
  aiida/storage/psql_dos/models/__init__.py
  aiida/storage/psql_dos/models/authinfo.py
  aiida/storage/psql_dos/models/base.py
  aiida/storage/psql_dos/models/comment.py
  aiida/storage/psql_dos/models/computer.py
  aiida/storage/psql_dos/models/log.py
  aiida/storage/psql_dos/models/node.py
  aiida/storage/psql_dos/models/user.py
  aiida/storage/sqlite_zip/models.py
  tests/storage/psql_dos/test_schema.py
Due: imports, mypy, pylint

👌 IMPROVE: Allow `engine.run` to work without RabbitMQ
  aiida/cmdline/commands/cmd_status.py
  aiida/engine/processes/process.py
  aiida/engine/runners.py
  aiida/manage/manager.py
  tests/cmdline/commands/test_status.py
Due: imports, mypy, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 6b31e77520536d6a1aa7ac514f888c7db3c69a05 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

👌 IMPROVE: Move default user caching to `StorageBackend`
  aiida/orm/implementation/storage_backend.py
  aiida/orm/users.py
  aiida/storage/psql_dos/backend.py
Due: imports, mypy, pylint

add test
  tests/storage/psql_dos/test_backend.py
Due: pylint

fix tests
  aiida/orm/groups.py
  aiida/orm/implementation/storage_backend.py
  aiida/orm/nodes/node.py
Due: imports, mypy, pylint

Remove uses of deprecated resources (#5497)
  docs/source/howto/cookbook.rst
  docs/source/howto/data.rst
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/orm/test_entities.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for d103b8fc49b4e6280b99aace7962b32bafdeacd6 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Update users.py
  aiida/orm/users.py
Due: imports, mypy, pylint

address review comments
  aiida/orm/groups.py
  aiida/orm/implementation/storage_backend.py
Due: imports, mypy, pylint

👌 IMPROVE: Reinstate old profile after `profile_context`
  aiida/manage/configuration/__init__.py
Due: imports, pylint

Add test
  tests/manage/configuration/test_configuration.py
Due: pylint

👌 IMPROVE: Move default user caching to `StorageBackend` (#5460)
  aiida/orm/groups.py
  aiida/orm/implementation/storage_backend.py
  aiida/orm/nodes/node.py
  aiida/orm/users.py
  aiida/storage/psql_dos/backend.py
  tests/storage/psql_dos/test_backend.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for ca6b324738380dcfd53f500d2c41ea43e1ef60a7 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

👌 IMPROVE: Reinstate old profile after `profile_context` (#5461)
  aiida/manage/configuration/__init__.py
  tests/manage/configuration/test_configuration.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 391c3cbaba2b369c3975371f1857688be17c8788 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

👌 IMPROVE: Compute file size, when writing to zip archive
  aiida/storage/sqlite_zip/migrations/legacy_to_main.py
  aiida/storage/sqlite_zip/migrator.py
  aiida/tools/archive/implementations/sqlite_zip/writer.py
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: imports, mypy, pylint, dm-generate-all, dependencies

Use putfile
  aiida/storage/sqlite_zip/migrations/legacy_to_main.py
  aiida/storage/sqlite_zip/migrator.py
  aiida/tools/archive/implementations/sqlite_zip/writer.py
Due: imports, mypy, pylint

compute the file size of the stream
  aiida/tools/archive/implementations/sqlite_zip/writer.py
Due: imports, mypy, pylint

Update aiida/tools/archive/implementations/sqlite_zip/writer.py
  aiida/tools/archive/implementations/sqlite_zip/writer.py
Due: imports, mypy, pylint

👌 IMPROVE: Compute file size, when writing to zip archive (#5498)
  aiida/storage/sqlite_zip/migrations/legacy_to_main.py
  aiida/storage/sqlite_zip/migrator.py
  aiida/tools/archive/implementations/sqlite_zip/writer.py
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: imports, mypy, pylint, dm-generate-all, dependencies

🚀 RELEASE: v2.0.0
  CHANGELOG.md
  aiida/__init__.py
Due: imports, pylint

Update __init__.py
  aiida/__init__.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 9a5aadb9ac2169e6b612e162ffe5e6511e988162 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

updates
  CHANGELOG.md
  docs/source/howto/interact.rst
  docs/source/intro/installation.rst
Due: none

🚀 RELEASE: v2.0.0 (#5488)
  CHANGELOG.md
  aiida/__init__.py
  docs/source/howto/interact.rst
  docs/source/intro/installation.rst
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 8ac2ab4918784839c0cdfd5491a705ea55f76d5d [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

📚 DOCS: Fix changelog heading
  CHANGELOG.md
Due: none

Post release: add the `.post0` qualifier to version attribute
  aiida/__init__.py
Due: imports, pylint

DevOps: Change name of main branch from `develop/master` to `main`
  .github/workflows/benchmark.yml
  .github/workflows/push_image_to_dockerhub.yml
  README.md
  aiida/manage/manager.py
  docs/source/conf.py
  docs/source/intro/about.rst
Due: imports, mypy, pylint

DevOps: Change name of main branch from `develop/master` to `main` (#5499)
  .github/workflows/benchmark.yml
  .github/workflows/push_image_to_dockerhub.yml
  README.md
  aiida/manage/manager.py
  docs/source/conf.py
  docs/source/intro/about.rst
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for b404a2aaa25baed7c3d3315ae269859bb5952c97 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

🐛 FIX: autocompletion in click>8.1.0
  aiida/cmdline/commands/cmd_verdi.py
Due: imports, pylint, verdi-autodocs

Update cmd_verdi.py
  aiida/cmdline/commands/cmd_verdi.py
Due: imports, pylint, verdi-autodocs

Dependencies: update requirement `click~=8.1`
  aiida/cmdline/commands/cmd_verdi.py
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

Dependencies: update requirement `click~=8.1` (#5504)
  aiida/cmdline/commands/cmd_verdi.py
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

Release `v2.0.1`
  CHANGELOG.md
  aiida/__init__.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 63b4c4b38c3cdee2e0ef3e633dbb6f43a143d4e5 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Release `v2.0.1` (#5505)
  CHANGELOG.md
  aiida/__init__.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 874c8dfe4ee6eab22a2f8fecf5b7984b6c9fa0c2 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none
