Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, mypy, pylint, dm-generate-all, dependencies, verdi-autodocs, version-number

Path conditions:
  imports: any of: aiida/.*py and \.py$
  mypy: any of: (?x)^(
    aiida/common/progress_reporter.py|
    aiida/engine/.*py|
    aiida/manage/manager.py|
    aiida/manage/database/delete/nodes.py|
    aiida/orm/querybuilder.py|
    aiida/orm/implementation/querybuilder.py|
    aiida/orm/implementation/sqlalchemy/querybuilder/.*py|
    aiida/orm/nodes/data/jsonable.py|
    aiida/orm/nodes/node.py|
    aiida/orm/nodes/process/.*py|
    aiida/plugins/entry_point.py|
    aiida/plugins/factories.py|
    aiida/repository/.*py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/importexport/archive/.*py|
    aiida/tools/importexport/dbexport/__init__.py|
    aiida/tools/importexport/dbimport/backends/.*.py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    setup.py|
    setup.json|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    setup.json|
    setup.py|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
  version-number: any of: (?x)^(
    setup.json|
    utils/validate_consistency.py|
    aiida/__init__.py
)$

add pytest-benchmarks:ubuntu-18.04,django benchmark result for fb259b74b3978a3ca58059a784ee7b9f8a11976e [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for fb259b74b3978a3ca58059a784ee7b9f8a11976e [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

`Node`: add the `copy_tree` method (#5114)
  aiida/orm/nodes/repository.py
  aiida/repository/repository.py
  docs/source/topics/repository.rst
  tests/orm/node/test_repository.py
  tests/repository/test_repository.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for cce0e307ba775cef76477fef42c1765e93757b34 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for cce0e307ba775cef76477fef42c1765e93757b34 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

`QueryBuilder`: set correct name for the `QUERYBUILDER` logger
  aiida/orm/implementation/querybuilder.py
Due: imports, mypy, pylint

Engine: add `CalcJobImporter` class and associated entry point group
  aiida/calculations/arithmetic/add.py
  aiida/calculations/importers/__init__.py
  aiida/calculations/importers/arithmetic/__init__.py
  aiida/calculations/importers/arithmetic/add.py
  aiida/engine/__init__.py
  aiida/engine/processes/__init__.py
  aiida/engine/processes/calcjobs/__init__.py
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/engine/processes/calcjobs/importer.py
  aiida/orm/nodes/process/calculation/calcjob.py
  aiida/plugins/__init__.py
  aiida/plugins/factories.py
  docs/source/nitpick-exceptions
  setup.json
  tests/calculations/importers/arithmetic/test_add.py
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/plugins/test_factories.py
Due: imports, mypy, pylint, dm-generate-all, dependencies, version-number

Engine: implement functionality to import completed `CalcJobs`
  aiida/engine/launch.py
  aiida/engine/processes/calcjobs/calcjob.py
  tests/engine/processes/calcjobs/__init__.py
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/processes/calcjobs/test_calc_job/test_multi_codes_run_parallel_False_.sh
  tests/engine/processes/calcjobs/test_calc_job/test_multi_codes_run_parallel_True_.sh
  tests/engine/processes/calcjobs/test_calc_job/test_multi_codes_run_withmpi_False_.sh
  tests/engine/processes/calcjobs/test_calc_job/test_multi_codes_run_withmpi_True_.sh
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 22d4e2ecc256e8dc840bd0e76e5f4421ddbe0f6a [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 22d4e2ecc256e8dc840bd0e76e5f4421ddbe0f6a [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

fix: remove branch restriction for docker push
  .github/workflows/push_image_to_dockerhub.yml
Due: none

bump aiida-prerequisites
  .jenkins/Dockerfile
  .molecule/default/Dockerfile
  Dockerfile
Due: none

update python version in jenkins
  .jenkins/Jenkinsfile
Due: none

`CalcJob`: allow directories in `local_copy_list`
  aiida/engine/daemon/execmanager.py
  docs/source/topics/calculations/usage.rst
  tests/engine/daemon/test_execmanager.py
Due: imports, mypy, pylint

MAINTAIN: bump aiida-prerequisites (#5134)
  .jenkins/Dockerfile
  .jenkins/Jenkinsfile
  .molecule/default/Dockerfile
  Dockerfile
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for d7d1ac650c28ead6a422a8167a0e06123565e1d4 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for d7d1ac650c28ead6a422a8167a0e06123565e1d4 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

WIP profile locking mechanism
  aiida/backends/djsite/manager.py
  aiida/backends/manager.py
  aiida/backends/utils.py
  aiida/cmdline/commands/cmd_profile.py
  aiida/common/exceptions.py
  aiida/manage/manager.py
  docs/source/reference/command_line.rst
Due: imports, mypy, pylint, verdi-autodocs

common: fix dateutil.parser import in timezone
  aiida/common/timezone.py
Due: imports, pylint

tests/cmdline: test "process list" without "-r"
  tests/cmdline/commands/test_process.py
Due: pylint

Add tests for timezone utilities
  aiida/common/timezone.py
  tests/common/test_timezone.py
Due: imports, pylint

common: fix dateutil.parser import in timezone
  aiida/common/timezone.py
  tests/cmdline/commands/test_process.py
  tests/common/test_timezone.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 7f84b53e4b65b3e8b4c19b1e3cb8430d3d68d6db [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 0206935b3b872dff1a89e08a856ec7aa9fa833ee [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 0206935b3b872dff1a89e08a856ec7aa9fa833ee [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 7f84b53e4b65b3e8b4c19b1e3cb8430d3d68d6db [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

`CalcJob`: allow directories in `local_copy_list` (#5115)
  aiida/engine/daemon/execmanager.py
  docs/source/topics/calculations/usage.rst
  tests/engine/daemon/test_execmanager.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for a295616cbdc6a5aa8f0286d3c85d2408a872fa84 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for a295616cbdc6a5aa8f0286d3c85d2408a872fa84 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

SQLA v2 API: Update declarative_base import
  aiida/backends/sqlalchemy/models/base.py
Due: imports, pylint

SQLA v2 API: Remove branched connection context
  aiida/backends/sqlalchemy/migrations/env.py
Due: imports, pylint

SQLA v2 API: Replace .execute("...") with .execute(text("..."))
  aiida/backends/sqlalchemy/migrations/versions/70c7d732f1b2_delete_dbpath.py
  aiida/backends/sqlalchemy/migrations/versions/ea2f50e7f615_dblog_create_uuid_column.py
  aiida/backends/sqlalchemy/utils.py
  aiida/orm/implementation/sqlalchemy/backend.py
  tests/backends/aiida_sqlalchemy/test_utils.py
Due: imports, pylint

SQLA v2 API: .transaction.nested -> .in_nested_transaction()
  aiida/orm/implementation/sqlalchemy/backend.py
  aiida/orm/implementation/sqlalchemy/utils.py
Due: imports, pylint

SQLA v2 API: Suppress known `SAWarning`s in tests
  tests/backends/aiida_sqlalchemy/test_schema.py
Due: pylint

SQLA v2 API: Use `Row._as_dict()` for dict access
  aiida/backends/sqlalchemy/migrations/versions/041a79fc615f_dblog_cleaning.py
  tests/backends/aiida_sqlalchemy/test_migrations.py
Due: imports, pylint

SQLA v2 API: add engine & session `future=True` flag
  aiida/backends/utils.py
Due: imports, pylint

SQLA v2 API: Replace use of lists in `select()`
  aiida/backends/sqlalchemy/migrations/versions/12536798d4d3_trajectory_symbols_to_attribute.py
  aiida/backends/sqlalchemy/migrations/versions/1b8ed3425af9_remove_legacy_workflows.py
  aiida/backends/sqlalchemy/migrations/versions/1feaea71bd5a_migrate_repository.py
  aiida/backends/sqlalchemy/migrations/versions/239cea6d2452_provenance_redesign.py
  aiida/backends/sqlalchemy/migrations/versions/ce56d84bcc35_delete_trajectory_symbols_array.py
  aiida/orm/implementation/sqlalchemy/querybuilder/joiner.py
Due: imports, mypy, pylint
