Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

Bump flask version
  pyproject.toml
  uv.lock
Due: dm-generate-all, dependencies

Bump pymatgen
  pyproject.toml
  uv.lock
Due: dm-generate-all, dependencies

Bump tabulate
  environment.yml
  pyproject.toml
  uv.lock
Due: dm-generate-all, dependencies

Fix extras parameter when from-lock: false
  .github/actions/install-aiida-core/action.yml
  .github/workflows/docs-build.yml
  .github/workflows/release.yml
Due: none

Try setup environment?
  .github/workflows/ci-code.yml
Due: none

Bump alembic version
  environment.yml
  pyproject.toml
  uv.lock
Due: dm-generate-all, dependencies

workflow name
  .github/workflows/ci-code.yml
Due: none

Revert "Fix default"
  .github/actions/install-aiida-core/action.yml
Due: none

Bump pymatgen more?
  pyproject.toml
  uv.lock
Due: dm-generate-all, dependencies

Update pyparsing
  pyproject.toml
  uv.lock
Due: dm-generate-all, dependencies

Bump ipython
  environment.yml
  pyproject.toml
  uv.lock
Due: dm-generate-all, dependencies

--disable-warnings
  .github/workflows/ci-code.yml
Due: none

Upgrade lockfile
  uv.lock
Due: none

Bump min pymatgen to get parse_structures
  pyproject.toml
  uv.lock
Due: dm-generate-all, dependencies

Ugh, further pymatgen bump to resolve CI-only errors
  pyproject.toml
  uv.lock
Due: dm-generate-all, dependencies

Remove migration output capturing for SqliteZipBackend initialisation (#6964)
  src/aiida/manage/configuration/config.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 016d049ef9547672681b3466c42223b445f15a5f [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Improve typing of QueryBuilder.all()
  src/aiida/orm/nodes/data/code/legacy.py
  src/aiida/orm/querybuilder.py
  src/aiida/tools/archive/create.py
Due: imports

Apply suggestions from code review
  src/aiida/cmdline/commands/cmd_profile.py
Due: imports, verdi-autodocs

Use `SqliteZipBackend.create_profile` instead of fixture
  src/aiida/manage/configuration/config.py
  tests/conftest.py
  tests/manage/configuration/test_config.py
Due: imports

Check for core.sqlite_zip storage backend and filepath existence
  src/aiida/cmdline/commands/cmd_profile.py
Due: imports, verdi-autodocs

wip
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/manage/configuration/config.py
  tests/cmdline/commands/test_profile.py
Due: imports, verdi-autodocs

Added sqlite_zip profile factory and tests
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/manage/configuration/config.py
  tests/conftest.py
  tests/manage/configuration/test_config.py
Due: imports, verdi-autodocs

Move logic to `delete_profile` method of `Config`
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/manage/configuration/config.py
  tests/cmdline/commands/test_profile.py
Due: imports, verdi-autodocs

Check first for sqlite_zip, as other backends might not have filepath key
  src/aiida/cmdline/commands/cmd_profile.py
Due: imports, verdi-autodocs

CI: Test minimum package versions (#6940)
  .github/actions/install-aiida-core/action.yml
  .github/workflows/ci-code.yml
  .github/workflows/docs-build.yml
  .github/workflows/release.yml
  .github/workflows/test-install.yml
  environment.yml
  pyproject.toml
  uv.lock
Due: dm-generate-all, dependencies

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 577d7c92af8eb45040b0547ac9fad287f24a22a4 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

echo Any
  src/aiida/cmdline/utils/echo.py
Due: imports

dict or list in echo_dictionary
  src/aiida/cmdline/utils/decorators.py
  src/aiida/cmdline/utils/echo.py
Due: imports

Even more types
  src/aiida/cmdline/utils/ascii_vis.py
  src/aiida/cmdline/utils/common.py
  src/aiida/cmdline/utils/echo.py
Due: imports

WIP: Add typing to aiida.cmdline.{common,echo,ascii_vis}.py
  .pre-commit-config.yaml
  src/aiida/cmdline/utils/ascii_vis.py
  src/aiida/cmdline/utils/common.py
  src/aiida/cmdline/utils/decorators.py
  src/aiida/cmdline/utils/echo.py
Due: imports

More types
  src/aiida/cmdline/utils/common.py
  src/aiida/cmdline/utils/decorators.py
  src/aiida/cmdline/utils/echo.py
Due: imports

Fix Python 3.9, click 8.1
  src/aiida/cmdline/params/options/multivalue.py
Due: imports, verdi-autodocs

Support click 8.2
  docs/source/reference/command_line.rst
  environment.yml
  pyproject.toml
  src/aiida/cmdline/groups/verdi.py
  src/aiida/cmdline/params/_shims.py
  src/aiida/cmdline/params/options/multivalue.py
  src/aiida/cmdline/params/types/choice.py
  src/aiida/cmdline/params/types/multiple.py
  src/aiida/cmdline/params/types/plugin.py
  tests/conftest.py
  uv.lock
Due: imports, dm-generate-all, dependencies, verdi-autodocs

Fix tests
  docs/source/nitpick-exceptions
  pyproject.toml
  tests/cmdline/commands/test_computer.py
  tests/cmdline/commands/test_help.py
  tests/cmdline/commands/test_storage.py
  tests/cmdline/commands/test_user.py
  tests/cmdline/commands/test_verdi.py
  tests/cmdline/params/options/test_interactive.py
Due: dm-generate-all, dependencies

Fix conda build, fix RTD build
  docs/source/nitpick-exceptions
  environment.yml
  pyproject.toml
  uv.lock
Due: dm-generate-all, dependencies

Cleanup all warnings in presto test suite
  pyproject.toml
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/orm/utils/builders/code.py
  src/aiida/tools/data/cif.py
  src/aiida/transports/plugins/ssh.py
  tests/cmdline/commands/test_computer.py
  tests/cmdline/commands/test_status.py
  tests/orm/data/code/test_abstract.py
  tests/orm/nodes/data/test_data.py
  tests/schedulers/test_direct.py
  tests/schedulers/test_lsf.py
  tests/test_dataclasses.py
  tests/transports/test_all_plugins.py
  tests/transports/test_local.py
  tests/transports/test_ssh.py
Due: imports, dm-generate-all, dependencies, verdi-autodocs

add simple tests
  src/aiida/tools/archive/create.py
  tests/tools/archive/test_simple.py
Due: imports

mkdir parents true
  src/aiida/tools/archive/create.py
  tests/tools/archive/test_simple.py
Due: imports

Move path validation, and fix failing tests
  src/aiida/tools/archive/create.py
  tests/tools/archive/test_simple.py
Due: imports
