Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

Dependencies: Restrict Python to strictly below 3.13
  pyproject.toml
Due: dm-generate-all, dependencies

Allow a memory specification of zero for the SLURM plugin.
  src/aiida/schedulers/plugins/slurm.py
  tests/schedulers/test_slurm.py
Due: imports

Reduce `_DEFAULT_SAFE_OPEN_INTERVAL` in `SshTransport`
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/transport.py
Due: imports

Scheduler: Allow a memory specification of zero for the SLURM plugin (#6605)
  src/aiida/schedulers/plugins/slurm.py
  tests/schedulers/test_slurm.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 0fa958285bb07ece05b944cbd694aed663b5193a [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Fix user execute check
  src/aiida/orm/nodes/data/code/installed.py
  tests/orm/data/code/test_installed.py
Due: imports

Line too long errors...
  src/aiida/orm/nodes/data/code/installed.py
  tests/orm/data/code/test_installed.py
Due: imports

Apply suggestions from code review
  src/aiida/orm/nodes/data/code/installed.py
Due: imports

Add check for user x permissions to InstalledCode
  src/aiida/orm/nodes/data/code/installed.py
Due: imports

Add test and make error message more vague
  src/aiida/orm/nodes/data/code/installed.py
  tests/orm/data/code/test_installed.py
Due: imports

Update test
  src/aiida/orm/nodes/data/code/installed.py
  tests/orm/data/code/test_installed.py
Due: imports

CLI: Check user execute in `verdi code test` for `InstalledCode` (#6597)
  src/aiida/orm/nodes/data/code/installed.py
  tests/orm/data/code/test_installed.py
Due: imports

Add `aiida_profile_clean` to `test_devel.py`
  tests/cmdline/commands/test_devel.py
Due: none

Add `verdi devel launch-multiply-add`
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_devel.py
  tests/cmdline/commands/test_devel.py
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 8350df0cb0c48588899d732feb26ce7e43903173 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

review applied
  src/aiida/engine/daemon/execmanager.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/transport.py
  tests/conftest.py
Due: imports

CLI: Fix exception for `verdi plugin list` (#6560)
  src/aiida/cmdline/commands/cmd_plugin.py
  tests/cmdline/commands/test_plugin.py
Due: imports, verdi-autodocs

`DirectScheduler`: Ensure killing child processes (#6572)
  src/aiida/schedulers/plugins/direct.py
  tests/schedulers/test_direct.py
Due: imports

Docker: Replace sleep with `s6-notifyoncheck` (#6475)
  .docker/aiida-core-base/s6-assets/init/aiida-prepare.sh
  .docker/aiida-core-with-services/s6-assets/s6-rc.d/rabbitmq/data/check
  .docker/aiida-core-with-services/s6-assets/s6-rc.d/rabbitmq/notification-fd
  .docker/aiida-core-with-services/s6-assets/s6-rc.d/rabbitmq/run
Due: none

CI: Update ignore comment as the way that presumably updated mypy expects (#6566)
  src/aiida/orm/utils/serialize.py
Due: imports

Fix failed docker CI using more reasoning grep regex to parse python version (#6581)
  .docker/aiida-core-base/Dockerfile
Due: none

DevOps: Fix json query in reading the docker names to filter out fields not starting with aiida (#6573)
  .github/workflows/extract-docker-image-names.sh
Due: none

Release `v2.6.3`
  CHANGELOG.md
  src/aiida/__init__.py
Due: imports

Engine: Fix state change broadcast before process node is updated (#6580)
  src/aiida/engine/processes/process.py
  tests/engine/test_process.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 2ed19dcd824e1b9a5003dae93613a56ecca7c3a7 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`Transport` & `Engine`: factor out `getcwd()` & `chdir()` for compatibility with upcoming async transport (#6594)
  src/aiida/calculations/monitors/base.py
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/engine/daemon/execmanager.py
  src/aiida/engine/processes/calcjobs/calcjob.py
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/orm/nodes/data/remote/base.py
  src/aiida/orm/utils/remote.py
  src/aiida/schedulers/plugins/bash.py
  src/aiida/schedulers/scheduler.py
  src/aiida/transports/plugins/local.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/transport.py
  tests/conftest.py
  tests/engine/daemon/test_execmanager.py
  tests/transports/test_all_plugins.py
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 6f5c35ed16beaf585e2c3045cab5ed4fb0ef3bc1 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for dd866ce816e986285f2c5794f431b6e3c68a369b [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

implement has_key filter for SQLite backend
  src/aiida/storage/sqlite_zip/orm.py
  tests/cmdline/commands/test_calcjob.py
  tests/orm/test_querybuilder.py
  tests/storage/sqlite/test_orm.py
  tests/test_nodes.py
Due: imports

Use only one global var for marking config folder tree
  src/aiida/manage/configuration/settings.py
Due: imports

part
  src/aiida/manage/configuration/profile.py
  src/aiida/manage/configuration/settings.py
Due: imports

with global fix
  src/aiida/manage/configuration/settings.py
Due: imports

Rename global AIIDA_CONFIG_FOLDER as lowercase var
  src/aiida/cmdline/commands/cmd_presto.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/commands/cmd_status.py
  src/aiida/cmdline/params/options/commands/setup.py
  src/aiida/manage/configuration/__init__.py
  src/aiida/manage/configuration/settings.py
  src/aiida/manage/tests/pytest_fixtures.py
  src/aiida/storage/sqlite_dos/backend.py
  tests/manage/configuration/test_config.py
  tests/manage/test_caching_config.py
Due: imports, verdi-autodocs

Remove use of ACCESS_CONTROL_DIR
  src/aiida/manage/configuration/profile.py
  src/aiida/manage/configuration/settings.py
  src/aiida/manage/profile_access.py
Due: imports

Remove use of DAEMON_DIR
  src/aiida/manage/configuration/profile.py
  src/aiida/manage/configuration/settings.py
Due: imports

Unbounded warning fix
  src/aiida/manage/configuration/settings.py
Due: imports

src/aiida/manage/configuration/profile.py out of mypy exclude list
  .pre-commit-config.yaml
  src/aiida/common/lang.py
  src/aiida/manage/configuration/profile.py
Due: imports
