Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

CLI: Add --minimum-job-poll-interval option to verdi computer setup
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/orm/utils/builders/computer.py
  tests/cmdline/commands/test_computer.py
Due: imports, verdi-autodocs

`RemoteStashCompressedData` new data class, and it's deployment to `execmanager.py` to support compressed file formats while stashing.
  .github/system_tests/test_daemon.py
  pyproject.toml
  src/aiida/common/__init__.py
  src/aiida/common/datastructures.py
  src/aiida/engine/daemon/execmanager.py
  src/aiida/engine/processes/calcjobs/calcjob.py
  src/aiida/orm/__init__.py
  src/aiida/orm/nodes/__init__.py
  src/aiida/orm/nodes/data/__init__.py
  src/aiida/orm/nodes/data/remote/__init__.py
  src/aiida/orm/nodes/data/remote/stash/__init__.py
  src/aiida/orm/nodes/data/remote/stash/base.py
  src/aiida/orm/nodes/data/remote/stash/compress.py
  tests/engine/daemon/test_execmanager.py
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/orm/nodes/data/test_remote_stash.py
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.compress.RemoteStashCompressedData.yml
Due: imports, dm-generate-all, dependencies

A new common funcion:`assert_never` to assert certain part of the code is never reached.
  src/aiida/common/asserts.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for ae49af6c304ba155c2e4fc2ea8f69fb8cfcacb4c [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

rebased
  pyproject.toml
  src/aiida/calculations/stash.py
  src/aiida/calculations/transfer.py
  src/aiida/engine/daemon/execmanager.py
  src/aiida/engine/processes/calcjobs/tasks.py
  tests/calculations/test_stash.py
Due: imports, dm-generate-all, dependencies

wip
  pyproject.toml
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/engine/processes/control.py
  src/aiida/engine/processes/process.py
  uv.lock
Due: imports, dm-generate-all, dependencies, verdi-autodocs

rm breakpoints
  src/aiida/engine/processes/control.py
  src/aiida/engine/processes/process.py
Due: imports

Unify hostname/machine parameter naming
  src/aiida/transports/plugins/local.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/transport.py
Due: imports

run only rmq tests for debugging
  .github/workflows/ci-code.yml
  src/aiida/cmdline/commands/cmd_process.py
Due: imports, verdi-autodocs

reset tests to all
  .github/workflows/ci-code.yml
  src/aiida/cmdline/commands/cmd_process.py
Due: imports, verdi-autodocs

update msg
  src/aiida/cmdline/commands/cmd_process.py
Due: imports, verdi-autodocs

asynssh working, debug the openssh
  src/aiida/transports/plugins/local.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/plugins/ssh_async_backend.py
  src/aiida/transports/transport.py
  tests/transports/test_all_plugins.py
Due: imports

Add test for inconsistent y_array shapes in set_y
  docs/source/topics/data_types.rst
  src/aiida/orm/nodes/data/array/xy.py
  tests/orm/nodes/data/test_xy.py
Due: imports

Add ZIP compression and extraction support for Transport utilities
  src/aiida/transports/util.py
  tests/transports/test_transport_utils.py
Due: imports

Improve chown test: use grp/pwd, add error handling, and revert pytest.ini
  .docker/pytest.ini
  tests/transports/test_all_plugins.py
Due: none

Post release: update version number after v2.6.3 release
  src/aiida/__init__.py
Due: imports

working draft
  src/aiida/schedulers/plugins/bash.py
  src/aiida/transports/plugins/local.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/plugins/ssh_async_backend.py
  src/aiida/transports/transport.py
  tests/transports/test_all_plugins.py
Due: imports

activate all tests
  src/aiida/transports/plugins/__init__.py
  src/aiida/transports/plugins/ssh_async_backend.py
  tests/transports/test_all_plugins.py
Due: imports

Fixes #6687: Removed commented-out code and added explanation for AbstractCode filtering
  src/aiida/orm/querybuilder.py
Due: imports

use session dialect name instead of backend class
  src/aiida/storage/psql_dos/orm/querybuilder/main.py
Due: imports

add more backends
  src/aiida/storage/psql_dos/orm/querybuilder/main.py
Due: imports

implement get_creation_statastics for sqlite backend
  src/aiida/storage/psql_dos/orm/querybuilder/main.py
  tests/orm/test_querybuilder.py
  tests/restapi/test_statistics.py
Due: imports

[QueryBuilder] Implement `get_creation_statistics` for SQLite backend (#6763)
  src/aiida/storage/psql_dos/orm/querybuilder/main.py
  tests/orm/test_querybuilder.py
  tests/restapi/test_statistics.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 83454c713cac6e05ac6f0b1c238f576306e87191 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Move dumping test fixtures to `conftest.py`
  tests/conftest.py
  tests/tools/dumping/test_processes.py
Due: none

Fix dump_parent_path being None.
  README.md
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/tools/dumping/base.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/process.py
  tests/tools/dumping/test_process.py
Due: imports, verdi-autodocs

Revert changes to README.md
  README.md
Due: none

Start to work on group testing
  src/aiida/tools/dumping/group.py
  tests/tools/dumping/__init__.py
  tests/tools/dumping/test_group.py
  tests/tools/dumping/test_profile.py
Due: imports

Improve path handling and incremental/overwrite options.
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/process.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
  tests/tools/dumping/test_process.py
  tests/tools/dumping/test_utils.py
Due: imports, verdi-autodocs

Improve path handling and fix _some_ of the bugs.
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/base.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/logger.py
  src/aiida/tools/dumping/process.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
  tests/tools/dumping/test_utils.py
  tests/tools/dumping/utils.py
Due: imports, verdi-autodocs

Dumping of import groups still buggy...
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/logger.py
  src/aiida/tools/dumping/process.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
Due: imports, verdi-autodocs

VSC lost my CollectionDumper :(
  src/aiida/tools/dumping/collection.py
Due: imports

Inherit from BaseDumper. Not sure if I should keep this commit...
  src/aiida/tools/dumping/base.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/logger.py
  src/aiida/tools/dumping/process.py
  src/aiida/tools/dumping/profile.py
Due: imports

Currently working version. Commit before I break it again...
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/group.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
Due: imports, verdi-autodocs

Commit changes to continue.
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/common/utils.py
  src/aiida/repository/repository.py
  src/aiida/tools/dumping/base.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/process.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
  tests/tools/dumping/test_collection.py
Due: imports, verdi-autodocs

Mirroring of workflows and calculations works
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/parser.py
  src/aiida/tools/dumping/processes.py
  src/aiida/tools/dumping/test-config-file.yaml
Due: imports, verdi-autodocs

Various improvements
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/__init__.py
  src/aiida/tools/dumping/base.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/logger.py
  src/aiida/tools/dumping/process.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
  tests/tools/dumping/test_collection.py
  tests/tools/dumping/test_process.py
Due: imports, verdi-autodocs

Add ArithmeticAdd CJ Node fixture without `run`
  tests/conftest.py
Due: none

First version of renaming group paths and relabeling the Logger on group relabel.
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/logger.py
  src/aiida/tools/dumping/profile.py
  tests/tools/dumping/test_profile.py
Due: imports, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
