Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

test_transfer_big_stdout
  tests/transports/test_all_plugins.py
Due: none

test_asynchronuos_execution
  tests/transports/test_all_plugins.py
Due: none

temp
  src/aiida/storage/sqlite_zip/utils.py
  tests/benchmark/test_json_contains.py
Due: imports

checkpoint
  tests/transports/test_all_plugins.py
Due: none

test_copy
  tests/transports/test_all_plugins.py
Due: none

rbsad
  src/aiida/manage/configuration/__init__.py
  src/aiida/manage/configuration/profile.py
  src/aiida/manage/configuration/settings.py
Due: imports

Resolver to resolve, AiiDAConfigDir is singleton
  src/aiida/__init__.py
  src/aiida/cmdline/commands/cmd_presto.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/commands/cmd_status.py
  src/aiida/cmdline/params/options/commands/setup.py
  src/aiida/manage/configuration/__init__.py
  src/aiida/manage/configuration/settings.py
  src/aiida/storage/sqlite_dos/backend.py
  src/aiida/tools/pytest_fixtures/configuration.py
  tests/conftest.py
  tests/manage/configuration/test_config.py
  tests/manage/test_caching_config.py
Due: imports, verdi-autodocs

Bump mypy version to ~=1.13.0
  pyproject.toml
Due: dm-generate-all, dependencies

ignore
  src/aiida/common/lang.py
  src/aiida/manage/manager.py
Due: imports

rsb
  src/aiida/manage/configuration/settings.py
Due: imports

rdh
  src/aiida/manage/configuration/__init__.py
  tests/conftest.py
Due: imports

Move filepaths to config
  src/aiida/__init__.py
  src/aiida/engine/daemon/client.py
  src/aiida/manage/configuration/config.py
  src/aiida/manage/configuration/profile.py
  src/aiida/manage/configuration/settings.py
  src/aiida/manage/profile_access.py
Due: imports

Changes required make it possible to run with pytest-xdist
  tests/orm/test_fields.py
Due: none

Providing support for atomistic StructureData
  src/aiida/orm/nodes/data/array/kpoints.py
  src/aiida/orm/nodes/data/structure.py
  tests/orm/nodes/data/test_kpoints.py
  tests/test_dataclasses.py
Due: imports

Changes required make it possible to run with pytest-xdist (#6631)
  tests/orm/test_fields.py
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 1c5f10968f40934b81eef72ed72dc814497707a8 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

f-pre-commit
  src/aiida/__init__.py
Due: imports

Try fix
  src/aiida/engine/processes/calcjobs/calcjob.py
  src/aiida/engine/processes/workchains/restart.py
  src/aiida/orm/nodes/data/array/projection.py
  src/aiida/orm/nodes/data/list.py
  src/aiida/orm/nodes/data/singlefile.py
  src/aiida/plugins/utils.py
  src/aiida/tools/pytest_fixtures/daemon.py
Due: imports

Pydantic version caused mypy error
  src/aiida/common/pydantic.py
  tests/cmdline/groups/test_dynamic.py
Due: imports

Not using verbose option for CI pytest
  .github/workflows/ci-code.yml
  .github/workflows/test-install.yml
  .github/workflows/tests_nightly.sh
Due: none

amend
  src/aiida/common/pydantic.py
  src/aiida/orm/nodes/data/list.py
  src/aiida/plugins/utils.py
Due: imports

Bugfix `has_atomistic`.
  src/aiida/orm/nodes/data/array/kpoints.py
  src/aiida/orm/nodes/data/structure.py
Due: imports

add benchmark
  src/aiida/storage/sqlite_zip/utils.py
  tests/benchmark/test_json_contains.py
Due: imports

rd
  src/aiida/orm/nodes/data/list.py
Due: imports

Follow the abc contract of MutableSequence for orm.List
  src/aiida/orm/nodes/data/list.py
Due: imports

test_put
  tests/transports/test_all_plugins.py
Due: none

test_get
  tests/transports/test_all_plugins.py
Due: none

test_put_get_abs_path_tree
  tests/transports/test_all_plugins.py
Due: none

Amend
  tests/transports/test_all_plugins.py
Due: none

More tests
  tests/conftest.py
  tests/test_markers.py
Due: none

CI config tweaks
  .github/workflows/benchmark.yml
  .github/workflows/ci-code.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/test-install.yml
  .github/workflows/tests_nightly.sh
Due: none

Test automarked requires_psql|nightly tests
  tests/storage/psql_dos/conftest.py
  tests/storage/psql_dos/migrations/django_branch/test_migrate_to_head.py
  tests/storage/psql_dos/test_backend.py
Due: none

Add tests for presto markers
  tests/conftest.py
  tests/test_markers.py
Due: none

Use enum
  tests/conftest.py
Due: none

tests: add --db-backend pytest option
  .github/workflows/ci-code.yml
  .github/workflows/nightly.yml
  .github/workflows/test-install.yml
  .github/workflows/tests_nightly.sh
  tests/conftest.py
Due: none

Keep pytest verbosity and rename `DbBackend`
  .github/workflows/ci-code.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/test-install.yml
  .github/workflows/tests_nightly.sh
  tests/conftest.py
Due: none

Apply suggestions from code review
  .github/workflows/benchmark.yml
  tests/conftest.py
Due: none

Fix typo in nightly
  .github/workflows/nightly.yml
Due: none

Remove remaining `pytest -v` to mirror changes of #6625.
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

Tests: add --db-backend pytest option (#6625)
  .github/workflows/benchmark.yml
  .github/workflows/ci-code.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/test-install.yml
  .github/workflows/tests_nightly.sh
  tests/conftest.py
  tests/storage/psql_dos/conftest.py
  tests/storage/psql_dos/migrations/django_branch/test_migrate_to_head.py
  tests/storage/psql_dos/test_backend.py
  tests/test_markers.py
Due: none
