Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

add comment on impl for psql of_type
  src/aiida/storage/psql_dos/orm/querybuilder/main.py
Due: imports

Add helper script for creating patch releases from a list of commits (#6602)
  utils/patch-release.sh
Due: none

Typing: mypy fix for `orm.List` the `pop` and `index` methods (#6635)
  src/aiida/orm/nodes/data/list.py
  src/aiida/tools/pytest_fixtures/daemon.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for ec8a055a533b6422ed95b4ec30faf70efd667761 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 36eab779793a6dd0184c83f0b0af6a75a62fac82 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Rename the set/get method of AiiDAConfigDir to just set and get
  src/aiida/cmdline/commands/cmd_presto.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/commands/cmd_status.py
  src/aiida/cmdline/params/options/commands/setup.py
  src/aiida/manage/configuration/__init__.py
  src/aiida/manage/configuration/settings.py
  src/aiida/manage/tests/pytest_fixtures.py
  src/aiida/storage/sqlite_dos/backend.py
  src/aiida/tools/pytest_fixtures/configuration.py
  tests/conftest.py
  tests/manage/configuration/test_config.py
  tests/manage/test_caching_config.py
Due: imports, verdi-autodocs

Revert changes for type checkings
  src/aiida/manage/configuration/profile.py
  src/aiida/manage/tests/pytest_fixtures.py
Due: imports

CLI: Handle `None` process states in build_call_graph
  src/aiida/cmdline/utils/ascii_vis.py
  tests/cmdline/utils/test_ascii_vis.py
Due: imports

WIP: See if we can use uv lockfile
  .github/actions/install-aiida-core/action.yml
  .github/workflows/ci-code.yml
  uv.lock
Due: none

Add pre-commit extra
  .github/actions/install-aiida-core/action.yml
Due: none

CLI: Handle `None` process states in build_call_graph (#6590)
  src/aiida/cmdline/utils/ascii_vis.py
  tests/cmdline/utils/test_ascii_vis.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for f74adb94cc1e8439c8076f563ec112466fdd174b [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Activate the environment
  .github/workflows/ci-code.yml
Due: none

s/from-requirements/from-lock/
  .github/actions/install-aiida-core/action.yml
  .github/workflows/ci-code.yml
  .github/workflows/docs-build.yml
  .github/workflows/release.yml
  .github/workflows/test-install.yml
Due: none

rseb
  src/aiida/manage/configuration/profile.py
Due: imports

chnage from machine to machine_
  src/aiida/transports/plugins/ssh_async.py
Due: imports

rda
  src/aiida/manage/configuration/__init__.py
  src/aiida/manage/configuration/config.py
  src/aiida/manage/configuration/settings.py
Due: imports

Use only one global var for marking config folder tree (#6610)
  .pre-commit-config.yaml
  src/aiida/cmdline/commands/cmd_presto.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/commands/cmd_status.py
  src/aiida/cmdline/params/options/commands/setup.py
  src/aiida/engine/daemon/client.py
  src/aiida/manage/configuration/__init__.py
  src/aiida/manage/configuration/config.py
  src/aiida/manage/configuration/profile.py
  src/aiida/manage/configuration/settings.py
  src/aiida/manage/profile_access.py
  src/aiida/manage/tests/pytest_fixtures.py
  src/aiida/storage/sqlite_dos/backend.py
  src/aiida/tools/pytest_fixtures/configuration.py
  tests/conftest.py
  tests/manage/configuration/test_config.py
  tests/manage/test_caching_config.py
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 9baf3ca96caa5577ec8ed6cef69512f430bb5675 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

verdi code export does not return a message if successful
  src/aiida/cmdline/commands/cmd_code.py
Due: imports, verdi-autodocs

Independent profile in test_log.py
  tests/restapi/conftest.py
  tests/tools/archive/orm/test_logs.py
Due: none

rali
  tests/transports/test_all_plugins.py
Due: none

Common plugin panel to landing page
  docs/source/index.rst
Due: none

Add template panels to `More` section
  docs/source/reference/core_plugins.rst
Due: none

Add core_plugins to toctree, fix landing page link, add logo
  docs/source/index.rst
  docs/source/reference/core_plugins.rst
  docs/source/reference/index.rst
Due: none

git rm -r requirements/
  requirements/README.md
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.12.txt
  requirements/requirements-py-3.9.txt
Due: none

Validate lockfile in CI
  .github/actions/install-aiida-core/action.yml
  .github/workflows/test-install.yml
  .pre-commit-config.yaml
  utils/dependency_management.py
  utils/validate_consistency.py
Due: dm-generate-all, dependencies, verdi-autodocs

Add pre-commit hook for checking uv lockfile
  .pre-commit-config.yaml
Due: none

Fix pre-commit config
  .pre-commit-config.yaml
Due: none

Remove check-requirements job
  .github/actions/install-aiida-core/action.yml
  .github/workflows/ci-code.yml
Due: none

Update CODEOWNERS file
  .github/CODEOWNERS
Due: none

CI: Remove needless jobs
  .github/workflows/ci-code.yml
  .github/workflows/test-install.yml
Due: none

Simplification of the logic for Legacy or atomistic Structure.
  src/aiida/orm/nodes/data/array/kpoints.py
  tests/orm/nodes/data/test_kpoints.py
Due: imports

Small bugfix and changing order if_else in set_cell_from_structure
  src/aiida/orm/nodes/data/array/kpoints.py
Due: imports

Full parametrization of test_kpoints.py for atomistic case.
  tests/orm/nodes/data/test_kpoints.py
Due: none

review applied
  tests/plugins/test_factories.py
  utils/dependency_management.py
Due: dm-generate-all, dependencies

Test refactoring: use tmp path fixture to mock remote and local for transport plugins (#6627)
  src/aiida/transports/plugins/local.py
  tests/transports/test_all_plugins.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 197c666d362b3a7dd03bec9ccc1e41bb44023e7c [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Amend type call error after using AiiDAConfigDir
  src/aiida/manage/tests/pytest_fixtures.py
Due: imports

Clean Db before query when the test need count
  tests/orm/test_querybuilder.py
Due: none

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
