Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, dm-generate-all, pyproject, dependencies, verdi-autodocs, version-number

pylint:
  name: pylint
  entry: pylint
  language: system

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

pyproject:
  name: Validate pyproject.toml
  entry: python ./utils/dependency_management.py validate-pyproject-toml
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

version-number:
  name: Check version numbers
  entry: python ./utils/validate_consistency.py version
  language: system
  pass_filenames: false

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 4544bc49a50c9aa3abebd2837efb5626958ee2b4 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Update pyproject.toml
  pyproject.toml
Due: pyproject

`CalcJob`: make sure `local_copy_list` files do not end up in node repo
  aiida/engine/daemon/execmanager.py
  tests/engine/daemon/test_execmanager.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 02248cf3686a0ab89faf1625e0da24d9e33d8cde [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 02248cf3686a0ab89faf1625e0da24d9e33d8cde [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

`CalcJob`: make sure `local_copy_list` files do not end up in node repo (#4415)
  aiida/engine/daemon/execmanager.py
  tests/engine/daemon/test_execmanager.py
Due: pylint

CI: use `-e` install for tox + add docker-compose for isolated RabbitMQ (#4375)
  .ci/docker-rabbitmq.yml
  pyproject.toml
Due: pyproject

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 29331b558b45ba74acf1ca633a2d8bfabc1bdd05 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 29331b558b45ba74acf1ca633a2d8bfabc1bdd05 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Avoid UnboundLocalError: local variable 'value' referenced before assignment
  aiida/cmdline/utils/multi_line_input.py
Due: pylint

Release `v1.4.2`
  CHANGELOG.md
  aiida/__init__.py
  setup.json
Due: pylint, dm-generate-all, pyproject, dependencies, version-number

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 1e1bdf2dee779970654ed9b22eb996b78e9c4149 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 1e1bdf2dee779970654ed9b22eb996b78e9c4149 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Update setup.json
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

Set all checks in the constructor to `is not None`.
  aiida/orm/nodes/data/array/cube.py
Due: pylint

When reading/writing cube files specify encoding explicitely
  aiida/orm/nodes/data/array/cube.py
Due: pylint

Rename everything_ok with _validate.
  aiida/orm/nodes/data/array/cube.py
Due: pylint

Remove encoding parameter from the export function
  aiida/orm/nodes/data/array/cube.py
Due: pylint

Fix pylint error
  aiida/orm/nodes/data/array/cube.py
Due: pylint

Drop support for Python 3.5.
  .github/workflows/ci-code.yml
  .github/workflows/test-install.yml
  docs/source/intro/installation.rst
  mypy.ini
  requirements/requirements-py-3.5.txt
  setup.json
  setup.py
Due: pylint, dm-generate-all, pyproject, dependencies, version-number

Fix test to check validation
  tests/engine/processes/test_builder.py
Due: pylint

Add option to delete builder attributes
  aiida/engine/processes/builder.py
  tests/engine/processes/test_builder.py
Due: pylint

Remove cell-var-from-loop exception
  aiida/engine/processes/builder.py
Due: pylint

Add explanatory comments + remove commented line
  aiida/engine/processes/builder.py
  tests/engine/processes/test_builder.py
Due: pylint

Fix unclear docstring
  aiida/engine/processes/builder.py
Due: pylint

`ProcessBuilder`: allow unsetting of inputs through attribute deletion (#4419)
  aiida/engine/processes/builder.py
  tests/engine/processes/test_builder.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for bd6903d88a4d88077150763574784a1bc375c644 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for bd6903d88a4d88077150763574784a1bc375c644 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Add `--delete-nodes` flag to verdi group delete
  aiida/cmdline/commands/cmd_group.py
  aiida/cmdline/params/options/__init__.py
Due: pylint, verdi-autodocs

Non-zero return code upon error in `verdi import`
  aiida/cmdline/commands/cmd_import.py
  docs/source/reference/command_line.rst
Due: pylint, verdi-autodocs

Fix `UnboundLocalError` in `aiida.cmdline.utils.edit_multiline_template`
  aiida/cmdline/utils/multi_line_input.py
  tests/cmdline/utils/test_multiline.py
Due: pylint

cmdline/utils/multi_line_input: fix "referenced before assignment"
  aiida/cmdline/utils/multi_line_input.py
Due: pylint

👌 Improve archive export code
  .pre-commit-config.yaml
  aiida/tools/importexport/dbexport/__init__.py
Due: pylint

♻️ Refactor archive exporter
  aiida/tools/importexport/dbexport/__init__.py
  environment.yml
  setup.json
Due: pylint, dm-generate-all, pyproject, dependencies, version-number

Add path creation when copying remote files
  aiida/engine/daemon/execmanager.py
  tests/engine/daemon/test_execmanager.py
Due: pylint

Create empty folder structure in sandbox folder
  aiida/engine/daemon/execmanager.py
Due: pylint

Incorporate requested changes from PR
  aiida/engine/daemon/execmanager.py
  tests/engine/daemon/test_execmanager.py
Due: pylint

Clarified comment explaining re-structure
  aiida/engine/daemon/execmanager.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    setup.py|
    setup.json|
    utils/dependency_management.py
)$
  pyproject: any of: (?x)^(
    setup.json|
    setup.py|
    utils/dependency_management.py|
    pyproject.toml
)$
  dependencies: any of: (?x)^(
    setup.json|
    setup.py|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
  version-number: any of: (?x)^(
    setup.json|
    utils/validate_consistency.py|
    aiida/__init__.py
)$
