Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

imports:
  name: imports
  entry: python utils/autogenerate_all_imports.py
  language: python
  require_serial: true
  pass_filenames: false

generate-conda-environment:
  name: Update conda environment file
  entry: python ./utils/dependency_management.py generate-environment-yml
  language: system
  pass_filenames: false

validate-conda-environment:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

✨ Add `verdi bug-report` command (#7340)
  src/aiida/cmdline/commands/__init__.py
  src/aiida/cmdline/commands/cmd_bug_report.py
  tests/cmdline/commands/test_bug_report.py
Due: imports, verdi-autodocs

🐛 Fix `verdi daemon stop --all` ignoring profile (#7319)
  src/aiida/cmdline/commands/cmd_daemon.py
  tests/cmdline/commands/test_daemon.py
Due: imports, verdi-autodocs

🐛 Stop daemon before `verdi profile delete` (#7319)
  src/aiida/engine/daemon/client.py
  src/aiida/engine/daemon/worker.py
  src/aiida/manage/configuration/config.py
  tests/cmdline/commands/test_profile.py
  tests/engine/daemon/test_client.py
  tests/manage/configuration/test_config.py
Due: imports

🧪 Fix flaky daemon stop test (#7319)
  tests/cmdline/commands/test_daemon.py
Due: none

🐛 Disable propagation for aiida logger (#7319)
  src/aiida/common/log.py
  tests/conftest.py
Due: imports

🧪 Fix flaky `test_check_version_development` test
  tests/manage/configuration/test_configuration.py
Due: none

✨ Add ZeroMQ broker implementation (#7284)
  pyproject.toml
  src/aiida/brokers/__init__.py
  src/aiida/brokers/zmq/__init__.py
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/communicator.py
  src/aiida/brokers/zmq/defaults.py
  src/aiida/brokers/zmq/protocol.py
  src/aiida/brokers/zmq/queue.py
  src/aiida/brokers/zmq/server.py
  src/aiida/brokers/zmq/service.py
  src/aiida/manage/manager.py
  tests/brokers/test_zmq.py
  tests/brokers/test_zmq_broker.py
  tests/brokers/test_zmq_communicator.py
  tests/brokers/test_zmq_payload_optimization.py
  tests/brokers/test_zmq_queue.py
  tests/brokers/test_zmq_server.py
  tests/brokers/test_zmq_service.py
Due: imports, generate-conda-environment, validate-conda-environment

Integrate ZMQ broker into daemon, status, and CI (#7284)
  .github/workflows/ci-code.yml
  .github/workflows/release.yml
  src/aiida/cmdline/commands/cmd_daemon.py
  src/aiida/cmdline/commands/cmd_status.py
  src/aiida/engine/daemon/client.py
  src/aiida/engine/processes/control.py
  tests/cmdline/commands/test_daemon.py
  tests/cmdline/commands/test_status.py
  tests/engine/test_zmq.py
Due: imports, verdi-autodocs

👌 Unify task timeout into `broker.task_timeout` config option (#7284)
  docs/source/howto/installation.rst
  docs/source/installation/guide_complete.rst
  docs/source/internals/broker.rst
  src/aiida/brokers/rabbitmq/broker.py
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/defaults.py
  src/aiida/cmdline/commands/cmd_config.py
  src/aiida/manage/configuration/config.py
  src/aiida/manage/configuration/options.py
  src/aiida/manage/configuration/schema/config-v9.schema.json
  src/aiida/manage/manager.py
Due: imports, verdi-autodocs

`verdi profile setup`: Add `--broker` (#7284)
  src/aiida/cmdline/commands/cmd_presto.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/commands/setup.py
Due: imports, verdi-autodocs

🐛 Fix profile configure state corruption (#7284)
  src/aiida/cmdline/commands/cmd_profile.py
Due: imports, verdi-autodocs

`verdi presto`: Fall back to ZMQ (#7284)
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_presto.py
  tests/cmdline/commands/test_presto.py
Due: imports, verdi-autodocs

🧪 Add requires_broker marker and ZMQ tests (#7284)
  pyproject.toml
  src/aiida/tools/pytest_fixtures/configuration.py
  tests/brokers/test_zmq.py
  tests/calculations/arithmetic/test_add.py
  tests/calculations/test_stash.py
  tests/calculations/test_templatereplacer.py
  tests/calculations/test_transfer.py
  tests/cmdline/commands/test_data.py
  tests/cmdline/commands/test_process.py
  tests/cmdline/commands/test_run.py
  tests/conftest.py
  tests/engine/daemon/test_client.py
  tests/engine/daemon/test_worker.py
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/processes/workchains/test_restart.py
  tests/engine/processes/workchains/test_utils.py
  tests/engine/test_calcfunctions.py
  tests/engine/test_futures.py
  tests/engine/test_launch.py
  tests/engine/test_persistence.py
  tests/engine/test_process.py
  tests/engine/test_process_function.py
  tests/engine/test_run.py
  tests/engine/test_runners.py
  tests/engine/test_utils.py
  tests/engine/test_work_chain.py
  tests/engine/test_workfunctions.py
  tests/manage/test_manager.py
  tests/orm/test_querybuilder.py
  tests/parsers/test_parser.py
  tests/test_dataclasses.py
  tests/test_markers.py
  tests/tools/archive/migration/test_prov_redesign.py
  tests/tools/archive/orm/test_calculations.py
  tests/workflows/arithmetic/test_add_multiply.py
Due: imports, generate-conda-environment, validate-conda-environment

📚 Document ZMQ broker in installation and topic pages (#7284)
  docs/source/installation/guide_complete.rst
  docs/source/installation/guide_quick.rst
  docs/source/topics/daemon.rst
  docs/source/topics/performance.rst
Due: none

Add `--no-broker` to `verdi presto` (#7284)
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_presto.py
Due: imports, verdi-autodocs

📚 Add internal architecture docs for ZMQ broker (#7284)
  docs/source/internals/broker.rst
  docs/source/internals/index.rst
Due: none

🧪 `test_folder::test_api`: fix flaky assertion
  tests/orm/nodes/data/test_folder.py
Due: none

🧪 flaky test_check_version_development test #7345
  tests/manage/configuration/test_configuration.py
Due: none

🐛 Fix flaky `test_fallback_calculation_tools_on_loading_error`
  tests/tools/calculations/test_base.py
Due: none

🐛 Fix flaky `test_fallback_calculation_tools_on_loading_error` #7341
  tests/tools/calculations/test_base.py
Due: none

🐛 Reuse open transport in `_get_size_on_disk_stat` recursive helper
  src/aiida/orm/nodes/data/remote/base.py
Due: imports

🧪 Fix flaky `test_check_version_development` test #7348
  tests/manage/configuration/test_configuration.py
Due: none

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
