Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for f553f805e86d766da6208eb1682f7cf12c7907ac [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

CLI: Add the `verdi profile configure-rabbitmq`
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/commands/setup.py
  tests/cmdline/commands/test_profile.py
Due: imports, verdi-autodocs

CLI: Add the `verdi profile configure-rabbitmq` command (#6454)
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/commands/setup.py
  tests/cmdline/commands/test_profile.py
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 202a3ece9705289a1f12c85e64cf90307ca85c39 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Fix typo in checking for ignore_nonexisting in LocalTransport
  src/aiida/transports/plugins/local.py
Due: imports

Dependencies: Update `tabulate>=0.8.0,<0.10.0`
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.12.txt
  requirements/requirements-py-3.9.txt
Due: dm-generate-all, dependencies

🐛 `RabbitmqBroker`: catch `ConnectionError` for `__str__`
  src/aiida/brokers/rabbitmq/broker.py
  tests/brokers/test_rabbitmq.py
Due: imports

🐛 `RabbitmqBroker`: catch `ConnectionError` for `__str__` (#6473)
  src/aiida/brokers/rabbitmq/broker.py
  tests/brokers/test_rabbitmq.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for cd0f9acb4b932557a91387b7d804cb94ac4dcbb3 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Docs: Correct typehint from format_process_state
  src/aiida/tools/query/formatting.py
Due: imports

CLI: Add color flag to `verdi` command (#6434)
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_verdi.py
  src/aiida/cmdline/groups/verdi.py
  src/aiida/cmdline/params/options/__init__.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/cmdline/utils/log.py
  src/aiida/common/style.py
  src/aiida/tools/query/formatting.py
  tests/cmdline/commands/test_process.py
  tests/cmdline/commands/test_verdi.py
  tests/conftest.py
Due: imports, verdi-autodocs

devops: Don't collect code coverage in test-install.yml
  .github/workflows/test-install.yml
Due: none

CLI: Allow higher than index 10 for `verdi presto`
  src/aiida/cmdline/commands/cmd_presto.py
  tests/cmdline/commands/test_presto.py
Due: imports, verdi-autodocs

CLI: Fix bug with profile name determination in `verdi presto` (#6477)
  src/aiida/cmdline/commands/cmd_presto.py
  tests/cmdline/commands/test_presto.py
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 022f049bfcf86609daf0c2d9ddc0b1c108b9ea7c [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

| -> Union (will be squashed to last commit)
  src/aiida/common/style.py
Due: imports

Consistent `--profile` option for setup commands
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_presto.py
Due: imports, verdi-autodocs

✨ CLI: Make `NON_INTERACTIVE` option a switch instead of flag
  docs/source/reference/command_line.rst
  src/aiida/cmdline/params/options/interactive.py
  src/aiida/cmdline/params/options/main.py
Due: imports, verdi-autodocs

👌 CLI: Make `configure-rabbitmq` non-interactive by default
  src/aiida/cmdline/commands/cmd_profile.py
  tests/cmdline/commands/test_profile.py
Due: imports, verdi-autodocs

👌 CLI: Give feedback for `configure-rabbitmq`
  src/aiida/brokers/rabbitmq/defaults.py
  src/aiida/cmdline/commands/cmd_profile.py
  tests/cmdline/commands/test_profile.py
Due: imports, verdi-autodocs

`profile`~-name~ in s6-assets, thanks @unkcpz
  .docker/aiida-core-base/s6-assets/init/aiida-prepare.sh
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for c2ca6423c1803f75ef198f896cb8ba85339be3ff [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

try to disable color for all tests to see if they work again
  tests/conftest.py
Due: none

Trasnport : ssh : copy(some.directory,recursive=False) is not an option
  src/aiida/transports/plugins/ssh.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for ffd7809d5ed1037ea9b3756c1ae340ec478bafc1 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Revert "Trasnport : ssh : copy(some.directory,recursive=False) is not an option"
  src/aiida/transports/plugins/ssh.py
Due: imports

Auto-load default AiiDA profile.
  src/aiida/manage/manager.py
Due: imports

Communicate loading of default profile via logger
  src/aiida/manage/manager.py
Due: imports

Dependencies: Update `tabulate>=0.8.0,<0.10.0` (#6472)
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.12.txt
  requirements/requirements-py-3.9.txt
Due: dm-generate-all, dependencies

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 6db2f4060d4ece4552f5fe757c0f7d938810f4d1 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

First version of `ProfileDumper`
  src/aiida/tools/dumping/profile.py
Due: imports

Added first CLI entry point
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/profile.py
Due: imports, verdi-autodocs

Add `dump_code_computers` method
  src/aiida/tools/dumping/profile.py
Due: imports

Move `_validate_make_dump_path` function to `utils.py`
  src/aiida/tools/dumping/processes.py
  src/aiida/tools/dumping/utils.py
Due: imports

CLI: Remove the RabbitMQ options from `verdi profile setup`
  src/aiida/brokers/rabbitmq/defaults.py
  src/aiida/cmdline/commands/cmd_presto.py
  src/aiida/cmdline/commands/cmd_profile.py
  tests/cmdline/commands/test_presto.py
  tests/cmdline/commands/test_profile.py
Due: imports, verdi-autodocs

Add `full` CLI option; validate_path; profile info
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/processes.py
  src/aiida/tools/dumping/profile.py
Due: imports, verdi-autodocs

Revert previous changes.
  .docker/aiida-core-base/s6-assets/init/aiida-prepare.sh
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_presto.py
Due: imports, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
