Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, dm-generate-all, pyproject, dependencies, verdi-autodocs, version-number

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.30.0
    hooks:
    -   id: yapf
        name: yapf
        types: [python]
        exclude: &exclude_files >
            (?x)^(
                docs/.*|
            )$
        args: ['-i']

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.780
    hooks:
    -   id: mypy
        pass_filenames: true
        files: >-
            (?x)^(
                aiida/engine/processes/calcjobs/calcjob.py|
                aiida/tools/groups/paths.py
            )$

-   repo: local

    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        types: [python]
        language: system
        exclude: *exclude_files

    -   id: dm-generate-all
        name: Update all requirements files
        entry: python ./utils/dependency_management.py generate-all
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.py|
                setup.json|
                utils/dependency_management.py
            )$

    -   id: pyproject
        name: Validate pyproject.toml
        entry: python ./utils/dependency_management.py validate-pyproject-toml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                pyproject.toml
            )$

    -   id: dependencies
        name: Validate environment.yml
        entry: python ./utils/dependency_management.py validate-environment-yml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                environment.yml|
            )$

    -   id: verdi-autodocs
        name: Automatically generating verdi docs
        entry: python ./utils/validate_consistency.py verdi-autodocs
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                aiida/cmdline/commands/.*|
                aiida/cmdline/params/.*|
                aiida/cmdline/params/types/.*|
                utils/validate_consistency.py|
            )$

    -   id: version-number
        name: Check version numbers
        entry: python ./utils/validate_consistency.py version
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                utils/validate_consistency.py|
                aiida/__init__.py
            )$

`verdi computer test`: fix bug in spurious output test (#4316)
  aiida/cmdline/commands/cmd_computer.py
  tests/cmdline/commands/test_computer.py
Due: pylint, verdi-autodocs

Add check to `verdi` to ensure extra dependencies are not imported (#4324)
  .github/workflows/verdi.sh
  aiida/cmdline/commands/cmd_devel.py
  aiida/tools/data/array/kpoints/__init__.py
  docs/source/reference/command_line.rst
Due: pylint, verdi-autodocs

Add infrastructure to parse scheduler output for `CalcJobs`
  aiida/backends/testimplbase.py
  aiida/engine/daemon/execmanager.py
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/schedulers/scheduler.py
  docs/source/howto/plugin_codes.rst
  docs/source/topics/calculations/usage.rst
  tests/conftest.py
  tests/engine/test_calc_job.py
Due: pylint

Remove superfluous `ERROR_NO_RETRIEVED_FOLDER` from `CalcJob` subclasses
  aiida/calculations/arithmetic/add.py
  aiida/calculations/templatereplacer.py
  aiida/parsers/plugins/arithmetic/add.py
  aiida/parsers/plugins/templatereplacer/doubler.py
  docs/source/topics/calculations/include/snippets/calcjobs/arithmetic_add_parser.py
  docs/source/topics/calculations/usage.rst
Due: pylint

`ArithmeticAddParser`: attach output before checking for negative value (#4267)
  aiida/parsers/plugins/arithmetic/add.py
Due: pylint

`Runner`: close loop when runner stops if runner created it
  aiida/engine/runners.py
Due: pylint

rename test fixtures => static
  tests/cmdline/commands/test_data.py
  tests/orm/data/test_data.py
  tests/orm/data/test_upf.py
  tests/static/__init__.py
  tests/static/calcjob/arithmetic.add.aiida
  tests/static/calcjob/arithmetic.add_old.aiida
  tests/static/data/Si.cif
  tests/static/export/compare/django.aiida
  tests/static/export/compare/sqlalchemy.aiida
  tests/static/export/migrate/empty.aiida
  tests/static/export/migrate/export_v0.1_simple.aiida
  tests/static/export/migrate/export_v0.2_simple.aiida
  tests/static/export/migrate/export_v0.3_simple.aiida
  tests/static/export/migrate/export_v0.4_simple.aiida
  tests/static/export/migrate/export_v0.5_simple.aiida
  tests/static/export/migrate/export_v0.6_simple.aiida
  tests/static/export/migrate/export_v0.7_simple.aiida
  tests/static/export/migrate/export_v0.8_simple.aiida
  tests/static/export/migrate/export_v0.9_simple.aiida
  tests/static/graphs/graph1.aiida
  tests/static/pseudos/Ba.json
  tests/static/pseudos/Ba.pbesol-spn-rrkjus_psl.0.2.3-tot-pslib030.UPF
  tests/static/pseudos/C.json
  tests/static/pseudos/C_pbe_v1.2.uspp.F.UPF
  tests/static/pseudos/O.pbesol-n-rrkjus_psl.0.1-tested-pslib030.UPF
  tests/static/pseudos/Ti.pbesol-spn-rrkjus_psl.0.2.3-tot-pslib030.UPF
  tests/test_dbimporters.py
  tests/tools/importexport/migration/test_migration_array.py
  tests/utils/archives.py
Due: pylint

`Runner`: close loop when runner stops if runner created it (#4307)
  aiida/engine/runners.py
Due: pylint

Release `v1.3.1`
  CHANGELOG.md
  aiida/__init__.py
  setup.json
Due: pylint, dm-generate-all, pyproject, dependencies, version-number

Make `--prepend-text` and `--append-text` options properly interactive
  aiida/cmdline/commands/cmd_code.py
  aiida/cmdline/commands/cmd_computer.py
  aiida/cmdline/params/options/__init__.py
  aiida/cmdline/params/options/commands/code.py
  aiida/cmdline/params/options/commands/computer.py
  aiida/cmdline/params/options/interactive.py
  aiida/cmdline/templates/multiline.tpl
  aiida/cmdline/templates/multival.tpl
  aiida/cmdline/templates/prepost.bash.tpl
  aiida/cmdline/utils/multi_line_input.py
  docs/source/reference/command_line.rst
  tests/cmdline/commands/test_computer.py
  tests/cmdline/utils/test_multiline.py
Due: pylint, verdi-autodocs

Rename folder `test.fixtures` to `test.static` (#4219)
  tests/cmdline/commands/test_data.py
  tests/orm/data/test_data.py
  tests/orm/data/test_upf.py
  tests/static/__init__.py
  tests/static/calcjob/arithmetic.add.aiida
  tests/static/calcjob/arithmetic.add_old.aiida
  tests/static/data/Si.cif
  tests/static/export/compare/django.aiida
  tests/static/export/compare/sqlalchemy.aiida
  tests/static/export/migrate/empty.aiida
  tests/static/export/migrate/export_v0.1_simple.aiida
  tests/static/export/migrate/export_v0.2_simple.aiida
  tests/static/export/migrate/export_v0.3_simple.aiida
  tests/static/export/migrate/export_v0.4_simple.aiida
  tests/static/export/migrate/export_v0.5_simple.aiida
  tests/static/export/migrate/export_v0.6_simple.aiida
  tests/static/export/migrate/export_v0.7_simple.aiida
  tests/static/export/migrate/export_v0.8_simple.aiida
  tests/static/export/migrate/export_v0.9_simple.aiida
  tests/static/graphs/graph1.aiida
  tests/static/pseudos/Ba.json
  tests/static/pseudos/Ba.pbesol-spn-rrkjus_psl.0.2.3-tot-pslib030.UPF
  tests/static/pseudos/C.json
  tests/static/pseudos/C_pbe_v1.2.uspp.F.UPF
  tests/static/pseudos/O.pbesol-n-rrkjus_psl.0.1-tested-pslib030.UPF
  tests/static/pseudos/Ti.pbesol-spn-rrkjus_psl.0.2.3-tot-pslib030.UPF
  tests/test_dbimporters.py
  tests/tools/importexport/migration/test_migration_array.py
  tests/utils/archives.py
Due: pylint

Make `--prepend-text` and `--append-text` options properly interactive (#4318)
  aiida/cmdline/commands/cmd_code.py
  aiida/cmdline/commands/cmd_computer.py
  aiida/cmdline/params/options/__init__.py
  aiida/cmdline/params/options/commands/code.py
  aiida/cmdline/params/options/commands/computer.py
  aiida/cmdline/params/options/interactive.py
  aiida/cmdline/templates/multiline.tpl
  aiida/cmdline/templates/multival.tpl
  aiida/cmdline/templates/prepost.bash.tpl
  aiida/cmdline/utils/multi_line_input.py
  docs/source/reference/command_line.rst
  tests/cmdline/commands/test_computer.py
  tests/cmdline/utils/test_multiline.py
Due: pylint, verdi-autodocs

Writing with ZipFolder retains encoding
  aiida/tools/importexport/dbexport/zip.py
  tests/tools/importexport/dbexport/test_zip.py
Due: pylint

Add generic AiidaWarning class
  aiida/common/warnings.py
Due: pylint

Change MyWritingZipFile to ZipFileWrapper
  aiida/tools/importexport/dbexport/__init__.py
  aiida/tools/importexport/dbexport/zip.py
  tests/tools/importexport/dbexport/test_zip.py
Due: pylint

Satisfy pre-commit
  tests/tools/importexport/dbexport/test_zip.py
Due: pylint

incorporate suggestions by @giovannipizzi
  aiida/schedulers/plugins/slurm.py
Due: pylint

slurm plugin: always raise for non-zero exit code
  aiida/schedulers/plugins/slurm.py
Due: pylint

add tests
  aiida/schedulers/plugins/slurm.py
  tests/schedulers/test_slurm.py
Due: pylint

`SlurmScheduler`: always raise for non-zero exit code (#4332)
  aiida/schedulers/plugins/slurm.py
  tests/schedulers/test_slurm.py
Due: pylint

CI: limit upper version of `setuptools<50` for Jenkins build
  .ci/Jenkinsfile
  pyproject.toml
  utils/dependency_management.py
Due: pylint, dm-generate-all, pyproject, dependencies

CI: limit upper version of `setuptools<50` for Jenkins build (#4343)
  .ci/Jenkinsfile
  pyproject.toml
  utils/dependency_management.py
Due: pylint, dm-generate-all, pyproject, dependencies

New item/attr setter for Dict nodes
  aiida/orm/nodes/data/dict.py
  aiida/orm/utils/managers.py
  tests/orm/data/test_dict.py
Due: pylint

Introduce equality concept for nodes + tests
  aiida/orm/nodes/node.py
  tests/orm/node/test_node.py
Due: pylint

Quick-apply suggestions from code review
  aiida/orm/utils/managers.py
  tests/orm/data/test_dict.py
Due: pylint

Add requested modifications to comments
  aiida/orm/nodes/data/dict.py
  aiida/orm/utils/managers.py
  tests/orm/data/test_dict.py
Due: pylint

`Dict`: allow setting attributes through setitem and `AttributeManager` (#4351)
  aiida/orm/nodes/data/dict.py
  aiida/orm/utils/managers.py
  tests/orm/data/test_dict.py
Due: pylint

`TemplateReplacerCalcJob`: make `files` namespace dynamic
  aiida/calculations/templatereplacer.py
  tests/calculations/test_templatereplacer.py
Due: pylint

`TemplateReplacerCalculation`: make `files` namespace dynamic (#4348)
  aiida/calculations/templatereplacer.py
  tests/calculations/test_templatereplacer.py
Due: pylint

Bump base docker image version.
  Dockerfile
Due: none

Bump base docker image version. (#4353)
  Dockerfile
Due: none

Add dir creation to transport and execmanager
  aiida/engine/daemon/execmanager.py
  aiida/transports/plugins/local.py
  aiida/transports/plugins/ssh.py
Due: pylint

🔧 Add tox configuration
  .gitignore
  pyproject.toml
Due: pyproject

docs: clarify `verdi node delete` docstring
  aiida/cmdline/commands/cmd_group.py
Due: pylint, verdi-autodocs

remove unnecessary Group.clear()
  aiida/cmdline/commands/cmd_group.py
Due: pylint, verdi-autodocs

`verdi`: add message broker configuration options to profile setup
  .github/config/profile.yaml
  aiida/cmdline/commands/cmd_setup.py
  aiida/cmdline/params/options/__init__.py
  aiida/cmdline/params/options/commands/setup.py
  docs/source/reference/command_line.rst
Due: pylint, verdi-autodocs

`verdi status`: fix broker URL and add `--print-traceback` option
  aiida/cmdline/commands/cmd_computer.py
  aiida/cmdline/commands/cmd_status.py
  aiida/cmdline/params/options/__init__.py
  docs/source/reference/command_line.rst
Due: pylint, verdi-autodocs

`Config`: add migration to add default message broker configuration
  aiida/manage/configuration/migrations/migrations.py
  tests/manage/configuration/migrations/test_migrations.py
  tests/manage/configuration/migrations/test_samples/input/3.json
  tests/manage/configuration/migrations/test_samples/reference/4.json
Due: pylint
