Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Updated the suggested change in node.py file
  src/aiida/orm/utils/node.py
Due: imports

Moved click options to options/main.py and added group mirror CLI entry point.
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/collection.py
Due: imports, verdi-autodocs

review applied
  src/aiida/cmdline/commands/cmd_calcjob.py
  src/aiida/cmdline/commands/cmd_node.py
  src/aiida/orm/utils/remote.py
  tests/cmdline/commands/test_node.py
Due: imports, verdi-autodocs

implement get_creation_statastics for sqlite backend
  src/aiida/storage/psql_dos/orm/querybuilder/main.py
  tests/orm/test_querybuilder.py
  tests/restapi/test_statistics.py
Due: imports

fix conflicts
  .github/system_tests/test_daemon.py
  pyproject.toml
  src/aiida/common/datastructures.py
  src/aiida/engine/daemon/execmanager.py
  src/aiida/engine/processes/calcjobs/calcjob.py
  src/aiida/orm/__init__.py
  src/aiida/orm/nodes/__init__.py
  src/aiida/orm/nodes/data/__init__.py
  src/aiida/orm/nodes/data/remote/__init__.py
  src/aiida/orm/nodes/data/remote/stash/__init__.py
  src/aiida/orm/nodes/data/remote/stash/base.py
  src/aiida/orm/nodes/data/remote/stash/compress.py
  tests/engine/daemon/test_execmanager.py
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/orm/nodes/data/test_remote_stash.py
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.compress.RemoteStashCompressedData.yml
Due: imports, dm-generate-all, dependencies

Improve path handling and incremental/overwrite options.
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/process.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
  tests/tools/dumping/test_process.py
  tests/tools/dumping/test_utils.py
Due: imports, verdi-autodocs

Improve path handling and fix _some_ of the bugs.
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/base.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/logger.py
  src/aiida/tools/dumping/process.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
  tests/tools/dumping/test_utils.py
  tests/tools/dumping/utils.py
Due: imports, verdi-autodocs

`prepare_dump_path` check if symlink. `--symlink-duplicates` default to False.
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
Due: imports, verdi-autodocs

Fix bug in subdirectories duplicated for profile mirror.
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
Due: imports, verdi-autodocs

Add `--only-groups` option to profile mirror.
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/logger.py
  src/aiida/tools/dumping/profile.py
Due: imports, verdi-autodocs

Add support for pip packages in environment.yml
  utils/dependency_management.py
Due: dm-generate-all, dependencies

Implement password storage for transport ssh_async
  .github/workflows/setup_ssh.sh
  environment.yml
  pyproject.toml
  src/aiida/orm/authinfos.py
  src/aiida/orm/computers.py
  src/aiida/orm/implementation/computers.py
  src/aiida/storage/psql_dos/orm/computers.py
  src/aiida/transports/__init__.py
  src/aiida/transports/plugins/__init__.py
  src/aiida/transports/plugins/ssh_async.py
  tests/orm/test_authinfos.py
  tests/orm/test_computers.py
  tests/transports/test_all_plugins.py
  uv.lock
Due: imports, dm-generate-all, dependencies

Dumping of import groups still buggy...
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/logger.py
  src/aiida/tools/dumping/process.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
Due: imports, verdi-autodocs

Move PasswordManager to AuthInfo and rename to SecureStorage
  src/aiida/orm/authinfos.py
  src/aiida/orm/computers.py
  src/aiida/orm/implementation/authinfos.py
  src/aiida/orm/implementation/computers.py
  src/aiida/storage/psql_dos/orm/authinfos.py
  src/aiida/storage/psql_dos/orm/computers.py
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/transport.py
  tests/orm/test_authinfos.py
  tests/transports/test_all_plugins.py
Due: imports

Add test for setting auth params with password
  src/aiida/orm/authinfos.py
  tests/orm/test_authinfos.py
Due: imports

move secure storage test from computer to auth info
  src/aiida/orm/implementation/authinfos.py
  tests/orm/test_authinfos.py
  tests/orm/test_computers.py
Due: imports

updgrade to keyringrs 0.3.0
  environment.yml
  pyproject.toml
  src/aiida/orm/implementation/authinfos.py
Due: imports, dm-generate-all, dependencies

Fix copy local files to nested remote target folder
  src/aiida/engine/daemon/execmanager.py
  src/aiida/transports/plugins/ssh.py
  tests/engine/daemon/test_execmanager.py
Due: imports

add test for gotocomputer command
  tests/transports/test_all_plugins.py
Due: none

update uv lock for keyringrs 0.3.0
  uv.lock
Due: none

go back to keyringrs 0.1.0
  environment.yml
  pyproject.toml
  uv.lock
Due: dm-generate-all, dependencies

change transport cli suggestion to use enum name
  src/aiida/orm/authinfos.py
  src/aiida/transports/cli.py
Due: imports

add validate function checking if dbus exists
  src/aiida/transports/plugins/ssh_async.py
  tests/transports/test_all_plugins.py
Due: imports

move to keyring
  environment.yml
  pyproject.toml
  src/aiida/orm/implementation/authinfos.py
  uv.lock
Due: imports, dm-generate-all, dependencies

move sys to global
  src/aiida/orm/implementation/authinfos.py
Due: imports

debug dbus
  .github/workflows/ci-code.yml
Due: none

Removed the merge conflict
  src/aiida/common/utils.py
Due: imports

Add a Filter to the `tar.extractall` Method
  src/aiida/storage/sqlite_zip/migrations/legacy_to_main.py
Due: imports

[ENH] Add a Filter to `tar.extractall` Method
  src/aiida/storage/sqlite_zip/migrations/legacy_to_main.py
Due: imports

Tests are added for the remove-prefix function recently changed by Muhammad Rebaal
  tests/orm/utils/test_node.py
Due: none

darft on my laptop
  src/aiida/calculations/stash.py
  src/aiida/common/datastructures.py
Due: imports

Fix TarFile.extract using filter data and hasattr
  src/aiida/storage/sqlite_zip/migrations/legacy_to_main.py
Due: imports

add properly initialization of dbus environment to activate gnome keyring
  .github/actions/install-aiida-core/action.yml
Due: none

Use `hasattr` instead of checking Python's version for using filter
  src/aiida/storage/sqlite_zip/migrations/legacy_to_main.py
Due: imports

Remove `sys` import
  src/aiida/storage/sqlite_zip/migrations/legacy_to_main.py
Due: imports

Synchronize local and remote changes.
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/profile.py
Due: imports

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
