Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 958bfd05cabe403cd0ccf2832478d397c177685e [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Add Python 3.13 to `tests` job in `test-install` workflow
  .github/workflows/test-install.yml
Due: none

Run verdi and presto tests on py3.13
  .github/workflows/ci-code.yml
Due: none

Enforce context usage of disk-objectstore Container
  src/aiida/manage/configuration/config.py
  src/aiida/storage/psql_dos/backend.py
  src/aiida/storage/psql_dos/migrator.py
  src/aiida/storage/sqlite_dos/backend.py
  tests/manage/configuration/test_config.py
Due: imports

Add Python 3.13 to `tests` job in `test-install` workflow and for verdi and presto jobs in `ci-code` workflow (#6843)
  .github/workflows/ci-code.yml
  .github/workflows/test-install.yml
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 6cb2c712dcc62e6429f990b9e4f29d84036ca69e [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Fix the pydantic model for `RemoteData`
  src/aiida/orm/nodes/data/remote/base.py
  tests/orm/models/test_models.py
  tests/orm/test_fields/fields_aiida.data.core.remote.RemoteData.yml
Due: imports

remove skip
  .pre-commit-config.yaml
Due: none

Fix the pydantic model for `RemoteData` (#6845)
  src/aiida/orm/nodes/data/remote/base.py
  tests/orm/models/test_models.py
  tests/orm/test_fields/fields_aiida.data.core.remote.RemoteData.yml
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 936185b7f3f61c40bd5f1579f7921ea788233af1 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Add back pre-commit job for mypy type-checking
  .github/workflows/pre-commit.yml
Due: none

Regenerate environment.yml
  .pre-commit-config.yaml
Due: none

Verdi autodocs
  docs/source/reference/command_line.rst
Due: none

fix mypy check
  src/aiida/storage/sqlite_zip/utils.py
Due: imports

Rebase and fix new type errors
  environment.yml
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/nodes/node.py
Due: imports, dependencies

Reduce version of pre-commit in CI job to 3.9
  .github/workflows/pre-commit.yml
Due: none

Use `python_version = 3.9` config option in mypy
  .github/workflows/pre-commit.yml
  pyproject.toml
Due: dm-generate-all, dependencies

Give up on using the lowest version
  .github/workflows/pre-commit.yml
  pyproject.toml
Due: dm-generate-all, dependencies

I hate the autofix hook
  .pre-commit-config.yaml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Add back pre-commit job for mypy type-checking (#6827)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  docs/source/reference/command_line.rst
  environment.yml
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/nodes/node.py
  src/aiida/storage/sqlite_zip/utils.py
Due: imports, dependencies

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 6eb17a7d0999adb2bf7ba2449b2667049996a65b [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Add force option to kill command
  pyproject.toml
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/engine/daemon/client.py
  src/aiida/engine/daemon/worker.py
  src/aiida/engine/processes/control.py
  src/aiida/engine/processes/process.py
  src/aiida/manage/tests/pytest_fixtures.py
  src/aiida/tools/pytest_fixtures/daemon.py
  tests/cmdline/commands/test_process.py
  uv.lock
Due: imports, dm-generate-all, dependencies, verdi-autodocs

Put back whole test suite
  .github/workflows/ci-code.yml
Due: none

Apply second review from @unkcpz
  docs/source/reference/command_line.rst
  src/aiida/engine/processes/control.py
  tests/cmdline/commands/test_process.py
Due: imports

enforce plumpy version
  pyproject.toml
  uv.lock
Due: dm-generate-all, dependencies

Move the FORCE_KILL option to the `process_kill` command
  docs/source/reference/command_line.rst
  environment.yml
  pyproject.toml
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/params/options/main.py
  uv.lock
Due: imports, dm-generate-all, dependencies, verdi-autodocs

Rework tests
  environment.yml
  src/aiida/engine/daemon/client.py
  src/aiida/engine/daemon/worker.py
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/engine/processes/control.py
  src/aiida/engine/utils.py
  src/aiida/manage/tests/pytest_fixtures.py
  tests/cmdline/commands/test_process.py
  uv.lock
Due: imports, dependencies

Change help text of timeout for verdi process kill command
  src/aiida/cmdline/commands/cmd_process.py
Due: imports, verdi-autodocs

Apply suggestions from code review
  src/aiida/engine/processes/control.py
  src/aiida/engine/utils.py
  tests/cmdline/commands/test_process.py
Due: imports

Debug test_process.py
  .github/workflows/ci-code.yml
Due: none

just typo
  .github/workflows/ci-code.yml
Due: none

Add test for NodeRepository.open method in text mode
  tests/orm/nodes/test_repository.py
Due: none

Document 'mode' parameter for NodeRepository.open
  src/aiida/orm/nodes/repository.py
Due: imports

Add 'rb' case to test_open_text
  tests/orm/nodes/test_repository.py
Due: none

Update disk-objectstore dependency to PR branch
  environment.yml
  pyproject.toml
  uv.lock
Due: dm-generate-all, dependencies

Add force-kill option when killing a process (#6793)
  environment.yml
  pyproject.toml
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/engine/daemon/client.py
  src/aiida/engine/daemon/worker.py
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/engine/processes/control.py
  src/aiida/engine/processes/process.py
  src/aiida/manage/tests/pytest_fixtures.py
  src/aiida/tools/pytest_fixtures/daemon.py
  tests/cmdline/commands/test_process.py
  uv.lock
Due: imports, dm-generate-all, dependencies, verdi-autodocs

Add tools for minor release
  utils/minor-release.sh
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for b6d0fe50dd087997a77e4120095fde19db9f92df [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Revert "Add the `SshAutoTransport` transport plugin (#6154)"
  pyproject.toml
  src/aiida/transports/plugins/ssh_auto.py
  tests/cmdline/commands/test_computer.py
  tests/engine/daemon/test_execmanager.py
  tests/transports/test_all_plugins.py
Due: imports, dm-generate-all, dependencies

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
