Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

imports:
  name: imports
  entry: python utils/autogenerate_all_imports.py
  language: python
  require_serial: true
  pass_filenames: false

generate-conda-environment:
  name: Update conda environment file
  entry: python ./utils/dependency_management.py generate-environment-yml
  language: system
  pass_filenames: false

validate-conda-environment:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Add field validator to transform computer pk to label
  src/aiida/orm/nodes/data/code/installed.py
Due: imports

Fix QB warning
  src/aiida/storage/psql_dos/orm/querybuilder/main.py
Due: imports

Cleanup `CreateModel` definition
  src/aiida/orm/entities.py
Due: imports

Discard write only parameter on `Node.Model` `attributes` and `extras`
  src/aiida/orm/nodes/node.py
Due: imports

Draft
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/common/pydantic.py
  src/aiida/orm/comments.py
  src/aiida/orm/computers.py
  src/aiida/orm/entities.py
  src/aiida/orm/groups.py
  src/aiida/orm/logs.py
  src/aiida/orm/nodes/data/array/array.py
  src/aiida/orm/nodes/data/base.py
  src/aiida/orm/nodes/data/cif.py
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/nodes/data/data.py
  src/aiida/orm/nodes/data/singlefile.py
  src/aiida/orm/nodes/node.py
  tests/orm/models/test_models.py
Due: imports, verdi-autodocs

Fix tests
  tests/orm/test_fields/fields_aiida.data.core.code.containerized.ContainerizedCode.yml
  tests/orm/test_fields/fields_aiida.data.core.code.installed.InstalledCode.yml
Due: none

Use `is_stored` for model selection
  src/aiida/orm/entities.py
Due: imports

Move unhandled node attributes gate to `Node` class
  src/aiida/orm/nodes/data/data.py
  src/aiida/orm/nodes/node.py
Due: imports

Discard `unstored` serialization parameter
  src/aiida/orm/entities.py
  tests/orm/data/code/test_abstract.py
  tests/orm/data/code/test_installed.py
  tests/orm/data/code/test_portable.py
  tests/orm/models/test_models.py
Due: imports

Fix `orm_to_model` type
  src/aiida/common/pydantic.py
Due: imports

Fix type hint
  src/aiida/orm/nodes/data/array/array.py
Due: imports

FIX: Change CifData Model to AttributesModel
  src/aiida/orm/nodes/data/cif.py
Due: imports

Restore array base64 serialization
  src/aiida/orm/nodes/data/array/array.py
Due: imports

Update QB projection map aliasing
  src/aiida/storage/psql_dos/orm/querybuilder/main.py
Due: imports

Use pydantic built-in base64 (de)serialization
  src/aiida/orm/entities.py
  src/aiida/orm/nodes/data/array/array.py
  src/aiida/orm/nodes/data/singlefile.py
  src/aiida/orm/nodes/node.py
Due: imports

Allow arguments in `orm_to_model`
  src/aiida/common/pydantic.py
  src/aiida/orm/entities.py
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/nodes/node.py
Due: imports

Fix model inheritance
  src/aiida/orm/nodes/data/bool.py
  src/aiida/orm/nodes/data/str.py
Due: imports

Fix iterable array posting
  src/aiida/orm/nodes/data/array/array.py
Due: imports

Fix code fields
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/orm/nodes/data/code/installed.py
Due: imports, verdi-autodocs

Discard `unstored` from `from_serialized`
  src/aiida/orm/entities.py
  tests/orm/data/code/test_abstract.py
  tests/orm/data/code/test_installed.py
  tests/orm/data/code/test_portable.py
  tests/orm/models/test_models.py
Due: imports

Update regression tests
  tests/orm/test_fields/fields_aiida.data.core.array.ArrayData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.bands.BandsData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.kpoints.KpointsData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.projection.ProjectionData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.trajectory.TrajectoryData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.xy.XyData.yml
  tests/orm/test_fields/fields_aiida.data.core.code.containerized.ContainerizedCode.yml
  tests/orm/test_fields/fields_aiida.data.core.code.installed.InstalledCode.yml
Due: none

Fix code show
  src/aiida/cmdline/commands/cmd_code.py
Due: imports, verdi-autodocs

Make `CreateModel` derivation private and idempotent
  src/aiida/common/pydantic.py
  src/aiida/orm/entities.py
  src/aiida/orm/nodes/node.py
Due: imports

Add opt-in mechanism for hiding large fields
  src/aiida/common/pydantic.py
  src/aiida/orm/computers.py
  src/aiida/orm/entities.py
  src/aiida/orm/nodes/node.py
Due: imports

Fix default value fetching in model-to-orm conversion
  src/aiida/orm/entities.py
Due: imports

Remove private prefix from nested helper functions
  src/aiida/common/pydantic.py
  src/aiida/orm/entities.py
Due: imports

Fix typing
  src/aiida/orm/nodes/data/enum.py
  src/aiida/orm/nodes/data/jsonable.py
Due: imports

Update tests
  tests/orm/test_fields.py
  tests/orm/test_fields/fields_AuthInfo.yml
  tests/orm/test_fields/fields_Comment.yml
  tests/orm/test_fields/fields_Computer.yml
  tests/orm/test_fields/fields_Group.yml
  tests/orm/test_fields/fields_Log.yml
  tests/orm/test_fields/fields_User.yml
  tests/orm/test_fields/fields_aiida.data.core.array.ArrayData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.bands.BandsData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.kpoints.KpointsData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.projection.ProjectionData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.trajectory.TrajectoryData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.xy.XyData.yml
  tests/orm/test_fields/fields_aiida.data.core.base.BaseType.yml
  tests/orm/test_fields/fields_aiida.data.core.bool.Bool.yml
  tests/orm/test_fields/fields_aiida.data.core.cif.CifData.yml
  tests/orm/test_fields/fields_aiida.data.core.code.Code.yml
  tests/orm/test_fields/fields_aiida.data.core.code.abstract.AbstractCode.yml
  tests/orm/test_fields/fields_aiida.data.core.code.containerized.ContainerizedCode.yml
  tests/orm/test_fields/fields_aiida.data.core.code.installed.InstalledCode.yml
  tests/orm/test_fields/fields_aiida.data.core.code.portable.PortableCode.yml
  tests/orm/test_fields/fields_aiida.data.core.dict.Dict.yml
  tests/orm/test_fields/fields_aiida.data.core.enum.EnumData.yml
  tests/orm/test_fields/fields_aiida.data.core.float.Float.yml
  tests/orm/test_fields/fields_aiida.data.core.folder.FolderData.yml
  tests/orm/test_fields/fields_aiida.data.core.int.Int.yml
  tests/orm/test_fields/fields_aiida.data.core.jsonable.JsonableData.yml
  tests/orm/test_fields/fields_aiida.data.core.list.List.yml
  tests/orm/test_fields/fields_aiida.data.core.numeric.NumericType.yml
  tests/orm/test_fields/fields_aiida.data.core.orbital.OrbitalData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.RemoteData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.RemoteStashData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.compress.RemoteStashCompressedData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.custom.RemoteStashCustomData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.folder.RemoteStashFolderData.yml
  tests/orm/test_fields/fields_aiida.data.core.singlefile.SinglefileData.yml
  tests/orm/test_fields/fields_aiida.data.core.str.Str.yml
  tests/orm/test_fields/fields_aiida.data.core.structure.StructureData.yml
  tests/orm/test_fields/fields_aiida.data.core.upf.UpfData.yml
Due: none

Implement `OrmModel` as a root for `Entity.Model` and `Node.AttributesModel`
  src/aiida/common/pydantic.py
  src/aiida/orm/entities.py
  src/aiida/orm/fields.py
  src/aiida/orm/nodes/node.py
Due: imports

Fix portable orm-to-model mapping
  src/aiida/orm/nodes/data/code/portable.py
  tests/orm/data/code/test_portable.py
Due: imports

Update array/singlefile handling
  src/aiida/orm/nodes/data/array/array.py
  src/aiida/orm/nodes/data/singlefile.py
  src/aiida/orm/nodes/node.py
Due: imports

Fix model tests
  src/aiida/orm/nodes/data/singlefile.py
  tests/orm/models/test_models.py
Due: imports

Fix mypy
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/cmdline/groups/dynamic.py
  src/aiida/common/pydantic.py
  src/aiida/orm/entities.py
  src/aiida/orm/fields.py
  src/aiida/orm/nodes/data/array/array.py
  src/aiida/orm/nodes/data/array/trajectory.py
  src/aiida/orm/nodes/data/array/xy.py
  src/aiida/orm/nodes/data/enum.py
  src/aiida/orm/nodes/data/jsonable.py
  src/aiida/orm/nodes/data/singlefile.py
  src/aiida/orm/nodes/node.py
Due: imports, verdi-autodocs

Make array and singlefile write-only fields optional
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/orm/fields.py
  src/aiida/orm/nodes/data/array/array.py
  src/aiida/orm/nodes/data/singlefile.py
Due: imports, verdi-autodocs

Fix code export
  src/aiida/orm/entities.py
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/utils/mixins.py
  tests/cmdline/commands/test_code/test_code_export___no_sort_.yml
Due: imports

Sort of working
  src/aiida/cmdline/groups/dynamic.py
  src/aiida/common/pydantic.py
  src/aiida/orm/entities.py
  src/aiida/orm/fields.py
  src/aiida/orm/nodes/data/array/array.py
  src/aiida/orm/nodes/data/array/kpoints.py
  src/aiida/orm/nodes/data/array/trajectory.py
  src/aiida/orm/nodes/data/array/xy.py
  src/aiida/orm/nodes/data/base.py
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/data/code/containerized.py
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/data/code/legacy.py
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/nodes/data/data.py
  src/aiida/orm/nodes/data/dict.py
  src/aiida/orm/nodes/data/enum.py
  src/aiida/orm/nodes/data/jsonable.py
  src/aiida/orm/nodes/data/list.py
  src/aiida/orm/nodes/data/remote/base.py
  src/aiida/orm/nodes/data/remote/stash/base.py
  src/aiida/orm/nodes/data/remote/stash/compress.py
  src/aiida/orm/nodes/data/remote/stash/custom.py
  src/aiida/orm/nodes/data/remote/stash/folder.py
  src/aiida/orm/nodes/data/singlefile.py
  src/aiida/orm/nodes/data/structure.py
  src/aiida/orm/nodes/node.py
  tests/orm/models/test_models.py
Due: imports

Fix test
  tests/cmdline/commands/test_code/test_code_export___sort_.yml
Due: none

Minor post-self-review updates
  src/aiida/common/pydantic.py
  src/aiida/orm/fields.py
  src/aiida/orm/nodes/data/array/array.py
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/data/int.py
  src/aiida/orm/nodes/node.py
Due: imports

Update tests
  src/aiida/cmdline/groups/dynamic.py
  src/aiida/orm/nodes/data/array/xy.py
  src/aiida/orm/nodes/data/base.py
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/nodes/data/remote/stash/compress.py
  src/aiida/orm/nodes/data/remote/stash/custom.py
  src/aiida/orm/nodes/data/remote/stash/folder.py
  src/aiida/orm/nodes/data/structure.py
  tests/orm/data/code/test_containerized.py
  tests/orm/data/code/test_installed.py
  tests/orm/data/code/test_portable.py
Due: imports

Make `attributes` optional if `AttributesModel` has no required fields
  src/aiida/common/pydantic.py
  src/aiida/orm/nodes/node.py
Due: imports

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
