Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, mypy, pylint, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: aiida/.*py and \.py$
  mypy: any of: (?x)^(
    aiida/common/timezone.py|
    aiida/common/progress_reporter.py|
    aiida/engine/.*py|
    aiida/manage/manager.py|
    aiida/manage/database/delete/nodes.py|
    aiida/orm/querybuilder.py|
    aiida/orm/implementation/entities.py|
    aiida/orm/implementation/storage_backend.py|
    aiida/orm/implementation/authinfos.py|
    aiida/orm/implementation/comments.py|
    aiida/orm/implementation/computers.py|
    aiida/orm/implementation/groups.py|
    aiida/orm/implementation/logs.py|
    aiida/orm/implementation/nodes.py|
    aiida/orm/implementation/users.py|
    aiida/orm/implementation/querybuilder.py|
    aiida/orm/entities.py|
    aiida/orm/extras.py|
    aiida/orm/authinfos.py|
    aiida/orm/comments.py|
    aiida/orm/computers.py|
    aiida/orm/groups.py|
    aiida/orm/logs.py|
    aiida/orm/users.py|
    aiida/orm/nodes/data/enum.py|
    aiida/orm/nodes/data/jsonable.py|
    aiida/orm/nodes/attributes.py|
    aiida/orm/nodes/node.py|
    aiida/orm/nodes/process/.*py|
    aiida/orm/nodes/repository.py|
    aiida/orm/utils/links.py|
    aiida/plugins/entry_point.py|
    aiida/plugins/factories.py|
    aiida/repository/.*py|
    aiida/storage/control.py|
    aiida/storage/psql_dos/backend.py|
    aiida/storage/psql_dos/orm/querybuilder/.*py|
    aiida/storage/psql_dos/utils.py|
    aiida/storage/sqlite_zip/.*.py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/archive/.*py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for cffeacde47d47195677da22290fda0e9368c3db1 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Docs: resubmit a `Process` from a `ProcessNode` (#5579)
  docs/source/howto/run_codes.rst
Due: none

`CalcJob`: allow wildcards in `stash.source_list` paths
  .github/system_tests/test_daemon.py
  .github/workflows/nightly.yml
  aiida/engine/daemon/execmanager.py
Due: imports, mypy, pylint

Use new installed code in CI test (disable all other tests to check)
  .github/config/add.yaml
  .github/config/doubler.yaml
  .github/workflows/nightly.yml
  .github/workflows/setup.sh
Due: none

DevOps: Use `InstalledCode` in integration tests (#5594)
  .github/config/add.yaml
  .github/config/doubler.yaml
  .github/workflows/nightly.yml
  .github/workflows/setup.sh
Due: none

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 15f4bae5f023c4ad7aa7efbd0ab2f2a8fa438d83 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

REST API: make the profile configurable as request parameter
  aiida/cmdline/commands/cmd_restapi.py
  aiida/restapi/common/utils.py
  aiida/restapi/resources.py
  aiida/restapi/run_api.py
Due: imports, pylint, verdi-autodocs

Add global config option `rest_api.profile_switching`
  aiida/manage/configuration/schema/config-v9.schema.json
  aiida/restapi/resources.py
  docs/source/howto/share_data.rst
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for c0fdf38a7a5526a3724a0be8af8c5ea34645c795 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

`CalcJob`: allow wildcards in `stash.source_list` paths (#5601)
  .github/system_tests/test_daemon.py
  .github/workflows/nightly.yml
  aiida/engine/daemon/execmanager.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for e141f97be104fc89616ad314ecdb3265924b43a7 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

DevOps: Add a notification for nightly workflow on fail
  .github/workflows/nightly.yml
Due: none

Fail tests_nightly.sh on purpose
  .github/workflows/tests_nightly.sh
Due: none

DevOps: Add a notification for nightly workflow on fail (#5605)
  .github/workflows/nightly.yml
Due: none

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for bc73d61477dd60d64015adbb0fef0b75df5b588a [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Dependencies: set upper limit `werkzeug<2.2`
  environment.yml
  pyproject.toml
Due: dm-generate-all, dependencies

Bump base docker image to 0.6.0
  .github/workflows/push_image_to_dockerhub.yml
  Dockerfile
Due: none

Bump base docker image to 0.6.0 (#5609)
  .github/workflows/push_image_to_dockerhub.yml
  Dockerfile
Due: none

Release `v1.6.9`
  CHANGELOG.md
  aiida/__init__.py
  setup.json
Due: imports, pylint

Release `v1.6.9` (#5611)
  CHANGELOG.md
  aiida/__init__.py
  setup.json
Due: imports, pylint

Dependencies: set upper limit `werkzeug<2.2` (#5606)
  environment.yml
  pyproject.toml
Due: dm-generate-all, dependencies

Relax wrapt requirement.
  environment.yml
  pyproject.toml
Due: dm-generate-all, dependencies

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for bd27aeac6f9f93a0e3b3b62259b90f718397a286 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for f157d27d87706642fe98cd30653b3cedde625afe [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Create export test file for version 0.13
  tests/static/export/migrate/export_0.13_simple.aiida
Due: none

Correct versions in docstring
  aiida/storage/sqlite_zip/migrations/legacy/v12_to_v13.py
Due: imports, mypy, pylint

Revert "Update 0.12 test export file"
  tests/static/export/migrate/export_0.12_simple.aiida
Due: none

Move the missing migration into it's own version
  aiida/storage/sqlite_zip/migrations/legacy/__init__.py
  aiida/storage/sqlite_zip/migrations/legacy/v11_to_v12.py
  aiida/storage/sqlite_zip/migrations/legacy/v12_to_v13.py
Due: imports, mypy, pylint

Add explicit test of v12 to v13 migration
  tests/tools/archive/migration/test_v12_to_v13.py
Due: pylint

Add missing migration of transport entry points in archives
  aiida/storage/sqlite_zip/migrations/legacy/v11_to_v12.py
Due: imports, mypy, pylint

Update 0.12 test export file
  tests/static/export/migrate/export_0.12_simple.aiida
Due: none

Formatting
  aiida/storage/sqlite_zip/migrations/legacy/v12_to_v13.py
Due: imports, mypy, pylint

Rename test file
  tests/tools/archive/migration/test_v012_to_v013.py
Due: pylint

Archive: add missing migration of transport entry points (#5604)
  aiida/storage/sqlite_zip/migrations/legacy/__init__.py
  aiida/storage/sqlite_zip/migrations/legacy/v12_to_v13.py
  tests/static/export/migrate/export_0.13_simple.aiida
  tests/tools/archive/migration/test_v012_to_v013.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 3e4c8837aa6a4472482465177a13ed00c99d6dd0 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Adding a sanitizer to the ArrayData when they are going to be served as JSON via the REST-API. Addresses #5559
  aiida/orm/nodes/data/array/array.py
Due: imports, pylint

Bump base docker image to 0.6.0 (#5615)
  .github/workflows/push_image_to_dockerhub.yml
  Dockerfile
Due: none
