Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, dm-generate-all, pyproject, dependencies, verdi-autodocs, version-number

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://github.com/ikamensh/flynt/
    rev: '0.55'
    hooks:
    -   id: flynt
        args: [
            '--line-length=120',
            '--fail-on-change',
        ]

-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.30.0
    hooks:
    -   id: yapf
        name: yapf
        types: [python]
        exclude: &exclude_files >
            (?x)^(
                docs/.*|
            )$
        args: ['-i']

-   repo: local

    hooks:

    -   id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        pass_filenames: true
        files: >-
            (?x)^(
                aiida/common/progress_reporter.py|
                aiida/manage/manager.py|
                aiida/engine/.*py|
                aiida/manage/database/delete/nodes.py|
                aiida/tools/graph/graph_traversers.py|
                aiida/tools/groups/paths.py|
                aiida/tools/importexport/archive/.*py|
                aiida/tools/importexport/dbexport/__init__.py|
                aiida/tools/importexport/dbimport/backends/.*.py|
            )$

    -   id: pylint
        name: pylint
        entry: pylint
        types: [python]
        language: system
        exclude: *exclude_files

    -   id: dm-generate-all
        name: Update all requirements files
        entry: python ./utils/dependency_management.py generate-all
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.py|
                setup.json|
                utils/dependency_management.py
            )$

    -   id: pyproject
        name: Validate pyproject.toml
        entry: python ./utils/dependency_management.py validate-pyproject-toml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                pyproject.toml
            )$

    -   id: dependencies
        name: Validate environment.yml
        entry: python ./utils/dependency_management.py validate-environment-yml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                environment.yml|
            )$

    -   id: verdi-autodocs
        name: Automatically generating verdi docs
        entry: python ./utils/validate_consistency.py verdi-autodocs
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                aiida/cmdline/commands/.*|
                aiida/cmdline/params/.*|
                aiida/cmdline/params/types/.*|
                utils/validate_consistency.py|
            )$

    -   id: version-number
        name: Check version numbers
        entry: python ./utils/validate_consistency.py version
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                utils/validate_consistency.py|
                aiida/__init__.py
            )$

Add more tests
  aiida/cmdline/commands/cmd_config.py
  docs/source/reference/command_line.rst
  tests/cmdline/commands/test_config.py
Due: pylint, verdi-autodocs

apply consistency fixes
  aiida/engine/processes/calcjobs/tasks.py
Due: mypy, pylint

pre-commit fix
  aiida/engine/processes/calcjobs/tasks.py
Due: mypy, pylint

BUILD: drop support for python 3.6 (#4701)
  .github/workflows/ci-code.yml
  .github/workflows/test-install.yml
  aiida/engine/daemon/runner.py
  aiida/orm/implementation/django/comments.py
  aiida/orm/implementation/django/nodes.py
  docs/source/intro/install_system.rst
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.6.txt
  setup.json
  utils/dependency_management.py
Due: mypy, pylint, dm-generate-all, pyproject, dependencies, version-number

Update tasks.py
  aiida/engine/processes/calcjobs/tasks.py
Due: mypy, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 285ca45c41db75fbb0ed7eae5f6cdd3afd652da3 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 285ca45c41db75fbb0ed7eae5f6cdd3afd652da3 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

bump jenkins dockerimage to 20.04
  .ci/Dockerfile
Due: none

Update nitpick-exceptions
  docs/source/nitpick-exceptions
Due: none

BUILD: bump jenkins dockerimage to 20.04 (#4714)
  .ci/Dockerfile
Due: none

use localhost delegation on jenkins
  .jenkins/Dockerfile
  .jenkins/Jenkinsfile
  .molecule/README.md
  .molecule/default/Dockerfile
  .molecule/default/config_jenkins.yml
  .molecule/default/config_local.yml
  .molecule/default/run_polish_parallel.yml
  .molecule/default/run_tests.yml
  .molecule/default/setup_aiida.yml
  .molecule/default/setup_python.yml
  pyproject.toml
Due: pyproject

use pip directly
  .jenkins/Jenkinsfile
Due: none

Delete docker-aiida-core.yml
  .docker/docker-aiida-core.yml
Due: none

run workchains asynchronously
  .jenkins/Jenkinsfile
  .molecule/default/files/polish/cli.py
  .molecule/default/run_polish_workchain.yml
  .molecule/default/run_tests.yml
Due: pylint

run workchains serial
  .jenkins/Jenkinsfile
  .molecule/README.md
  .molecule/default/config_jenkins.yml
  .molecule/default/config_local.yml
  .molecule/default/run_polish_parallel.yml
  .molecule/default/run_polish_serial.yml
  .molecule/default/run_tests.yml
  pyproject.toml
Due: pyproject

minor improvement
  .molecule/default/config_jenkins.yml
  .molecule/default/setup_aiida.yml
  .molecule/default/setup_python.yml
  .molecule/default/tasks/log_query_stats.yml
  .molecule/default/tasks/reset_query_stats.yml
  .molecule/default/test_polish_workchains.yml
Due: none

batch runs
  .jenkins/Jenkinsfile
  .molecule/default/molecule.yml
  .molecule/default/run_polish_batch.yml
  .molecule/default/run_tests.yml
Due: none

run workchains in same command
  .molecule/README.md
  .molecule/default/Dockerfile
  .molecule/default/config_jenkins.yml
  .molecule/default/config_local.yml
  .molecule/default/run_polish_parallel.yml
  .molecule/default/run_polish_serial.yml
  .molecule/default/run_tests.yml
  .molecule/default/setup_aiida.yml
  .molecule/default/tasks/log_query_stats.yml
  .molecule/default/tasks/reset_query_stats.yml
  .molecule/default/test_polish_workchains.yml
  pyproject.toml
Due: pyproject

move new test
  .github/local_tests/test_ipython_magics.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 5d5fd4f4970743ddb2956a553db967e017fbbb0e [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 5d5fd4f4970743ddb2956a553db967e017fbbb0e [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

fix memory leak in test suite
  tests/engine/test_run.py
  tests/utils/memory.py
Due: pylint

try fixing daemon tests
  .ci/test_daemon.py
Due: pylint

Switch matrix order in continuous-integration tests job.
  .github/workflows/ci-code.yml
Due: none

Dependencies: Require `ipython~=7.20`
  environment.yml
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

Automated update of requirements/ files.
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: none

Switch matrix order in continuous-integration tests job. (#4713)
  .github/workflows/ci-code.yml
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 443dc01f0fdaba11060a2d6ddcd9cebf911d22c6 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 443dc01f0fdaba11060a2d6ddcd9cebf911d22c6 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

CI: Update tested Python versions in rabbitmq GA workflow.
  .github/workflows/rabbitmq.yml
Due: none

Apply suggestions from code review
  aiida/cmdline/commands/cmd_archive.py
Due: pylint, verdi-autodocs

Update documentation
  docs/source/howto/data.rst
  docs/source/howto/share_data.rst
  docs/source/howto/visualising_graphs/visualising_graphs.rst
  docs/source/internals/data_storage.rst
  docs/source/topics/cli.rst
  docs/source/topics/provenance/consistency.rst
Due: none

move `local_tests` -> `ci_only_tests`
  .github/ci_only_tests/README.md
  .github/ci_only_tests/pytest/test_pytest_fixtures.py
  .github/ci_only_tests/pytest/test_unittest_example.py
  .github/ci_only_tests/test_daemon.py
  .github/ci_only_tests/test_ipython_magics.py
  .github/ci_only_tests/test_plugin_testcase.py
  .github/ci_only_tests/test_profile_manager.py
  .github/ci_only_tests/test_test_manager.py
  .github/ci_only_tests/test_verdi_load_time.sh
  .github/ci_only_tests/workchains.py
  .github/workflows/tests.sh
  tests/cmdline/commands/test_profile.py
  tests/engine/test_process_function.py
Due: pylint

♻️ REFACTOR: verdi export/import -> verdi archive (#4710)
  aiida/cmdline/commands/__init__.py
  aiida/cmdline/commands/cmd_archive.py
  aiida/cmdline/commands/cmd_export.py
  aiida/cmdline/commands/cmd_import.py
  docs/source/howto/data.rst
  docs/source/howto/share_data.rst
  docs/source/howto/visualising_graphs/visualising_graphs.rst
  docs/source/internals/data_storage.rst
  docs/source/reference/command_line.rst
  docs/source/topics/cli.rst
  docs/source/topics/provenance/consistency.rst
  tests/cmdline/commands/test_archive_export.py
  tests/cmdline/commands/test_archive_import.py
Due: pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,django benchmark result for a8e6b89e0765c120d3947c4b7165055d02f16d3e [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for a8e6b89e0765c120d3947c4b7165055d02f16d3e [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Apply suggestions from code review
  .molecule/README.md
Due: none

return path
  .molecule/default/files/polish/cli.py
  .molecule/default/files/polish/lib/workchain.py
Due: pylint
