Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Add a CLI --timeout option for erdi daemon start and erdi daemon stop (#5637)
  aiida/cmdline/commands/cmd_daemon.py
  tests/cmdline/commands/test_daemon.py
Due: imports, pylint, verdi-autodocs

`verdi config list`: Do not except if no profiles are defined
  aiida/cmdline/commands/cmd_config.py
  tests/cmdline/commands/test_config.py
  tests/conftest.py
Due: imports, pylint, verdi-autodocs

`verdi config list`: Do not except if no profiles are defined (#5921)
  aiida/cmdline/commands/cmd_config.py
  tests/cmdline/commands/test_config.py
  tests/conftest.py
Due: imports, pylint, verdi-autodocs

Pre-commit: Set `yapf` option `allow_split_before_dict_value = false`
  aiida/restapi/common/identifiers.py
  aiida/tools/query/mapping.py
  aiida/transports/plugins/ssh.py
  aiida/transports/transport.py
  pyproject.toml
  tests/calculations/test_templatereplacer.py
  tests/calculations/test_transfer.py
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/tools/archive/orm/test_links.py
Due: imports, pylint, dm-generate-all, dependencies

`verdi code create`: Do not prompt for `--with-mpi`
  aiida/cmdline/groups/dynamic.py
  aiida/orm/nodes/data/code/abstract.py
Due: imports, pylint

Process functions: Infer argument `valid_type` from type hints
  aiida/engine/processes/functions.py
  docs/source/topics/calculations/concepts.rst
  docs/source/topics/processes/functions.rst
  docs/source/topics/processes/include/snippets/functions/typing_call_raise.py
  docs/source/topics/processes/include/snippets/functions/typing_none.py
  docs/source/topics/processes/include/snippets/functions/typing_pep_563.py
  docs/source/topics/processes/include/snippets/functions/typing_pep_604.py
  docs/source/topics/processes/include/snippets/functions/typing_union.py
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  tests/engine/test_process_function.py
Due: imports, pylint, dm-generate-all, dependencies

Process functions: Replace `getfullargspec` with `signature`
  aiida/engine/processes/functions.py
Due: imports, pylint

Typing: Use modern syntax for `aiida.engine.processes.functions`
  .pre-commit-config.yaml
  aiida/engine/processes/functions.py
Due: imports, pylint

`StructureData`: Add `mode` argument to `get_composition`
  aiida/orm/nodes/data/structure.py
  tests/orm/nodes/data/test_structure.py
Due: imports, pylint

`StructureData`: Add `mode` argument to `get_composition` (#5926)
  aiida/orm/nodes/data/structure.py
  tests/orm/nodes/data/test_structure.py
Due: imports, pylint

CI: Update `sphinx-intl` and install transifex CLI (#5908)
  .github/workflows/post-release.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: dm-generate-all, dependencies

Added --no-repack option to `verdi storage mantain`
  aiida/cmdline/commands/cmd_storage.py
Due: imports, pylint, verdi-autodocs

Fixed parameter order and added option to skip confirmation prompt.
  aiida/cmdline/commands/cmd_storage.py
Due: imports, pylint, verdi-autodocs

Fixed comma
  aiida/cmdline/commands/cmd_storage.py
Due: imports, pylint, verdi-autodocs

Passing `do_repack=True` without `full` would raise an exception.
  aiida/cmdline/commands/cmd_storage.py
Due: imports, pylint, verdi-autodocs

Process functions: Parse docstring to set input port help attribute
  aiida/engine/processes/functions.py
  docs/source/topics/processes/functions.rst
  docs/source/topics/processes/include/snippets/functions/parse_docstring.py
  docs/source/topics/processes/include/snippets/functions/parse_docstring_expose.py
  docs/source/topics/processes/include/snippets/functions/parse_docstring_expose_ipython.py
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  tests/engine/test_process_function.py
  utils/dependency_management.py
Due: imports, pylint, dm-generate-all, dependencies

Docs: Clarify that process functions can be exposed in work chains
  docs/source/howto/write_workflows.rst
  docs/source/topics/processes/functions.rst
  docs/source/topics/workflows/usage.rst
  tests/engine/test_work_chain.py
Due: pylint

Fixed bug in `DiskObjectStoreRepositoryBackend.maintain`
  aiida/repository/backend/disk_object_store.py
Due: imports, pylint

Added tests for the new options.
  tests/cmdline/commands/test_storage.py
Due: pylint

Fix for precommit
  tests/cmdline/commands/test_storage.py
Due: pylint

Fix for precommit
  aiida/cmdline/commands/cmd_storage.py
  tests/cmdline/commands/test_storage.py
Due: imports, pylint, verdi-autodocs

CLI: Remove stale PID file deleting from status commands
  aiida/cmdline/commands/cmd_daemon.py
  aiida/cmdline/commands/cmd_status.py
  aiida/cmdline/utils/daemon.py
  aiida/engine/daemon/client.py
  aiida/manage/configuration/schema/config-v9.schema.json
  tests/cmdline/commands/test_config.py
  tests/cmdline/commands/test_daemon.py
  tests/cmdline/utils/test_daemon.py
  tests/engine/daemon/test_client.py
Due: imports, pylint, verdi-autodocs

CLI: Fail command if `--config` file contains unknown key
  aiida/cmdline/params/options/config.py
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  tests/cmdline/params/options/test_config.py
Due: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

CLI: Fail command if `--config` file contains unknown key (#5939)
  aiida/cmdline/params/options/config.py
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  tests/cmdline/params/options/test_config.py
Due: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

[feature] Added -e, --end flag to verdi process report, which reports on the final process in a verdi process list -a
  aiida/cmdline/commands/cmd_process.py
Due: imports, pylint, verdi-autodocs

default_memory_per_machine_validator should allow 0
  aiida/orm/computers.py
  tests/cmdline/commands/test_computer.py
Due: imports, pylint

Path conditions:
  imports: any of: aiida/.*py and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
