Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

✨ `after`: run a task once another has (#7619)
  src/aiida/engine/processes/graphs/build.py
  src/aiida/engine/processes/graphs/run.py
  src/aiida/engine/processes/graphs/spec.py
  tests/engine/processes/graphs/test_build.py
  tests/engine/processes/graphs/test_spec.py
Due: imports

✨ `task`: name an output a task only has once it runs (#7619)
  src/aiida/engine/__init__.py
  src/aiida/engine/processes/__init__.py
  src/aiida/engine/processes/graphs/build.py
  src/aiida/engine/processes/graphs/spec.py
  tests/engine/processes/graphs/test_build.py
Due: imports

✨ `graph`: warn when a task goes unread (#7619)
  CHANGELOG.md
  docs/source/topics/workflows/graphs.rst
  src/aiida/engine/processes/graphs/build.py
  src/aiida/engine/processes/graphs/spec.py
  tests/engine/processes/graphs/test_build.py
Due: imports

🐛 `Whole`: read the mark on a parameter too (#7619)
  src/aiida/engine/processes/containers.py
  src/aiida/engine/processes/functions.py
  src/aiida/engine/processes/graphs/process.py
  src/aiida/engine/processes/process_spec.py
  tests/engine/processes/test_containers.py
Due: imports

✨ `task`: place a CalcJob or WorkChain in a graph (#7619)
  src/aiida/engine/__init__.py
  src/aiida/engine/processes/__init__.py
  src/aiida/engine/processes/graphs/build.py
  src/aiida/engine/processes/graphs/process.py
  src/aiida/engine/processes/graphs/spec.py
  tests/engine/processes/graphs/test_build.py
  tests/engine/processes/graphs/test_process.py
Due: imports

📚 `CHANGELOG`: announce writing a graph of tasks (#7619)
  CHANGELOG.md
Due: none

✨ `JsonableData`: take a pydantic model (#7619)
  src/aiida/orm/nodes/data/jsonable.py
  tests/orm/nodes/data/test_jsonable.py
Due: imports

✨ `task`: take and produce a structured container (#7619)
  src/aiida/engine/processes/containers.py
  src/aiida/engine/processes/functions.py
  src/aiida/engine/processes/graphs/build.py
  src/aiida/engine/processes/graphs/process.py
  src/aiida/engine/processes/ports.py
  src/aiida/engine/processes/process_spec.py
  tests/engine/processes/graphs/test_build.py
  tests/engine/processes/test_containers.py
Due: imports

👌 `graph`: name a run after the graph it runs (#7619)
  src/aiida/engine/processes/graphs/build.py
  src/aiida/engine/processes/graphs/process.py
  src/aiida/engine/processes/graphs/spec.py
  tests/engine/processes/graphs/test_build.py
  tests/engine/processes/graphs/test_process.py
Due: imports

✨ `each`: fan a graph out, and take the results back (#7619)
  src/aiida/engine/__init__.py
  src/aiida/engine/processes/__init__.py
  src/aiida/engine/processes/graphs/build.py
  src/aiida/engine/processes/graphs/process.py
  src/aiida/engine/processes/graphs/spec.py
  tests/engine/processes/graphs/test_build.py
Due: imports

🧪 `graphs`: run a calculation job as tasks (#7619)
  CHANGELOG.md
  src/aiida/engine/__init__.py
  src/aiida/engine/processes/__init__.py
  src/aiida/engine/processes/calcjobs/calcjob.py
  src/aiida/engine/processes/graphs/process.py
  src/aiida/orm/nodes/process/process.py
  tests/engine/processes/graphs/test_calcjob_as_tasks.py
  tests/orm/nodes/process/test_record.py
  tests/orm/test_fields/fields_aiida.node.process.workflow.graph.GraphNode.yml
Due: imports

✨ `handler`: let a task say how to recover (#7619)
  src/aiida/engine/__init__.py
  src/aiida/engine/processes/__init__.py
  src/aiida/engine/processes/graphs/__init__.py
  src/aiida/engine/processes/graphs/build.py
  src/aiida/engine/processes/graphs/handlers.py
  src/aiida/engine/processes/graphs/process.py
  src/aiida/engine/processes/graphs/spec.py
  tests/engine/processes/graphs/test_daemon.py
  tests/engine/processes/graphs/test_handlers.py
Due: imports

✨ `GraphSpec`: name the inputs a graph takes (#7619)
  src/aiida/engine/__init__.py
  src/aiida/engine/processes/__init__.py
  src/aiida/engine/processes/dag.py
  src/aiida/engine/processes/graph.py
  tests/engine/processes/test_graph.py
Due: imports

✨ `each`: write a fan-out in Python (#7619)
  src/aiida/engine/__init__.py
  src/aiida/engine/processes/__init__.py
  src/aiida/engine/processes/graph.py
  tests/engine/processes/test_graph.py
Due: imports

✨ `GraphNode`: give a graph run its own node (#7619)
  pyproject.toml
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/utils/common.py
  src/aiida/engine/processes/graphs/process.py
  src/aiida/orm/__init__.py
  src/aiida/orm/nodes/__init__.py
  src/aiida/orm/nodes/process/workflow/__init__.py
  src/aiida/orm/nodes/process/workflow/graph.py
  tests/engine/processes/graphs/test_build.py
  tests/engine/processes/graphs/test_process.py
Due: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

✨ `Whole`: keep a container as one value (#7619)
  src/aiida/engine/__init__.py
  src/aiida/engine/processes/__init__.py
  src/aiida/engine/processes/containers.py
  src/aiida/engine/processes/functions.py
  src/aiida/engine/processes/graphs/process.py
  src/aiida/engine/processes/process_spec.py
  tests/engine/processes/test_containers.py
Due: imports

✨ `task`: run a task defined where it cannot be imported (#7619)
  src/aiida/engine/processes/task.py
  tests/engine/processes/test_task.py
Due: imports

🧪 `graphs`: run a graph on a daemon worker (#7619)
  tests/engine/processes/graphs/test_daemon.py
Due: none

✨ `Runner.submit`: refuse a mismatched daemon (#7617)
  CHANGELOG.md
  docs/source/howto/faq.rst
  docs/source/topics/processes/concepts.rst
  docs/source/topics/processes/usage.rst
  src/aiida/engine/processes/_class_identity.py
  src/aiida/engine/processes/persistence.py
  src/aiida/engine/runners.py
  tests/engine/processes/test_class_identity.py
  tests/engine/processes/test_persistence.py
  tests/engine/test_runners.py
Due: imports

✨ `callables`: pickle a callable and its modules (#7617)
  environment.yml
  pyproject.toml
  src/aiida/common/callables.py
  tests/common/test_callables.py
  tests/conftest.py
  uv.lock
Due: imports, generate-conda-environment, validate-conda-environment

✨ `DaemonClient`: record a worker's import paths (#7617)
  src/aiida/engine/daemon/client.py
  tests/engine/daemon/test_client.py
Due: imports

✨ `ProcessNode`: record the source of its class (#7617)
  CHANGELOG.md
  src/aiida/cmdline/utils/common.py
  src/aiida/common/callables.py
  src/aiida/engine/processes/calcjobs/calcjob.py
  src/aiida/engine/processes/process.py
  src/aiida/orm/nodes/process/process.py
  tests/cmdline/utils/test_common.py
  tests/common/test_callables.py
  tests/engine/processes/test_unimportable_processes.py
  tests/engine/test_process.py
Due: imports

✨ `checkpoints`: carry a process's own class (#7617)
  CHANGELOG.md
  docs/source/howto/faq.rst
  docs/source/topics/processes/concepts.rst
  docs/source/topics/processes/usage.rst
  src/aiida/engine/processes/_class_identity.py
  src/aiida/engine/processes/persistence.py
  tests/engine/conftest.py
  tests/engine/processes/conftest.py
  tests/engine/processes/test_class_identity.py
  tests/engine/processes/test_persistence.py
  tests/engine/processes/test_unimportable_processes.py
Due: imports

✨ `NodeRepository`: forward `has_object` (#7617)
  src/aiida/orm/nodes/repository.py
Due: imports

✨ `Parser`: bind the class of the running process (#7617)
  src/aiida/engine/processes/calcjobs/calcjob.py
  src/aiida/parsers/parser.py
  src/aiida/parsers/plugins/templatereplacer/parser.py
  tests/parsers/test_parser.py
Due: imports

✨ `checkpoints`: write carried bytes to files (#7617)
  CHANGELOG.md
  docs/source/howto/installation.rst
  src/aiida/engine/persistence.py
  src/aiida/orm/implementation/storage_backend.py
  src/aiida/orm/nodes/process/process.py
  src/aiida/storage/psql_dos/backend.py
  src/aiida/storage/sqlite_dos/backend.py
  src/aiida/storage/sqlite_temp/backend.py
  tests/engine/test_persistence.py
Due: imports

🐛 Propagate kill from a paused parent to its children
  src/aiida/engine/processes/process.py
  tests/engine/test_work_chain.py
Due: imports

♻️ Remove public computer configure CLI command (#7690)
  src/aiida/cmdline/commands/cmd_computer.py
  tests/cmdline/commands/test_computer.py
Due: imports, verdi-autodocs

♻️ Use authentication option for computer setup (#7690)
  .github/config/localhost.yaml
  .github/config/slurm-ssh.yaml
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/cmdline/params/options/__init__.py
  src/aiida/cmdline/params/options/commands/computer.py
  src/aiida/cmdline/params/options/main.py
  tests/cmdline/commands/test_computer.py
  tests/cmdline/commands/test_computer/test_computer_export_setup___no_sort_.yaml
  tests/cmdline/commands/test_computer/test_computer_export_setup___sort_.yaml
Due: imports, verdi-autodocs

♻️ Consolidate computer setup and introduce profile-based configuration (#7690)
  .github/config/localhost-config.yaml
  .github/config/localhost.yaml
  .github/config/slurm-ssh-config.yaml
  .github/config/slurm-ssh.yaml
  .github/workflows/setup.sh
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/orm/computers.py
  src/aiida/tools/shell.py
  src/aiida/transports/cli.py
  tests/cmdline/commands/test_computer.py
  tests/orm/test_computers.py
  tests/orm/test_querybuilder.py
  tests/orm/utils/test_remote.py
Due: imports, verdi-autodocs

📚 Document consolidated computer setup and profile API (#7690)
  CHANGELOG.md
  docs/source/howto/plugin_codes.rst
  docs/source/howto/run_codes.rst
  docs/source/reference/command_line.rst
  docs/source/tutorials/basic.md
Due: none

🧪 Make test_unload_profile deterministic via public API
  tests/storage/psql_dos/test_backend.py
Due: none

🧪 Make test_unload_profile deterministic via public API (#7699)
  tests/storage/psql_dos/test_backend.py
Due: none

Replace Slack notifications with commit comments
  .github/actions/slack-notification/action.yml
  .github/workflows/nightly.yml
  .github/workflows/test-install.yml
Due: none

Replace Slack notifications with commit comments (#7567)
  .github/actions/slack-notification/action.yml
  .github/workflows/nightly.yml
  .github/workflows/test-install.yml
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 5c075940c3112283c639da69d47205fc37c12268 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Run mypy on aiida.transports module
  .pre-commit-config.yaml
  src/aiida/transports/cli.py
  src/aiida/transports/plugins/local.py
Due: imports

reorder isinstance checks
  src/aiida/transports/plugins/local.py
Due: imports

Docs: extend UTF-8 locale troubleshooting for WSL and minimal Linux
  docs/source/installation/guide_complete.rst
  docs/source/installation/troubleshooting.rst
Due: none
