Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, mypy, pylint, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

pylint:
  name: pylint
  entry: pylint
  language: system

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

CLI: Add the `verdi code create` command group
  aiida/cmdline/commands/cmd_code.py
  docs/source/reference/command_line.rst
  tests/cmdline/commands/test_code.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for bb59a701052f9ecf82c7fcd209041df900ffd81f [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Update docs/source/howto/run_codes.rst
  docs/source/howto/run_codes.rst
Due: none

Docs: clarify excepted and killed calculations are not cached (#5525)
  docs/source/howto/run_codes.rst
Due: none

fix: pop `_v6_backend` key on `storage` level
  aiida/manage/configuration/migrations/migrations.py
Due: imports, pylint

chore: add test
  tests/manage/configuration/migrations/test_migrations.py
Due: pylint

`Config`: fix bug in downgrade past version 6 (#5528)
  aiida/manage/configuration/migrations/migrations.py
  tests/manage/configuration/migrations/test_migrations.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for f5f8ef7d66d73c19d4daedf75682336bb56426e0 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Tests: fix the RPN work chains for the nightly build
  .github/workflows/nightly.yml
  .molecule/default/files/polish/cli.py
  .molecule/default/files/polish/lib/template/base.tpl
  .molecule/default/files/polish/lib/template/workchain.tpl
Due: pylint

Tests: fix the RPN work chains for the nightly build (#5529)
  .github/workflows/nightly.yml
  .molecule/default/files/polish/cli.py
  .molecule/default/files/polish/lib/template/base.tpl
  .molecule/default/files/polish/lib/template/workchain.tpl
Due: pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for ef06c086662995b7d116ddfd5874d7453e8850e3 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

ORM: add `entry_point` classproperty to `Node` and `Group`
  aiida/orm/groups.py
  aiida/orm/nodes/node.py
  tests/orm/nodes/test_node.py
  tests/orm/test_groups.py
Due: imports, mypy, pylint

ORM: add `entry_point` classproperty to `Node` and `Group` (#5437)
  aiida/orm/groups.py
  aiida/orm/nodes/node.py
  tests/orm/nodes/test_node.py
  tests/orm/test_groups.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 115cb498c457edb5d408017166b53cff2c5e8d14 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

fix: raise when detecting multiple entry points
  aiida/plugins/entry_point.py
Due: imports, mypy, pylint

fix: accept multiple identical entry points
  aiida/plugins/entry_point.py
Due: imports, mypy, pylint

Engine: fix bug that allowed non-storable inputs to be passed to process
  aiida/engine/processes/process.py
  tests/engine/processes/test_builder.py
  tests/engine/test_process.py
  tests/engine/test_process_function.py
Due: imports, mypy, pylint

Add a test for `aiida.plugins.entry_point.get_entry_point`
  tests/plugins/test_entry_point.py
Due: pylint

Update aiida/plugins/entry_point.py
  aiida/plugins/entry_point.py
Due: imports, mypy, pylint

Fix `get_entry_point` not raising even for duplicate entry points (#5531)
  aiida/plugins/entry_point.py
  tests/plugins/test_entry_point.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for a8ea6b75d7e534836a8ab75f21d3b2bfee35c51f [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Engine: fix bug that allowed non-storable inputs to be passed to process (#5532)
  aiida/engine/processes/process.py
  tests/engine/processes/test_builder.py
  tests/engine/test_process.py
  tests/engine/test_process_function.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 5c1eb3fadf257faa978ed6dee961f7d01ee21c48 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Added compress option to verdi storage maintain
  aiida/cmdline/commands/cmd_storage.py
  aiida/repository/backend/disk_object_store.py
  tests/cmdline/commands/test_storage.py
  tests/repository/backend/test_disk_object_store.py
  tests/storage/psql_dos/test_backend.py
Due: imports, mypy, pylint, verdi-autodocs

Fix and add tests
  aiida/schedulers/plugins/lsf.py
  tests/schedulers/test_lsf.py
Due: imports, pylint

Updated LSF scheduler to accept number of nodes
  aiida/schedulers/plugins/lsf.py
Due: imports, pylint

docs: remove note on disk space for caching
  docs/source/topics/provenance/caching.rst
Due: none

Add escape_exec_line to scheduler template
  aiida/orm/nodes/data/code/containerized.py
  aiida/schedulers/datastructures.py
  aiida/schedulers/scheduler.py
Due: imports, pylint

Add calcjobs for containerized code
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/orm/__init__.py
  aiida/orm/nodes/__init__.py
  aiida/orm/nodes/data/__init__.py
  aiida/orm/nodes/data/code/__init__.py
Due: imports, mypy, pylint

incorporate feedback from code review
  docs/source/topics/provenance/caching.rst
Due: none

incorporate suggestions from code review
  docs/source/topics/provenance/caching.rst
Due: none

Engine: fix bug when caching from process with nested outputs
  aiida/engine/processes/process.py
  tests/engine/processes/test_caching.py
Due: imports, mypy, pylint

Engine: fix bug when caching from process with nested outputs (#5538)
  aiida/engine/processes/process.py
  tests/engine/processes/test_caching.py
Due: imports, mypy, pylint

`Process`: refactor out input handling specific to `CalcJob`
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/engine/processes/process.py
  tests/engine/processes/calcjobs/test_calc_job.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for b936da373499c63f4af4bcb9024500ffc9bf7f9e [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Implement container code and test
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/engine/processes/process.py
  aiida/orm/nodes/data/code/containerized.py
  aiida/schedulers/scheduler.py
  pyproject.toml
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/processes/calcjobs/test_calc_job/test_containerized_installed_code.sh
Due: imports, mypy, pylint, dm-generate-all, dependencies

Update docs/source/topics/provenance/caching.rst
  docs/source/topics/provenance/caching.rst
Due: none

Docs: remove note on disk space for caching (#5534)
  docs/source/topics/provenance/caching.rst
Due: none

Fix typo for tests
  tests/cmdline/commands/test_storage.py
Due: pylint

Fix test typo
  tests/cmdline/commands/test_storage.py
Due: pylint

Path conditions:
  imports: any of: aiida/.*py and \.py$
  mypy: any of: (?x)^(
    aiida/common/timezone.py|
    aiida/common/progress_reporter.py|
    aiida/engine/.*py|
    aiida/manage/manager.py|
    aiida/manage/database/delete/nodes.py|
    aiida/orm/querybuilder.py|
    aiida/orm/implementation/entities.py|
    aiida/orm/implementation/storage_backend.py|
    aiida/orm/implementation/authinfos.py|
    aiida/orm/implementation/comments.py|
    aiida/orm/implementation/computers.py|
    aiida/orm/implementation/groups.py|
    aiida/orm/implementation/logs.py|
    aiida/orm/implementation/nodes.py|
    aiida/orm/implementation/users.py|
    aiida/orm/implementation/querybuilder.py|
    aiida/orm/entities.py|
    aiida/orm/extras.py|
    aiida/orm/authinfos.py|
    aiida/orm/comments.py|
    aiida/orm/computers.py|
    aiida/orm/groups.py|
    aiida/orm/logs.py|
    aiida/orm/users.py|
    aiida/orm/nodes/data/enum.py|
    aiida/orm/nodes/data/jsonable.py|
    aiida/orm/nodes/attributes.py|
    aiida/orm/nodes/node.py|
    aiida/orm/nodes/process/.*py|
    aiida/orm/nodes/repository.py|
    aiida/orm/utils/links.py|
    aiida/plugins/entry_point.py|
    aiida/plugins/factories.py|
    aiida/repository/.*py|
    aiida/storage/control.py|
    aiida/storage/psql_dos/backend.py|
    aiida/storage/psql_dos/orm/querybuilder/.*py|
    aiida/storage/psql_dos/utils.py|
    aiida/storage/sqlite_zip/.*.py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/archive/.*py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
