Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Engine: Fix bug in upload calculation for `PortableCode` with SSH (#6519)
  src/aiida/engine/daemon/execmanager.py
  tests/engine/daemon/test_execmanager.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for f9924437070c67a9505f2f3b70a2d6d303acd38a [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`SqliteDosStorage`: Make the migrator compatible with SQLite
  src/aiida/storage/migrations.py
  src/aiida/storage/psql_dos/migrator.py
  src/aiida/storage/sqlite_dos/backend.py
  src/aiida/storage/sqlite_dos/migrations/env.py
  src/aiida/storage/sqlite_dos/migrations/versions/main_0001_initial.py
  src/aiida/storage/sqlite_dos/migrations/versions/main_0002_recompute_hash_calc_job_node.py
  tests/cmdline/commands/test_status.py
  tests/storage/sqlite_dos/migrations/conftest.py
  tests/storage/sqlite_dos/migrations/test_all_schema.py
  tests/storage/sqlite_dos/migrations/test_all_schema/test_head_vs_orm_main_0002_.yml
  tests/storage/sqlite_dos/migrations/test_all_schema/test_main_main_0001_.yml
  tests/storage/sqlite_dos/migrations/test_all_schema/test_main_main_0002_.yml
Due: imports

`SqliteDosStorage`: Make the migrator compatible with SQLite (#6429)
  src/aiida/storage/migrations.py
  src/aiida/storage/psql_dos/migrator.py
  src/aiida/storage/sqlite_dos/backend.py
  src/aiida/storage/sqlite_dos/migrations/env.py
  src/aiida/storage/sqlite_dos/migrations/versions/main_0001_initial.py
  src/aiida/storage/sqlite_dos/migrations/versions/main_0002_recompute_hash_calc_job_node.py
  tests/cmdline/commands/test_status.py
  tests/storage/sqlite_dos/migrations/conftest.py
  tests/storage/sqlite_dos/migrations/test_all_schema.py
  tests/storage/sqlite_dos/migrations/test_all_schema/test_head_vs_orm_main_0002_.yml
  tests/storage/sqlite_dos/migrations/test_all_schema/test_main_main_0001_.yml
  tests/storage/sqlite_dos/migrations/test_all_schema/test_main_main_0002_.yml
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 6196dcd3b321758ae8dfb84b22a59e1c77d8e933 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Docs: Add `robots.txt` to only allow indexing of `latest` and `stable` (#6517)
  docs/source/conf.py
  docs/source/robots.txt
Due: none

Apply suggestions from code review
  docs/source/redirects.txt
Due: none

Update `redirects.txt` of installation pages
  docs/source/redirects.txt
Due: none

Update docs/source/redirects.txt
  docs/source/redirects.txt
Due: none

Docs: Update `redirects.txt` for installation pages (#6509)
  docs/source/redirects.txt
Due: none

Docker image: Fix release tag in publish workflow
  .github/workflows/docker-publish.yml
Due: none

Docker: Fix release tag in publish workflow (#6520)
  .github/workflows/docker-publish.yml
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for c740b99f2bfe366a733f140164a21048cd51198e [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Mark test_leak_ssh_calcjob as nightly
  tests/engine/test_memory_leaks.py
Due: none

Still hangs
  tests/engine/test_memory_leaks.py
Due: none

Devops: Mark `test_leak_ssh_calcjob` as nightly (#6521)
  tests/engine/test_memory_leaks.py
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for a5da4eda131f844c3639bdb01a256b9e9a7873a2 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

👌 CLI: Computer/Code export output_file optional
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/cmdline/params/options/__init__.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/cmdline/utils/common.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_code/test_code_export_True_.yml
  tests/cmdline/commands/test_code/test_code_export___no_sort_.yml
  tests/cmdline/commands/test_code/test_code_export___sort_.yml
  tests/cmdline/commands/test_computer.py
  tests/cmdline/commands/test_computer/test_computer_export_setup___no_sort_.yml
  tests/cmdline/commands/test_computer/test_computer_export_setup___sort_.yml
  tests/cmdline/utils/test_common.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

tests added + review applied + added try block
  src/aiida/cmdline/commands/cmd_calcjob.py
  tests/cmdline/commands/test_calcjob.py
Due: imports, verdi-autodocs

CLI: Add default for `output_file` in computer and code export commands (#6486)
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/cmdline/params/options/__init__.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/cmdline/utils/common.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_code/test_code_export_True_.yml
  tests/cmdline/commands/test_code/test_code_export___no_sort_.yml
  tests/cmdline/commands/test_code/test_code_export___sort_.yml
  tests/cmdline/commands/test_computer.py
  tests/cmdline/commands/test_computer/test_computer_export_setup___no_sort_.yml
  tests/cmdline/commands/test_computer/test_computer_export_setup___sort_.yml
  tests/cmdline/utils/test_common.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 9355a9878134b7c8e3e75bb029c251f0bf0a7357 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

CLI: Catch `NotImplementedError` in `verdi calcjob gotocomputer` (#6525)
  src/aiida/cmdline/commands/cmd_calcjob.py
  tests/cmdline/commands/test_calcjob.py
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 120c8ac6dcd15cec1ff3260ab65276c60027dd5f [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Using s6 service ready notification instead of sleep
  .docker/aiida-core-base/s6-assets/init/aiida-prepare.sh
  .docker/aiida-core-with-services/s6-assets/s6-rc.d/rabbitmq/data/check
  .docker/aiida-core-with-services/s6-assets/s6-rc.d/rabbitmq/notification-fd
  .docker/aiida-core-with-services/s6-assets/s6-rc.d/rabbitmq/run
Due: none

Apply suggestions from code review
  .docker/aiida-core-with-services/s6-assets/s6-rc.d/rabbitmq/data/check
  .docker/aiida-core-with-services/s6-assets/s6-rc.d/rabbitmq/run
Due: none

try both
  .docker/aiida-core-with-services/s6-assets/s6-rc.d/rabbitmq/data/check
Due: none

try until in aiida-prepare script itself
  .docker/aiida-core-base/s6-assets/init/aiida-prepare.sh
Due: none

try with ping
  .docker/aiida-core-base/s6-assets/init/aiida-prepare.sh
  .docker/aiida-core-with-services/s6-assets/s6-rc.d/rabbitmq/data/check
Due: none

another try
  .docker/aiida-core-with-services/s6-assets/s6-rc.d/rabbitmq/data/check
Due: none

step-wise checking
  .docker/aiida-core-with-services/s6-assets/s6-rc.d/rabbitmq/data/check
Due: none

do not check is_booting
  .docker/aiida-core-with-services/s6-assets/s6-rc.d/rabbitmq/data/check
Due: none

do not use is_running or is_booting
  .docker/aiida-core-with-services/s6-assets/s6-rc.d/rabbitmq/data/check
Due: none

Docker: Replace sleep with `s6-notifyoncheck` (#6475)
  .docker/aiida-core-base/s6-assets/init/aiida-prepare.sh
  .docker/aiida-core-with-services/s6-assets/s6-rc.d/rabbitmq/data/check
  .docker/aiida-core-with-services/s6-assets/s6-rc.d/rabbitmq/notification-fd
  .docker/aiida-core-with-services/s6-assets/s6-rc.d/rabbitmq/run
Due: none

Dependencies: Update requirement to `psycopg~=3.0`
  .github/config/profile.yaml
  docs/source/howto/installation.rst
  docs/source/installation/docker.rst
  docs/source/installation/troubleshooting.rst
  docs/source/nitpick-exceptions
  docs/source/reference/command_line.rst
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.12.txt
  requirements/requirements-py-3.9.txt
  src/aiida/cmdline/commands/cmd_setup.py
  src/aiida/cmdline/params/options/commands/setup.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/manage/external/postgres.py
  src/aiida/manage/tests/pytest_fixtures.py
  src/aiida/restapi/common/utils.py
  src/aiida/storage/psql_dos/backend.py
  src/aiida/storage/psql_dos/utils.py
  src/aiida/tools/pytest_fixtures/storage.py
  tests/conftest.py
  tests/orm/test_querybuilder/test_as_sql.txt
  tests/storage/psql_dos/migrations/conftest.py
Due: imports, dm-generate-all, dependencies, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 9579378ba063237baa5b73380eb8e9f0a28529ee [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Dependencies: Update requirement to `psycopg~=3.0` (#6362)
  .github/config/profile.yaml
  docs/source/howto/installation.rst
  docs/source/installation/docker.rst
  docs/source/installation/troubleshooting.rst
  docs/source/nitpick-exceptions
  docs/source/reference/command_line.rst
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.12.txt
  requirements/requirements-py-3.9.txt
  src/aiida/cmdline/commands/cmd_setup.py
  src/aiida/cmdline/params/options/commands/setup.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/manage/external/postgres.py
  src/aiida/manage/tests/pytest_fixtures.py
  src/aiida/restapi/common/utils.py
  src/aiida/storage/psql_dos/backend.py
  src/aiida/storage/psql_dos/utils.py
  src/aiida/tools/pytest_fixtures/storage.py
  tests/conftest.py
  tests/orm/test_querybuilder/test_as_sql.txt
  tests/storage/psql_dos/migrations/conftest.py
Due: imports, dm-generate-all, dependencies, verdi-autodocs

`Scheduler`: Refactor interface to make it more generic
  src/aiida/engine/daemon/execmanager.py
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/schedulers/__init__.py
  src/aiida/schedulers/plugins/__init__.py
  src/aiida/schedulers/plugins/bash.py
  src/aiida/schedulers/plugins/direct.py
  src/aiida/schedulers/plugins/lsf.py
  src/aiida/schedulers/plugins/pbsbaseclasses.py
  src/aiida/schedulers/plugins/sge.py
  src/aiida/schedulers/plugins/slurm.py
  src/aiida/schedulers/scheduler.py
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/transports/test_all_plugins.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for cba6e7c757ec74194afc63809b5dac72bb81a771 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`Scheduler`: Refactor interface to make it more generic (#6043)
  src/aiida/engine/daemon/execmanager.py
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/schedulers/__init__.py
  src/aiida/schedulers/plugins/__init__.py
  src/aiida/schedulers/plugins/bash.py
  src/aiida/schedulers/plugins/direct.py
  src/aiida/schedulers/plugins/lsf.py
  src/aiida/schedulers/plugins/pbsbaseclasses.py
  src/aiida/schedulers/plugins/sge.py
  src/aiida/schedulers/plugins/slurm.py
  src/aiida/schedulers/scheduler.py
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/transports/test_all_plugins.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 954cbdd3ee5127d6618db9d144508505e41cffcc [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
