Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Functional Change added
  src/aiida/orm/utils/node.py
Due: imports

Update Documentation
  docs/source/topics/data_types.rst
Due: none

Adding test
  tests/orm/nodes/data/test_xy.py
Due: none

Add support for running direct jobs on bash environment on Windows
  environment.yml
  pyproject.toml
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/cmdline/commands/cmd_presto.py
  src/aiida/cmdline/commands/cmd_setup.py
  src/aiida/engine/daemon/client.py
  src/aiida/manage/configuration/config.py
  src/aiida/manage/configuration/profile.py
  src/aiida/manage/profile_access.py
  src/aiida/manage/tests/pytest_fixtures.py
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/data/code/containerized.py
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/data/code/legacy.py
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/nodes/data/folder.py
  src/aiida/orm/nodes/data/singlefile.py
  src/aiida/orm/nodes/repository.py
  src/aiida/repository/repository.py
  src/aiida/storage/psql_dos/backend.py
  src/aiida/storage/sqlite_zip/migrations/legacy_to_main.py
  src/aiida/tools/pytest_fixtures/storage.py
  src/aiida/transports/plugins/local.py
  src/aiida/transports/transport.py
  tests/orm/data/code/test_abstract.py
  tests/repository/test_repository.py
  uv.lock
Due: imports, dm-generate-all, dependencies, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for ce9dcf421346ae2e6aedc0cdc2ff325d073fcf65 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Fix dump_parent_path being None.
  README.md
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/tools/dumping/base.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/process.py
  tests/tools/dumping/test_process.py
Due: imports, verdi-autodocs

Fix mypy complaints
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/base.py
  src/aiida/tools/dumping/group.py
  src/aiida/tools/dumping/logger.py
  src/aiida/tools/dumping/process.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
  tests/tools/dumping/test_process.py
Due: imports, verdi-autodocs

Add `only-top-level-[calcs|workflows]` options
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
Due: imports, verdi-autodocs

Major code refactor
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/base.py
  src/aiida/tools/dumping/data.py
  src/aiida/tools/dumping/group.py
  src/aiida/tools/dumping/parser.py
  src/aiida/tools/dumping/process.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/test-config-file.yaml
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

Commit changes to continue.
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/common/utils.py
  src/aiida/repository/repository.py
  src/aiida/tools/dumping/base.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/process.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
  tests/tools/dumping/test_collection.py
Due: imports, verdi-autodocs

Use `compare_tree` utility function for dumping tests
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/profile.py
  tests/tools/dumping/test_collection.py
  tests/tools/dumping/test_utils.py
Due: imports, verdi-autodocs

Inherit from BaseDumper. Not sure if I should keep this commit...
  src/aiida/tools/dumping/base.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/logger.py
  src/aiida/tools/dumping/process.py
  src/aiida/tools/dumping/profile.py
Due: imports

Disentangle collection to group or collection_nodes
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
  tests/tools/dumping/test_collection.py
  tests/tools/dumping/test_process.py
  tests/tools/dumping/utils.py
Due: imports

Various improvements
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/__init__.py
  src/aiida/tools/dumping/base.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/logger.py
  src/aiida/tools/dumping/process.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
  tests/tools/dumping/test_collection.py
  tests/tools/dumping/test_process.py
Due: imports, verdi-autodocs

Symlinking of workflows between groups works.
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/group.py
  src/aiida/tools/dumping/parser.py
  src/aiida/tools/dumping/process.py
  src/aiida/tools/dumping/profile.py
Due: imports, verdi-autodocs

Mirroring of workflows and calculations works
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/parser.py
  src/aiida/tools/dumping/processes.py
  src/aiida/tools/dumping/test-config-file.yaml
Due: imports, verdi-autodocs

Move load_group function to utils.py, add `get_path_by_uuid` to Logger, add `get_group_subpath` method.
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/logger.py
  src/aiida/tools/dumping/process.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
Due: imports, verdi-autodocs

Start making test methods smaller
  src/aiida/tools/dumping/collection.py
  tests/tools/dumping/test_collection.py
Due: imports

Improve logging and add dry-run feature.
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/logger.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
Due: imports, verdi-autodocs

Add ArithmeticAdd CJ Node fixture without `run`
  tests/conftest.py
Due: none

First tests for node collection dumping
  src/aiida/tools/dumping/__init__.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
  tests/tools/dumping/test_collection.py
  tests/tools/dumping/test_group.py
Due: imports

Adapt process dumping tests for config.
  tests/tools/dumping/test_process.py
Due: none

WIP: Dir deletion on node deletion for mirror.
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
Due: imports, verdi-autodocs

BaseDumper dataclass. get_processes return dict. Extend tests.
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/base.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/logger.py
  src/aiida/tools/dumping/utils.py
  tests/tools/dumping/test_collection.py
  tests/tools/dumping/test_process.py
  tests/tools/dumping/test_utils.py
Due: imports, verdi-autodocs

Move dumping test fixtures to `conftest.py`
  tests/conftest.py
  tests/tools/dumping/test_processes.py
Due: none

Revert changes to README.md
  README.md
Due: none

Start to work on group testing
  src/aiida/tools/dumping/group.py
  tests/tools/dumping/__init__.py
  tests/tools/dumping/test_group.py
  tests/tools/dumping/test_profile.py
Due: imports

First working version with `DataDumper` and `CollectionDumper`
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/__init__.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/data.py
  src/aiida/tools/dumping/parser.py
  src/aiida/tools/dumping/processes.py
  src/aiida/tools/dumping/rich.py
  src/aiida/tools/dumping/test-config-file.yaml
  src/aiida/tools/dumping/utils.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

Log-adding implemented for sub-workflows and calcs of process dump.
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/base.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/process.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
Due: imports, verdi-autodocs

Commit before merge
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/logger.py
  src/aiida/tools/dumping/process.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
Due: imports, verdi-autodocs

Minor cleanup.
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/repository/repository.py
  src/aiida/tools/dumping/base.py
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/profile.py
  src/aiida/tools/dumping/utils.py
Due: imports, verdi-autodocs

Add `ProcessesToDump` NamedTuple
  src/aiida/tools/dumping/collection.py
  src/aiida/tools/dumping/profile.py
  tests/tools/dumping/test_collection.py
Due: imports

Fix `verdi process dump` tests
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/process.py
  tests/tools/dumping/test_process.py
Due: imports, verdi-autodocs

review applied
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/transport.py
Due: imports

fix rtd
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/transport.py
Due: imports

First version of renaming group paths and relabeling the Logger on group relabel.
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/logger.py
  src/aiida/tools/dumping/profile.py
  tests/tools/dumping/test_profile.py
Due: imports, verdi-autodocs

`Transport`: feat `compress` & `extract` methods (#6743)
  src/aiida/transports/plugins/ssh_async.py
  src/aiida/transports/transport.py
  tests/transports/test_all_plugins.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for f4c55f5f78cd7fde9a5b4a4e48cad2159fd666b2 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
