Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, dm-generate-all, pyproject, dependencies, verdi-autodocs, version-number

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://github.com/ikamensh/flynt/
    rev: '0.55'
    hooks:
    -   id: flynt
        args: [
            '--line-length=120',
            '--fail-on-change',
        ]

-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.30.0
    hooks:
    -   id: yapf
        name: yapf
        types: [python]
        exclude: &exclude_files >
            (?x)^(
                docs/.*|
            )$
        args: ['-i']

-   repo: local

    hooks:

    -   id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        pass_filenames: true
        files: >-
            (?x)^(
                aiida/common/progress_reporter.py|
                aiida/manage/manager.py|
                aiida/engine/.*py|
                aiida/manage/database/delete/nodes.py|
                aiida/tools/graph/graph_traversers.py|
                aiida/tools/groups/paths.py|
                aiida/tools/importexport/archive/.*py|
                aiida/tools/importexport/dbexport/__init__.py|
                aiida/tools/importexport/dbimport/backends/.*.py|
            )$

    -   id: pylint
        name: pylint
        entry: pylint
        types: [python]
        language: system
        exclude: *exclude_files

    -   id: dm-generate-all
        name: Update all requirements files
        entry: python ./utils/dependency_management.py generate-all
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.py|
                setup.json|
                utils/dependency_management.py
            )$

    -   id: pyproject
        name: Validate pyproject.toml
        entry: python ./utils/dependency_management.py validate-pyproject-toml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                pyproject.toml
            )$

    -   id: dependencies
        name: Validate environment.yml
        entry: python ./utils/dependency_management.py validate-environment-yml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                environment.yml|
            )$

    -   id: verdi-autodocs
        name: Automatically generating verdi docs
        entry: python ./utils/validate_consistency.py verdi-autodocs
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                aiida/cmdline/commands/.*|
                aiida/cmdline/params/.*|
                aiida/cmdline/params/types/.*|
                utils/validate_consistency.py|
            )$

    -   id: version-number
        name: Check version numbers
        entry: python ./utils/validate_consistency.py version
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                utils/validate_consistency.py|
                aiida/__init__.py
            )$

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for b3f7080e5e11e9e323b81b7b9cc2d25d6386b498 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

`CalcJob`: add the option to stash files after job completion
  .github/system_tests/test_daemon.py
  aiida/common/datastructures.py
  aiida/engine/daemon/execmanager.py
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/engine/processes/calcjobs/tasks.py
  aiida/orm/nodes/data/__init__.py
  aiida/orm/nodes/data/remote/__init__.py
  aiida/orm/nodes/data/remote/base.py
  aiida/orm/nodes/data/remote/stash/__init__.py
  aiida/orm/nodes/data/remote/stash/base.py
  aiida/orm/nodes/data/remote/stash/folder.py
  setup.json
  tests/engine/processes/test_builder.py
  tests/engine/test_calc_job.py
  tests/orm/data/test_remote_stash.py
Due: mypy, pylint, dm-generate-all, pyproject, dependencies, version-number

Apply comments from review
  .github/system_tests/test_daemon.py
  aiida/common/datastructures.py
  aiida/engine/daemon/execmanager.py
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/engine/processes/calcjobs/tasks.py
  tests/orm/data/test_remote_stash.py
Due: mypy, pylint

Docs: fix the citation links on the index page
  docs/source/index.rst
Due: none

Docs: fix the citation links on the index page (#4800)
  docs/source/index.rst
Due: none

`CalcJob`: add the option to stash files after job completion (#4424)
  .github/system_tests/test_daemon.py
  aiida/common/datastructures.py
  aiida/engine/daemon/execmanager.py
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/engine/processes/calcjobs/tasks.py
  aiida/orm/nodes/data/__init__.py
  aiida/orm/nodes/data/remote/__init__.py
  aiida/orm/nodes/data/remote/base.py
  aiida/orm/nodes/data/remote/stash/__init__.py
  aiida/orm/nodes/data/remote/stash/base.py
  aiida/orm/nodes/data/remote/stash/folder.py
  setup.json
  tests/engine/processes/test_builder.py
  tests/engine/test_calc_job.py
  tests/orm/data/test_remote_stash.py
Due: mypy, pylint, dm-generate-all, pyproject, dependencies, version-number

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 9359b079bc49cec6d3f1e871ec856b71928c0696 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 9359b079bc49cec6d3f1e871ec856b71928c0696 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

`verdi process play`: only query for active processes with `--all` flag (#4671)
  aiida/cmdline/commands/cmd_process.py
  tests/cmdline/commands/test_process.py
  tests/conftest.py
Due: pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,django benchmark result for d7625227dfa3a4c406b1f476c0c1e71a76408a3a [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for d7625227dfa3a4c406b1f476c0c1e71a76408a3a [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

maintenance: delete ProcessFuture
  aiida/engine/processes/futures.py
  aiida/engine/runners.py
  tests/engine/test_futures.py
Due: mypy, pylint

Dependencies: update pymatgen version specification
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

Dependencies: update pymatgen version specification (#4805)
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 623d0d8b8b3f11e4f25a0d7d60061dccdba7150a [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 623d0d8b8b3f11e4f25a0d7d60061dccdba7150a [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Change input() to prompt in query_string
  aiida/manage/backup/backup_utils.py
Due: pylint

🔧 MAINTAIN: Add PyPi release workflow
  .github/workflows/check_release_tag.py
  .github/workflows/post-release.yml
  .github/workflows/release.yml
Due: pylint

Dependencies: Update sqlalchemy dependency
  environment.yml
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

Change input() to prompt in query_yes_no
  aiida/manage/backup/backup_utils.py
Due: pylint

Dependencies: Pin sqlalchemy to minor release (#4809)
  environment.yml
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

📚 DOCS: Add documentation on stashing
  docs/source/topics/calculations/usage.rst
Due: none

add link for transfercalcjob feedback
  docs/source/howto/data.rst
Due: none

add versionadded to TransferCalcjob docs
  docs/source/howto/data.rst
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 767f57a02b1ba40421ab9b17a67b2532aff556c6 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 767f57a02b1ba40421ab9b17a67b2532aff556c6 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Update .github/workflows/check_release_tag.py
  .github/workflows/check_release_tag.py
Due: pylint

Apply suggestions from code review
  docs/source/topics/calculations/usage.rst
Due: none

Update docs/source/topics/calculations/usage.rst
  docs/source/topics/calculations/usage.rst
Due: none

Apply suggestions from code review
  .github/workflows/check_release_tag.py
  .github/workflows/release.yml
Due: pylint

Update .github/workflows/release.yml
  .github/workflows/release.yml
Due: none

📚 DOCS: Add documentation on stashing (#4812)
  docs/source/howto/data.rst
  docs/source/topics/calculations/usage.rst
Due: none

🚀 RELEASE: v1.6.0
  CHANGELOG.md
  aiida/__init__.py
  setup.json
Due: pylint, dm-generate-all, pyproject, dependencies, version-number

Add PR links
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

🔧 MAINTAIN: Add PyPI release workflow (#4807)
  .github/workflows/check_release_tag.py
  .github/workflows/post-release.yml
  .github/workflows/release.yml
Due: pylint

fix header
  CHANGELOG.md
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for abbceedd3064512a01d5c4098533658d8fd0c21f [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for abbceedd3064512a01d5c4098533658d8fd0c21f [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Change input() to prompt in ask_answer
  aiida/manage/backup/backup_utils.py
Due: pylint
