Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

Devops: Add tox environment for pytest with presto mark
  pyproject.toml
Due: dm-generate-all, dependencies

Devops: Change tempfile to pytest's tmp_path
  tests/conftest.py
  tests/tools/pytest_fixtures/test_configuration.py
Due: none

Devops: Determine command directory dynamically with `which`
  tests/cmdline/commands/test_code.py
  tests/conftest.py
  tests/orm/data/code/test_installed.py
  tests/orm/data/code/test_portable.py
Due: none

Tests: Remove test for `make_aware` using fixed date
  tests/common/test_timezone.py
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for d3e9333f517ce833b8ce288652007c10e0b99f9f [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

add test
  tests/schedulers/test_direct.py
Due: none

WIP: solve issue #6571
  src/aiida/schedulers/plugins/direct.py
Due: imports

apply code review
  src/aiida/schedulers/plugins/direct.py
Due: imports

CLI: Handle `None` process states in build_call_graph
  src/aiida/cmdline/utils/ascii_vis.py
  tests/cmdline/utils/test_ascii_vis.py
Due: imports

switch to fork method
  tests/schedulers/test_direct.py
Due: none

move util function inside test
  tests/schedulers/test_direct.py
Due: none

Dump only `sealed` by default and add `incremental` option
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/processes.py
  src/aiida/tools/dumping/utils.py
  tests/cmdline/commands/test_process.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

kill childrens children
  tests/schedulers/test_direct.py
Due: none

Attempt to fix #6579 Update process status in database before broadcasting that process event has changed
  src/aiida/engine/processes/process.py
Due: imports

add doc and add test
  src/aiida/engine/processes/process.py
  tests/engine/test_process.py
Due: imports

add sleeps
  tests/schedulers/test_direct.py
Due: none

`DirectScheduler`: Ensure killing child processes (#6572)
  src/aiida/schedulers/plugins/direct.py
  tests/schedulers/test_direct.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for fddffca67b4f7e3b76b19df7db8e1511c449d2d9 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Engine: Fix state change broadcast before process node is updated (#6580)
  src/aiida/engine/processes/process.py
  tests/engine/test_process.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 867353c415c61d94a2427d5225dd5224a1b95fb9 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Changes from review of @agoscinski
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/tools/dumping/processes.py
  src/aiida/tools/dumping/utils.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

Expose `prepare_dump_path` and update docs.
  docs/source/howto/data.rst
  src/aiida/tools/dumping/processes.py
  src/aiida/tools/dumping/utils.py
  tests/tools/dumping/test_processes.py
Due: imports

CLI: Dump only `sealed` process nodes (#6591)
  docs/source/howto/data.rst
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/processes.py
  src/aiida/tools/dumping/utils.py
  tests/cmdline/commands/test_process.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 70572380bf05998f27ea54df3653ec357e44fc69 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

factor-out-cwd
  src/aiida/calculations/monitors/base.py
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/engine/daemon/execmanager.py
  src/aiida/engine/processes/calcjobs/calcjob.py
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/orm/nodes/data/remote/base.py
  src/aiida/orm/utils/remote.py
  src/aiida/schedulers/plugins/bash.py
  src/aiida/schedulers/scheduler.py
  src/aiida/transports/__init__.py
  src/aiida/transports/plugins/local.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/transport.py
  src/aiida/transports/util.py
  tests/conftest.py
  tests/engine/daemon/test_execmanager.py
  tests/transports/test_all_plugins.py
Due: imports, verdi-autodocs

Commit before properly working on it with debugger.
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/engine/transports.py
Due: imports

solve_readthedocs_warning
  src/aiida/transports/util.py
Due: imports

Clean up from stash.
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/engine/transports.py
Due: imports

Let's see if this works...
  src/aiida/engine/transports.py
Due: imports

Modify transport(_request) handling in tasks.py??
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/engine/transports.py
  src/aiida/engine/utils.py
Due: imports

Transport closing logic in `tasks.py` rather than `transports.py`?
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/engine/transports.py
  src/aiida/engine/utils.py
Due: imports

review applied
  src/aiida/calculations/monitors/base.py
  src/aiida/engine/daemon/execmanager.py
  src/aiida/transports/__init__.py
  src/aiida/transports/plugins/local.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/transport.py
  src/aiida/transports/util.py
  tests/conftest.py
Due: imports

Put a single CalcJob with a transport request
  src/aiida/engine/runners.py
Due: imports

Decrease `_DEFAULT_SAFE_OPEN_INTERVAL`
  src/aiida/transports/transport.py
Due: imports

Save state before cleanup
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/engine/transports.py
Due: imports

Add `_last_close_time` attribute to `TransportQueue`.
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/engine/transports.py
Due: imports
