Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

imports:
  name: imports
  entry: python utils/autogenerate_all_imports.py
  language: python
  require_serial: true
  pass_filenames: false

generate-conda-environment:
  name: Update conda environment file
  entry: python ./utils/dependency_management.py generate-environment-yml
  language: system
  pass_filenames: false

validate-conda-environment:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

♻️ Consolidate computer setup and introduce profile-based configuration (#7690)
  .github/config/localhost-config.yaml
  .github/config/localhost.yaml
  .github/config/slurm-ssh-config.yaml
  .github/config/slurm-ssh.yaml
  .github/workflows/setup.sh
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/orm/computers.py
  src/aiida/tools/shell.py
  src/aiida/transports/cli.py
  tests/cmdline/commands/test_computer.py
  tests/orm/test_computers.py
  tests/orm/test_querybuilder.py
  tests/orm/utils/test_remote.py
Due: imports, verdi-autodocs

♻️ Align computer authentication APIs (#7690)
  .github/config/localhost.yaml
  .github/config/slurm-ssh.yaml
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/cmdline/commands/cmd_devel.py
  src/aiida/cmdline/commands/cmd_presto.py
  src/aiida/cmdline/params/options/__init__.py
  src/aiida/cmdline/params/options/commands/computer.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/orm/computers.py
  src/aiida/tools/pytest_fixtures/orm.py
  src/aiida/tools/shell.py
  tests/calculations/test_transfer.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_computer.py
  tests/cmdline/commands/test_computer/test_computer_export_setup___no_sort_.yaml
  tests/cmdline/commands/test_computer/test_computer_export_setup___sort_.yaml
  tests/cmdline/commands/test_run.py
  tests/cmdline/params/types/test_computer.py
  tests/conftest.py
  tests/manage/configuration/test_profile.py
  tests/orm/data/test_code.py
  tests/orm/models/test_models.py
  tests/orm/test_computers.py
  tests/orm/test_querybuilder.py
  tests/orm/utils/test_remote.py
  tests/restapi/test_routes.py
  tests/test_generic.py
  tests/test_nodes.py
  tests/tools/archive/conftest.py
  tests/tools/archive/orm/test_authinfo.py
  tests/tools/archive/orm/test_computers.py
  tests/utils/archives.py
Due: imports, verdi-autodocs

📚 Document computer setup and Python API (#7690)
  CHANGELOG.md
  docs/source/howto/include/scripts/performance_benchmark_base.py
  docs/source/howto/plugin_codes.rst
  docs/source/howto/run_codes.rst
  docs/source/howto/visualising_graphs.md
  docs/source/reference/command_line.rst
  docs/source/tutorials/basic.md
Due: none

✨ Migrate stored legacy Code nodes to modern plugins (#7585)
  src/aiida/storage/migrations/legacy_code.py
  src/aiida/storage/psql_dos/migrations/versions/main_0003.py
  src/aiida/storage/sqlite_dos/migrations/versions/main_0003.py
  src/aiida/storage/sqlite_zip/migrations/versions/main_0003.py
  tests/storage/migrations/test_main_0003.py
  tests/storage/sqlite_dos/migrations/__init__.py
  tests/utils/archives.py
Due: imports

✨ Add engine-facing code execution protocol (#7585)
  src/aiida/engine/code_protocols.py
  src/aiida/engine/processes/calcjobs/calcjob.py
Due: imports

📝 Document the Code migration and remaining design questions (#7585)
  CHANGELOG.md
  docs/source/developer_guide/core/internals.rst
  docs/source/howto/data.rst
  docs/source/howto/include/snippets/extend_workflows.py
  docs/source/howto/plugin_codes.rst
  docs/source/howto/run_shell_commands.rst
  docs/source/howto/workchains_restart.rst
  docs/source/reference/rest_api.rst
  docs/source/topics/calculations/concepts.rst
  docs/source/topics/calculations/usage.rst
  docs/source/topics/data_types.rst
  docs/source/topics/plugins.rst
  docs/source/topics/processes/usage.rst
  docs/source/tutorials/basic.md
Due: none

♻️ Rename stored Code visibility extra during migration (#7585)
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/storage/migrations/legacy_code.py
  src/aiida/storage/psql_dos/migrations/versions/main_0003.py
  src/aiida/storage/sqlite_dos/migrations/versions/main_0003.py
  src/aiida/storage/sqlite_zip/migrations/versions/main_0003.py
  tests/orm/data/code/test_abstract.py
  tests/storage/migrations/test_main_0003.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for f4f1aae7fda0d3d5e19fbad1fcfb68449df2aac3 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Fix `Code` querying
  src/aiida/orm/querybuilder.py
  tests/orm/test_querybuilder.py
Due: imports

♻️ Move abstract Code to code package path (#7702)
  .claude/skills/architecture-overview/SKILL.md
  docs/source/topics/processes/usage.rst
  src/aiida/orm/nodes/data/code/__init__.py
  src/aiida/orm/nodes/data/code/code.py
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/querybuilder.py
  src/aiida/restapi/translator/nodes/data/code.py
  tests/orm/data/code/test_code.py
  tests/orm/test_querybuilder.py
Due: imports

♻️ Register abstract Code as a data entry point (#7702)
  pyproject.toml
  src/aiida/orm/querybuilder.py
  tests/cmdline/commands/test_code.py
  tests/orm/data/code/test_code.py
  tests/orm/test_fields/fields_aiida.data.core.code.Code.yml
Due: imports, generate-conda-environment, validate-conda-environment

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for ec660820e8e71f75c888047fc387229eda68d5d8 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Move orbital datastructures to common
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  src/aiida/common/datastructures/__init__.py
  src/aiida/common/datastructures/orbital.py
  src/aiida/plugins/factories.py
  src/aiida/tools/data/orbital/orbital.py
  src/aiida/tools/data/orbital/realhydrogen.py
  tests/plugins/test_factories.py
  tests/tools/data/orbital/test_orbitals.py
Due: imports, generate-conda-environment, validate-conda-environment

Update `test_code_filtering`
  tests/orm/test_querybuilder.py
Due: none

Move orbital datastructures to common (#7672)
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  src/aiida/common/datastructures/__init__.py
  src/aiida/common/datastructures/orbital.py
  src/aiida/plugins/factories.py
  src/aiida/tools/data/orbital/orbital.py
  src/aiida/tools/data/orbital/realhydrogen.py
  tests/plugins/test_factories.py
  tests/tools/data/orbital/test_orbitals.py
Due: imports, generate-conda-environment, validate-conda-environment

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for c990648f3cf2b6b79b9bc2db3288f96c06213fda [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

♻️ Migrate process control backend to broker entry point
  src/aiida/manage/configuration/migrations/migrations.py
  tests/conftest.py
  tests/manage/configuration/migrations/test_migrations.py
  tests/manage/configuration/migrations/test_samples/input/11.json
  tests/manage/configuration/migrations/test_samples/reference/12.json
Due: imports

🐛 Resolve legacy broker backend in daemon status
  src/aiida/cmdline/commands/cmd_daemon.py
Due: imports, verdi-autodocs

Resolve class-based node queries through Python inheritance
  docs/source/howto/query.rst
  src/aiida/orm/querybuilder.py
  src/aiida/orm/utils/node_inheritance.py
  tests/orm/test_querybuilder.py
  tests/orm/test_querybuilder/test_as_dict.yml
  tests/orm/test_querybuilder/test_as_sql.txt
  tests/orm/test_querybuilder/test_as_sql_inline.txt
  tests/orm/test_querybuilder/test_as_sql_literal_quote.txt
  tests/orm/test_querybuilder/test_str.txt
  tests/orm/utils/test_node_inheritance.py
Due: imports

👌 `storage.utils`: one `IN` shape per dialect (#7248)
  src/aiida/storage/utils.py
  tests/storage/test_utils.py
Due: imports

🐛 `storage.utils`: one `IN` shape per dialect (#7248)
  src/aiida/storage/utils.py
  tests/storage/test_utils.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 9a9cf9591785ba45eea7355ae3f716bce8decd95 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

docs(JsonableData): document reserved @-prefixed keys per MSONable convention (#7598)
  docs/source/topics/data_types.rst
Due: none

Address review comments: type annotations and assign msg before raising
  src/aiida/orm/nodes/data/jsonable.py
  tests/orm/nodes/data/test_jsonable.py
Due: imports

fix(JsonableData): validate reserved @-prefixed keys against MSONable convention (#7598)
  src/aiida/orm/nodes/data/jsonable.py
  tests/orm/nodes/data/test_jsonable.py
Due: imports

fix(JsonableData): remove KeyError handling and fix MSONable doc link (#7598)
  docs/source/topics/data_types.rst
  src/aiida/orm/nodes/data/jsonable.py
Due: imports

Fix @class and @module stripping in JsonableData
  src/aiida/orm/nodes/data/jsonable.py
  tests/orm/nodes/data/test_jsonable.py
Due: imports

🐛 Resolve legacy broker backend in daemon status
  src/aiida/manage/manager.py
  src/aiida/plugins/factories.py
  tests/cmdline/commands/test_daemon.py
  tests/plugins/test_factories.py
Due: imports

🐛 Resolve legacy broker backend in daemon status (#7705)
  src/aiida/manage/manager.py
  src/aiida/plugins/factories.py
  tests/cmdline/commands/test_daemon.py
  tests/plugins/test_factories.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 634a4cfffff5c1717263a43e6828db917a4b7030 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

⬆️ Allow newer asyncssh ~=2.22 releases
  environment.yml
  pyproject.toml
  uv.lock
Due: generate-conda-environment, validate-conda-environment

⬆️ Allow newer asyncssh ~=2.22 releases (#7712)
  environment.yml
  pyproject.toml
  uv.lock
Due: generate-conda-environment, validate-conda-environment

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
