Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

imports:
  name: imports
  entry: python utils/autogenerate_all_imports.py
  language: python
  require_serial: true
  pass_filenames: false

generate-conda-environment:
  name: Update conda environment file
  entry: python ./utils/dependency_management.py generate-environment-yml
  language: system
  pass_filenames: false

validate-conda-environment:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Fix code fields
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/orm/nodes/data/code/installed.py
Due: imports, verdi-autodocs

Include attributes in node input model
  src/aiida/orm/nodes/data/structure.py
  src/aiida/orm/nodes/node.py
  tests/orm/models/test_models.py
  tests/orm/test_fields/fields_aiida.data.core.structure.StructureData.yml
Due: imports

Fix types
  src/aiida/orm/nodes/data/array/array.py
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/nodes/data/enum.py
Due: imports

Missed cast
  src/aiida/orm/nodes/node.py
Due: imports

Allow unstored entity (de)serialization
  src/aiida/orm/entities.py
Due: imports

Centralize model field collection
  src/aiida/orm/entities.py
  src/aiida/orm/nodes/data/code/abstract.py
Due: imports

Make repo content serialization opt-in
  src/aiida/orm/entities.py
  src/aiida/orm/nodes/node.py
  tests/orm/models/test_models.py
Due: imports

Remove user/ctime/mtime default factories from read-only fields
  src/aiida/orm/groups.py
  src/aiida/orm/nodes/node.py
Due: imports

Fix `Node.from_model`
  src/aiida/orm/nodes/node.py
Due: imports

Mark `InstalledCode.Model.computer` as an attribute
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/node.py
Due: imports

Add guard for unhandled attributes at parent `Data` constructor
  src/aiida/orm/nodes/data/data.py
Due: imports

Restore array base64 serialization
  src/aiida/orm/nodes/data/array/array.py
Due: imports

Add field validator to transform computer pk to label
  src/aiida/orm/nodes/data/code/installed.py
Due: imports

Move unhandled node attributes gate to `Node` class
  src/aiida/orm/nodes/data/data.py
  src/aiida/orm/nodes/node.py
Due: imports

Fix docstring
  src/aiida/orm/entities.py
Due: imports

Implement constructors for `KpointsData` and `BandsData`
  src/aiida/orm/nodes/data/array/array.py
  src/aiida/orm/nodes/data/array/bands.py
  src/aiida/orm/nodes/data/array/kpoints.py
Due: imports

Update regression tests
  tests/orm/test_fields/fields_aiida.data.core.array.ArrayData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.bands.BandsData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.kpoints.KpointsData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.projection.ProjectionData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.trajectory.TrajectoryData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.xy.XyData.yml
  tests/orm/test_fields/fields_aiida.data.core.code.containerized.ContainerizedCode.yml
  tests/orm/test_fields/fields_aiida.data.core.code.installed.InstalledCode.yml
Due: none

Fix centralized model field collection
  src/aiida/orm/entities.py
Due: imports

Serialize/validate arrays as numpy arrays, not bytes
  src/aiida/orm/nodes/data/array/array.py
  tests/orm/test_fields/fields_aiida.data.core.array.ArrayData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.bands.BandsData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.kpoints.KpointsData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.projection.ProjectionData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.trajectory.TrajectoryData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.xy.XyData.yml
Due: imports

Fix unhandled attributes check
  src/aiida/orm/nodes/data/data.py
Due: imports

Implement repo methods to extract object size and objects as a zipfile (bytes)
  src/aiida/orm/nodes/repository.py
Due: imports

Add Kpoints constructor
  src/aiida/orm/nodes/data/array/kpoints.py
Due: imports

Allow arguments in `orm_to_model`
  src/aiida/common/pydantic.py
  src/aiida/orm/entities.py
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/nodes/node.py
Due: imports

Fix typing
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/orm/entities.py
  src/aiida/orm/nodes/data/array/bands.py
Due: imports, verdi-autodocs

Fix `orm_to_model` type
  src/aiida/common/pydantic.py
Due: imports

Fix some typing issues
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/cmdline/groups/dynamic.py
  src/aiida/orm/entities.py
  src/aiida/orm/groups.py
  src/aiida/orm/nodes/data/array/trajectory.py
Due: imports, verdi-autodocs

Fix formatting
  src/aiida/orm/nodes/data/array/array.py
Due: imports

Fix ORM pydantic schemas
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/cmdline/groups/dynamic.py
  src/aiida/common/datastructures.py
  src/aiida/common/pydantic.py
  src/aiida/orm/authinfos.py
  src/aiida/orm/comments.py
  src/aiida/orm/computers.py
  src/aiida/orm/entities.py
  src/aiida/orm/fields.py
  src/aiida/orm/groups.py
  src/aiida/orm/logs.py
  src/aiida/orm/nodes/data/array/kpoints.py
  src/aiida/orm/nodes/data/array/trajectory.py
  src/aiida/orm/nodes/data/bool.py
  src/aiida/orm/nodes/data/cif.py
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/nodes/data/data.py
  src/aiida/orm/nodes/data/float.py
  src/aiida/orm/nodes/data/int.py
  src/aiida/orm/nodes/data/remote/base.py
  src/aiida/orm/nodes/data/singlefile.py
  src/aiida/orm/nodes/data/str.py
  src/aiida/orm/nodes/data/structure.py
  src/aiida/orm/nodes/node.py
  src/aiida/orm/nodes/process/calculation/calcjob.py
  src/aiida/orm/nodes/process/process.py
  src/aiida/orm/users.py
  src/aiida/orm/utils/mixins.py
  src/aiida/storage/psql_dos/orm/querybuilder/main.py
Due: imports, verdi-autodocs

Enable `ArrayNode` numpy array POST payloads via model validator
  src/aiida/orm/nodes/data/array/array.py
Due: imports

Fix `_prepare_yaml`
  src/aiida/orm/nodes/data/code/abstract.py
Due: imports

Fix `repository_path` default in portable code
  src/aiida/orm/nodes/data/code/portable.py
Due: imports

Add `array_labels` back to `BandsData.Model` without constructor handling for now
  src/aiida/orm/nodes/data/array/bands.py
  tests/orm/test_fields/fields_aiida.data.core.array.bands.BandsData.yml
Due: imports

Allow (de)serialization of unstored nodes
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/cmdline/groups/dynamic.py
  src/aiida/orm/entities.py
Due: imports, verdi-autodocs

Remove some unrelated changes
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/cmdline/groups/dynamic.py
  src/aiida/orm/authinfos.py
  src/aiida/orm/groups.py
  src/aiida/orm/nodes/data/array/array.py
  src/aiida/orm/nodes/data/array/bands.py
  src/aiida/orm/nodes/data/array/trajectory.py
  src/aiida/orm/nodes/data/base.py
  src/aiida/orm/nodes/data/bool.py
  src/aiida/orm/nodes/data/data.py
  src/aiida/orm/nodes/data/float.py
  src/aiida/orm/nodes/data/int.py
  src/aiida/orm/nodes/data/str.py
  src/aiida/orm/nodes/process/calculation/calcjob.py
  src/aiida/orm/nodes/process/process.py
  src/aiida/orm/utils/mixins.py
Due: imports, verdi-autodocs

Discard explicit quotation for annotations
  src/aiida/orm/authinfos.py
  src/aiida/orm/comments.py
  src/aiida/orm/computers.py
  src/aiida/orm/groups.py
  src/aiida/orm/logs.py
  src/aiida/orm/nodes/data/array/bands.py
  src/aiida/orm/nodes/data/array/kpoints.py
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/nodes/data/remote/base.py
  src/aiida/orm/nodes/data/singlefile.py
  src/aiida/orm/nodes/node.py
  src/aiida/orm/nodes/process/calculation/calcjob.py
  src/aiida/orm/nodes/process/process.py
  src/aiida/orm/users.py
Due: imports

Fix tests
  tests/orm/test_fields/fields_aiida.data.core.code.containerized.ContainerizedCode.yml
  tests/orm/test_fields/fields_aiida.data.core.code.installed.InstalledCode.yml
Due: none

Add `attributes` to `Node` constructor
  src/aiida/orm/nodes/node.py
Due: imports

Fix tests
  tests/orm/test_fields/fields_aiida.data.core.array.ArrayData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.bands.BandsData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.kpoints.KpointsData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.projection.ProjectionData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.trajectory.TrajectoryData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.xy.XyData.yml
  tests/orm/test_fields/fields_aiida.data.core.base.BaseType.yml
  tests/orm/test_fields/fields_aiida.data.core.bool.Bool.yml
  tests/orm/test_fields/fields_aiida.data.core.cif.CifData.yml
  tests/orm/test_fields/fields_aiida.data.core.code.Code.yml
  tests/orm/test_fields/fields_aiida.data.core.code.abstract.AbstractCode.yml
  tests/orm/test_fields/fields_aiida.data.core.code.containerized.ContainerizedCode.yml
  tests/orm/test_fields/fields_aiida.data.core.code.installed.InstalledCode.yml
  tests/orm/test_fields/fields_aiida.data.core.code.portable.PortableCode.yml
  tests/orm/test_fields/fields_aiida.data.core.dict.Dict.yml
  tests/orm/test_fields/fields_aiida.data.core.enum.EnumData.yml
  tests/orm/test_fields/fields_aiida.data.core.float.Float.yml
  tests/orm/test_fields/fields_aiida.data.core.folder.FolderData.yml
  tests/orm/test_fields/fields_aiida.data.core.int.Int.yml
  tests/orm/test_fields/fields_aiida.data.core.jsonable.JsonableData.yml
  tests/orm/test_fields/fields_aiida.data.core.list.List.yml
  tests/orm/test_fields/fields_aiida.data.core.numeric.NumericType.yml
  tests/orm/test_fields/fields_aiida.data.core.orbital.OrbitalData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.RemoteData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.RemoteStashData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.compress.RemoteStashCompressedData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.custom.RemoteStashCustomData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.folder.RemoteStashFolderData.yml
  tests/orm/test_fields/fields_aiida.data.core.singlefile.SinglefileData.yml
  tests/orm/test_fields/fields_aiida.data.core.str.Str.yml
  tests/orm/test_fields/fields_aiida.data.core.structure.StructureData.yml
  tests/orm/test_fields/fields_aiida.data.core.upf.UpfData.yml
  tests/orm/test_fields/fields_aiida.node.data.Data.yml
  tests/orm/test_fields/fields_aiida.node.process.ProcessNode.yml
  tests/orm/test_fields/fields_aiida.node.process.calculation.CalculationNode.yml
  tests/orm/test_fields/fields_aiida.node.process.calculation.calcfunction.CalcFunctionNode.yml
  tests/orm/test_fields/fields_aiida.node.process.calculation.calcjob.CalcJobNode.yml
  tests/orm/test_fields/fields_aiida.node.process.workflow.WorkflowNode.yml
  tests/orm/test_fields/fields_aiida.node.process.workflow.workchain.WorkChainNode.yml
  tests/orm/test_fields/fields_aiida.node.process.workflow.workfunction.WorkFunctionNode.yml
Due: none

Fix computer type
  src/aiida/cmdline/groups/dynamic.py
  src/aiida/common/pydantic.py
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/node.py
Due: imports

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
