Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, mypy, pylint, dm-generate-all, dependencies, verdi-autodocs, version-number

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

pylint:
  name: pylint
  entry: pylint
  language: system

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

version-number:
  name: Check version numbers
  entry: python ./utils/validate_consistency.py version
  language: system
  pass_filenames: false

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for bb92dd56cc1bba142df2c48f1a73ca6b809568dc [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

`Code`: add additional validation before storing
  .github/system_tests/pytest/test_memory_leaks.py
  aiida/orm/nodes/data/code.py
  tests/calculations/arithmetic/test_add.py
  tests/calculations/test_templatereplacer.py
  tests/cmdline/commands/test_archive_export.py
  tests/cmdline/commands/test_calcjob.py
  tests/cmdline/commands/test_run.py
  tests/cmdline/params/types/test_code.py
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/test_launch.py
  tests/engine/test_process.py
  tests/orm/data/test_bool.py
  tests/orm/data/test_code.py
  tests/test_generic.py
  tests/test_nodes.py
  tests/tools/importexport/test_prov_redesign.py
Due: imports, pylint

`verdi code setup`: validate the uniqueness of the full label
  aiida/cmdline/commands/cmd_code.py
  aiida/cmdline/params/options/commands/code.py
  tests/cmdline/commands/test_code.py
Due: imports, pylint, verdi-autodocs

caching: order and use latest node when cache more than one
  aiida/orm/nodes/node.py
  tests/orm/node/test_node.py
Due: imports, mypy, pylint

doc: add notes for order caching nodes
  docs/source/topics/provenance/caching.rst
Due: none

CLI: deprecate `verdi config caching`
  aiida/cmdline/commands/cmd_config.py
Due: imports, pylint, verdi-autodocs

`verdi code setup`: validate the uniqueness of the full label (#5205)
  aiida/cmdline/commands/cmd_code.py
  aiida/cmdline/params/options/commands/code.py
  tests/cmdline/commands/test_code.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,django benchmark result for d25339dd7e8f8bed40145392dd5166817f3afef5 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for d25339dd7e8f8bed40145392dd5166817f3afef5 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Apply suggestions from code review
  aiida/orm/nodes/node.py
  tests/orm/node/test_node.py
Due: imports, mypy, pylint

Apply suggestions from code review
  tests/orm/node/test_node.py
Due: pylint

Update tests/backends/aiida_sqlalchemy/migrations/test_all_basic.py
  tests/backends/aiida_sqlalchemy/migrations/test_all_basic.py
Due: pylint

✨ NEW: Add `Node.objects.iter_repo_keys` (#4922)
  aiida/orm/nodes/node.py
  aiida/repository/repository.py
  tests/orm/node/test_node.py
  tests/repository/test_repository.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 2d6df1273f4b58ecd9aef347fd55eff362bcee36 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 2d6df1273f4b58ecd9aef347fd55eff362bcee36 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

more splitting of files
  tests/backends/aiida_sqlalchemy/migrations/test_10_group_update.py
  tests/backends/aiida_sqlalchemy/migrations/test_11_v2_repository.py
  tests/backends/aiida_sqlalchemy/migrations/test_1_provenance_redesign.py
  tests/backends/aiida_sqlalchemy/migrations/test_2_group_renaming.py
  tests/backends/aiida_sqlalchemy/migrations/test_3_calc_attributes_keys.py
  tests/backends/aiida_sqlalchemy/migrations/test_4_dblog_update.py
  tests/backends/aiida_sqlalchemy/migrations/test_5_data_move_with_node.py
  tests/backends/aiida_sqlalchemy/migrations/test_6_trajectory_data.py
  tests/backends/aiida_sqlalchemy/migrations/test_7_node_prefix_removal.py
  tests/backends/aiida_sqlalchemy/migrations/test_8_parameter_data_to_dict.py
  tests/backends/aiida_sqlalchemy/migrations/test_9_legacy_process.py
  tests/backends/aiida_sqlalchemy/migrations/test_other.py
Due: pylint

Update module docstrings
  tests/backends/aiida_sqlalchemy/migrations/test_10_group_update.py
  tests/backends/aiida_sqlalchemy/migrations/test_1_provenance_redesign.py
  tests/backends/aiida_sqlalchemy/migrations/test_2_group_renaming.py
  tests/backends/aiida_sqlalchemy/migrations/test_3_calc_attributes_keys.py
  tests/backends/aiida_sqlalchemy/migrations/test_4_dblog_update.py
  tests/backends/aiida_sqlalchemy/migrations/test_5_data_move_with_node.py
  tests/backends/aiida_sqlalchemy/migrations/test_6_trajectory_data.py
  tests/backends/aiida_sqlalchemy/migrations/test_7_node_prefix_removal.py
  tests/backends/aiida_sqlalchemy/migrations/test_8_parameter_data_to_dict.py
  tests/backends/aiida_sqlalchemy/migrations/test_9_legacy_process.py
Due: pylint

rename
  tests/backends/aiida_sqlalchemy/migrations/test_0_all_basic.py
Due: pylint

`get_entry_point`: add proper deprecation pathway for old entry points
  aiida/plugins/entry_point.py
  aiida/plugins/factories.py
  tests/plugins/test_entry_point.py
Due: imports, mypy, pylint

test commenting out tests/backends/aiida_sqlalchemy/test_session.py
  tests/backends/aiida_sqlalchemy/migrations/test_all_basic.py
  tests/backends/aiida_sqlalchemy/test_session.py
Due: pylint

`get_entry_point`: add proper deprecation pathway for old entry points (#5206)
  aiida/plugins/entry_point.py
  aiida/plugins/factories.py
  tests/plugins/test_entry_point.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 5f259bdc93223036f203ea7b10040c5cb99df6fb [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 5f259bdc93223036f203ea7b10040c5cb99df6fb [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

fix stall
  aiida/manage/tests/main.py
  tests/backends/aiida_sqlalchemy/migrations/conftest.py
  tests/backends/aiida_sqlalchemy/test_session.py
Due: imports, pylint

fix deprecation
  tests/backends/aiida_sqlalchemy/migrations/conftest.py
Due: pylint

add fixes
  aiida/backends/manager.py
  tests/backends/aiida_sqlalchemy/migrations/conftest.py
  tests/backends/aiida_sqlalchemy/test_session.py
Due: imports, pylint

check
  tests/backends/aiida_sqlalchemy/migrations/conftest.py
  tests/backends/aiida_sqlalchemy/test_session.py
Due: pylint

Create test_session.py
  tests/backends/aiida_sqlalchemy/test_session.py
Due: pylint

check
  tests/backends/aiida_sqlalchemy/test_session.py
Due: pylint

`Node`: add the `is_valid_cache` setter property
  aiida/common/hashing.py
  aiida/orm/nodes/node.py
  aiida/orm/nodes/process/process.py
  docs/source/howto/run_codes.rst
  docs/source/topics/provenance/caching.rst
  tests/orm/node/test_node.py
Due: imports, mypy, pylint

`Node`: add the `is_valid_cache` setter property (#5207)
  aiida/common/hashing.py
  aiida/orm/nodes/node.py
  aiida/orm/nodes/process/process.py
  docs/source/howto/run_codes.rst
  docs/source/topics/provenance/caching.rst
  tests/orm/node/test_node.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 7cea5bebd15737cb7ae0f4f38dc4f8ca61935ae8 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 7cea5bebd15737cb7ae0f4f38dc4f8ca61935ae8 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Add support for `Enum` types to `aiida.orm.utils.serialize`
  aiida/orm/utils/serialize.py
  tests/common/test_serialize.py
  tests/orm/utils/test_serialize.py
Due: imports, pylint

Add support for `Enum` types to `aiida.orm.utils.serialize` (#5218)
  aiida/orm/utils/serialize.py
  tests/common/test_serialize.py
  tests/orm/utils/test_serialize.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 8acdc24c167756e5ee4f6e39a9834a6e3c16b31a [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 8acdc24c167756e5ee4f6e39a9834a6e3c16b31a [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

`ProcessNode.is_valid_cache`: catch `AttributeError` for unloadable identifier
  aiida/orm/nodes/process/process.py
  tests/orm/node/test_node.py
Due: imports, mypy, pylint

`ProcessNode.is_valid_cache`: catch `AttributeError` for unloadable identifier (#5222)
  aiida/orm/nodes/process/process.py
  tests/orm/node/test_node.py
Due: imports, mypy, pylint

Path conditions:
  imports: any of: aiida/.*py and \.py$
  mypy: any of: (?x)^(
    aiida/common/progress_reporter.py|
    aiida/engine/.*py|
    aiida/manage/manager.py|
    aiida/manage/database/delete/nodes.py|
    aiida/orm/querybuilder.py|
    aiida/orm/implementation/querybuilder.py|
    aiida/orm/implementation/sqlalchemy/querybuilder/.*py|
    aiida/orm/nodes/data/jsonable.py|
    aiida/orm/nodes/node.py|
    aiida/orm/nodes/process/.*py|
    aiida/plugins/entry_point.py|
    aiida/plugins/factories.py|
    aiida/repository/.*py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/importexport/archive/.*py|
    aiida/tools/importexport/dbexport/__init__.py|
    aiida/tools/importexport/dbimport/backends/.*.py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    setup.py|
    setup.json|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    setup.json|
    setup.py|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
  version-number: any of: (?x)^(
    setup.json|
    utils/validate_consistency.py|
    aiida/__init__.py
)$
