Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, mypy, pylint, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: aiida/.*py and \.py$
  mypy: any of: (?x)^(
    aiida/common/timezone.py|
    aiida/common/progress_reporter.py|
    aiida/engine/.*py|
    aiida/manage/manager.py|
    aiida/manage/database/delete/nodes.py|
    aiida/orm/querybuilder.py|
    aiida/orm/implementation/entities.py|
    aiida/orm/implementation/storage_backend.py|
    aiida/orm/implementation/authinfos.py|
    aiida/orm/implementation/comments.py|
    aiida/orm/implementation/computers.py|
    aiida/orm/implementation/groups.py|
    aiida/orm/implementation/logs.py|
    aiida/orm/implementation/nodes.py|
    aiida/orm/implementation/users.py|
    aiida/orm/implementation/querybuilder.py|
    aiida/orm/entities.py|
    aiida/orm/extras.py|
    aiida/orm/authinfos.py|
    aiida/orm/comments.py|
    aiida/orm/computers.py|
    aiida/orm/groups.py|
    aiida/orm/logs.py|
    aiida/orm/users.py|
    aiida/orm/nodes/data/enum.py|
    aiida/orm/nodes/data/jsonable.py|
    aiida/orm/nodes/attributes.py|
    aiida/orm/nodes/node.py|
    aiida/orm/nodes/process/.*py|
    aiida/orm/nodes/repository.py|
    aiida/orm/utils/links.py|
    aiida/plugins/entry_point.py|
    aiida/plugins/factories.py|
    aiida/repository/.*py|
    aiida/storage/control.py|
    aiida/storage/psql_dos/backend.py|
    aiida/storage/psql_dos/orm/querybuilder/.*py|
    aiida/storage/psql_dos/utils.py|
    aiida/storage/sqlite_zip/.*.py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/archive/.*py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$

📚 DOCS: Add intersphinx aliases for __all__ imports (#5657)
  docs/source/conf.py
Due: none

Update test_querybuilder.py
  tests/orm/test_querybuilder.py
Due: pylint

🐛 FIX distinct queries (#5654)
  aiida/storage/psql_dos/orm/querybuilder/joiner.py
  aiida/storage/psql_dos/orm/querybuilder/main.py
  aiida/storage/sqlite_zip/orm.py
  docs/source/nitpick-exceptions
  tests/orm/test_querybuilder.py
  tests/orm/test_querybuilder/test_as_sql.txt
  tests/orm/test_querybuilder/test_as_sql_inline.txt
  tests/orm/test_querybuilder/test_as_sql_literal_quote.txt
Due: imports, mypy, pylint

Release `v2.0.4`
  CHANGELOG.md
  aiida/__init__.py
Due: imports, pylint

`ArithmeticAddCalculation`: Add the `metadata.options.sleep` input
  aiida/calculations/arithmetic/add.py
  tests/calculations/arithmetic/test_add.py
Due: imports, pylint

`PluginVersionProvider`: add support for entry point strings
  .pre-commit-config.yaml
  aiida/plugins/utils.py
  tests/plugins/test_utils.py
Due: imports, pylint

`ArithmeticAddCalculation`: Add the `metadata.options.sleep` input (#5663)
  aiida/calculations/arithmetic/add.py
  tests/calculations/arithmetic/test_add.py
Due: imports, pylint

Attmpt to decouple this_code setup
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/orm/nodes/data/code/abstract.py
  aiida/orm/nodes/data/code/installed.py
  aiida/orm/nodes/data/code/portable.py
Due: imports, mypy, pylint

r-seb
  aiida/orm/nodes/data/code/abstract.py
  aiida/orm/nodes/data/code/installed.py
  aiida/orm/nodes/data/code/portable.py
Due: imports, pylint

Remove explicit PortableCode check in presubmit
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/orm/nodes/data/code/abstract.py
  aiida/orm/nodes/data/code/installed.py
  aiida/orm/nodes/data/code/portable.py
Due: imports, mypy, pylint

Apply suggestions from code review
  aiida/orm/nodes/data/code/abstract.py
Due: imports, pylint

r-seb
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/orm/nodes/data/code/abstract.py
  aiida/orm/nodes/data/code/legacy.py
  aiida/orm/utils/builders/code.py
  tests/orm/data/code/test_abstract.py
Due: imports, mypy, pylint

r-seb doc bulid retrigger
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/orm/nodes/data/code/abstract.py
  aiida/orm/nodes/data/code/installed.py
  aiida/orm/nodes/data/code/portable.py
Due: imports, mypy, pylint

Templatereplacer parser make more general
  aiida/parsers/plugins/templatereplacer/parser.py
  pyproject.toml
Due: imports, pylint, dm-generate-all, dependencies

f-me
  aiida/calculations/templatereplacer.py
Due: imports, pylint

`CalcJob`: Fully abstract interaction with `AbstractCode` in presubmit (#5666)
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/orm/nodes/data/code/abstract.py
  aiida/orm/nodes/data/code/portable.py
Due: imports, mypy, pylint

`PluginVersionProvider`: Add support for entry point strings (#5662)
  .pre-commit-config.yaml
  aiida/plugins/utils.py
  tests/plugins/test_utils.py
Due: imports, pylint

f-j
  aiida/engine/processes/calcjobs/calcjob.py
Due: imports, mypy, pylint

DOCS: pull tag "latest" from Docker Hub
  docs/source/intro/run_docker.rst
Due: none

`AbstractCode`: add abstraction methods for command line parameters (#5664)
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/orm/nodes/data/code/abstract.py
  aiida/orm/nodes/data/code/installed.py
  aiida/orm/nodes/data/code/legacy.py
  aiida/orm/nodes/data/code/portable.py
  aiida/orm/utils/builders/code.py
  tests/orm/data/code/test_abstract.py
Due: imports, mypy, pylint

r-seb
  aiida/parsers/plugins/templatereplacer/parser.py
Due: imports, pylint

`TemplatereplacerDoublerParser`: rename and generalize implementation (#5669)
  aiida/calculations/templatereplacer.py
  aiida/parsers/plugins/templatereplacer/parser.py
  pyproject.toml
Due: imports, pylint, dm-generate-all, dependencies

Docs: Remove explicit release tag in Docker image name (#5671)
  docs/source/intro/run_docker.rst
Due: none

Tests: Update changed parser entry point string
  .github/system_tests/test_daemon.py
Due: pylint

DevOps: Fix the nightly slack notification on PRs from forks
  .github/workflows/nightly.yml
Due: none

Tests: Update entry point string `TemplatereplacerParser` in nightly (#5674)
  .github/system_tests/test_daemon.py
Due: pylint

DevOps: Fix the nightly slack notification on PRs from forks (#5675)
  .github/workflows/nightly.yml
Due: none

Tests: Add the `EntryPointManager` exposed as `entry_points` fixture
  tests/conftest.py
  tests/test_conftest.py
Due: pylint

Tests: Add the `EntryPointManager` exposed as `entry_points` fixture (#5656)
  tests/conftest.py
  tests/test_conftest.py
Due: pylint

`verdi setup`: Add the `--profile-uuid` option
  aiida/cmdline/commands/cmd_setup.py
  aiida/cmdline/params/options/commands/setup.py
  tests/cmdline/commands/test_setup.py
Due: imports, pylint, verdi-autodocs

`verdi setup`: Add the `--profile-uuid` option (#5673)
  aiida/cmdline/commands/cmd_setup.py
  aiida/cmdline/params/options/commands/setup.py
  tests/cmdline/commands/test_setup.py
Due: imports, pylint, verdi-autodocs

`Code`: Use deprecated legacy code as base class for successors
  aiida/orm/nodes/data/code/installed.py
  aiida/orm/nodes/data/code/legacy.py
  aiida/orm/nodes/data/code/portable.py
Due: imports, pylint

`Code`: Use deprecated legacy code as base class for successors (#5680)
  aiida/orm/nodes/data/code/installed.py
  aiida/orm/nodes/data/code/legacy.py
  aiida/orm/nodes/data/code/portable.py
Due: imports, pylint

Process control: Add the `revive_processes` method
  aiida/cmdline/commands/cmd_process.py
  aiida/engine/processes/control.py
  tests/engine/processes/test_control.py
Due: imports, mypy, pylint, verdi-autodocs

CLI: Add the `verdi devel revive` command
  aiida/cmdline/commands/cmd_devel.py
  aiida/manage/tests/main.py
  docs/source/reference/command_line.rst
  tests/cmdline/commands/test_devel.py
  tests/conftest.py
Due: imports, pylint, verdi-autodocs
