Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, mypy, pylint, dm-generate-all, dependencies, verdi-autodocs, version-number

Path conditions:
  imports: any of: aiida/.*py and \.py$
  mypy: any of: (?x)^(
    aiida/common/progress_reporter.py|
    aiida/engine/.*py|
    aiida/manage/manager.py|
    aiida/manage/database/delete/nodes.py|
    aiida/orm/querybuilder.py|
    aiida/orm/implementation/querybuilder.py|
    aiida/orm/implementation/sqlalchemy/querybuilder/.*py|
    aiida/orm/nodes/data/jsonable.py|
    aiida/orm/nodes/node.py|
    aiida/orm/nodes/process/.*py|
    aiida/plugins/entry_point.py|
    aiida/plugins/factories.py|
    aiida/repository/.*py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/importexport/archive/.*py|
    aiida/tools/importexport/dbexport/__init__.py|
    aiida/tools/importexport/dbimport/backends/.*.py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    setup.py|
    setup.json|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    setup.json|
    setup.py|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
  version-number: any of: (?x)^(
    setup.json|
    utils/validate_consistency.py|
    aiida/__init__.py
)$

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 995f254803ef0fa780e66f43904ae530d89aed3f [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Add init to see if it helps with path recognition
  aiida/backends/managers/__init__.py
Due: imports, pylint

Correct string formatting
  aiida/orm/nodes/data/array/projection.py
  aiida/tools/dbimporters/plugins/icsd.py
  aiida/tools/dbimporters/plugins/mpod.py
Due: imports, pylint

Fix tests and docs
  aiida/backends/managers/profile_access.py
  tests/restapi/conftest.py
Due: imports, pylint

CI: update create pull request action (#5294)
  .github/workflows/test-install.yml
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for af5cd686d2b7caadba16dc2aae619335003d0713 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 3fa95e96b0c2c39c868aa85da7b4ce5f6b05d143 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for af5cd686d2b7caadba16dc2aae619335003d0713 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 3fa95e96b0c2c39c868aa85da7b4ce5f6b05d143 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for ea8a988e54853ab8a2cc5ccc598df053f7efa70d [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for ea8a988e54853ab8a2cc5ccc598df053f7efa70d [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Dependencies: add upper limit for `pytest-asyncio`
  setup.json
Due: dm-generate-all, dependencies, version-number

Dependencies: add upper limit for `pytest-asyncio` (#5309)
  setup.json
Due: dm-generate-all, dependencies, version-number

Dependencies: drop support for Python 3.7
  .github/workflows/ci-code.yml
  .github/workflows/post-release.yml
  .github/workflows/test-install.yml
  .molecule/default/setup_python.yml
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.7.txt
  setup.json
  utils/dependency_management.py
Due: pylint, dm-generate-all, dependencies, version-number

add pytest-benchmarks:ubuntu-18.04,django benchmark result for afebb6ea9a7b232d930e7c4ae4393aab948c7ce8 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for afebb6ea9a7b232d930e7c4ae4393aab948c7ce8 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Dependencies: drop support for Python 3.7 (#5307)
  .github/workflows/ci-code.yml
  .github/workflows/post-release.yml
  .github/workflows/test-install.yml
  .molecule/default/setup_python.yml
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.7.txt
  setup.json
  utils/dependency_management.py
Due: pylint, dm-generate-all, dependencies, version-number

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 401da477e9129747bdf2a57e42789a9f25f8b221 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 401da477e9129747bdf2a57e42789a9f25f8b221 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for e4ce3f402e93a4755c8c7504c7a041a47c9d0861 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for e4ce3f402e93a4755c8c7504c7a041a47c9d0861 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Move `--verbose` and `--cov` options to unit tests invocation
  .github/workflows/tests.sh
  pyproject.toml
Due: none

CI: move `pytest` configuration to `pyproject.toml`
  .coveragerc
  .github/workflows/tests.sh
  pyproject.toml
Due: none

add comment on the reason for calling transaction.close
  aiida/backends/sqlalchemy/manager.py
Due: imports, pylint

Try reverting change to pre v2 migration
  aiida/backends/sqlalchemy/migrations/versions/91b573400be5_prepare_schema_reset.py
Due: imports, pylint

Apply suggestions from code review
  aiida/backends/sqlalchemy/migrations/versions/1de112340b16_django_parity_1.py
Due: imports, pylint

add note on nullable foreign keys
  aiida/backends/sqlalchemy/migrations/versions/1de112340b16_django_parity_1.py
Due: imports, pylint

Apply suggestions from code review
  aiida/backends/sqlalchemy/models/comment.py
Due: imports, pylint

remove migration of null link type to ''
  aiida/backends/sqlalchemy/migrations/versions/1de112340b16_django_parity_1.py
Due: imports, pylint

Apply suggestions from code review
  aiida/backends/sqlalchemy/migrations/versions/1de112340b16_django_parity_1.py
  aiida/backends/sqlalchemy/migrations/versions/1de112340b17_django_parity_2.py
  aiida/backends/sqlalchemy/migrations/versions/1de112340b18_django_parity_3.py
Due: imports, pylint

Update test_12_sqla_django_parity.py
  tests/backends/aiida_sqlalchemy/migrations/test_12_sqla_django_parity.py
Due: pylint

👌 IMPROVE: Add SQLA migration for parity with Django schema (#5097)
  aiida/backends/djsite/db/migrations/0048_computer_name_to_label.py
  aiida/backends/sqlalchemy/manager.py
  aiida/backends/sqlalchemy/migrations/versions/1de112340b16_django_parity_1.py
  aiida/backends/sqlalchemy/migrations/versions/1de112340b17_django_parity_2.py
  aiida/backends/sqlalchemy/migrations/versions/1de112340b18_django_parity_3.py
  aiida/backends/sqlalchemy/migrations/versions/1feaea71bd5a_migrate_repository.py
  aiida/backends/sqlalchemy/migrations/versions/7536a82b2cc4_add_node_repository_metadata.py
  aiida/backends/sqlalchemy/models/authinfo.py
  aiida/backends/sqlalchemy/models/comment.py
  aiida/backends/sqlalchemy/models/computer.py
  aiida/backends/sqlalchemy/models/group.py
  aiida/backends/sqlalchemy/models/log.py
  aiida/backends/sqlalchemy/models/node.py
  aiida/backends/sqlalchemy/models/settings.py
  aiida/backends/sqlalchemy/models/user.py
  aiida/orm/implementation/django/nodes.py
  aiida/orm/implementation/sqlalchemy/nodes.py
  tests/backends/__init__.py
  tests/backends/aiida_sqlalchemy/migrations/test_11_v2_repository.py
  tests/backends/aiida_sqlalchemy/migrations/test_12_sqla_django_parity.py
  tests/backends/test_schema_parity.py
  tests/backends/test_schema_parity/test_columns.yml
  tests/backends/test_schema_parity/test_indexes.yml
  tests/backends/test_schema_parity/test_primary_keys.yml
  tests/backends/test_schema_parity/test_unique_constraints.yml
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for ec6fa17f164d2b64e6e169231fa3cb925a29c8c5 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for ec6fa17f164d2b64e6e169231fa3cb925a29c8c5 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

🔧 Move to flit for package build
  .github/workflows/ci-style.yml
  .github/workflows/docs-build.yml
  .github/workflows/post-release.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  MANIFEST.in
  pyproject.toml
  setup.json
  setup.py
  utils/validate_consistency.py
Due: pylint, dm-generate-all, dependencies, verdi-autodocs, version-number

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

update dependency checks
  .github/workflows/ci-code.yml
  .github/workflows/release.yml
  .github/workflows/test-install.yml
  pyproject.toml
  utils/dependency_management.py
  utils/validate_consistency.py
Due: pylint, dm-generate-all, dependencies, verdi-autodocs, version-number

Update requirements.txt
  utils/requirements.txt
Due: none

Update dependency_management.py
  utils/dependency_management.py
Due: pylint, dm-generate-all, dependencies

replace occurrences of setup.json
  .github/workflows/check_release_tag.py
  .github/workflows/release.yml
  aiida/calculations/diff_tutorial/calculations.py
  aiida/parsers/plugins/diff_tutorial/parsers.py
  docs/source/howto/plugins_develop.rst
  requirements/README.md
  utils/dependency_management.py
Due: imports, pylint, dm-generate-all, dependencies
