Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, mypy, pylint, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

pylint:
  name: pylint
  entry: pylint
  language: system

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 1cc607f80dbf696c1b562a4b42189dd1fcf8098e [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 6da13333222af01c15b676ed79c98855442923c3 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 30f321b61449d6d0725e89dfcb52c76f3b7c444e [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Tests: reinstate `test_daemon.py` in CI workflow
  .github/workflows/tests_nightly.sh
  aiida/parsers/plugins/templatereplacer/doubler.py
Due: imports, pylint

Tests: reinstate `test_daemon.py` in CI workflow (#5479)
  .github/workflows/tests_nightly.sh
  aiida/parsers/plugins/templatereplacer/doubler.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 0c7f3002fd2dc4ed03a8eafc2dd20ad1404350a0 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

`Computer`: fallback on transport for `get_minimum_job_poll_interval` default
  aiida/orm/computers.py
  aiida/transports/plugins/local.py
  aiida/transports/transport.py
  tests/orm/test_computers.py
Due: imports, mypy, pylint

`Computer`: fallback on transport for `get_minimum_job_poll_interval` default (#5457)
  aiida/orm/computers.py
  aiida/transports/plugins/local.py
  aiida/transports/transport.py
  tests/orm/test_computers.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for f58d71100084743014e0c779fb8658d8b7ea009b [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Fixing, simplifying and typing `aiida.common.timezone`
  .pre-commit-config.yaml
  aiida/cmdline/utils/common.py
  aiida/cmdline/utils/query/formatting.py
  aiida/common/hashing.py
  aiida/common/timezone.py
  aiida/engine/utils.py
  aiida/manage/configuration/settings.py
  aiida/orm/nodes/process/calculation/calcjob.py
  aiida/schedulers/datastructures.py
  aiida/storage/psql_dos/migrations/utils/create_dbattribute.py
  aiida/storage/psql_dos/migrations/versions/django_0037_attributes_extras_settings_json.py
  aiida/storage/sqlite_zip/migrations/legacy/v05_to_v06.py
  aiida/storage/sqlite_zip/models.py
  environment.yml
  open_source_licenses.txt
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  tests/common/test_hashing.py
  tests/common/test_timezone.py
  tests/orm/implementation/test_comments.py
  tests/orm/implementation/test_logs.py
  tests/orm/implementation/test_nodes.py
  tests/storage/psql_dos/migrations/django_branch/test_0037_attributes_extras_settings_json.py
Due: imports, mypy, pylint, dm-generate-all, dependencies

Dependencies: drop the `python-dateutil` library
  aiida/common/timezone.py
  aiida/restapi/common/utils.py
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: imports, pylint, dm-generate-all, dependencies

Simplify implementation of `aiida.common.hashing.get_random_string`
  aiida/common/hashing.py
  open_source_licenses.txt
Due: imports, pylint

UI: improve error message in storage_maintain
  aiida/cmdline/commands/cmd_storage.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 25ac2131c0eaa61baa8f722427ed5a01a6f55688 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

CLI: improve error message in `verdi storage maintain` (#5491)
  aiida/cmdline/commands/cmd_storage.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for b3e89937f3a73d8cfb7a17dd4141201706723581 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Add option to use double quotes for `Code` and `Computer` CLI arguments
  aiida/cmdline/commands/cmd_code.py
  aiida/cmdline/commands/cmd_computer.py
  aiida/cmdline/params/options/commands/code.py
  aiida/cmdline/params/options/commands/computer.py
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/orm/computers.py
  aiida/orm/nodes/data/code.py
  aiida/orm/utils/builders/code.py
  aiida/orm/utils/builders/computer.py
  aiida/schedulers/datastructures.py
  aiida/schedulers/scheduler.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_computer.py
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/processes/calcjobs/test_calc_job/test_code_double_quotes_False_.sh
  tests/engine/processes/calcjobs/test_calc_job/test_code_double_quotes_True_.sh
  tests/engine/processes/calcjobs/test_calc_job/test_computer_double_quotes_False_.sh
  tests/engine/processes/calcjobs/test_calc_job/test_computer_double_quotes_True_.sh
  tests/orm/test_computers.py
Due: imports, mypy, pylint, verdi-autodocs

Add option to use double quotes for `Code` and `Computer` CLI arguments (#5478)
  aiida/cmdline/commands/cmd_code.py
  aiida/cmdline/commands/cmd_computer.py
  aiida/cmdline/params/options/commands/code.py
  aiida/cmdline/params/options/commands/computer.py
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/orm/computers.py
  aiida/orm/nodes/data/code.py
  aiida/orm/utils/builders/code.py
  aiida/orm/utils/builders/computer.py
  aiida/schedulers/datastructures.py
  aiida/schedulers/scheduler.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_computer.py
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/processes/calcjobs/test_calc_job/test_code_double_quotes_False_.sh
  tests/engine/processes/calcjobs/test_calc_job/test_code_double_quotes_True_.sh
  tests/engine/processes/calcjobs/test_calc_job/test_computer_double_quotes_False_.sh
  tests/engine/processes/calcjobs/test_calc_job/test_computer_double_quotes_True_.sh
  tests/orm/test_computers.py
Due: imports, mypy, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 84c67baba92edcc90584988a468b66c32d595711 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

Fix `aiida.common.timezone.delta` having the wrong sign
  aiida/common/timezone.py
  pyproject.toml
  tests/common/test_timezone.py
Due: imports, pylint, dm-generate-all, dependencies

Fix `aiida.common.timezone.delta` having the wrong sign (#5493)
  aiida/common/timezone.py
  pyproject.toml
  tests/common/test_timezone.py
Due: imports, pylint, dm-generate-all, dependencies

Remove uses of deprecated resources:
  docs/source/howto/cookbook.rst
  docs/source/howto/data.rst
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/orm/test_entities.py
Due: pylint

✨ NEW: Add SqliteTempBackend
  .gitignore
  aiida/manage/configuration/profile.py
  aiida/repository/backend/sandbox.py
  aiida/storage/psql_dos/orm/authinfos.py
  aiida/storage/psql_dos/orm/comments.py
  aiida/storage/psql_dos/orm/groups.py
  aiida/storage/psql_dos/orm/nodes.py
  aiida/storage/sqlite_temp/__init__.py
  aiida/storage/sqlite_temp/backend.py
  aiida/storage/sqlite_zip/__init__.py
  aiida/storage/sqlite_zip/backend.py
  aiida/storage/sqlite_zip/models.py
  aiida/storage/sqlite_zip/orm.py
  aiida/storage/sqlite_zip/utils.py
  docs/source/howto/visualising_graphs.md
  utils/make_all.py
Due: imports, mypy, pylint

🐛 FIX: SQLA model `instant_defaults_listener`
  aiida/storage/psql_dos/models/__init__.py
  aiida/storage/psql_dos/models/authinfo.py
  aiida/storage/psql_dos/models/base.py
  aiida/storage/psql_dos/models/comment.py
  aiida/storage/psql_dos/models/computer.py
  aiida/storage/psql_dos/models/log.py
  aiida/storage/psql_dos/models/node.py
  aiida/storage/psql_dos/models/user.py
  aiida/storage/sqlite_zip/models.py
  tests/storage/psql_dos/test_schema.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,psql_dos benchmark result for 98aa9cc325f72945f727f024ea0dfd95f14455a2 [ci skip]
  dev/bench/ubuntu-18.04/psql_dos/data.js
Due: none

👌 IMPROVE: `Profile.__repr__`
  aiida/manage/configuration/profile.py
Due: imports, pylint

👌 IMPROVE: Allow `engine.run` to work without RabbitMQ
  aiida/cmdline/commands/cmd_status.py
  aiida/engine/processes/process.py
  aiida/engine/runners.py
  aiida/manage/manager.py
  tests/cmdline/commands/test_status.py
Due: imports, mypy, pylint, verdi-autodocs

📚 DOCS: Re-write tutorial as notebook
  docs/source/intro/tutorial.md
  docs/source/intro/tutorial.rst
Due: none

✨ NEW: Add `%verdi` IPython magic
  aiida/__init__.py
  aiida/tools/ipython/ipython_magics.py
Due: imports, pylint

👌 IMPROVE: Add JSON filtering for SQLite backends
  .gitignore
  aiida/engine/processes/futures.py
  aiida/storage/sqlite_temp/backend.py
  aiida/storage/sqlite_zip/backend.py
  aiida/storage/sqlite_zip/orm.py
  aiida/storage/sqlite_zip/utils.py
  tests/storage/sqlite/__init__.py
  tests/storage/sqlite/test_orm.py
Due: imports, mypy, pylint

Path conditions:
  imports: any of: aiida/.*py and \.py$
  mypy: any of: (?x)^(
    aiida/common/progress_reporter.py|
    aiida/engine/.*py|
    aiida/manage/manager.py|
    aiida/manage/database/delete/nodes.py|
    aiida/orm/querybuilder.py|
    aiida/orm/implementation/entities.py|
    aiida/orm/implementation/storage_backend.py|
    aiida/orm/implementation/authinfos.py|
    aiida/orm/implementation/comments.py|
    aiida/orm/implementation/computers.py|
    aiida/orm/implementation/groups.py|
    aiida/orm/implementation/logs.py|
    aiida/orm/implementation/nodes.py|
    aiida/orm/implementation/users.py|
    aiida/orm/implementation/querybuilder.py|
    aiida/orm/entities.py|
    aiida/orm/authinfos.py|
    aiida/orm/comments.py|
    aiida/orm/computers.py|
    aiida/orm/groups.py|
    aiida/orm/logs.py|
    aiida/orm/users.py|
    aiida/orm/nodes/data/enum.py|
    aiida/orm/nodes/data/jsonable.py|
    aiida/orm/nodes/node.py|
    aiida/orm/nodes/process/.*py|
    aiida/orm/utils/links.py|
    aiida/plugins/entry_point.py|
    aiida/plugins/factories.py|
    aiida/repository/.*py|
    aiida/storage/control.py|
    aiida/storage/psql_dos/backend.py|
    aiida/storage/psql_dos/orm/querybuilder/.*py|
    aiida/storage/psql_dos/utils.py|
    aiida/storage/sqlite_zip/.*.py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/archive/.*py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
