Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

`BaseRestartWorkChain`: Fix handler overrides used only first iteration (#6308)
  src/aiida/engine/processes/workchains/restart.py
  tests/engine/processes/workchains/test_restart.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 65786a6bda1c74dfb4aea90becd0664de6b1abde [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Config: Refactor the `create_profile` function and method
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/manage/configuration/__init__.py
  src/aiida/manage/configuration/config.py
  tests/manage/configuration/test_config.py
  tests/manage/configuration/test_configuration.py
Due: imports, verdi-autodocs

CLI: Add the `verdi init` command
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/__init__.py
  src/aiida/cmdline/commands/cmd_init.py
  src/aiida/storage/sqlite_dos/backend.py
  src/aiida/storage/sqlite_zip/backend.py
Due: imports, verdi-autodocs

Remove `DIRECTORY` argument and respect `AIIDA_PATH`
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_init.py
  src/aiida/manage/configuration/settings.py
Due: imports, verdi-autodocs

Increase timeout for docker services wait and increase the pause
  .docker/tests/conftest.py
Due: none

Fix problem that aiida-core-dev image not upload to registry
  .github/workflows/docker-merge-tags.yml
  .github/workflows/docker-push.yml
Due: none

Updated text boxes
  docs/source/intro/_cheatsheet/cheatsheet_h.svg
  docs/source/intro/cheatsheet.rst
Due: none

SVG and files cleanup
  docs/source/intro/_cheatsheet/cheatsheet.pdf
  docs/source/intro/_cheatsheet/cheatsheet.svg
  docs/source/intro/_cheatsheet/cheatsheet1.png
  docs/source/intro/_cheatsheet/cheatsheet1.svg
  docs/source/intro/_cheatsheet/cheatsheet2.png
  docs/source/intro/_cheatsheet/cheatsheet2.svg
  docs/source/intro/_cheatsheet/cheatsheet_h.pdf
  docs/source/intro/_cheatsheet/cheatsheet_h.svg
  docs/source/intro/_cheatsheet/cheatsheet_v.svg
Due: none

Updated rst
  docs/source/intro/_cheatsheet/cheatsheet.pdf
  docs/source/intro/_cheatsheet/cheatsheet1.pdf
  docs/source/intro/_cheatsheet/cheatsheet2.pdf
  docs/source/intro/_cheatsheet/cheatsheet_h.svg
  docs/source/intro/cheatsheet.rst
Due: none

Update reference to pdf.
  docs/source/intro/_cheatsheet/cheatsheet_h.pdf
  docs/source/intro/_cheatsheet/cheatsheet_h.svg
  docs/source/intro/cheatsheet.rst
Due: none

Unflow text in QueryBuilder example
  docs/source/intro/_cheatsheet/cheatsheet.pdf
  docs/source/intro/_cheatsheet/cheatsheet1.pdf
  docs/source/intro/_cheatsheet/cheatsheet2.pdf
  docs/source/intro/_cheatsheet/cheatsheet_h.pdf
  docs/source/intro/_cheatsheet/cheatsheet_h.svg
  docs/source/intro/cheatsheet.rst
Due: none

Update wrong links
  docs/source/intro/_cheatsheet/cheatsheet.pdf
  docs/source/intro/_cheatsheet/cheatsheet1.pdf
  docs/source/intro/_cheatsheet/cheatsheet2.pdf
  docs/source/intro/_cheatsheet/cheatsheet_h.pdf
  docs/source/intro/_cheatsheet/cheatsheet_h.svg
  docs/source/intro/_cheatsheet/cheatsheet_v.pdf
  docs/source/intro/cheatsheet.rst
Due: none

`Scheduler`: Refactor interface to make it more generic
  src/aiida/engine/daemon/execmanager.py
  src/aiida/schedulers/__init__.py
  src/aiida/schedulers/plugins/bash.py
  src/aiida/schedulers/plugins/direct.py
  src/aiida/schedulers/plugins/lsf.py
  src/aiida/schedulers/plugins/pbsbaseclasses.py
  src/aiida/schedulers/plugins/sge.py
  src/aiida/schedulers/plugins/slurm.py
  src/aiida/schedulers/scheduler.py
  tests/transports/test_all_plugins.py
Due: imports

Devops: Increase timeout for `create-conda-environment` job
  .github/workflows/test-install.yml
Due: none

Dependencies: Update requirements for `kiwipy` and `plumpy`
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.12.txt
  requirements/requirements-py-3.9.txt
  src/aiida/brokers/rabbitmq/broker.py
  src/aiida/engine/processes/process.py
  tests/engine/test_calcfunctions.py
Due: imports, dm-generate-all, dependencies

`Manager`: Catch `TimeoutError` when closing communicator
  src/aiida/manage/manager.py
Due: imports

Add the `SshFabricTransport` plugin
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.12.txt
  requirements/requirements-py-3.9.txt
  src/aiida/transports/__init__.py
  src/aiida/transports/plugins/__init__.py
  src/aiida/transports/plugins/ssh_fabric.py
  tests/cmdline/commands/test_computer.py
  tests/transports/test_all_plugins.py
Due: imports, dm-generate-all, dependencies

implemented `verdi computer delete` which allows user to delete computers with associated nodes
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/storage/psql_dos/orm/computers.py
Due: imports, verdi-autodocs

minor fixes
  src/aiida/cmdline/commands/cmd_computer.py
Due: imports, verdi-autodocs

Update .docker/tests/conftest.py
  .docker/tests/conftest.py
Due: none

Make node_metadata hidden and nest node_inputs
  src/aiida/cmdline/commands/cmd_workchain.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/processes.py
Due: imports, verdi-autodocs

Stash changes?
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/__init__.py
  src/aiida/cmdline/commands/cmd_calcjob.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_workchain.py
  src/aiida/cmdline/utils/defaults.py
  src/aiida/tools/dumping/processes.py
Due: imports, verdi-autodocs

Docker: Increase pause between checks of container availability (#6330)
  .docker/tests/conftest.py
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 420a3283dcc9af7113241612d9a0992b08e99599 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Add test for calcjob node inputs dump.
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/tools/dumping/processes.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

Docker: Upload the `aiida-core-dev` image to the registry (#6331)
  .github/workflows/docker-merge-tags.yml
  .github/workflows/docker-push.yml
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 58c0d8402b880b48b5b6ac1091e268620c9af42e [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`CalcJob`: Allow to define order of copying of input files
  docs/source/topics/calculations/usage.rst
  src/aiida/common/datastructures.py
  src/aiida/engine/daemon/execmanager.py
  src/aiida/engine/processes/calcjobs/calcjob.py
  tests/engine/daemon/test_execmanager.py
  tests/engine/processes/calcjobs/test_calc_job.py
Due: imports

`CalcJob`: Allow to define order of copying of input files (#6285)
  docs/source/topics/calculations/usage.rst
  src/aiida/common/datastructures.py
  src/aiida/engine/daemon/execmanager.py
  src/aiida/engine/processes/calcjobs/calcjob.py
  tests/engine/daemon/test_execmanager.py
  tests/engine/processes/calcjobs/test_calc_job.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 6898ff4d8c263cf08707c61411a005f6a7f731dd [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Update src/aiida/cmdline/commands/cmd_storage.py
  src/aiida/cmdline/commands/cmd_storage.py
Due: imports, verdi-autodocs

test for keep argument
  tests/cmdline/commands/test_storage.py
Due: none

raise NotImplementedError for sqlite_dos
  src/aiida/storage/sqlite_dos/backend.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for acd54543dffca05df7189f36c71afd2bb0065f34 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Apply suggestions from code review
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/storage/psql_dos/orm/computers.py
Due: imports, verdi-autodocs

`node graph generate` accepts multiple ROOT_NODES.
  src/aiida/cmdline/commands/cmd_node.py
Due: imports, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
