Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

Add tests for ZMQ broker
  tests/brokers/test_zmq.py
  tests/engine/test_zmq.py
Due: none

Rename requires_rmq marker to requires_broker for broker-agnostic tests
  tests/calculations/arithmetic/test_add.py
  tests/calculations/test_stash.py
  tests/calculations/test_templatereplacer.py
  tests/calculations/test_transfer.py
  tests/cmdline/commands/test_daemon.py
  tests/cmdline/commands/test_data.py
  tests/cmdline/commands/test_presto.py
  tests/cmdline/commands/test_process.py
  tests/cmdline/commands/test_run.py
  tests/cmdline/commands/test_status.py
  tests/conftest.py
  tests/engine/daemon/test_client.py
  tests/engine/daemon/test_worker.py
  tests/engine/processes/calcjobs/test_calc_job.py
  tests/engine/processes/workchains/test_restart.py
  tests/engine/processes/workchains/test_utils.py
  tests/engine/test_calcfunctions.py
  tests/engine/test_futures.py
  tests/engine/test_launch.py
  tests/engine/test_persistence.py
  tests/engine/test_process.py
  tests/engine/test_process_function.py
  tests/engine/test_run.py
  tests/engine/test_runners.py
  tests/engine/test_utils.py
  tests/engine/test_work_chain.py
  tests/engine/test_workfunctions.py
  tests/manage/test_manager.py
  tests/orm/test_querybuilder.py
  tests/parsers/test_parser.py
  tests/test_dataclasses.py
  tests/test_markers.py
  tests/tools/archive/migration/test_prov_redesign.py
  tests/tools/archive/orm/test_calculations.py
  tests/workflows/arithmetic/test_add_multiply.py
Due: none

Add ZMTP heartbeats and task redelivery on worker death
  src/aiida/brokers/zmq/client.py
  src/aiida/brokers/zmq/protocol.py
  src/aiida/brokers/zmq/server.py
  src/aiida/brokers/zmq/service.py
Due: imports

Add RMQ-compatible task interface for ZMQ broker iterate_tasks
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/queue.py
Due: imports

Fix RPC response thread-safety by polling instead of callbacks
  src/aiida/brokers/zmq/communicator.py
Due: imports

Fully resolve RPC Future chain and fix test_zmq expectations
  src/aiida/brokers/zmq/communicator.py
  tests/engine/test_zmq.py
Due: imports

Include requires_broker tests in presto suite with ZMQ broker
  pyproject.toml
  tests/conftest.py
  tests/test_markers.py
Due: generate-conda-environment, validate-conda-environment

Add task redelivery timeout for unacked tasks stuck in processing
  src/aiida/brokers/zmq/client.py
  src/aiida/brokers/zmq/server.py
  src/aiida/brokers/zmq/service.py
Due: imports

Remove runner.close()
  src/aiida/engine/daemon/worker.py
Due: imports

Add --broker-backend pytest option for running tests with RMQ or ZMQ
  pyproject.toml
  tests/conftest.py
Due: generate-conda-environment, validate-conda-environment

Rename ZmqBrokerController to ZmqBrokerManagementClient
  src/aiida/brokers/zmq/__init__.py
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/client.py
  tests/brokers/test_zmq.py
  tests/conftest.py
Due: imports

Wrap task response result in kiwipy.Future for caller compatibility
  src/aiida/brokers/zmq/communicator.py
Due: imports

Fix RPC recipient lookup type mismatch in ZMQ broker
  src/aiida/brokers/zmq/server.py
Due: imports

Route RPCs by recipient identifier instead of iterating subscribers
  src/aiida/brokers/zmq/communicator.py
Due: imports

Implement deferred ACK for long-running tasks in ZMQ communicator
  src/aiida/brokers/zmq/communicator.py
Due: imports

Resolve RPC Future before serializing response in ZMQ communicator
  src/aiida/brokers/zmq/communicator.py
  src/aiida/brokers/zmq/defaults.py
Due: imports

Set ZMQ_ROUTER_MANDATORY to detect dead workers at dispatch time
  src/aiida/brokers/zmq/server.py
Due: imports

Suppress development version warning in test profile factory
  src/aiida/tools/pytest_fixtures/configuration.py
Due: imports

Loop to resolve chained Futures in RPC response
  src/aiida/brokers/zmq/communicator.py
Due: imports

Make RPC handling non-blocking to prevent poll thread deadlock
  src/aiida/brokers/zmq/communicator.py
Due: imports

Make test_presto broker-agnostic
  tests/cmdline/commands/test_presto.py
Due: none

Set ZMQ_LINGER=0 on sockets before closing to prevent context.term() hang
  src/aiida/brokers/zmq/communicator.py
  src/aiida/brokers/zmq/server.py
Due: imports

Unsubscribe communicator on close and clean up daemon worker shutdown
  src/aiida/brokers/zmq/communicator.py
  src/aiida/engine/daemon/worker.py
Due: imports

Use ZMQ broker in CI for presto profiles
  .github/workflows/ci-code.yml
  .github/workflows/release.yml
Due: none

Update test_presto_without_rmq to expect ZMQ fallback
  tests/cmdline/commands/test_presto.py
Due: none

Fix duplicate task delivery causing RPC subscriber overwrite
  src/aiida/brokers/zmq/communicator.py
Due: imports

Fix stale DB reads after RPC round-trip on SQLite
  src/aiida/engine/processes/control.py
Due: imports

Auto-start/stop ZMQ broker with daemon lifecycle
  src/aiida/brokers/broker.py
  src/aiida/brokers/zmq/broker.py
  src/aiida/cmdline/commands/cmd_broker.py
  src/aiida/cmdline/commands/cmd_daemon.py
  tests/conftest.py
Due: imports, verdi-autodocs

test zmq with psq
  .github/workflows/ci-code.yml
Due: none

.
  src/aiida/common/__init__.py
  src/aiida/common/workgraph.py
Due: imports

support engine submit/run of WG
  src/aiida/common/__init__.py
  src/aiida/common/workgraph.py
  src/aiida/engine/launch.py
  tests/engine/test_launch.py
Due: imports

Remove broker start/stop from daemon CLI commands
  src/aiida/cmdline/commands/cmd_daemon.py
Due: imports, verdi-autodocs

Remove `verdi broker` CLI commands
  src/aiida/cmdline/commands/__init__.py
  src/aiida/cmdline/commands/cmd_broker.py
Due: imports, verdi-autodocs

Start broker service in DaemonClient.start_daemon
  src/aiida/engine/daemon/client.py
Due: imports

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Show ZMQ broker status in `verdi status`
  src/aiida/cmdline/commands/cmd_daemon.py
  src/aiida/cmdline/commands/cmd_status.py
  tests/cmdline/commands/test_status.py
Due: imports, verdi-autodocs

Fix missing @ on pytest.mark.requires_broker in test_process_function.py
  tests/engine/test_process_function.py
Due: none

Use deque for PersistentQueue._pending for O(1) popleft
  src/aiida/brokers/zmq/queue.py
Due: imports

Replace recursive pop() with iterative loop in PersistentQueue
  src/aiida/brokers/zmq/queue.py
Due: imports

Clean up orphaned socket directory in _cleanup_stale_files
  src/aiida/brokers/zmq/client.py
Due: imports
