Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, mypy, pylint, dm-generate-all, dependencies, verdi-autodocs, version-number

Path conditions:
  imports: any of: aiida/.*py and \.py$
  mypy: any of: (?x)^(
    aiida/common/progress_reporter.py|
    aiida/engine/.*py|
    aiida/manage/manager.py|
    aiida/manage/database/delete/nodes.py|
    aiida/orm/querybuilder.py|
    aiida/orm/implementation/querybuilder.py|
    aiida/orm/implementation/sqlalchemy/querybuilder/.*py|
    aiida/orm/nodes/data/jsonable.py|
    aiida/orm/nodes/node.py|
    aiida/orm/nodes/process/.*py|
    aiida/plugins/entry_point.py|
    aiida/plugins/factories.py|
    aiida/repository/.*py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/importexport/archive/.*py|
    aiida/tools/importexport/dbexport/__init__.py|
    aiida/tools/importexport/dbimport/backends/.*.py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    setup.py|
    setup.json|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    setup.json|
    setup.py|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
  version-number: any of: (?x)^(
    setup.json|
    utils/validate_consistency.py|
    aiida/__init__.py
)$

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 12e4320a037466cf4539d52f7f1361ef17c0eec6 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

Docstring: correct the doc of CodeInfo cmdline_params
  aiida/common/datastructures.py
Due: imports, pylint

CMDLINE: Proposed configure command include profile name
  aiida/cmdline/commands/cmd_computer.py
  tests/cmdline/commands/test_computer.py
Due: imports, pylint, verdi-autodocs

Fix stalling test
  aiida/manage/tests/pytest_fixtures.py
  tests/cmdline/commands/test_computer.py
Due: imports, pylint

CLI: specify explicit profile in suggested command to configure computer (#5259)
  aiida/cmdline/commands/cmd_computer.py
  aiida/manage/tests/pytest_fixtures.py
  tests/cmdline/commands/test_computer.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 10e392dea30fac9a989e4c0c65dd72536d821bd7 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 10e392dea30fac9a989e4c0c65dd72536d821bd7 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Update legacy v0.12 test archive
  tests/static/export/migrate/export_v0.12_simple.aiida
Due: none

Add missing indexes
  aiida/backends/sqlalchemy/migrations/versions/1de112340b18_django_parity_3.py
  aiida/backends/sqlalchemy/models/authinfo.py
  aiida/backends/sqlalchemy/models/comment.py
  aiida/backends/sqlalchemy/models/group.py
  aiida/backends/sqlalchemy/models/log.py
  aiida/backends/sqlalchemy/models/node.py
Due: imports, pylint

🐛 FIX: migration for adding `core` prefix (#5267)
  aiida/backends/djsite/db/migrations/0049_entry_point_core_prefix.py
  aiida/backends/sqlalchemy/migrations/versions/34a831f4286d_entry_point_core_prefix.py
  aiida/tools/archive/implementations/sqlite/migrations/legacy/v11_to_v12.py
  tests/static/export/migrate/export_v0.12_simple.aiida
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for cdef910b57b76ef0f6c06dd8d8daf57c3a4a0878 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for cdef910b57b76ef0f6c06dd8d8daf57c3a4a0878 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

`Process`: raise when `exposed_outputs` gets non-existing `namespace`
  aiida/engine/processes/process.py
  tests/engine/test_process.py
Due: imports, mypy, pylint

First prototype for the profile locking mechanism
  aiida/backends/manager.py
  aiida/backends/managers/access.py
  aiida/common/__init__.py
  aiida/common/exceptions.py
  aiida/manage/configuration/settings.py
Due: imports, pylint

update
  aiida/backends/djsite/db/migrations/0046_add_node_repository_metadata.py
  aiida/backends/djsite/db/models.py
  aiida/backends/sqlalchemy/migrations/versions/1de112340b16_django_parity_1.py
  aiida/backends/sqlalchemy/migrations/versions/1de112340b17_django_parity_2.py
  aiida/backends/sqlalchemy/migrations/versions/1de112340b18_django_parity_3.py
  aiida/backends/sqlalchemy/migrations/versions/1feaea71bd5a_migrate_repository.py
  aiida/backends/sqlalchemy/migrations/versions/91b573400be5_prepare_schema_reset.py
  aiida/backends/sqlalchemy/models/authinfo.py
  aiida/backends/sqlalchemy/models/comment.py
  aiida/backends/sqlalchemy/models/computer.py
  aiida/backends/sqlalchemy/models/group.py
  aiida/backends/sqlalchemy/models/log.py
  aiida/backends/sqlalchemy/models/node.py
  aiida/backends/sqlalchemy/models/settings.py
  aiida/backends/sqlalchemy/models/user.py
  tests/backends/__init__.py
  tests/backends/test_schemas.py
  tests/backends/test_schemas/shared_database_schema.yml
Due: imports, pylint

update
  aiida/backends/djsite/db/migrations/0046_add_node_repository_metadata.py
  aiida/backends/djsite/db/migrations/0047_migrate_repository.py
  aiida/backends/djsite/db/migrations/0048_computer_name_to_label.py
  aiida/backends/djsite/db/models.py
  aiida/backends/sqlalchemy/migrations/versions/1de112340b18_django_parity_3.py
  aiida/backends/sqlalchemy/migrations/versions/1feaea71bd5a_migrate_repository.py
  aiida/backends/sqlalchemy/migrations/versions/7536a82b2cc4_add_node_repository_metadata.py
  aiida/backends/sqlalchemy/models/authinfo.py
  aiida/backends/sqlalchemy/models/comment.py
  aiida/backends/sqlalchemy/models/computer.py
  aiida/backends/sqlalchemy/models/group.py
  aiida/backends/sqlalchemy/models/log.py
  aiida/backends/sqlalchemy/models/node.py
  aiida/backends/sqlalchemy/models/settings.py
  aiida/backends/sqlalchemy/models/user.py
  aiida/orm/implementation/django/nodes.py
  aiida/orm/implementation/sqlalchemy/nodes.py
  tests/backends/test_schema_parity.py
  tests/backends/test_schema_parity/test_columns.yml
  tests/backends/test_schema_parity/test_indexes.yml
  tests/backends/test_schema_parity/test_primary_keys.yml
  tests/backends/test_schema_parity/test_unique_constraints.yml
  tests/backends/test_schemas.py
  tests/backends/test_schemas/shared_database_schema.yml
Due: imports, pylint

update
  aiida/backends/djsite/db/migrations/0047_migrate_repository.py
  aiida/backends/sqlalchemy/migrations/versions/1feaea71bd5a_migrate_repository.py
Due: imports, pylint

fix postgresql_ops
  aiida/backends/sqlalchemy/migrations/versions/1de112340b18_django_parity_3.py
  aiida/backends/sqlalchemy/models/computer.py
  aiida/backends/sqlalchemy/models/group.py
  aiida/backends/sqlalchemy/models/log.py
  aiida/backends/sqlalchemy/models/node.py
  aiida/backends/sqlalchemy/models/settings.py
  aiida/backends/sqlalchemy/models/user.py
  tests/backends/aiida_sqlalchemy/migrations/test_11_v2_repository.py
  tests/backends/test_schema_parity.py
  tests/backends/test_schema_parity/test_indexes.yml
Due: imports, pylint

add test
  aiida/backends/sqlalchemy/migrations/versions/1de112340b16_django_parity_1.py
  tests/backends/aiida_sqlalchemy/migrations/test_12_sqla_django_parity.py
Due: imports, pylint

🐛 FIX: SQLA migration regression
  aiida/backends/sqlalchemy/manager.py
Due: imports, pylint

Add db_dblog.levelname truncation
  aiida/backends/sqlalchemy/migrations/versions/1de112340b16_django_parity_1.py
  tests/backends/aiida_sqlalchemy/migrations/test_12_sqla_django_parity.py
Due: imports, pylint

🔧 MAINTAIN: Update Python versions in tox config
  pyproject.toml
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 2ee6dd92ae1fa3e0ce780571ed9f75c143ea0c50 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 2ee6dd92ae1fa3e0ce780571ed9f75c143ea0c50 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

👌 IMPROVE: Tar file archive migration performance
  aiida/tools/archive/implementations/sqlite/migrations/legacy_to_new.py
Due: imports, pylint

Apply suggestions from code review
  aiida/cmdline/params/options/commands/computer.py
  aiida/orm/computers.py
Due: imports, pylint, verdi-autodocs

Use default_memory_per_machine_validator to validate memory per machine value.
  aiida/orm/computers.py
  tests/cmdline/commands/test_computer.py
Due: imports, pylint

Modify the DEFAULT_MEMORY_PER_MACHINE option description
  aiida/cmdline/params/options/commands/computer.py
Due: imports, pylint, verdi-autodocs

Add default_memory_per_machine Computer setting.
  aiida/cmdline/commands/cmd_computer.py
  aiida/cmdline/params/options/commands/computer.py
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/manage/tests/pytest_fixtures.py
  aiida/orm/computers.py
  aiida/orm/utils/builders/computer.py
  tests/cmdline/commands/test_computer.py
  tests/orm/test_computers.py
Due: imports, mypy, pylint, verdi-autodocs

GH workflows, use non-interactive mode for the computer setup
  .github/workflows/setup.sh
Due: none

Remove unnecessary test.
  tests/cmdline/commands/test_computer.py
Due: pylint

Last couple of fixes:
  aiida/orm/computers.py
  aiida/orm/utils/builders/computer.py
  tests/cmdline/commands/test_computer.py
Due: imports, pylint

`Computer`: add the `default_memory_per_machine` property (#5260)
  .github/workflows/setup.sh
  aiida/cmdline/commands/cmd_computer.py
  aiida/cmdline/params/options/commands/computer.py
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/manage/tests/pytest_fixtures.py
  aiida/orm/computers.py
  aiida/orm/utils/builders/computer.py
  tests/cmdline/commands/test_computer.py
  tests/orm/test_computers.py
Due: imports, mypy, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,django benchmark result for ff1318b485a8b803e115b78946cc4593fc661153 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for ff1318b485a8b803e115b78946cc4593fc661153 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

CI: move Jenkins workflow to nightly GHA workflow
  .github/system_tests/test_polish_workchains.sh
  .github/workflows/nightly.yml
  .github/workflows/setup.sh
  .jenkins/Dockerfile
  .jenkins/Jenkinsfile
  .jenkins/check-jenkinsfile.sh
  .molecule/README.md
  .molecule/default/config_jenkins.yml
  .molecule/default/files/polish/cli.py
Due: pylint

Move nightly to the `ci-code.yml` workflow
  .github/system_tests/test_polish_workchains.sh
  .github/workflows/nightly.yml
  .github/workflows/tests.sh
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for e91f56963f52a976063795bb9517e4e15be58b99 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for e91f56963f52a976063795bb9517e4e15be58b99 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Docs: replace CircleCI build with ReadTheDocs
  .circleci/config.yml
Due: none
