Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, dm-generate-all, pyproject, dependencies, verdi-autodocs, version-number

pylint:
  name: pylint
  entry: pylint
  language: system

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

pyproject:
  name: Validate pyproject.toml
  entry: python ./utils/dependency_management.py validate-pyproject-toml
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

version-number:
  name: Check version numbers
  entry: python ./utils/validate_consistency.py version
  language: system
  pass_filenames: false

Docs: add section to installation guide on configuring RabbitMQ
  docs/source/intro/get_started.rst
  docs/source/intro/installation.rst
  docs/source/intro/troubleshooting.rst
Due: none

Make the RabbitMQ connection parameters configurable
  aiida/manage/external/rmq.py
  tests/manage/external/test_rmq.py
Due: pylint

`Profile`: add message broker configuration getter and setter properties
  aiida/manage/configuration/profile.py
  aiida/manage/manager.py
Due: pylint

`Config`: add migration to add default message broker configuration
  aiida/manage/configuration/migrations/migrations.py
  tests/manage/configuration/migrations/test_migrations.py
  tests/manage/configuration/migrations/test_samples/input/3.json
  tests/manage/configuration/migrations/test_samples/reference/4.json
Due: pylint

`verdi`: add message broker configuration options to profile setup
  .github/config/profile.yaml
  aiida/cmdline/commands/cmd_setup.py
  aiida/cmdline/params/options/__init__.py
  aiida/cmdline/params/options/commands/setup.py
  docs/source/reference/command_line.rst
Due: pylint, verdi-autodocs

`verdi status`: fix broker URL and add `--print-traceback` option
  aiida/cmdline/commands/cmd_computer.py
  aiida/cmdline/commands/cmd_status.py
  aiida/cmdline/params/options/__init__.py
  docs/source/reference/command_line.rst
Due: pylint, verdi-autodocs

add --in-place flag to verdi export migrate
  aiida/cmdline/commands/cmd_export.py
  aiida/tools/importexport/migration/__init__.py
  tests/cmdline/commands/test_export.py
  tests/tools/importexport/migration/test_migration.py
Due: pylint, verdi-autodocs

don't recreate archive if no migration required
  aiida/cmdline/commands/cmd_export.py
Due: pylint, verdi-autodocs

Fix profile creation in the test fixture manager
  aiida/manage/tests/__init__.py
Due: pylint

⬆️ UPGRADE: Move to tomlkit
  .github/workflows/ci.yml
  .github/workflows/test-install.yml
  pyproject.toml
  setup.json
  utils/dependency_management.py
Due: pylint, dm-generate-all, pyproject, dependencies, version-number

🧪 TESTS: Add initial benchmark code
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/test-install.yml
  pytest.ini
  requirements/requirements-py-3.5.txt
  requirements/requirements-py-3.6.txt
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  setup.json
  tests/benchmark/conftest.py
  tests/benchmark/test_nodes.py
Due: pylint, dm-generate-all, pyproject, dependencies, version-number

Apply suggestions from code review
  utils/dependency_management.py
Due: pylint, dm-generate-all, pyproject, dependencies

move to ` chrisjsewell/github-action-benchmark@v2`
  .github/workflows/benchmark.yml
  tests/benchmark/conftest.py
Due: pylint

limit output of this logger call to 1000 chars. When sending files with ssonly plugin, they get pasted entirely in the log otherwise.
  aiida/transports/plugins/ssh.py
Due: pylint

fix pre-commit
  utils/dependency_management.py
Due: pylint, dm-generate-all, pyproject, dependencies

hotfix tests with rabbitmq
  aiida/manage/tests/__init__.py
Due: pylint

temporarily disable CI
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/test-install.yml
Due: none

please linter
  aiida/transports/plugins/ssh.py
Due: pylint

add Pytest Benchmarks benchmark result for 21d419fb35c0bc99c544126e5d26f1360a2cafc2 [ci skip]
  dev/bench/ubuntu-latest/django/benchmark.css
  dev/bench/ubuntu-latest/django/data.js
  dev/bench/ubuntu-latest/django/funcs.js
  dev/bench/ubuntu-latest/django/index.html
  dev/bench/ubuntu-latest/django/main.js
Due: none

add Pytest Benchmarks benchmark result for 21d419fb35c0bc99c544126e5d26f1360a2cafc2 [ci skip]
  dev/bench/ubuntu-latest/sqlalchemy/benchmark.css
  dev/bench/ubuntu-latest/sqlalchemy/data.js
  dev/bench/ubuntu-latest/sqlalchemy/funcs.js
  dev/bench/ubuntu-latest/sqlalchemy/index.html
  dev/bench/ubuntu-latest/sqlalchemy/main.js
Due: none

add docstrings
  aiida/transports/plugins/ssh.py
Due: pylint

group nodes [ci skip]
  .github/workflows/benchmark.yml
Due: none

add Pytest Benchmarks (ubuntu-latest, django) benchmark result for ce1cb761c21615168a9086e0159c7f32bc9776db [ci skip]
  dev/bench/ubuntu-latest/django/data.js
Due: none

add Pytest Benchmarks (ubuntu-latest, sqlalchemy) benchmark result for ce1cb761c21615168a9086e0159c7f32bc9776db [ci skip]
  dev/bench/ubuntu-latest/sqlalchemy/data.js
Due: none

Delete data.js
  dev/bench/data.js
Due: none

Delete index.html
  dev/bench/index.html
Due: none

delete [ci skip]
  dev/bench/ubuntu-latest/django/data.js
Due: none

delete [ci skip]
  dev/bench/ubuntu-latest/sqlalchemy/data.js
Due: none

update [ci skip]
  tests/benchmark/test_nodes.py
Due: pylint

add Pytest Benchmarks (ubuntu-latest, sqlalchemy) benchmark result for 92a4be5538ade572e34d7d9622e237b5ae52f8e4 [ci skip]
  dev/bench/ubuntu-latest/sqlalchemy/data.js
Due: none

add Pytest Benchmarks (ubuntu-latest, django) benchmark result for 92a4be5538ade572e34d7d9622e237b5ae52f8e4 [ci skip]
  dev/bench/ubuntu-latest/django/data.js
Due: none

update [ci skip]
  .github/workflows/benchmark.yml
  tests/benchmark/test_nodes.py
Due: pylint

add Pytest Benchmarks (ubuntu-latest, sqlalchemy) benchmark result for 45b1114af9d1d9a2e3eef05c8ce3c89dd3313d85 [ci skip]
  dev/bench/ubuntu-latest/sqlalchemy/data.js
Due: none

add Pytest Benchmarks (ubuntu-latest, django) benchmark result for 45b1114af9d1d9a2e3eef05c8ce3c89dd3313d85 [ci skip]
  dev/bench/ubuntu-latest/django/data.js
Due: none

add Pytest Benchmarks (ubuntu-latest, sqlalchemy) benchmark result for 0b414aaffcca5feaf2cfc04e11361e6108d8aba4 [ci skip]
  dev/bench/ubuntu-latest/sqlalchemy/data.js
Due: none

add Pytest Benchmarks (ubuntu-latest, django) benchmark result for 0b414aaffcca5feaf2cfc04e11361e6108d8aba4 [ci skip]
  dev/bench/ubuntu-latest/django/data.js
Due: none

Path conditions:
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    setup.py|
    setup.json|
    utils/dependency_management.py
)$
  pyproject: any of: (?x)^(
    setup.json|
    setup.py|
    utils/dependency_management.py|
    pyproject.toml
)$
  dependencies: any of: (?x)^(
    setup.json|
    setup.py|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
  version-number: any of: (?x)^(
    setup.json|
    utils/validate_consistency.py|
    aiida/__init__.py
)$
