Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

imports:
  name: imports
  entry: python utils/autogenerate_all_imports.py
  language: python
  require_serial: true
  pass_filenames: false

generate-conda-environment:
  name: Update conda environment file
  entry: python ./utils/dependency_management.py generate-environment-yml
  language: system
  pass_filenames: false

validate-conda-environment:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for df7fdcd87ae5a7a439c95df8433ea109c769828a [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Apply review
  tests/orm/models/test_models.py
Due: none

apply review
  tests/orm/models/test_models.py
Due: none

👌 Defer ORM Pydantic model rebuilding
  src/aiida/orm/entities.py
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/node.py
  src/aiida/orm/pydantic.py
  tests/orm/models/test_models.py
Due: imports

👌 Defer ORM Pydantic model rebuilding (#7507)
  src/aiida/orm/entities.py
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/node.py
  src/aiida/orm/pydantic.py
  tests/orm/models/test_models.py
Due: imports

Clarify entity relationship docs
  docs/source/topics/database.rst
Due: none

Mark code-like items in entity relationship table
  docs/source/topics/database.rst
Due: none

Expand example
  docs/source/topics/database.rst
Due: none

👌 Avoid duplicate option redirect lookup (#7505)
  src/aiida/manage/manager.py
Due: imports

👌 Avoid eager option schema generation (#7505)
  src/aiida/manage/configuration/options.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 987a56fd098689833cdd60b07ec4524db7c13d67 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Clarify entity relationship docs (#7506)
  docs/source/topics/database.rst
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 5f2d1afb664db29ceaa19b7a671b765e863d983b [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Discard deprecation warning for `QbField.doc`
  src/aiida/orm/fields.py
  tests/orm/test_fields.py
Due: imports

Discard deprecation warning for `QbField.doc` (#7514)
  src/aiida/orm/fields.py
  tests/orm/test_fields.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 8a2747ee5986a7b3ee20eb3221c7e9a5ed05a0c4 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

🧪 Extend versioned-node regression tests
  tests/orm/nodes/test_versions.py
  tests/storage/sqlite_dos/migrations/test_main_0003_versioned_nodes.py
Due: none

Start implementing revise implementation into CLI
  docs/source/howto/faq.rst
  docs/source/howto/plugin_codes.rst
  docs/source/howto/run_codes.rst
  docs/source/howto/ssh.rst
  docs/source/howto/tune_performance.rst
  docs/source/installation/troubleshooting.rst
  docs/source/reference/command_line.rst
  docs/source/tutorials/basic.md
  src/aiida/cmdline/commands/cmd_computer.py
  src/aiida/orm/computers.py
  src/aiida/transports/plugins/ssh_async.py
  tests/cmdline/commands/test_computer.py
Due: imports, verdi-autodocs

add tmp files
  docs/source/tutorials/_notes/aiida-workgraph-shelljob-task-issue.md
  docs/source/tutorials/_notes/copy-paste-audit.md
Due: none

📚 tutorials: fix copy-paste run blockers
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3a.md
  docs/source/tutorials/module3b.md
  docs/source/tutorials/module4.md
  docs/source/tutorials/module5.md
  docs/source/tutorials/module6a.md
  docs/source/tutorials/module6b.md
  docs/source/tutorials/module7.md
Due: none

wip
  docs/source/_ext/inline_downloads.py
  docs/source/tutorials/include/tasks.py
  docs/source/tutorials/include/tasks_module_3b.py
  docs/source/tutorials/include/tasks_module_6.py
  docs/source/tutorials/include/workflows.py
  docs/source/tutorials/module0.md
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3a.md
  docs/source/tutorials/module3b.md
  docs/source/tutorials/module4.md
  docs/source/tutorials/module5.md
  docs/source/tutorials/module6a.md
  docs/source/tutorials/module6b.md
  docs/source/tutorials/module7.md
Due: none

🔧 tutorials: remove working notes from the PR
  debug-module4.md
  docs/source/tutorials/TRACKING.md
  docs/source/tutorials/_notes/2026-03-30-notes-cleaned.md
  docs/source/tutorials/_notes/2026-03-30-notes.md
  docs/source/tutorials/_notes/2026-06-02-gm-feedback-plan.md
  docs/source/tutorials/_notes/HANDOFF.md
  docs/source/tutorials/_notes/aiida-workgraph-shelljob-task-issue.md
  docs/source/tutorials/_notes/api-discrepancies.md
  docs/source/tutorials/_notes/asyncssh-issue-draft.md
  docs/source/tutorials/_notes/brainstorming.md
  docs/source/tutorials/_notes/copy-paste-audit.md
  docs/source/tutorials/_notes/driver.py
  docs/source/tutorials/_notes/module4-local-debug.md
  docs/source/tutorials/_notes/module5-plan.md
  docs/source/tutorials/_notes/module6-plan.md
  docs/source/tutorials/_notes/module7-plan.md
  docs/source/tutorials/_notes/open-tasks.md
  docs/source/tutorials/_notes/pain-point-coverage.md
  docs/source/tutorials/_notes/reaction-diffusion.py
  docs/source/tutorials/_notes/reword-module3a.md
  docs/source/tutorials/_notes/reword-module3b.md
  docs/source/tutorials/_notes/semantic_linebreaks.py
  docs/source/tutorials/_notes/session-tasks.md
  docs/source/tutorials/_notes/start-slurm-container.sh
  docs/source/tutorials/_notes/storyline-hackmd.md
  docs/source/tutorials/_notes/tutorial-proposals.md
  docs/source/tutorials/_notes/tutorial-review.md
  docs/source/tutorials/_static/provenance_module1.svg
  docs/source/tutorials/_static/provenance_module2.svg
  docs/source/tutorials/include/setup_tutorial.py
  review/2026-06-02-msd-gm-tutorial.md
  review/full-pass/index.md
  review/full-pass/mod0.md
  review/full-pass/mod1.md
  review/full-pass/mod2.md
  review/full-pass/mod3.md
  review/full-pass/mod4.md
  review/full-pass/mod5.md
  review/full-pass/mod6.md
  review/full-pass/mod7.md
Due: none

wip m0
  docs/source/tutorials/.gitignore
  docs/source/tutorials/include/plotting.py
  docs/source/tutorials/module0.md
  docs/source/tutorials/module1.md
Due: none

m0 final
  docs/source/tutorials/include/setup_tutorial.py
  docs/source/tutorials/module0.md
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3a.md
  docs/source/tutorials/module3b.md
  docs/source/tutorials/module4.md
  docs/source/tutorials/module5.md
  docs/source/tutorials/module6a.md
  docs/source/tutorials/module6b.md
  docs/source/tutorials/module7.md
Due: none

replace sphinx image directives with jupyter ones on download
  docs/source/_ext/inline_downloads.py
Due: none

Revert "Discard deprecation warning for `QbField.doc` (#7514)"
  src/aiida/orm/fields.py
  tests/orm/test_fields.py
Due: imports

Revert "👌 Defer ORM Pydantic model rebuilding (#7507)"
  src/aiida/orm/entities.py
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/node.py
  src/aiida/orm/pydantic.py
  tests/orm/models/test_models.py
Due: imports

Revert "🐛 Restore ArrayData array serialization helpers (#7480)"
  src/aiida/orm/nodes/data/array/array.py
  tests/orm/nodes/data/test_array.py
Due: imports

Revert "🐛 Restore public QbField properties (#7480)"
  src/aiida/orm/fields.py
  tests/orm/test_fields.py
Due: imports

Revert "🐛 Restore Entity model conversion helpers (#7480)"
  src/aiida/common/docs.py
  src/aiida/orm/entities.py
  tests/orm/models/test_legacy_model.py
Due: imports

Revert "🐛 Restore ORM Model compatibility wrapper (#7480)"
  CHANGELOG.md
  src/aiida/orm/entities.py
  src/aiida/orm/nodes/node.py
  tests/orm/models/test_legacy_model.py
Due: imports

wip
  docs/source/_ext/inline_downloads.py
  docs/source/tutorials/.gitignore
  docs/source/tutorials/include/setup_tutorial.py
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3a.md
  docs/source/tutorials/module3b.md
  docs/source/tutorials/module4.md
  docs/source/tutorials/module5.md
  docs/source/tutorials/module6a.md
  docs/source/tutorials/module6b.md
  docs/source/tutorials/module7.md
Due: none

Revert "🐛 `verdi code create`: don't crash with `--help` (#7381)"
  src/aiida/cmdline/groups/dynamic.py
  src/aiida/orm/nodes/node.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/groups/test_dynamic.py
Due: imports

Regenerate orm fields test reference data
  tests/orm/test_fields/fields_AuthInfo.yml
  tests/orm/test_fields/fields_Comment.yml
  tests/orm/test_fields/fields_Computer.yml
  tests/orm/test_fields/fields_Group.yml
  tests/orm/test_fields/fields_Log.yml
  tests/orm/test_fields/fields_User.yml
  tests/orm/test_fields/fields_aiida.data.core.array.ArrayData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.bands.BandsData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.kpoints.KpointsData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.projection.ProjectionData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.trajectory.TrajectoryData.yml
  tests/orm/test_fields/fields_aiida.data.core.array.xy.XyData.yml
  tests/orm/test_fields/fields_aiida.data.core.base.BaseType.yml
  tests/orm/test_fields/fields_aiida.data.core.bool.Bool.yml
  tests/orm/test_fields/fields_aiida.data.core.cif.CifData.yml
  tests/orm/test_fields/fields_aiida.data.core.code.Code.yml
  tests/orm/test_fields/fields_aiida.data.core.code.abstract.AbstractCode.yml
  tests/orm/test_fields/fields_aiida.data.core.code.containerized.ContainerizedCode.yml
  tests/orm/test_fields/fields_aiida.data.core.code.installed.InstalledCode.yml
  tests/orm/test_fields/fields_aiida.data.core.code.portable.PortableCode.yml
  tests/orm/test_fields/fields_aiida.data.core.dict.Dict.yml
  tests/orm/test_fields/fields_aiida.data.core.enum.EnumData.yml
  tests/orm/test_fields/fields_aiida.data.core.float.Float.yml
  tests/orm/test_fields/fields_aiida.data.core.folder.FolderData.yml
  tests/orm/test_fields/fields_aiida.data.core.int.Int.yml
  tests/orm/test_fields/fields_aiida.data.core.jsonable.JsonableData.yml
  tests/orm/test_fields/fields_aiida.data.core.list.List.yml
  tests/orm/test_fields/fields_aiida.data.core.numeric.NumericType.yml
  tests/orm/test_fields/fields_aiida.data.core.orbital.OrbitalData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.RemoteData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.RemoteStashData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.compress.RemoteStashCompressedData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.custom.RemoteStashCustomData.yml
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.folder.RemoteStashFolderData.yml
  tests/orm/test_fields/fields_aiida.data.core.singlefile.SinglefileData.yml
  tests/orm/test_fields/fields_aiida.data.core.str.Str.yml
  tests/orm/test_fields/fields_aiida.data.core.structure.StructureData.yml
  tests/orm/test_fields/fields_aiida.data.core.upf.UpfData.yml
  tests/orm/test_fields/fields_aiida.node.process.calculation.calcjob.CalcJobNode.yml
Due: none

Manual reintroduce future annotation imports
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/orm/comments.py
  src/aiida/orm/computers.py
  src/aiida/orm/fields.py
  src/aiida/orm/groups.py
  src/aiida/orm/logs.py
  src/aiida/orm/nodes/data/array/bands.py
  src/aiida/orm/nodes/data/array/kpoints.py
  src/aiida/orm/nodes/data/base.py
  src/aiida/orm/nodes/data/cif.py
  src/aiida/orm/nodes/data/data.py
  src/aiida/orm/nodes/data/enum.py
  src/aiida/orm/nodes/data/int.py
  src/aiida/orm/nodes/data/jsonable.py
  src/aiida/orm/nodes/data/remote/stash/compress.py
  src/aiida/orm/nodes/data/remote/stash/custom.py
  src/aiida/orm/nodes/data/remote/stash/folder.py
  src/aiida/orm/nodes/data/structure.py
  src/aiida/orm/nodes/process/calculation/calcjob.py
  src/aiida/orm/nodes/process/process.py
  src/aiida/orm/users.py
Due: imports, verdi-autodocs

pyupgrade
  src/aiida/common/pydantic.py
  src/aiida/orm/authinfos.py
  src/aiida/orm/comments.py
  src/aiida/orm/computers.py
  src/aiida/orm/entities.py
  src/aiida/orm/fields.py
  src/aiida/orm/groups.py
  src/aiida/orm/logs.py
  src/aiida/orm/nodes/data/array/array.py
  src/aiida/orm/nodes/data/array/bands.py
  src/aiida/orm/nodes/data/array/trajectory.py
  src/aiida/orm/nodes/data/array/xy.py
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/data/data.py
  src/aiida/orm/nodes/data/dict.py
  src/aiida/orm/nodes/data/remote/base.py
  src/aiida/orm/nodes/data/remote/stash/compress.py
  src/aiida/orm/nodes/data/remote/stash/custom.py
  src/aiida/orm/nodes/data/remote/stash/folder.py
  src/aiida/orm/nodes/data/singlefile.py
  src/aiida/orm/nodes/data/structure.py
  src/aiida/orm/nodes/node.py
  src/aiida/orm/nodes/process/calculation/calcjob.py
  src/aiida/orm/nodes/process/process.py
  src/aiida/orm/users.py
  src/aiida/storage/psql_dos/orm/querybuilder/main.py
Due: imports

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
