Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, dm-generate-all, pyproject, dependencies, verdi-autodocs, version-number

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://github.com/ikamensh/flynt/
    rev: '0.55'
    hooks:
    -   id: flynt
        args: [
            '--line-length=120',
            '--fail-on-change',
        ]

-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.30.0
    hooks:
    -   id: yapf
        name: yapf
        types: [python]
        exclude: &exclude_files >
            (?x)^(
                docs/.*|
            )$
        args: ['-i']

-   repo: local

    hooks:

    -   id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        pass_filenames: true
        files: >-
            (?x)^(
                aiida/common/progress_reporter.py|
                aiida/manage/manager.py|
                aiida/engine/.*py|
                aiida/manage/database/delete/nodes.py|
                aiida/tools/graph/graph_traversers.py|
                aiida/tools/groups/paths.py|
                aiida/tools/importexport/archive/.*py|
                aiida/tools/importexport/dbexport/__init__.py|
                aiida/tools/importexport/dbimport/backends/.*.py|
            )$

    -   id: pylint
        name: pylint
        entry: pylint
        types: [python]
        language: system
        exclude: *exclude_files

    -   id: dm-generate-all
        name: Update all requirements files
        entry: python ./utils/dependency_management.py generate-all
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.py|
                setup.json|
                utils/dependency_management.py
            )$

    -   id: pyproject
        name: Validate pyproject.toml
        entry: python ./utils/dependency_management.py validate-pyproject-toml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                pyproject.toml
            )$

    -   id: dependencies
        name: Validate environment.yml
        entry: python ./utils/dependency_management.py validate-environment-yml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                environment.yml|
            )$

    -   id: verdi-autodocs
        name: Automatically generating verdi docs
        entry: python ./utils/validate_consistency.py verdi-autodocs
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                aiida/cmdline/commands/.*|
                aiida/cmdline/params/.*|
                aiida/cmdline/params/types/.*|
                utils/validate_consistency.py|
            )$

    -   id: version-number
        name: Check version numbers
        entry: python ./utils/validate_consistency.py version
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                utils/validate_consistency.py|
                aiida/__init__.py
            )$

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for fa8b24379f5731cef43ca1648d18142d0c55de97 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

DOCS: Update ssh proxycommand instructions (#4839)
  docs/source/howto/ssh.rst
Due: none

FIX: respect nested output namespaces in `Process.exposed_outputs`
  aiida/engine/processes/process.py
  tests/engine/test_process.py
  tests/engine/test_work_chain.py
Due: mypy, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for f1aab1fd5015e9b4d203845d57136fca2aed6281 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for f1aab1fd5015e9b4d203845d57136fca2aed6281 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Fix `aiida.cmdline.utils.decorators.with_dbenv` always loading the db
  aiida/cmdline/utils/decorators.py
Due: pylint

fix #3978: NodeLinkManager support attributes retrieving
  aiida/orm/utils/managers.py
  tests/engine/test_process.py
  tests/orm/utils/test_managers.py
Due: pylint

FIX: respect nested output namespaces in `Process.exposed_outputs` (#4863)
  aiida/engine/processes/process.py
  tests/engine/test_process.py
  tests/engine/test_work_chain.py
Due: mypy, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 42455ac4319f8de399048e1f87acc0d99852130a [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 42455ac4319f8de399048e1f87acc0d99852130a [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

`NodeLinksManager`: add support for nested namespaces
  aiida/orm/utils/managers.py
  tests/orm/utils/test_managers.py
Due: pylint

NodeLinkManager support dot separated namespace attributes retrieving (#4625)
  aiida/orm/utils/managers.py
  tests/engine/test_process.py
  tests/orm/utils/test_managers.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for c8ee9e605663fbabc9f7f2484fa0f88668a3b322 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for c8ee9e605663fbabc9f7f2484fa0f88668a3b322 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Fix `aiida.cmdline.utils.decorators.with_dbenv` always loading the db (#4865)
  aiida/cmdline/utils/decorators.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 7295bb64e8bf1f6c5a6dfa75dd3764c45b9a603a [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 7295bb64e8bf1f6c5a6dfa75dd3764c45b9a603a [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

engine: implement sub-dicts for context in workchains
  aiida/engine/processes/workchains/workchain.py
  tests/engine/test_work_chain.py
Due: mypy, pylint

Fix `IndexError` in `override_log_formatter_context` utility
  aiida/common/log.py
Due: pylint

Fix `IndexError` in `override_log_formatter_context` utility (#4873)
  aiida/common/log.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 372f5cbf057dc22f26e4c200d64f1a3f2ffcd2cc [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 372f5cbf057dc22f26e4c200d64f1a3f2ffcd2cc [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Release `v1.6.2`
  CHANGELOG.md
  aiida/__init__.py
  setup.json
Due: pylint, dm-generate-all, pyproject, dependencies, version-number

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 4d90f3700be650487419db9e96fd4885fb5a8dff [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 4d90f3700be650487419db9e96fd4885fb5a8dff [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Database: add cross-reference of repository UUID to settings table
  aiida/backends/djsite/db/migrations/0047_migrate_repository.py
  aiida/backends/manager.py
  aiida/backends/sqlalchemy/migrations/versions/1feaea71bd5a_migrate_repository.py
  aiida/cmdline/commands/cmd_setup.py
  tests/backends/aiida_django/migrations/test_migrations_0047_migrate_repository.py
  tests/backends/aiida_sqlalchemy/test_migrations.py
  tests/cmdline/commands/test_setup.py
Due: pylint, verdi-autodocs

CLI: fix loading time of `verdi`
  aiida/manage/configuration/profile.py
Due: pylint

`Repository`: allow `File` class to be changed
  aiida/backends/general/migrations/utils.py
  aiida/repository/repository.py
Due: pylint

Add the base implementation for the new repository
  aiida/repository/__init__.py
  aiida/repository/backend/__init__.py
  aiida/repository/backend/abstract.py
  aiida/repository/backend/disk_object_store.py
  aiida/repository/backend/sandbox.py
  aiida/repository/common.py
  aiida/repository/repository.py
  docs/source/nitpick-exceptions
  docs/source/topics/data_types.rst
  environment.yml
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  setup.json
  tests/repository/__init__.py
  tests/repository/backend/__init__.py
  tests/repository/backend/test_abstract.py
  tests/repository/backend/test_disk_object_store.py
  tests/repository/backend/test_sandbox.py
  tests/repository/conftest.py
  tests/repository/test_common.py
  tests/repository/test_repository.py
Due: pylint, dm-generate-all, pyproject, dependencies, version-number

Profile: check database and repository compatibility on load
  aiida/backends/djsite/manager.py
  aiida/manage/configuration/__init__.py
  aiida/manage/manager.py
Due: mypy, pylint

Improve the storage effiency of the `repository_metadata` format
  aiida/repository/common.py
  aiida/repository/repository.py
  tests/repository/test_common.py
Due: pylint

Remove the code to perform incremental backup of the file repository
  MANIFEST.in
  aiida/cmdline/commands/cmd_devel.py
  aiida/manage/backup/__init__.py
  aiida/manage/backup/backup_base.py
  aiida/manage/backup/backup_general.py
  aiida/manage/backup/backup_info.json.tmpl
  aiida/manage/backup/backup_setup.py
  aiida/manage/backup/backup_utils.py
  docs/source/howto/installation.rst
  docs/source/reference/backup_script.rst
  docs/source/reference/command_line.rst
  docs/source/reference/index.rst
  tests/common/test_utils.py
  tests/manage/backup/__init__.py
  tests/manage/backup/test_backup_script.py
  tests/manage/backup/test_backup_setup_script.py
Due: pylint, verdi-autodocs

Add migrations for existing file repositories
  aiida/backends/djsite/db/migrations/0047_migrate_repository.py
  aiida/backends/djsite/db/migrations/__init__.py
  aiida/backends/general/migrations/utils.py
  aiida/backends/sqlalchemy/migrations/versions/1feaea71bd5a_migrate_repository.py
  aiida/cmdline/commands/cmd_database.py
  aiida/common/exceptions.py
  aiida/manage/configuration/__init__.py
  aiida/manage/configuration/profile.py
  tests/backends/aiida_django/migrations/test_migrations_0047_migrate_repository.py
  tests/backends/aiida_sqlalchemy/test_migrations.py
Due: pylint, verdi-autodocs

Add the `repository_metadata` column to the `Node` database models
  aiida/backends/djsite/db/migrations/0046_add_node_repository_metadata.py
  aiida/backends/djsite/db/migrations/__init__.py
  aiida/backends/djsite/db/models.py
  aiida/backends/sqlalchemy/migrations/versions/7536a82b2cc4_add_node_repository_metadata.py
  aiida/backends/sqlalchemy/models/node.py
  aiida/orm/implementation/nodes.py
  aiida/orm/nodes/node.py
  tests/backends/aiida_django/migrations/test_migrations_0046_add_node_repository_metadata.py
  tests/backends/aiida_sqlalchemy/test_migrations.py
  tests/orm/implementation/test_nodes.py
  tests/orm/node/test_node.py
Due: pylint

Add the repository mutating methods to the `Sealable` mixin.
  aiida/orm/nodes/repository.py
  aiida/orm/utils/mixins.py
  tests/cmdline/commands/test_calcjob.py
  tests/orm/node/test_calcjob.py
  tests/orm/node/test_repository.py
Due: pylint

Integrate the new `Repository` implementation
  aiida/backends/djsite/db/migrations/0014_add_node_uuid_unique_constraint.py
  aiida/backends/general/migrations/utils.py
  aiida/cmdline/commands/cmd_node.py
  aiida/engine/daemon/execmanager.py
  aiida/manage/configuration/profile.py
  aiida/manage/database/integrity/duplicate_uuid.py
  aiida/orm/nodes/data/array/array.py
  aiida/orm/nodes/data/cif.py
  aiida/orm/nodes/data/code.py
  aiida/orm/nodes/data/data.py
  aiida/orm/nodes/data/singlefile.py
  aiida/orm/nodes/data/upf.py
  aiida/orm/nodes/node.py
  aiida/orm/nodes/process/calculation/calcjob.py
  aiida/orm/nodes/process/process.py
  aiida/orm/nodes/repository.py
  aiida/orm/utils/_repository.py
  aiida/orm/utils/mixins.py
  aiida/orm/utils/repository.py
  aiida/restapi/translator/nodes/node.py
  aiida/tools/dbimporters/baseclasses.py
  aiida/tools/graph/deletions.py
  aiida/tools/importexport/dbexport/__init__.py
  aiida/tools/importexport/dbimport/backends/common.py
  docs/source/howto/plugin_codes.rst
  tests/backends/aiida_django/migrations/test_migrations_many.py
  tests/cmdline/commands/test_archive_export.py
  tests/cmdline/commands/test_archive_import.py
  tests/cmdline/commands/test_calcjob.py
  tests/cmdline/commands/test_node.py
  tests/engine/test_calc_job.py
  tests/orm/node/test_calcjob.py
  tests/orm/node/test_node.py
  tests/orm/node/test_repository.py
  tests/orm/utils/test_repository.py
  tests/restapi/test_routes.py
  tests/test_dataclasses.py
  tests/test_nodes.py
  tests/tools/importexport/__init__.py
  tests/tools/importexport/test_specific_import.py
Due: mypy, pylint, verdi-autodocs

First implementation of export/import using new disk object store
  aiida/orm/nodes/process/calculation/calcjob.py
  aiida/tools/graph/deletions.py
  aiida/tools/importexport/archive/migrations/__init__.py
  aiida/tools/importexport/archive/migrations/v03_to_v04.py
  aiida/tools/importexport/archive/migrations/v10_to_v11.py
  aiida/tools/importexport/archive/readers.py
  aiida/tools/importexport/archive/writers.py
  aiida/tools/importexport/common/__init__.py
  aiida/tools/importexport/common/archive.py
  aiida/tools/importexport/common/config.py
  aiida/tools/importexport/common/utils.py
  aiida/tools/importexport/dbexport/__init__.py
  aiida/tools/importexport/dbimport/backends/common.py
  aiida/tools/importexport/dbimport/backends/django.py
  aiida/tools/importexport/dbimport/backends/sqla.py
  docs/source/howto/visualising_graphs/graph1.aiida
  mypy.ini
  tests/cmdline/commands/test_archive_export.py
  tests/cmdline/commands/test_archive_import.py
  tests/cmdline/commands/test_calcjob.py
  tests/fixtures/export/migrate/export_v0.10_simple.aiida
  tests/orm/data/test_array.py
  tests/orm/data/test_cif.py
  tests/static/calcjob/arithmetic.add.aiida
  tests/static/calcjob/arithmetic.add_old.aiida
  tests/static/export/compare/django.aiida
  tests/static/export/compare/sqlalchemy.aiida
  tests/static/export/migrate/export_v0.11_simple.aiida
  tests/tools/importexport/__init__.py
  tests/tools/importexport/test_reader.py
  tests/tools/importexport/test_repository.py
  tests/tools/importexport/test_specific_import.py
  tests/utils/archives.py
Due: mypy, pylint

Docs: add "Internal architecture - File repository" section
  docs/source/internals/include/images/repository/schematic_design_class_hierarchy.png
  docs/source/internals/include/images/repository/schematic_design_class_hierarchy.svg
  docs/source/internals/include/images/repository/schematic_design_dos.png
  docs/source/internals/include/images/repository/schematic_design_dos.svg
  docs/source/internals/include/images/repository/schematic_design_node_repo.png
  docs/source/internals/include/images/repository/schematic_design_node_repo.svg
  docs/source/internals/include/images/repository/schematic_design_original.png
  docs/source/internals/include/images/repository/schematic_design_original.svg
  docs/source/internals/include/images/repository/schematic_design_sandbox.png
  docs/source/internals/include/images/repository/schematic_design_sandbox.svg
  docs/source/internals/index.rst
  docs/source/internals/repository.rst
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 16b326b64fb70bc9b6eb1543e6343d8313556d55 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 16b326b64fb70bc9b6eb1543e6343d8313556d55 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none
