Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, mypy, pylint, dm-generate-all, dependencies, verdi-autodocs, version-number

Path conditions:
  imports: any of: aiida/.*py and \.py$
  mypy: any of: (?x)^(
    aiida/common/progress_reporter.py|
    aiida/engine/.*py|
    aiida/manage/manager.py|
    aiida/manage/database/delete/nodes.py|
    aiida/orm/querybuilder.py|
    aiida/orm/implementation/querybuilder.py|
    aiida/orm/implementation/sqlalchemy/querybuilder/.*py|
    aiida/orm/nodes/data/jsonable.py|
    aiida/orm/nodes/node.py|
    aiida/orm/nodes/process/.*py|
    aiida/plugins/entry_point.py|
    aiida/plugins/factories.py|
    aiida/repository/.*py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/importexport/archive/.*py|
    aiida/tools/importexport/dbexport/__init__.py|
    aiida/tools/importexport/dbimport/backends/.*.py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    setup.py|
    setup.json|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    setup.json|
    setup.py|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
  version-number: any of: (?x)^(
    setup.json|
    utils/validate_consistency.py|
    aiida/__init__.py
)$

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 0772f3323f0817c1c63cc87d6841d630578f9ece [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 0772f3323f0817c1c63cc87d6841d630578f9ece [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

update
  tests/backends/aiida_sqlalchemy/migrations/conftest.py
  tests/backends/aiida_sqlalchemy/test_session.py
Due: pylint

Update conftest.py
  tests/backends/aiida_sqlalchemy/migrations/conftest.py
Due: pylint

check
  tests/backends/aiida_sqlalchemy/migrations/conftest.py
  tests/backends/aiida_sqlalchemy/migrations/test_10_group_update.py
Due: pylint

Update test_10_group_update.py
  tests/backends/aiida_sqlalchemy/migrations/test_10_group_update.py
Due: pylint

skip hanging
  tests/backends/aiida_sqlalchemy/migrations/conftest.py
  tests/backends/aiida_sqlalchemy/migrations/test_10_group_update.py
Due: pylint

Update test_11_v2_repository.py
  tests/backends/aiida_sqlalchemy/migrations/test_11_v2_repository.py
Due: pylint

revert
  tests/backends/aiida_sqlalchemy/migrations/conftest.py
  tests/backends/aiida_sqlalchemy/migrations/test_10_group_update.py
  tests/backends/aiida_sqlalchemy/migrations/test_11_v2_repository.py
Due: pylint

Replace `verdi database` commands with `verdi storage`
  aiida/cmdline/commands/__init__.py
  aiida/cmdline/commands/cmd_database.py
  aiida/cmdline/commands/cmd_status.py
  aiida/cmdline/commands/cmd_storage.py
  docs/source/reference/command_line.rst
  tests/cmdline/commands/test_database.py
  tests/cmdline/commands/test_status.py
  tests/cmdline/commands/test_storage.py
Due: imports, pylint, verdi-autodocs

Apply suggestions from code review
  aiida/cmdline/commands/cmd_database.py
  aiida/cmdline/commands/cmd_storage.py
Due: imports, pylint, verdi-autodocs

Add modifications of code review
  aiida/cmdline/commands/cmd_database.py
  aiida/cmdline/commands/cmd_status.py
  aiida/cmdline/commands/cmd_storage.py
  docs/source/reference/command_line.rst
  tests/cmdline/commands/test_storage.py
Due: imports, pylint, verdi-autodocs

Second batch of PR modifications.
  aiida/cmdline/commands/cmd_database.py
  aiida/cmdline/commands/cmd_storage.py
  docs/source/reference/command_line.rst
  tests/cmdline/commands/test_status.py
  tests/cmdline/commands/test_storage.py
Due: imports, pylint, verdi-autodocs

♻️ REFACTOR: rename schema names
  aiida/backends/djsite/manager.py
  aiida/backends/manager.py
  aiida/backends/sqlalchemy/manager.py
  aiida/cmdline/commands/cmd_database.py
  tests/cmdline/commands/test_database.py
Due: imports, pylint, verdi-autodocs

♻️ REFACTOR: rename schema names (#5230)
  aiida/backends/djsite/manager.py
  aiida/backends/manager.py
  aiida/backends/sqlalchemy/manager.py
  aiida/cmdline/commands/cmd_database.py
  tests/cmdline/commands/test_database.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 370358d7edd48eea670569bd37e4b43303a8f566 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 370358d7edd48eea670569bd37e4b43303a8f566 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Quickfix
  tests/cmdline/commands/test_status.py
Due: pylint

Replace `verdi database` commands with `verdi storage` (#5228)
  aiida/cmdline/commands/__init__.py
  aiida/cmdline/commands/cmd_database.py
  aiida/cmdline/commands/cmd_status.py
  aiida/cmdline/commands/cmd_storage.py
  docs/source/reference/command_line.rst
  tests/cmdline/commands/test_database.py
  tests/cmdline/commands/test_status.py
  tests/cmdline/commands/test_storage.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,django benchmark result for f8d161511ff0ca97e8e739c10798a72293de2804 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for f8d161511ff0ca97e8e739c10798a72293de2804 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

`verdi code setup`: validate the uniqueness of label for local codes
  aiida/cmdline/params/options/commands/code.py
  tests/cmdline/commands/test_code.py
Due: imports, pylint, verdi-autodocs

`verdi code setup`: validate the uniqueness of label for local codes (#5215)
  aiida/cmdline/params/options/commands/code.py
  tests/cmdline/commands/test_code.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 01a88469e820e43a5a0e749b49476dfa025c4ec0 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 01a88469e820e43a5a0e749b49476dfa025c4ec0 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Require matplotlib~=3.4,<3.5.
  setup.json
Due: dm-generate-all, dependencies, version-number

Do not use the deprecated matplotlib config option 'text.latex.preview'.
  aiida/orm/nodes/data/array/bands.py
  setup.json
Due: imports, pylint, dm-generate-all, dependencies, version-number

Do not use the deprecated matplotlib config option 'text.latex.preview'. (#5233)
  aiida/orm/nodes/data/array/bands.py
  setup.json
Due: imports, pylint, dm-generate-all, dependencies, version-number

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 632ab72a62d283b462cef6fb4ea818642b0b2ab6 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 632ab72a62d283b462cef6fb4ea818642b0b2ab6 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

`Code`: add `validate_remote_exec_path` method to check executable
  aiida/cmdline/commands/cmd_code.py
  aiida/orm/nodes/data/code.py
  docs/source/howto/run_codes.rst
  docs/source/reference/command_line.rst
  tests/cmdline/commands/test_code.py
  tests/orm/data/test_code.py
Due: imports, pylint, verdi-autodocs

`Code`: add `validate_remote_exec_path` method to check executable (#5184)
  aiida/cmdline/commands/cmd_code.py
  aiida/orm/nodes/data/code.py
  docs/source/howto/run_codes.rst
  docs/source/reference/command_line.rst
  tests/cmdline/commands/test_code.py
  tests/orm/data/test_code.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 2f5170d8a8b62c1091024ccaa0e5faa34f2be51f [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 2f5170d8a8b62c1091024ccaa0e5faa34f2be51f [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

scheduler: allow access to computer object
  aiida/orm/computers.py
  aiida/schedulers/scheduler.py
Due: imports, pylint

transport: fix typo
  aiida/transports/transport.py
Due: imports, pylint

new direct "manual" scheduler"
  aiida/schedulers/plugins/directmanual.py
  setup.json
Due: imports, pylint, dm-generate-all, dependencies, version-number
