Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, mypy, pylint, dm-generate-all, dependencies, verdi-autodocs, version-number

Path conditions:
  imports: any of: aiida/.*py and \.py$
  mypy: any of: (?x)^(
    aiida/common/progress_reporter.py|
    aiida/engine/.*py|
    aiida/manage/manager.py|
    aiida/manage/database/delete/nodes.py|
    aiida/orm/querybuilder.py|
    aiida/orm/implementation/querybuilder.py|
    aiida/orm/implementation/sqlalchemy/querybuilder/.*py|
    aiida/orm/nodes/data/jsonable.py|
    aiida/orm/nodes/node.py|
    aiida/orm/nodes/process/.*py|
    aiida/plugins/entry_point.py|
    aiida/plugins/factories.py|
    aiida/repository/.*py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/importexport/archive/.*py|
    aiida/tools/importexport/dbexport/__init__.py|
    aiida/tools/importexport/dbimport/backends/.*.py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    setup.py|
    setup.json|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    setup.json|
    setup.py|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
  version-number: any of: (?x)^(
    setup.json|
    utils/validate_consistency.py|
    aiida/__init__.py
)$

Added dosctrings for the _prepare_json function in array.py Addresses #2809
  aiida/orm/nodes/data/array/array.py
Due: imports, pylint

`Dict`: fix the `__eq__` implementation to call super (#5159)
  aiida/orm/nodes/data/dict.py
  tests/orm/data/test_dict.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 45238ebfa66d5361ebc4ca9de081eae77869708f [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 45238ebfa66d5361ebc4ca9de081eae77869708f [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Adding dummy instances for the subclasses of ArrayData for their tests.
  tests/orm/data/test_data.py
Due: pylint

Fixing minor issues with the pre-commit
  tests/orm/data/test_data.py
Due: pylint

Added ignore_nan to the json.dumps so that any NaN in an array is transformed to null as to be JSON compatible.
  aiida/orm/nodes/data/array/array.py
Due: imports, pylint

updates
  aiida/backends/general/migrations/duplicate_uuids.py
  aiida/cmdline/commands/cmd_status.py
  aiida/cmdline/params/options/main.py
  aiida/engine/launch.py
  aiida/engine/processes/workchains/restart.py
  aiida/engine/runners.py
  aiida/orm/convert.py
  aiida/tools/importexport/archive/migrations/v01_to_v02.py
  aiida/tools/importexport/archive/migrations/v02_to_v03.py
  aiida/tools/importexport/archive/migrations/v03_to_v04.py
  aiida/tools/importexport/archive/migrations/v04_to_v05.py
  aiida/tools/importexport/archive/migrations/v05_to_v06.py
  aiida/tools/importexport/archive/migrations/v06_to_v07.py
  aiida/tools/importexport/archive/migrations/v07_to_v08.py
  aiida/tools/importexport/archive/migrations/v08_to_v09.py
  aiida/tools/importexport/archive/migrations/v09_to_v10.py
  aiida/tools/importexport/archive/migrations/v10_to_v11.py
  aiida/tools/importexport/archive/migrations/v11_to_v12.py
  aiida/tools/importexport/archive/migrations/v12_to_v13.py
Due: imports, mypy, pylint, verdi-autodocs

Update computer.py
  aiida/cmdline/params/types/computer.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 27364cff7abc7f7664b1ca6a89d0885b0c18c3b4 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 27364cff7abc7f7664b1ca6a89d0885b0c18c3b4 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

👌 IMPROVE: Add `AbstractRepositoryBackend.iter_object_streams`
  aiida/repository/backend/abstract.py
  aiida/repository/backend/disk_object_store.py
  tests/repository/backend/test_disk_object_store.py
  tests/repository/backend/test_sandbox.py
Due: imports, mypy, pylint

♻️ REFATOR: Delegate `RepositoryBackend` control to the `Backend`
  aiida/backends/djsite/db/migrations/0047_migrate_repository.py
  aiida/backends/sqlalchemy/migrations/versions/1feaea71bd5a_migrate_repository.py
  aiida/backends/testbase.py
  aiida/cmdline/commands/cmd_setup.py
  aiida/cmdline/commands/cmd_status.py
  aiida/manage/configuration/config.py
  aiida/manage/configuration/profile.py
  aiida/manage/manager.py
  aiida/orm/implementation/backends.py
  aiida/orm/implementation/sql/backends.py
  aiida/orm/nodes/node.py
  aiida/orm/nodes/repository.py
  aiida/repository/repository.py
  aiida/tools/importexport/dbexport/main.py
  aiida/tools/importexport/dbimport/backends/common.py
  tests/cmdline/commands/test_setup.py
  tests/orm/data/test_array.py
  tests/repository/test_repository.py
  tests/tools/importexport/test_repository.py
Due: imports, mypy, pylint, verdi-autodocs

Update nitpick-exceptions
  docs/source/nitpick-exceptions
Due: none

⬆️ UPDATE: aldjemy v2.4
  environment.yml
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  setup.json
Due: dm-generate-all, dependencies, version-number

Add abstract methods
  aiida/orm/implementation/backends.py
Due: imports, pylint

add django implementation
  aiida/orm/implementation/backends.py
  aiida/orm/implementation/django/backend.py
Due: imports, pylint

add sqla implmentation
  aiida/orm/implementation/sqlalchemy/backend.py
Due: imports, pylint

add EntityTypes
  aiida/orm/entities.py
Due: imports, pylint

add DbGroupNode
  aiida/backends/sqlalchemy/models/group.py
Due: imports, pylint

add tests
  tests/orm/implementation/test_backend.py
Due: pylint

Minor fixes
  aiida/orm/implementation/backends.py
  aiida/orm/implementation/django/backend.py
  aiida/orm/implementation/sqlalchemy/backend.py
Due: imports, pylint

Update backends.py
  aiida/orm/implementation/backends.py
Due: imports, pylint

fixes
  aiida/backends/sqlalchemy/models/node.py
  docs/source/nitpick-exceptions
Due: imports, pylint

Fix tests
  tests/repository/test_repository.py
Due: pylint

⬆️ UPDATE: aldjemy v2.4 (#5170)
  environment.yml
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  setup.json
Due: dm-generate-all, dependencies, version-number

add pytest-benchmarks:ubuntu-18.04,django benchmark result for e2950de42562c239215a7564be58ffb2eeffc128 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for e2950de42562c239215a7564be58ffb2eeffc128 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Move delete_nodes_and_connections to backend
  .pre-commit-config.yaml
  aiida/backends/djsite/utils.py
  aiida/backends/sqlalchemy/utils.py
  aiida/backends/utils.py
  aiida/orm/implementation/backends.py
  aiida/orm/implementation/django/backend.py
  aiida/orm/implementation/sqlalchemy/backend.py
  aiida/tools/graph/deletions.py
  tests/orm/node/test_node.py
Due: imports, pylint

fixes
  aiida/orm/implementation/backends.py
  aiida/orm/implementation/django/backend.py
  aiida/orm/implementation/sql/backends.py
  aiida/orm/implementation/sqlalchemy/backend.py
  docs/source/nitpick-exceptions
Due: imports, pylint

♻️ REFACTOR: Remove direct access to BackendManager
  aiida/backends/__init__.py
  aiida/backends/djsite/__init__.py
  aiida/backends/djsite/manager.py
  aiida/backends/manager.py
  aiida/backends/sqlalchemy/__init__.py
  aiida/backends/sqlalchemy/manager.py
  aiida/cmdline/commands/cmd_database.py
  aiida/cmdline/commands/cmd_setup.py
  aiida/engine/utils.py
  aiida/manage/manager.py
  aiida/orm/implementation/django/__init__.py
  aiida/orm/implementation/django/backend.py
  aiida/orm/implementation/django/convert.py
  aiida/orm/implementation/django/groups.py
  aiida/orm/implementation/django/users.py
  aiida/orm/implementation/sql/backends.py
  aiida/orm/implementation/sqlalchemy/backend.py
  tests/cmdline/commands/test_database.py
  tests/cmdline/commands/test_setup.py
  tests/restapi/conftest.py
Due: imports, mypy, pylint, verdi-autodocs

fix test
  tests/restapi/conftest.py
Due: pylint

fix pylint
  tests/restapi/conftest.py
Due: pylint

📚 DOCS: Fix system-wide install instructions
  docs/source/intro/install_system.rst
Due: none

📚 DOCS: Fix system-wide install instructions (#5174)
  docs/source/intro/install_system.rst
Due: none

conftest: add input arg for run_cli_command, fix typings
  tests/conftest.py
Due: pylint

🔧 MAINTAIN: Improve type annotations of `@classproperty`
  aiida/common/lang.py
Due: imports, pylint
