Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Output of `process status/report/show/` to README
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/tools/dumping/processes.py
Due: imports, verdi-autodocs

Naming: `dump` -> `process_dump` in `cmd_process`
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/tools/dumping/processes.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

Updated tests for calcjob_dumps after code changes
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/tools/dumping/processes.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

CLI: Add dumping functionality.
  src/aiida/cmdline/commands/cmd_calcjob.py
  src/aiida/cmdline/commands/cmd_devel.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/engine/daemon/execmanager.py
  src/aiida/tools/dumping/__init__.py
  src/aiida/tools/dumping/processes.py
  tests/conftest.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

Update documentation
  docs/source/howto/data.rst
Due: none

Echo missing plugin for `--use-presubmit`
  src/aiida/tools/dumping/processes.py
Due: imports

Remove underscores for metadata.yaml properties
  src/aiida/tools/dumping/processes.py
Due: imports

Moved logic for calcjob_io_paths to own function
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/tools/dumping/processes.py
  tests/cmdline/commands/test_process.py
Due: imports, verdi-autodocs

♻️ First working OOP-version using `ProcessDumper`
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/processes.py
  tests/conftest.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

Fix failing test due to missing metadata YAML
  src/aiida/tools/dumping/processes.py
Due: imports

Updated tests
  src/aiida/tools/dumping/processes.py
  tests/tools/dumping/test_processes.py
Due: imports

Add `_workflow_dump` and change link node dumping
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/processes.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

test
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/tools/dumping/processes.py
  tests/conftest.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

Fix check for `CalculationNode` in `dump`.
  src/aiida/tools/dumping/processes.py
Due: imports

Some cleanup and refactor
  src/aiida/cmdline/commands/cmd_calcjob.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/processes.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

CLI: Add dumping functionality.
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_devel.py
  src/aiida/tools/dumping/processes.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

Resolve comments of reviews by Seb and Alex
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/processes.py
  tests/cmdline/commands/test_process.py
  tests/conftest.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

Big refactor to make code more concise
  src/aiida/cmdline/commands/cmd_calcjob.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/tools/dumping/processes.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

Add first version of `--flat` option.
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/tools/dumping/processes.py
Due: imports, verdi-autodocs

All functionality of the Python API fully tested
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/processes.py
  tests/cmdline/commands/test_process.py
  tests/conftest.py
  tests/test_conftest.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

Add documentation in `How to work with data`
  docs/source/howto/data.rst
  tests/tools/dumping/test_processes.py
Due: none

CLI: Add `verdi process dump` and the `ProcessDumper` (#6276)
  docs/source/howto/data.rst
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/engine/daemon/execmanager.py
  src/aiida/tools/__init__.py
  src/aiida/tools/dumping/__init__.py
  src/aiida/tools/dumping/processes.py
  tests/cmdline/commands/test_process.py
  tests/conftest.py
  tests/tools/dumping/test_processes.py
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 6291accf0538eafe7426e89bc4c1e9eb90ce0385 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

revert ci-code change
  .github/workflows/ci-code.yml
Due: none

Consistent path-ignore in docker.yml
  .github/workflows/docker.yml
Due: none

CI: Test with newer RabbitMQ versions
  .github/workflows/nightly.yml
  .github/workflows/rabbitmq.yml
Due: none

Add Slack notification
  .github/workflows/nightly.yml
Due: none

Devops: Refactor the GHA Docker build (#6396)
  .docker/aiida-core-base/Dockerfile
  .docker/docker-bake.hcl
  .docker/docker-compose.aiida-core-base.yml
  .docker/docker-compose.aiida-core-dev.yml
  .docker/docker-compose.aiida-core-with-services.yml
  .docker/pytest.ini
  .docker/requirements.txt
  .docker/tests/conftest.py
  .github/actions/create-dev-env/action.yml
  .github/actions/install-aiida-core/action.yml
  .github/actions/load-image/action.yml
  .github/workflows/docker-build-test-upload.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-merge-tags.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker-push.yml
  .github/workflows/docker-test.yml
  .github/workflows/docker.yml
  .github/workflows/extract-docker-image-names.sh
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for e47932ee9e0833dca546c7c7b5b584f2687d9073 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Capture `ImportTestRun` as dry-run success.
  src/aiida/cmdline/commands/cmd_archive.py
  tests/cmdline/commands/test_archive_import.py
Due: imports, verdi-autodocs

Fix publishing to DockerHub
  .github/workflows/docker-publish.yml
Due: none

Update tests/cmdline/commands/test_archive_import.py
  tests/cmdline/commands/test_archive_import.py
Due: none

CLI: Fix dry-run resulting in critical error in `verdi archive import` (#6403)
  src/aiida/cmdline/commands/cmd_archive.py
  tests/cmdline/commands/test_archive_import.py
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 36991c6c84f4ba0b4553e8cd6689bbc1815dbd35 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Devops: Fix publishing to DockerHub using incorrect secret name (#6423)
  .github/workflows/docker-publish.yml
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 9c9ff79865225b125ba5f9fe23969d4c2c8fb9b2 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

add comments from sphuber
  src/aiida/cmdline/commands/cmd_computer.py
Due: imports, verdi-autodocs

adapt computer configure related help pages
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_computer.py
Due: imports, verdi-autodocs

Apply suggestions from code review
  tests/cmdline/commands/test_computer.py
Due: none

CLI: Add the subcommand `verdi computer export`
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_computer.py
  tests/cmdline/commands/test_computer.py
Due: imports, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
