Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

Caching: `NodeCaching._get_objects_to_hash` return type to `dict`
  docs/source/topics/provenance/caching.rst
  src/aiida/orm/nodes/caching.py
  src/aiida/orm/nodes/process/calculation/calcjob.py
  src/aiida/orm/nodes/process/process.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 6cb91c18163ac6228ed4a64c1c467dfd0398a624 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Caching: Make `NodeCaching._get_object_to_hash` public
  docs/source/internals/engine.rst
  docs/source/topics/provenance/caching.rst
  src/aiida/orm/nodes/caching.py
  src/aiida/orm/nodes/process/calculation/calcjob.py
  src/aiida/orm/nodes/process/process.py
Due: imports

Allow general process dumping with warning
  src/aiida/cmdline/commands/cmd_calcjob.py
  src/aiida/cmdline/commands/cmd_workchain.py
  src/aiida/cmdline/utils/defaults.py
Due: imports, verdi-autodocs

temporarily install `disk-objectstore` from repo
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.12.txt
  requirements/requirements-py-3.9.txt
Due: dm-generate-all, dependencies

adapt to latest disk-objectstore PR161
  src/aiida/cmdline/commands/cmd_storage.py
  src/aiida/orm/implementation/storage_backend.py
  src/aiida/storage/psql_dos/backend.py
Due: imports, verdi-autodocs

Update src/aiida/cmdline/commands/cmd_storage.py
  src/aiida/cmdline/commands/cmd_storage.py
Due: imports, verdi-autodocs

convert the script to 'verdi storage backup' command
  backup_script/check_if_profile_locked.py
  backup_script/make_backup.sh
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_storage.py
  src/aiida/storage/psql_dos/backend.py
Due: imports, verdi-autodocs

add a minimal backup pytest
  tests/cmdline/commands/test_storage.py
Due: none

add backup_utils.BackupManager to docs nitpick-exceptions
  docs/source/nitpick-exceptions
Due: none

implement sphuber's review
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_storage.py
  src/aiida/common/exceptions.py
  src/aiida/orm/implementation/storage_backend.py
  src/aiida/storage/psql_dos/backend.py
Due: imports, verdi-autodocs

config.json - only the backed up profile
  src/aiida/storage/psql_dos/backend.py
Due: imports

docs: update backup section
  docs/source/howto/installation.rst
Due: none

test psql_dos backup; raise NotImplementedError for other backends
  src/aiida/orm/implementation/storage_backend.py
  src/aiida/storage/psql_dos/backend.py
  src/aiida/storage/sqlite_dos/backend.py
  src/aiida/storage/sqlite_temp/backend.py
  src/aiida/storage/sqlite_zip/backend.py
  tests/storage/psql_dos/test_backend.py
Due: imports

backup: turn off compression for maintain to match default cli cmd
  src/aiida/storage/psql_dos/backend.py
Due: imports

docs: restore tui section
  docs/source/reference/command_line.rst
Due: none

storage_backend backup non-abstract
  src/aiida/orm/implementation/storage_backend.py
  src/aiida/storage/sqlite_temp/backend.py
  src/aiida/storage/sqlite_zip/backend.py
Due: imports

reorganize; separate utility functions to backup_utils
  aiida/storage/psql_dos/backup_utils.py
  src/aiida/cmdline/commands/cmd_storage.py
  src/aiida/orm/implementation/storage_backend.py
  src/aiida/storage/psql_dos/backend.py
Due: imports, verdi-autodocs

adapt docs
  docs/source/howto/installation.rst
Due: none

rm dbdump cli command
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_profile.py
Due: imports, verdi-autodocs

Update tests/storage/psql_dos/test_backend.py
  tests/storage/psql_dos/test_backend.py
Due: none

docs: add backup mention in FAQ
  docs/source/howto/faq.rst
Due: none

config.json check at the start; doc changes
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_storage.py
  src/aiida/storage/psql_dos/backend.py
Due: imports, verdi-autodocs

cli: pg-dump-exe comment
  src/aiida/cmdline/commands/cmd_storage.py
Due: imports, verdi-autodocs

use backup utilities from disk_objectstore
  aiida/storage/psql_dos/backup_utils.py
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_storage.py
  src/aiida/orm/implementation/storage_backend.py
  src/aiida/storage/psql_dos/backend.py
Due: imports, verdi-autodocs

preliminary backup script and verdi profile dbdump command
  backup_script/check_if_profile_locked.py
  backup_script/make_backup.sh
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_profile.py
Due: imports, verdi-autodocs

docs: update backup instructions
  docs/source/howto/installation.rst
Due: none

Update tests/cmdline/commands/test_storage.py
  tests/cmdline/commands/test_storage.py
Due: none

Update docs/source/howto/installation.rst
  docs/source/howto/installation.rst
Due: none

Logging: Add the `disk_objectstore` logger to the config
  src/aiida/common/log.py
  src/aiida/manage/configuration/config.py
Due: imports

fix tui
  docs/source/reference/command_line.rst
Due: none

Remove the backup of config.json
  src/aiida/storage/psql_dos/backend.py
Due: imports

manually update requirements files
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.12.txt
  requirements/requirements-py-3.9.txt
Due: none

adapt psql_dos backup test
  tests/storage/psql_dos/test_backend.py
Due: none
