Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

imports:
  name: imports
  entry: python utils/autogenerate_all_imports.py
  language: python
  require_serial: true
  pass_filenames: false

generate-conda-environment:
  name: Update conda environment file
  entry: python ./utils/dependency_management.py generate-environment-yml
  language: system
  pass_filenames: false

validate-conda-environment:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

♻️ Rename broker status probe API (#7443)
  src/aiida/brokers/broker.py
  src/aiida/brokers/rabbitmq/broker.py
  src/aiida/brokers/zeromq/broker.py
  src/aiida/cmdline/commands/cmd_bug_report.py
  src/aiida/cmdline/commands/cmd_daemon.py
  src/aiida/cmdline/commands/cmd_status.py
  tests/brokers/test_rabbitmq.py
  tests/brokers/test_zeromq_broker.py
  tests/cmdline/commands/test_bug_report.py
Due: imports, verdi-autodocs

👌 Capture broker probe failures in status (#7443)
  src/aiida/brokers/broker.py
  src/aiida/brokers/rabbitmq/broker.py
  src/aiida/brokers/zeromq/broker.py
  src/aiida/cmdline/commands/cmd_bug_report.py
  src/aiida/cmdline/commands/cmd_daemon.py
  src/aiida/cmdline/commands/cmd_status.py
  tests/brokers/test_rabbitmq.py
  tests/brokers/test_zeromq_broker.py
  tests/cmdline/commands/test_bug_report.py
Due: imports, verdi-autodocs

🐛 Surface broker probe status errors (#7443)
  src/aiida/brokers/rabbitmq/broker.py
  src/aiida/brokers/zeromq/broker.py
  src/aiida/cmdline/commands/cmd_daemon.py
  src/aiida/cmdline/commands/cmd_status.py
  tests/brokers/test_rabbitmq.py
  tests/cmdline/commands/test_daemon.py
  tests/cmdline/commands/test_status.py
Due: imports, verdi-autodocs

👌 Clarify bug-report service status fields (#7443)
  src/aiida/cmdline/commands/cmd_bug_report.py
  tests/cmdline/commands/test_bug_report.py
Due: imports, verdi-autodocs

♻️ Rename broker reachability check method (#7443)
  src/aiida/brokers/broker.py
  src/aiida/brokers/rabbitmq/broker.py
  src/aiida/brokers/zeromq/broker.py
  src/aiida/engine/daemon/client.py
  tests/brokers/test_rabbitmq.py
  tests/brokers/test_zeromq_broker.py
  tests/conftest.py
Due: imports

👌 Validate ZeroMQ broker status payload (#7443)
  src/aiida/brokers/zeromq/broker.py
  tests/brokers/test_zeromq_broker.py
Due: imports

🐛 Handle invalid RabbitMQ status property encoding (#7443)
  src/aiida/brokers/rabbitmq/broker.py
  tests/brokers/test_rabbitmq.py
Due: imports

♻️ Make daemon broker path helpers private
  src/aiida/engine/daemon/client.py
Due: imports

♻️ Make daemon broker path helpers private (#7454)
  src/aiida/engine/daemon/client.py
Due: imports

👌 Clarify daemon broker prompts (#7445)
  src/aiida/cmdline/commands/cmd_profile.py
Due: imports, verdi-autodocs

🐛 Fix non-interactive daemon prompt (#7445)
  src/aiida/cmdline/commands/cmd_profile.py
Due: imports, verdi-autodocs

👌 Expose daemon commands when no broker is configured (#7445)
  src/aiida/cmdline/commands/cmd_daemon.py
  src/aiida/cmdline/commands/cmd_status.py
  src/aiida/engine/daemon/client.py
  tests/cmdline/commands/test_daemon.py
  tests/cmdline/commands/test_status.py
Due: imports, verdi-autodocs

🐛 Fix broker warning spacing (#7445)
  src/aiida/cmdline/utils/decorators.py
Due: imports

🐛 Report unreachable ZeroMQ broker as error (#7445)
  src/aiida/cmdline/commands/cmd_status.py
Due: imports, verdi-autodocs

🐛 Propagate daemon status failures (#7445)
  src/aiida/cmdline/commands/cmd_status.py
  tests/cmdline/commands/test_status.py
Due: imports, verdi-autodocs

👌 Revise brokerless status message (#7445)
  src/aiida/cmdline/commands/cmd_status.py
  tests/cmdline/commands/test_status.py
Due: imports, verdi-autodocs

🐛 Use profile-specific broker status (#7445)
  src/aiida/cmdline/commands/cmd_daemon.py
  tests/cmdline/commands/test_daemon.py
Due: imports, verdi-autodocs

🐛 Fix release workflow Python version (#7455)
  .github/actions/install-aiida-core/action.yml
  .github/workflows/release.yml
Due: none

👌 Match release pre-commit with CI (#7455)
  .github/workflows/release.yml
Due: none

🔖 Release v2.9.0rc0 (#7455)
  CHANGELOG.md
  src/aiida/__init__.py
Due: imports

🐛 Pin release workflow to use py310 (#7455)
  .github/actions/install-aiida-core/action.yml
  .github/workflows/release.yml
Due: none

🧪 Pin release workflow and install-aiida-core action to py310 (#7456)
  .github/actions/install-aiida-core/action.yml
  .github/workflows/release.yml
Due: none

🔖 Release v2.9.0
  CHANGELOG.md
  src/aiida/__init__.py
Due: imports

🧪 Add nightly pre-commit check (#7457)
  .github/workflows/nightly.yml
Due: none

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
