Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, dm-generate-all, pyproject, dependencies, verdi-autodocs, version-number

mypy:
  name: mypy
  entry: mypy
  language: python
  require_serial: true
  pass_filenames: true

pylint:
  name: pylint
  entry: pylint
  language: system

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

pyproject:
  name: Validate pyproject.toml
  entry: python ./utils/dependency_management.py validate-pyproject-toml
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

version-number:
  name: Check version numbers
  entry: python ./utils/validate_consistency.py version
  language: system
  pass_filenames: false

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 74d8b6c55f334c27ef351630c18e5508b769a3aa [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 74d8b6c55f334c27ef351630c18e5508b769a3aa [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

🔧 MAINTAIN: Add `verdi devel run-sql`
  aiida/cmdline/commands/cmd_devel.py
  docs/source/reference/command_line.rst
Due: pylint, verdi-autodocs

Add a basic test for the new command
  aiida/cmdline/commands/cmd_devel.py
  tests/cmdline/commands/test_devel.py
Due: pylint, verdi-autodocs

🔧 MAINTAIN: Add `verdi devel run-sql` (#5094)
  aiida/cmdline/commands/cmd_devel.py
  docs/source/reference/command_line.rst
  tests/cmdline/commands/test_devel.py
Due: pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,django benchmark result for eae3c506f9b9de25d6c22d1b06d9bdf43575f594 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for eae3c506f9b9de25d6c22d1b06d9bdf43575f594 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

♻️ REFACTOR: Fully abstract QueryBuilder (#5093)
  .pre-commit-config.yaml
  aiida/orm/groups.py
  aiida/orm/implementation/django/querybuilder.py
  aiida/orm/implementation/querybuilder.py
  aiida/orm/implementation/sqlalchemy/querybuilder.py
  aiida/orm/implementation/sqlalchemy/querybuilder/__init__.py
  aiida/orm/implementation/sqlalchemy/querybuilder/joiner.py
  aiida/orm/implementation/sqlalchemy/querybuilder/main.py
  aiida/orm/nodes/node.py
  aiida/orm/querybuilder.py
  docs/source/nitpick-exceptions
  environment.yml
  pyproject.toml
  setup.json
  tests/backends/aiida_sqlalchemy/test_query.py
  tests/orm/test_querybuilder.py
  tests/orm/test_querybuilder/test_as_dict.yml
  tests/orm/test_querybuilder/test_str.txt
Due: pylint, dm-generate-all, pyproject, dependencies, version-number

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 4174e5de3adbeec785290a02a0fc78d4597e42e0 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 4174e5de3adbeec785290a02a0fc78d4597e42e0 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

try adding `consumer_timeout` default to `broker_parameters` config
  aiida/manage/configuration/schema/config-v5.schema.json
Due: none

set consumer_timeout to 1
  aiida/manage/configuration/schema/config-v5.schema.json
Due: none

try setting consumer_timeout directly
  aiida/manage/external/rmq.py
Due: pylint

try adding latest rabbitmq to tests
  .github/workflows/rabbitmq.yml
Due: none

CI: do not run the benchmark on forks
  .github/workflows/benchmark.yml
Due: none

CI: add temporary `mypy` ignore because of `importlib-metadata` update
  aiida/orm/nodes/process/calculation/calcjob.py
  aiida/plugins/entry_point.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 2a2bf21dc6b49d7783795f14d1de6d1fdcff007b [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 2a2bf21dc6b49d7783795f14d1de6d1fdcff007b [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

CLI: use factories in `PluginParamType` whenever possible
  .pre-commit-config.yaml
  aiida/cmdline/params/options/main.py
  aiida/cmdline/params/types/plugin.py
  aiida/orm/utils/builders/code.py
  aiida/plugins/factories.py
  docs/source/nitpick-exceptions
  pyproject.toml
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_computer.py
Due: pylint, pyproject, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 9cc5624bc7bf4abf77bc6b5094e415339c889b35 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 9cc5624bc7bf4abf77bc6b5094e415339c889b35 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

🔧 MAINTAIN: Remove `_DeprecateConfigCommandsGroup`
  aiida/cmdline/commands/cmd_config.py
Due: pylint, verdi-autodocs

Update cmd_config.py
  aiida/cmdline/commands/cmd_config.py
Due: pylint, verdi-autodocs

🔧 MAINTAIN: Remove `_DeprecateConfigCommandsGroup` (#5110)
  aiida/cmdline/commands/cmd_config.py
Due: pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,django benchmark result for aea9bfe78bde9ae5edf7ac290ebe90453f27ced1 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for aea9bfe78bde9ae5edf7ac290ebe90453f27ced1 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Update aiida/orm/nodes/node.py
  aiida/orm/nodes/node.py
Due: pylint

♻️ REFACTOR: Remove `QueryManager`
  aiida/backends/djsite/queries.py
  aiida/backends/general/abstractqueries.py
  aiida/backends/general/migrations/utils.py
  aiida/backends/sqlalchemy/queries.py
  aiida/cmdline/commands/cmd_data/cmd_bands.py
  aiida/manage/database/integrity/duplicate_uuid.py
  aiida/orm/implementation/backends.py
  aiida/orm/implementation/django/backend.py
  aiida/orm/implementation/querybuilder.py
  aiida/orm/implementation/sqlalchemy/backend.py
  aiida/orm/implementation/sqlalchemy/querybuilder/main.py
  aiida/orm/nodes/data/array/bands.py
  aiida/restapi/translator/nodes/node.py
  tests/orm/test_querybuilder.py
Due: pylint, verdi-autodocs

Remove aiida/manage/database/integrity/duplicate_uuid.py
  aiida/backends/djsite/db/migrations/0014_add_node_uuid_unique_constraint.py
  aiida/backends/djsite/db/migrations/0018_django_1_11.py
  aiida/backends/general/migrations/duplicate_uuids.py
  aiida/backends/general/migrations/utils.py
  aiida/backends/sqlalchemy/migrations/versions/37f3d4882837_make_all_uuid_columns_unique.py
  aiida/cmdline/commands/cmd_database.py
  aiida/manage/__init__.py
  aiida/manage/database/__init__.py
  aiida/manage/database/integrity/__init__.py
  tests/backends/aiida_django/migrations/test_migrations_many.py
Due: pylint, verdi-autodocs

set explicit `dry_run` value
  aiida/backends/general/migrations/duplicate_uuids.py
  tests/backends/aiida_django/migrations/test_migrations_many.py
Due: pylint

♻️ REFACTOR: Remove `QueryManager` (#5101)
  aiida/backends/djsite/db/migrations/0014_add_node_uuid_unique_constraint.py
  aiida/backends/djsite/db/migrations/0018_django_1_11.py
  aiida/backends/djsite/queries.py
  aiida/backends/general/abstractqueries.py
  aiida/backends/general/migrations/duplicate_uuids.py
  aiida/backends/general/migrations/utils.py
  aiida/backends/sqlalchemy/migrations/versions/37f3d4882837_make_all_uuid_columns_unique.py
  aiida/backends/sqlalchemy/queries.py
  aiida/cmdline/commands/cmd_data/cmd_bands.py
  aiida/cmdline/commands/cmd_database.py
  aiida/manage/__init__.py
  aiida/manage/database/__init__.py
  aiida/manage/database/integrity/__init__.py
  aiida/orm/implementation/backends.py
  aiida/orm/implementation/django/backend.py
  aiida/orm/implementation/querybuilder.py
  aiida/orm/implementation/sqlalchemy/backend.py
  aiida/orm/implementation/sqlalchemy/querybuilder/main.py
  aiida/orm/nodes/data/array/bands.py
  aiida/restapi/translator/nodes/node.py
  tests/backends/aiida_django/migrations/test_migrations_many.py
  tests/orm/test_querybuilder.py
Due: pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 1dac2fe49605bfb7688157989c0cc408955f1744 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 1dac2fe49605bfb7688157989c0cc408955f1744 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Path conditions:
  mypy: any of: (?x)^(
    aiida/common/progress_reporter.py|
    aiida/manage/manager.py|
    aiida/engine/.*py|
    aiida/manage/database/delete/nodes.py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/importexport/archive/.*py|
    aiida/tools/importexport/dbexport/__init__.py|
    aiida/tools/importexport/dbimport/backends/.*.py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    setup.py|
    setup.json|
    utils/dependency_management.py
)$
  pyproject: any of: (?x)^(
    setup.json|
    setup.py|
    utils/dependency_management.py|
    pyproject.toml
)$
  dependencies: any of: (?x)^(
    setup.json|
    setup.py|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
  version-number: any of: (?x)^(
    setup.json|
    utils/validate_consistency.py|
    aiida/__init__.py
)$
