Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

imports:
  name: imports
  entry: python utils/autogenerate_all_imports.py
  language: python
  require_serial: true
  pass_filenames: false

generate-conda-environment:
  name: Update conda environment file
  entry: python ./utils/dependency_management.py generate-environment-yml
  language: system
  pass_filenames: false

validate-conda-environment:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Downgrade sqlite database lock warning to info level (#7121)
  src/aiida/engine/utils.py
Due: imports

Small refactor
  .github/workflows/docker-build.yml
Due: none

Bump bake-action
  .github/workflows/docker-build-test.yml
  .github/workflows/docker-build.yml
Due: none

refactor(docs): move 'tune performance' section to a dedicated HowTo(#7084)
  docs/source/howto/index.rst
  docs/source/howto/installation.rst
  docs/source/howto/tune_performance.rst
  docs/source/topics/performance.rst
  docs/source/tutorials/basic.md
Due: none

feat(docs): add SSH safe interval (safe_interval) tuning instructions(#7084)
  docs/source/howto/tune_performance.rst
Due: none

chore(ci): fix typo in release workflow comment
  .github/workflows/release.yml
Due: none

Use Path context
  .github/workflows/docker-build-test.yml
  .github/workflows/docker-build.yml
Due: none

Add Git-based repository backend using pygit2
  .github/workflows/ci-code.yml
  .github/workflows/docs-build.yml
  .github/workflows/release.yml
  .github/workflows/test-install.yml
  pyproject.toml
  src/aiida/repository/backend/__init__.py
  src/aiida/repository/backend/git.py
  src/aiida/storage/sqlite_git/backend.py
  src/aiida/storage/sqlite_git/migrations/env.py
  src/aiida/storage/sqlite_git/migrations/versions/main_0001_initial.py
  src/aiida/storage/sqlite_git/migrations/versions/main_0002_recompute_hash_calc_job_node.py
  tests/repository/backend/test_git.py
  tests/storage/sqlite_git/__init__.py
  tests/storage/sqlite_git/migrations/__init__.py
  tests/storage/sqlite_git/migrations/conftest.py
  tests/storage/sqlite_git/migrations/test_all_schema.py
  tests/storage/sqlite_git/migrations/test_all_schema/test_head_vs_orm_main_0002_.yml
  tests/storage/sqlite_git/migrations/test_all_schema/test_main_main_0001_.yml
  tests/storage/sqlite_git/migrations/test_all_schema/test_main_main_0002_.yml
  tests/storage/sqlite_git/test_backend.py
  uv.lock
Due: imports, generate-conda-environment, validate-conda-environment

Add benchmark results
  benchmark_realistic_workload.py
  benchmark_results
Due: none

Try pinning mamba version
  .docker/aiida-core-base/Dockerfile
Due: none

mamba=2.3
  .docker/aiida-core-base/Dockerfile
Due: none

add section in docs
  docs/source/topics/workflows/usage.rst
Due: none

add `get_process_logger` to avoid exposing `Process.current`
  docs/source/topics/workflows/usage.rst
  src/aiida/common/log.py
  src/aiida/engine/__init__.py
  tests/common/test_logging.py
  tests/engine/test_process_function.py
Due: imports

fix ci
  src/aiida/common/log.py
Due: imports

slurm: improve robustness of state handling and submission parsing
  src/aiida/schedulers/plugins/slurm.py
Due: imports

wip
  docs/source/topics/data_types.rst
  src/aiida/orm/nodes/data/array/xy.py
Due: imports

wip
  docs/source/topics/data_types.rst
  src/aiida/orm/nodes/data/array/xy.py
  tests/orm/nodes/data/test_xy.py
Due: imports

Refactor bake metadata extraction from shell to JavaScript (#6582) (#7161)
  .github/workflows/docker-build-test.yml
  .github/workflows/docker-build.yml
  .github/workflows/extract-docker-image-names.sh
Due: none

finalize
  docs/source/topics/data_types.rst
Due: none

Pin mamba version to fix arm64 docker build
  .docker/aiida-core-base/Dockerfile
Due: none

Fix script to autogenerate module re-imports and __all__ attributes (#7091)
  .pre-commit-config.yaml
  src/aiida/brokers/__init__.py
  src/aiida/brokers/rabbitmq/__init__.py
  src/aiida/cmdline/params/options/__init__.py
  src/aiida/cmdline/utils/__init__.py
  src/aiida/common/__init__.py
  src/aiida/manage/__init__.py
  src/aiida/manage/configuration/__init__.py
  src/aiida/orm/nodes/data/remote/__init__.py
  src/aiida/orm/nodes/data/remote/stash/__init__.py
  src/aiida/plugins/__init__.py
  src/aiida/schedulers/plugins/__init__.py
  utils/autogenerate_all_imports.py
Due: imports, verdi-autodocs

WIP: Support Python 3.14
  .github/workflows/ci-code.yml
  src/aiida/engine/runners.py
  src/aiida/engine/transports.py
  src/aiida/engine/utils.py
  tests/conftest.py
  tests/engine/test_manager.py
  tests/engine/test_process_function.py
  tests/engine/test_transport.py
  tests/engine/test_utils.py
  tests/test.py
Due: imports

ProcessFuture: !RUF006! and get_event_loop fix
  src/aiida/engine/processes/futures.py
Due: imports

Install plumpy and nest_asyncio from forks, bump kiwipy, bump asyncssh
  environment.yml
  pyproject.toml
  uv.lock
Due: generate-conda-environment, validate-conda-environment

Close runner in engine/test_runners.py
  tests/engine/test_runners.py
Due: none

Bump pytest-rerunfailures
  pyproject.toml
  uv.lock
Due: generate-conda-environment, validate-conda-environment

CI: Add 3.14 to test-install
  .github/workflows/test-install.yml
Due: none

Pin mamba version to fix arm64 docker build (#7168)
  .docker/aiida-core-base/Dockerfile
Due: none

✨ `BaseRestartWorkChain`: add `pause_on_max_iterations` input
  docs/source/howto/workchains_restart.rst
  src/aiida/engine/processes/workchains/restart.py
Due: imports

✨ `process_handler`: add `max_iterations` input
  docs/source/howto/workchains_restart.rst
  src/aiida/engine/processes/workchains/restart.py
  src/aiida/engine/processes/workchains/utils.py
  tests/engine/processes/workchains/test_restart.py
Due: imports

Fix shell escaping for OpenSSH transport to handle special chars in paths
  src/aiida/transports/plugins/async_backend.py
  src/aiida/transports/plugins/ssh_async.py
  tests/transports/test_all_plugins.py
  tests/transports/test_asyncssh_plugin.py
Due: imports

.
  src/aiida/transports/plugins/async_backend.py
  src/aiida/transports/plugins/ssh_async.py
Due: imports

Add skip_missing flag to stash options
  src/aiida/common/exceptions.py
  src/aiida/engine/daemon/execmanager.py
  src/aiida/engine/processes/calcjobs/calcjob.py
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/orm/nodes/data/remote/stash/compress.py
  src/aiida/orm/nodes/data/remote/stash/folder.py
  tests/calculations/test_stash.py
Due: imports

Add examples to entity models
  src/aiida/orm/computers.py
  src/aiida/orm/entities.py
  src/aiida/orm/groups.py
  src/aiida/orm/logs.py
  src/aiida/orm/nodes/node.py
  src/aiida/orm/nodes/process/process.py
  src/aiida/orm/users.py
Due: imports

Switch from token-based to OIDC trusted publishing
  .github/workflows/release.yml
Due: none

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
