Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Cleanup warnings in tests (#6911)
  pyproject.toml
  src/aiida/cmdline/commands/cmd_node.py
  src/aiida/manage/manager.py
  tests/cmdline/commands/test_node.py
  tests/cmdline/commands/test_process.py
  tests/test_dataclasses.py
Due: imports, dm-generate-all, dependencies, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for cb5348e04eeb1acdbdc89b2547e7731d84365a70 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

A full documentation for stashing (#6936)
  docs/source/topics/calculations/usage.rst
Due: none

Various cleanups in verdi.sh tests
  .github/workflows/ci-code.yml
  .github/workflows/verdi.sh
Due: none

Improve output of verdi devel commands
  src/aiida/cmdline/commands/cmd_devel.py
Due: imports, verdi-autodocs

writable check
  src/aiida/cmdline/commands/cmd_archive.py
  src/aiida/tools/archive/create.py
Due: imports, verdi-autodocs

temp_dir rename
  src/aiida/cmdline/commands/cmd_archive.py
Due: imports, verdi-autodocs

add simple tests
  src/aiida/tools/archive/create.py
  tests/tools/archive/test_simple.py
Due: imports

Add typing to src/aiida/cmdline/params/options/multivalue.py
  .pre-commit-config.yaml
  src/aiida/cmdline/params/options/multivalue.py
Due: imports, verdi-autodocs

Add typing to src/aiida/cmdline/params/types/group.py
  .pre-commit-config.yaml
  src/aiida/cmdline/params/types/group.py
  src/aiida/cmdline/utils/decorators.py
Due: imports, verdi-autodocs

Typecheck src/aiida/cmdline/params/options/commands/setup.py
  .pre-commit-config.yaml
  src/aiida/cmdline/params/options/commands/setup.py
Due: imports, verdi-autodocs

Type check src/aiida/cmdline/params/options/interactive.py
  .pre-commit-config.yaml
  src/aiida/cmdline/params/options/interactive.py
Due: imports, verdi-autodocs

Typecheck src/aiida/cmdline/params/options/main.py
  .pre-commit-config.yaml
  src/aiida/cmdline/params/options/main.py
Due: imports, verdi-autodocs

Type AiiDAConfigDir.get and get_config
  src/aiida/cmdline/params/options/overridable.py
  src/aiida/manage/configuration/__init__.py
  src/aiida/manage/configuration/settings.py
Due: imports, verdi-autodocs

Live in the future
  src/aiida/cmdline/params/options/commands/setup.py
  src/aiida/cmdline/params/options/interactive.py
  src/aiida/cmdline/params/options/main.py
Due: imports, verdi-autodocs

Fix type error in src/aiida/cmdline/utils/multi_line_input.py
  src/aiida/cmdline/utils/multi_line_input.py
Due: imports

Add typing to src/aiida/cmdline/utils/shell.py
  src/aiida/cmdline/utils/shell.py
Due: imports

Remove unused type ignores!
  src/aiida/cmdline/params/types/identifier.py
Due: imports, verdi-autodocs

Fix rtd build?
  docs/source/nitpick-exceptions
Due: none

Don't allow sub_classes=None in cmdline/params/types/group.py
  src/aiida/cmdline/params/types/group.py
Due: imports, verdi-autodocs

Transport: unify the behavior of core.ssh_async::glob with core.ssh::glob (#6950)
  src/aiida/transports/plugins/async_backend.py
  src/aiida/transports/plugins/ssh_async.py
  tests/transports/test_all_plugins.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for da3e425674821d8c207e435b8ecd038f56f71542 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Fix: use platform-specific separator for AIIDA_PATH in config directory detection (#6935)
  src/aiida/manage/configuration/settings.py
Due: imports

Add typing to aiida.cmdline.params module (#6952)
  .pre-commit-config.yaml
  docs/source/nitpick-exceptions
  src/aiida/cmdline/params/options/commands/setup.py
  src/aiida/cmdline/params/options/interactive.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/cmdline/params/options/multivalue.py
  src/aiida/cmdline/params/options/overridable.py
  src/aiida/cmdline/params/types/group.py
  src/aiida/cmdline/params/types/identifier.py
  src/aiida/cmdline/utils/decorators.py
  src/aiida/cmdline/utils/multi_line_input.py
  src/aiida/cmdline/utils/shell.py
  src/aiida/manage/configuration/__init__.py
  src/aiida/manage/configuration/settings.py
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for cfb7fd153da8df219c661e6ec071446bcfb70fb3 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

the_three_commits_in_april
  pyproject.toml
  src/aiida/calculations/stash.py
  src/aiida/calculations/unstash.py
  src/aiida/common/__init__.py
  src/aiida/common/datastructures.py
  src/aiida/engine/daemon/execmanager.py
  src/aiida/engine/processes/calcjobs/calcjob.py
  src/aiida/engine/processes/calcjobs/tasks.py
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.custom.RemoteStashCustomData.yml
Due: imports, dm-generate-all, dependencies

Use typing_extensions.assert_never for python<3.11
  environment.yml
  pyproject.toml
  src/aiida/common/__init__.py
  src/aiida/engine/daemon/execmanager.py
  src/aiida/tools/_dumping/utils.py
  uv.lock
Due: imports, dm-generate-all, dependencies

Cleanup verdi tests (#6951)
  .github/workflows/ci-code.yml
  .github/workflows/verdi.sh
  src/aiida/cmdline/commands/cmd_devel.py
Due: imports, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for f99571350e8b302e62a2e447a25d987285a05b13 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Add check if migration needed
  src/aiida/manage/configuration/config.py
  src/aiida/storage/sqlite_zip/backend.py
  src/aiida/storage/sqlite_zip/migrator.py
Due: imports

Remove IO-capturing context manager
  src/aiida/manage/configuration/config.py
Due: imports

Bump psycopg
  environment.yml
  pyproject.toml
  uv.lock
Due: dm-generate-all, dependencies

Add resolution=lowest-direct CI job
  .github/actions/install-aiida-core/action.yml
  .github/workflows/ci-code.yml
Due: none

Fix default
  .github/actions/install-aiida-core/action.yml
Due: none

Fix extras in test-install
  .github/workflows/test-install.yml
Due: none

Bump ASE
  pyproject.toml
  uv.lock
Due: dm-generate-all, dependencies

Bump sqlalchemy
  environment.yml
  pyproject.toml
  uv.lock
Due: dm-generate-all, dependencies

Revert "Try setup environment?"
  .github/workflows/ci-code.yml
Due: none

Bump pydantic
  environment.yml
  pyproject.toml
  uv.lock
Due: dm-generate-all, dependencies

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
