Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

imports:
  name: imports
  entry: python utils/autogenerate_all_imports.py
  language: python
  require_serial: true
  pass_filenames: false

generate-conda-environment:
  name: Update conda environment file
  entry: python ./utils/dependency_management.py generate-environment-yml
  language: system
  pass_filenames: false

validate-conda-environment:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Ensure consistent serialization regardless of API
  src/aiida/orm/nodes/data/array/array.py
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/nodes/data/dict.py
  src/aiida/orm/nodes/data/enum.py
  src/aiida/orm/nodes/data/jsonable.py
  src/aiida/orm/nodes/data/singlefile.py
Due: imports

🔧 Bump development version identifier to 2.7.3.post0
  src/aiida/__init__.py
Due: imports

ArithmeticAdd dump folder
  tests/cmdline/commands/test_process.py
Due: none

Hack: Run `test_data_exporters` in tmp_dir
  tests/orm/nodes/data/test_data.py
Due: none

add pytest-sugar
  pyproject.toml
  uv.lock
Due: generate-conda-environment, validate-conda-environment

remove orphaned utils code for json-contains tests
  tests/storage/sqlite_zip/test_utils.py
Due: none

first claude vibe-coded infrastructure
  .github/workflows/test-tutorials.yml
  docs/source/conf.py
  docs/source/tutorials/index.rst
  docs/source/tutorials/intro.md
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3.md
  docs/source/tutorials/module4.md
  docs/source/tutorials/module5.md
  docs/source/tutorials/module6.md
Due: none

fix daemon stop
  .github/workflows/test-tutorials.yml
Due: none

fix ci
  .github/workflows/test-tutorials.yml
  docs/source/tutorials/intro.md
  docs/source/tutorials/module1.md
  docs/source/tutorials/module2.md
  docs/source/tutorials/module3.md
  docs/source/tutorials/module4.md
  docs/source/tutorials/module5.md
  docs/source/tutorials/module6.md
Due: none

fix ci
  .github/workflows/test-tutorials.yml
Due: none

🔧 Remove unused code of json-contains tests (#7204)
  tests/storage/sqlite_zip/test_utils.py
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 7536ec298b4a5fc432700d146636ff286d70fd06 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Fix incorrect path containment checks in folders
  src/aiida/common/folders.py
  tests/common/test_folders.py
  tests/storage/sqlite_zip/test_utils.py
Due: imports

Fix roundtrip (de)serialization
  src/aiida/common/pydantic.py
  src/aiida/orm/authinfos.py
  src/aiida/orm/comments.py
  src/aiida/orm/entities.py
  src/aiida/orm/groups.py
  src/aiida/orm/logs.py
  src/aiida/orm/nodes/data/array/array.py
  src/aiida/orm/nodes/data/array/bands.py
  src/aiida/orm/nodes/data/array/kpoints.py
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/nodes/data/dict.py
  src/aiida/orm/nodes/data/enum.py
  src/aiida/orm/nodes/data/jsonable.py
  src/aiida/orm/nodes/data/remote/base.py
  src/aiida/orm/nodes/data/singlefile.py
  src/aiida/orm/nodes/node.py
  src/aiida/orm/nodes/process/calculation/calcjob.py
  tests/orm/data/code/test_abstract.py
  tests/orm/data/code/test_installed.py
  tests/orm/data/code/test_portable.py
  tests/orm/data/test_enum.py
  tests/orm/models/test_models.py
  tests/orm/nodes/data/test_jsonable.py
Due: imports

drop contextmanager
  tests/orm/nodes/data/test_data.py
Due: none

🧪 Avoid unwanted files in repo during tests (#6977)
  tests/cmdline/commands/test_process.py
  tests/orm/nodes/data/test_data.py
Due: none

`Added load time checks for AiiDA modules in `verdi` CLI`
  src/aiida/cmdline/commands/cmd_devel.py
Due: imports, verdi-autodocs

Move performance tuning to high-throughput how-to
  docs/source/howto/high_throughput.rst
  docs/source/howto/index.rst
  docs/source/howto/installation.rst
Due: none

Fix RTD warnings for high-throughput how-to
  docs/source/howto/high_throughput.rst
  docs/source/howto/installation.rst
Due: none

refactor(docs): move 'tune performance' section to a dedicated HowTo(#7084)
  docs/source/howto/index.rst
  docs/source/howto/installation.rst
  docs/source/howto/tune_performance.rst
  docs/source/topics/performance.rst
  docs/source/tutorials/basic.md
Due: none

chore(ci): fix typo in release workflow comment
  .github/workflows/release.yml
Due: none

feat(docs): add SSH safe interval (safe_interval) tuning instructions(#7084)
  docs/source/howto/tune_performance.rst
Due: none

add docs build outputs to gitignore
  .gitignore
Due: none

Docs: move performance tuning to dedicated how-to
  docs/source/howto/tune_performance.rst
Due: none

Store `filename` attribute in `SinglefileData` constructor
  src/aiida/orm/nodes/data/singlefile.py
Due: imports

review applied
  docs/source/howto/ssh.rst
Due: none

review
  docs/source/howto/ssh.rst
Due: none

better formatting
  docs/source/howto/ssh.rst
Due: none

Handle incoming `node_type` in `Node` constructor
  src/aiida/orm/nodes/node.py
Due: imports

add tests
  src/aiida/orm/nodes/data/structure.py
  tests/orm/nodes/data/test_structure.py
Due: imports

add test case for arccos safeguard
  tests/orm/nodes/data/test_structure.py
Due: none

review applied
  src/aiida/cmdline/commands/cmd_profile.py
Due: imports, verdi-autodocs

remove `--tmp-dir` CLI flag
  src/aiida/cmdline/commands/cmd_archive.py
  src/aiida/tools/archive/create.py
  tests/tools/archive/test_simple.py
Due: imports, verdi-autodocs

Show plugin docstrinShow plugin docstrings in CShow plugin descriptions in interactive prompt help
  src/aiida/cmdline/params/options/interactive.py
  src/aiida/cmdline/params/types/plugin.py
  src/aiida/schedulers/plugins/pbspro.py
  src/aiida/schedulers/plugins/torque.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/plugins/ssh_async.py
  tests/cmdline/params/types/test_plugin.py
Due: imports, verdi-autodocs

Asyncify request_transport context manager to avoid two nested loops
  src/aiida/engine/processes/calcjobs/manager.py
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/engine/transports.py
  src/aiida/transports/transport.py
  tests/engine/daemon/test_execmanager.py
  tests/engine/test_transport.py
  tests/transports/test_asyncssh_plugin.py
Due: imports

Show plugin descriptions in interactive prompt help (#7210)
  src/aiida/cmdline/params/options/interactive.py
  src/aiida/cmdline/params/types/plugin.py
  src/aiida/schedulers/plugins/pbspro.py
  src/aiida/schedulers/plugins/torque.py
  src/aiida/transports/plugins/ssh.py
  src/aiida/transports/plugins/ssh_async.py
  tests/cmdline/params/types/test_plugin.py
Due: imports, verdi-autodocs

Refactor Transport context manager enter/exit logic into _track_enter/_track_exit helpers
  src/aiida/transports/transport.py
Due: imports

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
