Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Lazy import inspect, ~7ms
  aiida/cmdline/commands/cmd_plugin.py
  aiida/common/lang.py
  aiida/plugins/factories.py
  aiida/plugins/utils.py
  aiida/transports/cli.py
Due: imports, pylint, verdi-autodocs

One more temporary fix for tests
  aiida/cmdline/params/types/plugin.py
  aiida/cmdline/utils/echo.py
Due: imports, pylint, verdi-autodocs

Lazy PluginParamType
  aiida/cmdline/params/types/plugin.py
Due: imports, pylint, verdi-autodocs

lazy IdentifierParamType
  aiida/cmdline/params/types/identifier.py
Due: imports, pylint, verdi-autodocs

Update tests
  aiida/cmdline/params/types/identifier.py
  tests/cmdline/params/types/test_identifier.py
Due: imports, pylint, verdi-autodocs

ORM: Register `numpy.ndarray` with the `to_aiida_type` to `ArrayData`
  aiida/orm/nodes/data/array/array.py
  docs/source/nitpick-exceptions
  tests/orm/nodes/data/test_to_aiida_type.py
Due: imports, pylint

ORM: Register `numpy.ndarray` with the `to_aiida_type` to `ArrayData` (#6149)
  aiida/orm/nodes/data/array/array.py
  docs/source/nitpick-exceptions
  tests/orm/nodes/data/test_to_aiida_type.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for d8dd776a68f438702aa07b58d754b35ab0745937 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

CLI: Add `cached` and `cached_from` projections to `verdi process list`
  aiida/cmdline/commands/cmd_process.py
  aiida/cmdline/utils/common.py
  aiida/tools/query/calculation.py
  aiida/tools/query/mapping.py
  tests/cmdline/commands/test_process.py
Due: imports, pylint, verdi-autodocs

ORM: Add `NodeCaching.CACHED_FROM_KEY` for `_aiida_cached_from` constant
  .github/system_tests/test_daemon.py
  aiida/orm/nodes/caching.py
  aiida/orm/nodes/node.py
  tests/engine/test_process.py
Due: imports, pylint

Repository: Add the `as_path` context manager (#6151)
  aiida/orm/nodes/data/folder.py
  aiida/orm/nodes/data/singlefile.py
  aiida/orm/nodes/repository.py
  docs/source/nitpick-exceptions
  docs/source/topics/data_types.rst
  tests/orm/nodes/data/test_folder.py
  tests/orm/nodes/test_repository.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for b0546e8ed12b0982617293ab4a03ba3ec2d8ea44 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`Parser.parse_from_node`: Validate outputs against process spec
  aiida/parsers/parser.py
  tests/parsers/test_parser.py
Due: imports, pylint

Update aiida/cmdline/utils/echo.py
  aiida/cmdline/utils/echo.py
Due: imports, pylint

Minor refactoring and typing fix in configuration.py
  aiida/manage/configuration/settings.py
Due: imports, pylint

review cleanup
  aiida/plugins/entry_point.py
  tests/cmdline/params/types/test_identifier.py
Due: imports, pylint

Update docstring
  aiida/cmdline/params/types/identifier.py
Due: imports, pylint, verdi-autodocs

Optimization and typing in params/types/plugin.py
  .pre-commit-config.yaml
  aiida/cmdline/groups/dynamic.py
  aiida/cmdline/params/types/plugin.py
  docs/source/reference/command_line.rst
Due: imports, pylint, verdi-autodocs

Enable typing for params/types/plugin.py|identifier.py and aiida/manage/configuration/settings.py
  .pre-commit-config.yaml
  aiida/cmdline/params/types/identifier.py
  aiida/cmdline/params/types/plugin.py
  aiida/manage/configuration/settings.py
Due: imports, pylint, verdi-autodocs

Move _get_valid_groups
  aiida/cmdline/params/types/plugin.py
Due: imports, pylint, verdi-autodocs

ugh, stupid tui docs
  docs/source/reference/command_line.rst
Due: none

fix test_environment_variable_not_set
  aiida/manage/configuration/settings.py
  tests/manage/configuration/test_config.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 3b445c4f1c793ecc9b5c2efce863620748610d61 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

review + enable typing for cmdline/groups/dynamic.py
  .pre-commit-config.yaml
  aiida/cmdline/groups/dynamic.py
  aiida/cmdline/groups/verdi.py
  aiida/cmdline/params/types/identifier.py
  aiida/manage/configuration/settings.py
Due: imports, pylint, verdi-autodocs

Improve typing
  aiida/cmdline/groups/dynamic.py
Due: imports, pylint

Fix docs
  docs/source/nitpick-exceptions
Due: none

CLI: Lazily validate entry points in parameter types (#6153)
  .pre-commit-config.yaml
  aiida/cmdline/__init__.py
  aiida/cmdline/commands/cmd_code.py
  aiida/cmdline/commands/cmd_computer.py
  aiida/cmdline/commands/cmd_node.py
  aiida/cmdline/commands/cmd_plugin.py
  aiida/cmdline/commands/cmd_rabbitmq.py
  aiida/cmdline/groups/dynamic.py
  aiida/cmdline/groups/verdi.py
  aiida/cmdline/params/options/commands/setup.py
  aiida/cmdline/params/types/identifier.py
  aiida/cmdline/params/types/path.py
  aiida/cmdline/params/types/plugin.py
  aiida/cmdline/utils/__init__.py
  aiida/cmdline/utils/common.py
  aiida/cmdline/utils/echo.py
  aiida/common/lang.py
  aiida/common/timezone.py
  aiida/manage/configuration/__init__.py
  aiida/manage/configuration/config.py
  aiida/manage/configuration/settings.py
  aiida/manage/tests/pytest_fixtures.py
  aiida/orm/groups.py
  aiida/orm/nodes/data/code/abstract.py
  aiida/orm/nodes/data/code/containerized.py
  aiida/orm/nodes/data/code/installed.py
  aiida/orm/nodes/data/code/portable.py
  aiida/orm/nodes/node.py
  aiida/plugins/entry_point.py
  aiida/plugins/factories.py
  aiida/plugins/utils.py
  aiida/transports/cli.py
  docs/source/nitpick-exceptions
  tests/cmdline/params/types/test_identifier.py
  tests/manage/configuration/test_config.py
  tests/plugins/test_entry_point.py
  tests/test_conftest.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for d3807d42229ffbad4e74752b6842a60f66bbafed [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Config: Switch from `jsonschema` to `pydantic`
  aiida/common/log.py
  aiida/manage/configuration/config.py
  aiida/manage/configuration/options.py
  aiida/manage/manager.py
  docs/source/nitpick-exceptions
  environment.yml
  pyproject.toml
  tests/manage/configuration/test_configuration.py
  tests/manage/configuration/test_options.py
Due: imports, pylint, dm-generate-all, dependencies

Dependencies: Update to `pydantic~=2.3`
  aiida/cmdline/commands/cmd_config.py
  aiida/manage/__init__.py
  aiida/manage/configuration/__init__.py
  aiida/manage/configuration/config.py
  aiida/manage/configuration/options.py
  docs/source/nitpick-exceptions
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.9.txt
  tests/manage/configuration/test_options.py
Due: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

`Parser.parse_from_node`: Validate outputs against process spec (#6159)
  aiida/parsers/parser.py
  tests/parsers/test_parser.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for d16792f3d80fb1c497840ff1b0f6f1e114a262da [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

CLI: Keep list unique in `verdi config set --append`
  aiida/cmdline/commands/cmd_config.py
  tests/cmdline/commands/test_config.py
Due: imports, pylint, verdi-autodocs

Address PR review comments
  aiida/manage/configuration/config.py
  aiida/manage/configuration/options.py
  tests/manage/configuration/test_configuration.py
Due: imports, pylint

Config: Switch from `jsonschema` to `pydantic` (#6117)
  aiida/cmdline/commands/cmd_config.py
  aiida/common/log.py
  aiida/manage/__init__.py
  aiida/manage/configuration/__init__.py
  aiida/manage/configuration/config.py
  aiida/manage/configuration/options.py
  aiida/manage/manager.py
  docs/source/nitpick-exceptions
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.9.txt
  tests/manage/configuration/test_configuration.py
  tests/manage/configuration/test_options.py
Due: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 4203f162df803946b2396ca820e6b6139a3ecc61 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Engine: Add the `wait` argument to `submit`
  aiida/engine/launch.py
  docs/source/topics/processes/usage.rst
  tests/engine/test_launch.py
Due: imports, pylint

Engine: Add the `await_processes` utility function
  aiida/engine/__init__.py
  aiida/engine/launch.py
  docs/source/topics/processes/usage.rst
  tests/engine/test_launch.py
Due: imports, pylint

Path conditions:
  imports: any of: aiida/.*py and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
