Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Update error message in case of stale PID
  aiida/engine/daemon/client.py
Due: imports, pylint

`DaemonClient`: Clean stale PID file in `stop_daemon` (#6007)
  aiida/engine/daemon/client.py
Due: imports, pylint

Expose `get_daemon_client` so it can be imported from `aiida.engine` (#6008)
  aiida/engine/__init__.py
  aiida/engine/daemon/__init__.py
  aiida/engine/daemon/client.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 1a0c1ee932f24a6b191dc2e4d770973b8b32d66e [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 2bfc3c6a8ce4100a53fe9842835d5b7a03b1bd29 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

fix customjsonprovider
  aiida/restapi/common/utils.py
Due: imports, pylint

Dependencies: Update requirement `flask~=2.2`
  aiida/restapi/common/utils.py
  aiida/restapi/run_api.py
  docs/source/nitpick-exceptions
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: imports, pylint, dm-generate-all, dependencies

Dependencies: Update requirement `flask~=2.2` (#6011)
  aiida/restapi/common/utils.py
  aiida/restapi/run_api.py
  docs/source/nitpick-exceptions
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: imports, pylint, dm-generate-all, dependencies

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for a2a05a69fb2fa6aae9a96d49d543e72008d2888f [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`PsqlDos`: Add migration to remove hashes for all `CalcJobNodes`
  aiida/storage/psql_dos/migrations/versions/main_0002_recompute_hash_calc_job_node.py
  tests/storage/psql_dos/migrations/main_branch/test_main_0002_recompute_hash_calc_job_node.py
  tests/storage/psql_dos/migrations/test_all_schema/test_main_main_0002_.yml
Due: imports, pylint

`verdi node rehash`: Add `aiida.node` as group for `--entry-point`
  aiida/cmdline/commands/cmd_node.py
Due: imports, pylint, verdi-autodocs

`PsqlDos`: Add `entry_point_string` argument to `drop_hashes`
  aiida/storage/psql_dos/migrations/utils/integrity.py
Due: imports, pylint

`PsqlDosMigrator`: Commit changes when migrating existing schema
  aiida/storage/psql_dos/migrator.py
  tests/storage/psql_dos/migrations/test_all_schema.py
Due: imports, pylint

`PsqlDos`: Make hash reset migrations more explicit
  aiida/storage/psql_dos/migrations/utils/integrity.py
  aiida/storage/psql_dos/migrations/versions/django_0039_reset_hash.py
  aiida/storage/psql_dos/migrations/versions/e797afa09270_reset_hash.py
Due: imports, pylint

`Process`: Have `inputs` property always return `AttributesFrozenDict`
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/engine/processes/process.py
  aiida/engine/processes/workchains/restart.py
  docs/source/nitpick-exceptions
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 7ad91683643a5d9134c2a9532901e00b903996b4 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`Process`: Have `inputs` property always return `AttributesFrozenDict` (#6010)
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/engine/processes/process.py
  aiida/engine/processes/workchains/restart.py
  docs/source/nitpick-exceptions
Due: imports, pylint

`DynamicEntryPointCommandGroup`: Pass ctx to `command` callable
  aiida/cmdline/commands/cmd_code.py
  aiida/cmdline/groups/dynamic.py
Due: imports, pylint, verdi-autodocs

`DynamicEntryPointCommandGroup`: Add support for shared options
  aiida/cmdline/groups/dynamic.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 60756fe30dfaff443ab434d92196249eea47f166 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`CalcJob`: Remove default of `withmpi` input and make it optional
  aiida/engine/processes/calcjobs/calcjob.py
Due: imports, pylint

`CalcJob`: Remove default of `withmpi` input and make it optional (#6020)
  aiida/engine/processes/calcjobs/calcjob.py
Due: imports, pylint

Improve copy of deprecation warnings
  aiida/orm/entities.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 6a88cb3158c0b84b601a289f50f51cfe6ae42687 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`SinglefileData`: Add the `from_string` classmethod
  aiida/orm/nodes/data/singlefile.py
  tests/orm/nodes/data/test_singlefile.py
Due: imports, pylint

Increase stacklevel for `NodeLinksManager._get_node_by_link_label`
  aiida/orm/utils/managers.py
Due: imports, pylint

Improve more deprecation warnings
  aiida/orm/entities.py
  aiida/orm/nodes/data/code/legacy.py
Due: imports, pylint

Improve clarity of various deprecation warnings (#5774)
  aiida/orm/entities.py
  aiida/orm/nodes/data/code/legacy.py
  aiida/orm/utils/managers.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for c72a252ed563c7f0a7604d15632331c094973b5f [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Update aiida/orm/nodes/data/singlefile.py
  aiida/orm/nodes/data/singlefile.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 220a65c76d9fcf3144ef77925caff8f5c653b2c9 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`SinglefileData`: Add the `from_string` classmethod (#6022)
  aiida/orm/nodes/data/singlefile.py
  tests/orm/nodes/data/test_singlefile.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for c25de615e4680b809f5d65d42031afdf95bd6923 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Path conditions:
  imports: any of: aiida/.*py and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
