Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: aiida/.*py and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$

Engine: Add the `await_processes` utility function
  aiida/engine/__init__.py
  aiida/engine/launch.py
  docs/source/topics/processes/usage.rst
  tests/engine/test_launch.py
Due: imports, pylint

Engine: Add the `wait` argument to `submit`
  aiida/engine/launch.py
  docs/source/topics/processes/usage.rst
  tests/engine/test_launch.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 45767f0509513fecd287e334fb26299db2adf14b [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

CLI: Keep list unique in `verdi config set --append` (#6162)
  aiida/cmdline/commands/cmd_config.py
  tests/cmdline/commands/test_config.py
Due: imports, pylint, verdi-autodocs

CLI: Fix `verdi config set` when setting list option
  aiida/cmdline/commands/cmd_config.py
  aiida/manage/configuration/config.py
  tests/cmdline/commands/test_config.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 3844f86c6bb7da1dfc40542210b450a70b8950c5 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

CLI: Fix `verdi config set` when setting list option (#6166)
  aiida/cmdline/commands/cmd_config.py
  aiida/manage/configuration/config.py
  tests/cmdline/commands/test_config.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 314917801181d163f0760ca5788c543103d96bf5 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Docker: Pass environment variable to aiida-prepare script
  .docker/aiida-core-base/s6-assets/s6-rc.d/aiida-prepare/up
  .docker/tests/test_aiida.py
Due: pylint

f-s: computer test localhost
  .docker/tests/test_aiida.py
Due: pylint

Docker: Pass environment variable to aiida-prepare script (#6169)
  .docker/aiida-core-base/s6-assets/s6-rc.d/aiida-prepare/up
  .docker/tests/test_aiida.py
Due: pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 6123f526cfcec26bea96f60cafeb2c6984da104c [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Docker: Using run-parts to run scripts before and after daemon
  .docker/aiida-core-base/Dockerfile
  .docker/aiida-core-base/s6-assets/s6-rc.d/aiida-daemon-start/dependencies.d/run-before-daemon-start
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-after-daemon-start/dependencies.d/aiida-daemon-start
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-after-daemon-start/dependencies.d/base
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-after-daemon-start/timeout-up
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-after-daemon-start/type
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-after-daemon-start/up
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-before-daemon-start/dependencies.d/aiida-prepare
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-before-daemon-start/dependencies.d/base
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-before-daemon-start/timeout-up
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-before-daemon-start/type
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-before-daemon-start/up
  .docker/aiida-core-base/s6-assets/s6-rc.d/user/contents.d/run-after-daemon-start
  .docker/aiida-core-base/s6-assets/s6-rc.d/user/contents.d/run-before-daemon-start
Due: none

[clean] Capitalise verdi process report -e help message
  aiida/cmdline/commands/cmd_process.py
Due: imports, pylint, verdi-autodocs

Dependencies: Update to `sqlalchemy~=2.0`
  .github/workflows/ci-code.yml
  .github/workflows/test-install.yml
  aiida/cmdline/commands/cmd_data/cmd_list.py
  aiida/orm/nodes/data/array/bands.py
  aiida/storage/psql_dos/alembic_cli.py
  aiida/storage/psql_dos/backend.py
  aiida/storage/psql_dos/migrations/utils/legacy_workflows.py
  aiida/storage/psql_dos/migrations/utils/migrate_repository.py
  aiida/storage/psql_dos/migrations/utils/provenance_redesign.py
  aiida/storage/psql_dos/migrations/versions/12536798d4d3_trajectory_symbols_to_attribute.py
  aiida/storage/psql_dos/migrations/versions/ce56d84bcc35_delete_trajectory_symbols_array.py
  aiida/storage/psql_dos/migrations/versions/django_0026_trajectory_symbols_to_attribute.py
  aiida/storage/psql_dos/migrations/versions/django_0027_delete_trajectory_symbols_array.py
  aiida/storage/psql_dos/migrations/versions/django_0037_attributes_extras_settings_json.py
  aiida/storage/psql_dos/orm/querybuilder/main.py
  aiida/storage/psql_dos/utils.py
  aiida/storage/sqlite_temp/backend.py
  aiida/storage/sqlite_zip/migrations/legacy_to_main.py
  aiida/storage/sqlite_zip/migrations/v1_db_schema.py
  aiida/storage/sqlite_zip/migrations/versions/main_0000a_replace_nulls.py
  aiida/storage/sqlite_zip/utils.py
  docs/source/conf.py
  docs/source/internals/storage/psql_dos.rst
  docs/source/internals/storage/sqlite_zip.rst
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.9.txt
  tests/orm/test_querybuilder/test_as_sql_literal_quote.txt
  tests/storage/psql_dos/migrations/django_branch/test_0037_attributes_extras_settings_json.py
  tests/storage/psql_dos/test_utils.py
  tests/tools/archive/test_schema.py
Due: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

Dependencies: Update to `sqlalchemy~=2.0` (#6146)
  .github/workflows/ci-code.yml
  .github/workflows/test-install.yml
  aiida/cmdline/commands/cmd_data/cmd_list.py
  aiida/orm/nodes/data/array/bands.py
  aiida/storage/psql_dos/alembic_cli.py
  aiida/storage/psql_dos/backend.py
  aiida/storage/psql_dos/migrations/utils/legacy_workflows.py
  aiida/storage/psql_dos/migrations/utils/migrate_repository.py
  aiida/storage/psql_dos/migrations/utils/provenance_redesign.py
  aiida/storage/psql_dos/migrations/versions/12536798d4d3_trajectory_symbols_to_attribute.py
  aiida/storage/psql_dos/migrations/versions/ce56d84bcc35_delete_trajectory_symbols_array.py
  aiida/storage/psql_dos/migrations/versions/django_0026_trajectory_symbols_to_attribute.py
  aiida/storage/psql_dos/migrations/versions/django_0027_delete_trajectory_symbols_array.py
  aiida/storage/psql_dos/migrations/versions/django_0037_attributes_extras_settings_json.py
  aiida/storage/psql_dos/orm/querybuilder/main.py
  aiida/storage/psql_dos/utils.py
  aiida/storage/sqlite_temp/backend.py
  aiida/storage/sqlite_zip/migrations/legacy_to_main.py
  aiida/storage/sqlite_zip/migrations/v1_db_schema.py
  aiida/storage/sqlite_zip/migrations/versions/main_0000a_replace_nulls.py
  aiida/storage/sqlite_zip/utils.py
  docs/source/conf.py
  docs/source/internals/storage/psql_dos.rst
  docs/source/internals/storage/sqlite_zip.rst
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.9.txt
  tests/orm/test_querybuilder/test_as_sql_literal_quote.txt
  tests/storage/psql_dos/migrations/django_branch/test_0037_attributes_extras_settings_json.py
  tests/storage/psql_dos/test_utils.py
  tests/tools/archive/test_schema.py
Due: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for a216f5052c56bbbeffac296fcd59af177f703829 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Docker: Add folders that automatically run scripts before/after daemon start (#6170)
  .docker/aiida-core-base/Dockerfile
  .docker/aiida-core-base/s6-assets/s6-rc.d/aiida-daemon-start/dependencies.d/run-before-daemon-start
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-after-daemon-start/dependencies.d/aiida-daemon-start
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-after-daemon-start/dependencies.d/base
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-after-daemon-start/timeout-up
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-after-daemon-start/type
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-after-daemon-start/up
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-before-daemon-start/dependencies.d/aiida-prepare
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-before-daemon-start/dependencies.d/base
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-before-daemon-start/timeout-up
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-before-daemon-start/type
  .docker/aiida-core-base/s6-assets/s6-rc.d/run-before-daemon-start/up
  .docker/aiida-core-base/s6-assets/s6-rc.d/user/contents.d/run-after-daemon-start
  .docker/aiida-core-base/s6-assets/s6-rc.d/user/contents.d/run-before-daemon-start
Due: none

`Config`: Add the `create_profile` method
  aiida/manage/configuration/config.py
  tests/manage/configuration/test_config.py
Due: imports, pylint

CLI: Add the command `verdi profile setup`
  aiida/cmdline/commands/cmd_profile.py
  aiida/manage/configuration/__init__.py
  aiida/orm/implementation/storage_backend.py
  aiida/storage/psql_dos/backend.py
  aiida/storage/sqlite_temp/backend.py
  aiida/storage/sqlite_zip/backend.py
  docs/source/reference/command_line.rst
  tests/cmdline/commands/test_profile.py
  tests/manage/configuration/test_configuration.py
  tests/storage/sqlite/test_archive.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 5fe6f4fda1eaf5a1e05e87063aa4eafa47fa1c07 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`DynamicEntryPointCommandGroup`: Use `pydantic` to define config model
  aiida/cmdline/groups/dynamic.py
  aiida/manage/configuration/__init__.py
  aiida/manage/configuration/config.py
  aiida/orm/implementation/storage_backend.py
  aiida/repository/backend/sandbox.py
  aiida/storage/psql_dos/backend.py
  aiida/storage/sqlite_temp/backend.py
  aiida/storage/sqlite_zip/backend.py
  docs/source/nitpick-exceptions
  pyproject.toml
Due: imports, pylint, dm-generate-all, dependencies

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 1d8ea2a27381feeabfe38f5a3647d22ac1b825e4 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

ORM: Add the `User.is_default` property
  aiida/orm/users.py
  aiida/transports/cli.py
  tests/orm/test_users.py
Due: imports, pylint

CLI: Improve the formatting of `verdi user list`
  aiida/cmdline/commands/cmd_user.py
  aiida/cmdline/utils/echo.py
Due: imports, pylint, verdi-autodocs

Manager: Add the `set_default_user_email`
  aiida/cmdline/commands/cmd_setup.py
  aiida/cmdline/commands/cmd_user.py
  aiida/manage/configuration/__init__.py
  aiida/manage/configuration/config.py
  aiida/manage/manager.py
  aiida/orm/implementation/storage_backend.py
  tests/cmdline/commands/test_user.py
  tests/manage/configuration/test_config.py
Due: imports, pylint, verdi-autodocs

CLI: Reuse options in `verdi user configure` from setup
  aiida/cmdline/commands/cmd_user.py
  tests/cmdline/commands/test_user.py
Due: imports, pylint, verdi-autodocs

CLI: Set defaults for user details in profile setup
  aiida/cmdline/params/options/commands/setup.py
  tests/cmdline/commands/test_setup.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 8b8887e559e02eadac832a89f7012872040e1cbc [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

CLI: Update lastnode reporting level to info
  aiida/cmdline/commands/cmd_process.py
Due: imports, pylint, verdi-autodocs

CLI: update lastnode commands to `--most-recent-node`/`-M`
  aiida/cmdline/commands/cmd_process.py
Due: imports, pylint, verdi-autodocs

CLI: lastnode uses base QueryBuilder internally
  aiida/cmdline/commands/cmd_process.py
Due: imports, pylint, verdi-autodocs
