Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Typing: Add overload signatures for `open`
  aiida/orm/nodes/data/folder.py
  aiida/orm/nodes/data/singlefile.py
  aiida/orm/nodes/repository.py
  aiida/parsers/plugins/arithmetic/add.py
  aiida/parsers/plugins/diff_tutorial/parsers.py
  docs/source/nitpick-exceptions
Due: imports, pylint

Typing: Add overload signatures for `get_object_content`
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/orm/nodes/data/folder.py
  aiida/orm/nodes/repository.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 0986f6b59086e2e0947906654c1642cf264b462e [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 6294e3d235fd652471afb04f7b49f98bf579ae3f [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Docs: Update citation suggestions (#6184)
  README.md
  docs/source/index.rst
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 1dafdf2ddb38c801d2075d9af9bbde9e0d26c8ca [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Docker: Add `rsync` and `graphviz` to system requirements
  .docker/aiida-core-base/Dockerfile
Due: none

Dependencies: Add upper limit `jedi<0.19`
  environment.yml
  pyproject.toml
Due: dm-generate-all, dependencies

Docker: Disable the consumer timeout for RabbitMQ (#6189)
  .docker/aiida-core-with-services/s6-assets/init/rabbitmq-init.sh
  .docker/tests/conftest.py
  .docker/tests/test_aiida.py
Due: none

Release `v2.4.2`
  CHANGELOG.md
  aiida/__init__.py
Due: imports, pylint

ORM: Monkeypatch `sqlalchemy` to silence inconsequential warnings
  aiida/storage/psql_dos/orm/__init__.py
  docs/source/nitpick-exceptions
Due: imports, pylint

Use warning filter instead of monkeypatching
  aiida/storage/psql_dos/orm/__init__.py
  pyproject.toml
Due: imports, pylint, dm-generate-all, dependencies

Add the `aiida.common.log.capture_logging` utility
  aiida/common/log.py
  docs/source/nitpick-exceptions
  tests/common/test_logging.py
Due: imports, pylint

CLI: Add the `verdi process repair` command
  aiida/cmdline/commands/cmd_process.py
  aiida/cmdline/commands/cmd_rabbitmq.py
  aiida/cmdline/utils/decorators.py
  aiida/engine/processes/control.py
  docs/source/reference/command_line.rst
  tests/cmdline/commands/test_process.py
  tests/cmdline/commands/test_rabbitmq.py
Due: imports, pylint, verdi-autodocs

CLI: Add repair hint to `verdi process play/pause/kill`
  aiida/cmdline/commands/cmd_process.py
Due: imports, pylint, verdi-autodocs

Docs: Add changes of v2.4.2 to `CHANGELOG.md`
  CHANGELOG.md
Due: none

ORM: Implement the `Dict.get` method
  aiida/orm/nodes/data/dict.py
  tests/orm/nodes/data/test_dict.py
Due: imports, pylint

Address PR review comments
  aiida/engine/processes/functions.py
  tests/engine/test_process_function.py
Due: imports, pylint

Process functions: Fix bug with variable arguments
  aiida/engine/processes/functions.py
  tests/engine/test_process_function.py
Due: imports, pylint

👌 Allow remote copying/symlinking between computers with same `hostname`
  aiida/engine/daemon/execmanager.py
Due: imports, pylint

add link serialize
  aiida/orm/utils/serialize.py
  tests/orm/utils/test_serialize.py
Due: imports, pylint

ORM: Filter inconsequential warnings from `sqlalchemy` (#6192)
  aiida/storage/psql_dos/orm/__init__.py
  docs/source/nitpick-exceptions
  pyproject.toml
Due: imports, pylint, dm-generate-all, dependencies

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 5b27ff3f6acb100e204abf9d2bf33590c2512193 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for ffa054e9bb16a8bdc355e06c454e2c97dc143888 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

replace link by node_links_manager
  aiida/orm/utils/serialize.py
  tests/orm/utils/test_serialize.py
Due: imports, pylint

disable pylint for protected-access
  aiida/orm/utils/serialize.py
  tests/orm/utils/test_serialize.py
Due: imports, pylint

Add support for `NodeLinksManager` to YAML serializer (#6199)
  aiida/orm/utils/serialize.py
  tests/orm/utils/test_serialize.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 6905c134e737183a1f366d9f86d9f77dd4d74730 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Update aiida/engine/processes/functions.py
  aiida/engine/processes/functions.py
Due: imports, pylint

Process functions: Fix bug with variable arguments (#6201)
  aiida/engine/processes/functions.py
  tests/engine/test_process_function.py
Due: imports, pylint

ORM: Implement the `Dict.get` method (#6200)
  aiida/orm/nodes/data/dict.py
  tests/orm/nodes/data/test_dict.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 184fcd16e9a88fbf9d4e754870416f4a56de55b5 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

add timeout to future.resut and exception
  aiida/engine/processes/control.py
Due: imports, pylint

fix the process status in workchain
  aiida/engine/processes/workchains/workchain.py
  aiida/workflows/arithmetic/multiply_add.py
Due: imports, pylint

`PsqlDosBackend`: `database_name` incorrectly marked optional
  aiida/storage/psql_dos/backend.py
Due: imports, pylint

Pinning mamba version to 1.5.2
  .docker/aiida-core-base/Dockerfile
  .docker/docker-bake.hcl
Due: none

Docker: Pinning mamba version to 1.5.2 (#6216)
  .docker/aiida-core-base/Dockerfile
  .docker/docker-bake.hcl
Due: none

Path conditions:
  imports: any of: aiida/.*py and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
    .docker/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
