Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, mypy, pylint, dm-generate-all, dependencies, verdi-autodocs, version-number

Path conditions:
  imports: any of: aiida/.*py and \.py$
  mypy: any of: (?x)^(
    aiida/common/progress_reporter.py|
    aiida/engine/.*py|
    aiida/manage/manager.py|
    aiida/manage/database/delete/nodes.py|
    aiida/orm/querybuilder.py|
    aiida/orm/implementation/querybuilder.py|
    aiida/orm/implementation/sqlalchemy/querybuilder/.*py|
    aiida/orm/nodes/data/jsonable.py|
    aiida/orm/nodes/node.py|
    aiida/orm/nodes/process/.*py|
    aiida/plugins/entry_point.py|
    aiida/plugins/factories.py|
    aiida/repository/.*py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/importexport/archive/.*py|
    aiida/tools/importexport/dbexport/__init__.py|
    aiida/tools/importexport/dbimport/backends/.*.py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    setup.py|
    setup.json|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    setup.json|
    setup.py|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
  version-number: any of: (?x)^(
    setup.json|
    utils/validate_consistency.py|
    aiida/__init__.py
)$

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for af21edee0de15cc69dae6fe81ff4e0ba43c84ab2 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Apply suggestions from code review
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Update aiida/backends/djsite/db/migrations/__init__.py
  aiida/backends/djsite/db/migrations/__init__.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for b7e37ce50ba1d6a5de62ad95357befdedda0de65 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for b7e37ce50ba1d6a5de62ad95357befdedda0de65 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

`verdi process list`: fix logging bug in `check_worker_load`
  aiida/cmdline/utils/common.py
  tests/cmdline/utils/test_common.py
Due: imports, pylint

`verdi process list`: fix logging bug in `check_worker_load` (#5147)
  aiida/cmdline/utils/common.py
  tests/cmdline/utils/test_common.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 97c3229fd6d450783421e25ae58479d7865c5d12 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 97c3229fd6d450783421e25ae58479d7865c5d12 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Added tests for PR #5015
  tests/orm/data/test_trajectory.py
Due: pylint

pre-commit pylint compliance
  tests/orm/data/test_trajectory.py
Due: pylint

FIX: default setting of units in `TrajectoryData` plugin (#5015)
  aiida/orm/nodes/data/array/trajectory.py
  tests/orm/data/test_trajectory.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 2c5cc6fac2a1cea651d06089e44441a7e4e238fc [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 2c5cc6fac2a1cea651d06089e44441a7e4e238fc [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Preparing RepositoryBackend classes
  aiida/backends/general/migrations/utils.py
  aiida/repository/backend/abstract.py
  aiida/repository/backend/disk_object_store.py
  aiida/repository/backend/sandbox.py
  tests/repository/backend/test_abstract.py
Due: imports, mypy, pylint

Add tests + PR requests
  aiida/backends/general/migrations/utils.py
  aiida/repository/backend/abstract.py
  aiida/repository/backend/disk_object_store.py
  aiida/repository/backend/sandbox.py
  tests/repository/backend/test_abstract.py
  tests/repository/backend/test_disk_object_store.py
  tests/repository/backend/test_sandbox.py
Due: imports, mypy, pylint

Update aiida/repository/backend/disk_object_store.py
  aiida/repository/backend/disk_object_store.py
Due: imports, mypy, pylint

ADD: Repository methods for repo CLI and other features (#5156)
  aiida/backends/general/migrations/utils.py
  aiida/repository/backend/abstract.py
  aiida/repository/backend/disk_object_store.py
  aiida/repository/backend/sandbox.py
  tests/repository/backend/test_abstract.py
  tests/repository/backend/test_disk_object_store.py
  tests/repository/backend/test_sandbox.py
Due: imports, mypy, pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 2a5d77652b80360f7fe526f616a8e5e90591d80f [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 2a5d77652b80360f7fe526f616a8e5e90591d80f [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Apply user suggestions
  docs/source/topics/calculations/usage.rst
Due: none

📚 DOCS: Add example for `retrieve_temporary_list`
  docs/source/topics/calculations/usage.rst
Due: none

📚 DOCS: Add example for `retrieve_temporary_list` (#5157)
  docs/source/topics/calculations/usage.rst
Due: none

fix an error when cclib returns timedelta object
  aiida/orm/implementation/utils.py
Due: imports, pylint

Update lsf.py
  aiida/schedulers/plugins/lsf.py
Due: imports, pylint

Docker: Default to number of physical cores for localhost code.
  .docker/opt/configure-aiida.sh
Due: none

Protect against failure of determination of # logical cores.
  .docker/opt/configure-aiida.sh
Due: none

Revise Docker image build (#4997).
  .github/workflows/build_and_test_docker_on_pr.yml
  .github/workflows/ci-code.yml
  .github/workflows/push_image_to_dockerhub.yml
Due: none

CI: run certain workflows only on main repo, not on forks (#5091)
  .github/workflows/build_and_test_docker_on_pr.yml
  .github/workflows/post-release.yml
  .github/workflows/push_image_to_dockerhub.yml
  .github/workflows/release.yml
Due: none

Update .docker/opt/configure-aiida.sh
  .docker/opt/configure-aiida.sh
Due: none

(WIP) Adding capability of downloading json files from repository
  aiida/orm/nodes/data/array/array.py
Due: imports, pylint

Docker: Default to number of physical cores for localhost computer. (#5161)
  .docker/opt/configure-aiida.sh
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 5480267fcdb10563e7ab9c97be874981f1dfdfc5 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 5480267fcdb10563e7ab9c97be874981f1dfdfc5 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

`Data`: allow `source` to be passed as a keyword argument
  aiida/orm/nodes/data/cif.py
  aiida/orm/nodes/data/data.py
  aiida/orm/nodes/data/upf.py
  aiida/plugins/__init__.py
  aiida/plugins/entry_point.py
  docs/source/howto/data.rst
  docs/source/nitpick-exceptions
  tests/orm/data/test_data.py
Due: imports, mypy, pylint

`Data`: allow `source` to be passed as a keyword argument (#5163)
  aiida/orm/nodes/data/cif.py
  aiida/orm/nodes/data/data.py
  aiida/orm/nodes/data/upf.py
  aiida/plugins/__init__.py
  aiida/plugins/entry_point.py
  docs/source/howto/data.rst
  docs/source/nitpick-exceptions
  tests/orm/data/test_data.py
Due: imports, mypy, pylint

`Dict`: fix the `__eq__` implementation to call super
  aiida/orm/nodes/data/dict.py
  tests/orm/data/test_dict.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 83155d22a13810fd32b3e8169763df77d6f9a146 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 83155d22a13810fd32b3e8169763df77d6f9a146 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none
