Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

Improve _validate_pid fallback to check /proc cmdline on Linux
  src/aiida/brokers/zmq/client.py
Due: imports

Revert "Make builder namespaces lazy to hide empty noise from representation (#7250)"
  src/aiida/engine/processes/builder.py
  tests/engine/processes/test_builder.py
Due: imports

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Run ZMQ broker as a circus watcher instead of standalone subprocess
  src/aiida/brokers/broker.py
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/client.py
  src/aiida/cmdline/commands/cmd_daemon.py
  src/aiida/cmdline/commands/cmd_status.py
  src/aiida/engine/daemon/client.py
  tests/brokers/test_zmq.py
  tests/cmdline/commands/test_daemon.py
  tests/conftest.py
Due: imports, verdi-autodocs

Remove HAS_PSUTIL guard from ZmqBrokerManagementClient
  src/aiida/brokers/zmq/client.py
Due: imports

Inherit from kiwipy.Communicator
  src/aiida/brokers/zmq/communicator.py
Due: imports

Slim down ZmqBrokerService for circus-managed lifecycle
  src/aiida/brokers/zmq/service.py
Due: imports

Merge ZmqBrokerManagementClient into ZmqBroker
  src/aiida/brokers/zmq/__init__.py
  src/aiida/brokers/zmq/broker.py
  src/aiida/brokers/zmq/client.py
  src/aiida/cmdline/commands/cmd_daemon.py
  src/aiida/cmdline/commands/cmd_status.py
  tests/brokers/test_zmq.py
  tests/conftest.py
Due: imports, verdi-autodocs

Rename service query methods to clarify they refer to ZmqBrokerService
  src/aiida/brokers/zmq/broker.py
  src/aiida/cmdline/commands/cmd_daemon.py
  src/aiida/cmdline/commands/cmd_status.py
  tests/brokers/test_zmq.py
  tests/conftest.py
Due: imports, verdi-autodocs

Add protocol design note documenting AMQP-over-ZMQ architecture
  src/aiida/brokers/zmq/protocol.py
Due: imports

👌 `ProcessBuilder`: prune empty namespaces in `_repr_pretty` (#7285)
  src/aiida/engine/processes/builder.py
  tests/engine/processes/test_builder.py
Due: imports

✨ `ProcessBuilder`: add `__repr__` (#7285)
  src/aiida/engine/processes/builder.py
Due: imports

🐭 `TrajectoryData`: fix missing space in `pbc` deprecation warning
  src/aiida/orm/nodes/data/array/trajectory.py
Due: imports

wip
  src/aiida/common/workgraph.py
  src/aiida/engine/launch.py
Due: imports

Release v2.8.0rc2
  src/aiida/__init__.py
Due: imports

Minor updates performance_benchmark_base.py
  docs/source/howto/include/scripts/performance_benchmark_base.py
Due: none

🐭 `TrajectoryData`: fix missing space in `pbc` deprecation warning (#7287)
  src/aiida/orm/nodes/data/array/trajectory.py
Due: imports

update changelog and bump version identifier
  CHANGELOG.md
  src/aiida/__init__.py
Due: imports

👌 `ProcessBuilder`: use `__str__` instead of `__repr__`
  src/aiida/engine/processes/builder.py
Due: imports

final touches
  AI_POLICY.md
Due: none

add clearer acknowledgement to `attrs` for legal paragraph
  AI_POLICY.md
Due: none

apply review suggestions
  AI_POLICY.md
Due: none

update paragraph on high volume of low-effort PRs
  AI_POLICY.md
Due: none

apply review
  AI_POLICY.md
Due: none

add `AI_POLICY.md`
  AI_POLICY.md
Due: none

update link to pip ai policy to pr
  AI_POLICY.md
Due: none

Improve: show actual defaults, fix show='set', add comments
  src/aiida/engine/processes/builder.py
  tests/engine/processes/test_builder.py
Due: imports

integrate comments by @danielhollas and expand test section
  AGENTS.md
  CONTRIBUTING.md
Due: none

verify tests
  tests/engine/processes/test_builder.py
Due: none

Add typing to storage/*/migrator.py
  .pre-commit-config.yaml
  src/aiida/storage/psql_dos/migrator.py
  src/aiida/storage/psql_dos/utils.py
  src/aiida/storage/sqlite_dos/backend.py
  src/aiida/storage/sqlite_zip/migrator.py
Due: imports

before merge of agents
  docs/source/developer_guide/database_schema.md
  docs/source/developer_guide/dependency_management.md
  docs/source/developer_guide/issue_triage.md
  docs/source/developer_guide/releases.md
Due: none

drop additional resources until other PRs merged
  AI_POLICY.md
Due: none

📚 Add `AI_POLICY.md` (#7229)
  AI_POLICY.md
Due: none
