Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

imports:
  name: imports
  entry: python utils/autogenerate_all_imports.py
  language: python
  require_serial: true
  pass_filenames: false

generate-conda-environment:
  name: Update conda environment file
  entry: python ./utils/dependency_management.py generate-environment-yml
  language: system
  pass_filenames: false

validate-conda-environment:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

📚 Update documentation
  docs/source/howto/workchains_restart.rst
Due: none

Remove ctx variable in favor of passing status to `self.pause`
  src/aiida/engine/processes/workchains/restart.py
Due: imports

💥 `BaseRestartWorkChain`: add `on_unhandled_failure` input
  src/aiida/engine/processes/workchains/restart.py
  tests/engine/processes/workchains/test_restart.py
Due: imports

👌 Improve validation error message
  src/aiida/engine/processes/workchains/restart.py
Due: imports

Review 1
  docs/source/howto/workchains_restart.rst
  tests/engine/processes/workchains/test_restart.py
Due: none

Adding more explicit instructions in `verdi process report`
  src/aiida/engine/processes/workchains/restart.py
Due: imports

Reinstating adaption of verdi process list message
  src/aiida/engine/processes/workchains/restart.py
Due: imports

💥 `BaseRestartWorkChain`: add `on_unhandled_failure` input
  docs/source/howto/workchains_restart.rst
  src/aiida/engine/processes/workchains/restart.py
  tests/engine/processes/workchains/test_restart.py
Due: imports

Additional logging during `dump` operations (#7046)
  src/aiida/tools/_dumping/detect.py
  src/aiida/tools/_dumping/engine.py
  src/aiida/tools/_dumping/executors/collection.py
  src/aiida/tools/_dumping/mapping.py
  src/aiida/tools/_dumping/utils.py
Due: imports

Fix wrongly formatted `verdi code show` output (#7073)
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/common/pydantic.py
  tests/cmdline/commands/test_code.py
  tests/cmdline/commands/test_code/test_code_show_containerized.txt
  tests/cmdline/commands/test_code/test_code_show_installed.txt
  tests/cmdline/commands/test_code/test_code_show_portable.txt
Due: imports, verdi-autodocs

Adding ./ in front of a portable code binary (#7080)
  src/aiida/orm/nodes/data/code/portable.py
  tests/orm/data/code/test_portable.py
Due: imports

Fix: `verdi code list` for codes without computer (#7081)
  src/aiida/cmdline/commands/cmd_code.py
  tests/cmdline/commands/test_code.py
Due: imports, verdi-autodocs

CI: Fix install-with-conda job (#7103)
  .github/workflows/test-install.yml
Due: none

async_ssh: Use async semaphore instead of manual locking (#7018)
  src/aiida/transports/plugins/ssh_async.py
  tests/transports/test_asyncssh_plugin.py
Due: imports

Fix QB `IN` clause to avoid parameter limits (#6998)
  .github/workflows/benchmark-config.json
  src/aiida/cmdline/commands/cmd_archive.py
  src/aiida/common/utils.py
  src/aiida/storage/psql_dos/orm/querybuilder/main.py
  src/aiida/storage/sqlite_zip/orm.py
  src/aiida/tools/archive/create.py
  src/aiida/tools/archive/imports.py
  src/aiida/tools/graph/age_rules.py
  src/aiida/tools/graph/graph_traversers.py
  tests/benchmark/test_archive.py
Due: imports, verdi-autodocs

Fix race condition in `JobsList` (#7061)
  src/aiida/engine/processes/calcjobs/manager.py
  tests/engine/test_manager.py
Due: imports

Fix stuck progress bar on "Add nodes" of archive import (#7118)
  src/aiida/tools/archive/imports.py
Due: imports

Fix `UnboundLocalError` in `ZipfileBackendRepository` (#7129)
  src/aiida/storage/sqlite_zip/backend.py
Due: imports

Fix for python 3.9
  src/aiida/schedulers/plugins/pbsbaseclasses.py
  src/aiida/schedulers/plugins/pbspro.py
  src/aiida/schedulers/plugins/torque.py
Due: imports

Strict typing for aiida.schedulers module
  pyproject.toml
  src/aiida/schedulers/datastructures.py
  src/aiida/schedulers/plugins/pbsbaseclasses.py
  src/aiida/schedulers/plugins/pbspro.py
  src/aiida/schedulers/plugins/torque.py
  src/aiida/schedulers/scheduler.py
Due: imports, generate-conda-environment, validate-conda-environment

Use proper RST `code` directives in docstring
  src/aiida/storage/psql_dos/orm/querybuilder/main.py
Due: imports

Fix RST code snippets in QB `smarter_in` docstring (#7146)
  src/aiida/storage/psql_dos/orm/querybuilder/main.py
Due: imports

CI fixes
  docs/source/nitpick-exceptions
  src/aiida/common/utils.py
  src/aiida/storage/psql_dos/orm/querybuilder/main.py
  src/aiida/tools/graph/graph_traversers.py
Due: imports

Release v2.7.2
  CHANGELOG.md
  src/aiida/__init__.py
Due: imports

Strict typing for aiida.schedulers module (#7136)
  pyproject.toml
  src/aiida/schedulers/datastructures.py
  src/aiida/schedulers/plugins/pbsbaseclasses.py
  src/aiida/schedulers/plugins/pbspro.py
  src/aiida/schedulers/plugins/torque.py
  src/aiida/schedulers/scheduler.py
Due: imports, generate-conda-environment, validate-conda-environment

Docs: fix reference to `base` in `put_object_from_file` (#7108)
  docs/source/topics/data_types.rst
Due: none

Fix PyPI index url (#6923)
  .github/workflows/release.yml
Due: none

Bump version to 2.7.2.post0 and update CHANGELOG
  CHANGELOG.md
  src/aiida/__init__.py
Due: imports

Add semaphore control to AsyncSshTransport::exec_command_wait_async to prevent SSH connection overwhelm.
  src/aiida/transports/plugins/ssh_async.py
  tests/transports/test_asyncssh_plugin.py
Due: imports

Fixes a critical race condition in TransportQueue.
  src/aiida/engine/transports.py
  src/aiida/schedulers/scheduler.py
  src/aiida/transports/plugins/ssh_async.py
  tests/engine/test_transport.py
Due: imports

add notification to upgrade
  CHANGELOG.md
Due: none

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
