Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, dm-generate-all, pyproject, dependencies, verdi-autodocs, version-number

mypy:
  name: mypy
  entry: mypy
  language: python
  require_serial: true
  pass_filenames: true

pylint:
  name: pylint
  entry: pylint
  language: system

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

pyproject:
  name: Validate pyproject.toml
  entry: python ./utils/dependency_management.py validate-pyproject-toml
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

version-number:
  name: Check version numbers
  entry: python ./utils/validate_consistency.py version
  language: system
  pass_filenames: false

MAINTAIN: Remove superfluous _validate from Data node (#5089)
  aiida/orm/nodes/data/data.py
  aiida/orm/nodes/node.py
Due: pylint

CLI: fix bug in the `CliFormatter` log utility
  aiida/cmdline/utils/log.py
  tests/cmdline/utils/test_log.py
Due: pylint

CLI: fix flaky `verdi daemon start` command tests
  aiida/cmdline/commands/cmd_daemon.py
  tests/cmdline/commands/conftest.py
  tests/cmdline/commands/test_daemon.py
  tests/conftest.py
Due: pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 73c785fd4fa9da40780b5a4e810f68550db4289c [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 73c785fd4fa9da40780b5a4e810f68550db4289c [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 7d8c5278316bcb27a0b78ae50a6605ee0414fc2a [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 7d8c5278316bcb27a0b78ae50a6605ee0414fc2a [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Docs: add topics section on repository usage
  aiida/orm/nodes/repository.py
  docs/source/conf.py
  docs/source/topics/index.rst
  docs/source/topics/repository.rst
  tests/orm/node/test_repository.py
Due: pylint

Docs: add topics section on repository usage (#5113)
  aiida/orm/nodes/repository.py
  docs/source/conf.py
  docs/source/topics/index.rst
  docs/source/topics/repository.rst
  tests/orm/node/test_repository.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 75e7024ecbbb24b2d4b04d744989057d0b925930 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 75e7024ecbbb24b2d4b04d744989057d0b925930 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

🔧 MAINTAIN: Pin setuptools<58.0.2
  pyproject.toml
Due: pyproject

Update ci-code.yml
  .github/workflows/ci-code.yml
Due: none

Update test-install.yml
  .github/workflows/test-install.yml
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 706e48ba0a7ae050dddaac915db57aa76f7b984a [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 706e48ba0a7ae050dddaac915db57aa76f7b984a [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

CLI: rework the logging verbosity implementation
  aiida/cmdline/commands/cmd_profile.py
  aiida/cmdline/commands/cmd_verdi.py
  aiida/cmdline/params/options/main.py
  aiida/cmdline/params/types/profile.py
  aiida/cmdline/utils/decorators.py
  aiida/common/log.py
  docs/source/topics/cli.rst
  tests/cmdline/commands/conftest.py
  tests/cmdline/commands/test_run.py
  tests/cmdline/params/options/test_verbosity.py
  tests/conftest.py
  tests/engine/test_calc_job.py
Due: pylint, verdi-autodocs

CLI: rework the logging verbosity implementation (#5119)
  aiida/cmdline/commands/cmd_profile.py
  aiida/cmdline/commands/cmd_verdi.py
  aiida/cmdline/params/options/main.py
  aiida/cmdline/params/types/profile.py
  aiida/cmdline/utils/decorators.py
  aiida/common/log.py
  docs/source/topics/cli.rst
  tests/cmdline/commands/conftest.py
  tests/cmdline/commands/test_run.py
  tests/cmdline/params/options/test_verbosity.py
  tests/conftest.py
  tests/engine/test_calc_job.py
Due: pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 42c5ab101c77a7e278bddb87d0055b907db42dc3 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 42c5ab101c77a7e278bddb87d0055b907db42dc3 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

⬆️ UPGRADE: sqlalchemy v1.4 (v1 API)
  .github/workflows/ci-code.yml
  aiida/backends/sqlalchemy/manager.py
  aiida/backends/sqlalchemy/migrations/versions/59edaf8a8b79_adding_indexes_and_constraints_to_the_.py
  aiida/backends/utils.py
  aiida/orm/implementation/django/querybuilder.py
  aiida/orm/implementation/querybuilder.py
  aiida/orm/implementation/sqlalchemy/querybuilder/joiner.py
  aiida/orm/implementation/sqlalchemy/querybuilder/main.py
  aiida/orm/implementation/sqlalchemy/utils.py
  aiida/repository/backend/disk_object_store.py
  aiida/tools/importexport/archive/readers.py
  aiida/tools/importexport/dbimport/backends/common.py
  docs/source/nitpick-exceptions
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  setup.json
  tests/backends/aiida_sqlalchemy/test_migrations.py
  tests/backends/aiida_sqlalchemy/test_utils.py
  tests/orm/test_querybuilder.py
  tests/orm/test_querybuilder/test_as_sql.txt
  tests/orm/test_querybuilder/test_as_sql_inline.txt
  tests/orm/test_querybuilder/test_as_sql_literal_quote.txt
Due: mypy, pylint, dm-generate-all, pyproject, dependencies, version-number

Update aiida/orm/implementation/sqlalchemy/utils.py
  aiida/orm/implementation/sqlalchemy/utils.py
Due: pylint

⬆️ UPGRADE: sqlalchemy v1.4 (v1 API) (#5103)
  .github/workflows/ci-code.yml
  aiida/backends/sqlalchemy/manager.py
  aiida/backends/sqlalchemy/migrations/versions/59edaf8a8b79_adding_indexes_and_constraints_to_the_.py
  aiida/backends/utils.py
  aiida/orm/implementation/django/querybuilder.py
  aiida/orm/implementation/querybuilder.py
  aiida/orm/implementation/sqlalchemy/querybuilder/joiner.py
  aiida/orm/implementation/sqlalchemy/querybuilder/main.py
  aiida/orm/implementation/sqlalchemy/utils.py
  aiida/repository/backend/disk_object_store.py
  aiida/tools/importexport/archive/readers.py
  aiida/tools/importexport/dbimport/backends/common.py
  docs/source/nitpick-exceptions
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  setup.json
  tests/backends/aiida_sqlalchemy/test_migrations.py
  tests/backends/aiida_sqlalchemy/test_utils.py
  tests/orm/test_querybuilder.py
  tests/orm/test_querybuilder/test_as_sql.txt
  tests/orm/test_querybuilder/test_as_sql_inline.txt
  tests/orm/test_querybuilder/test_as_sql_literal_quote.txt
Due: mypy, pylint, dm-generate-all, pyproject, dependencies, version-number

add pytest-benchmarks:ubuntu-18.04,django benchmark result for d33ae8a3ed02fa9d54a983cddc026b3928fab0d6 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for d33ae8a3ed02fa9d54a983cddc026b3928fab0d6 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

`DirectScheduler`: use `num_cores_per_mpiproc` if defined in resources
  aiida/schedulers/plugins/direct.py
  tests/schedulers/test_direct.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 37a9d23bcee8d24ddf1071b29fd5987ce8edd55e [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

🔧 MAINTAIN: Link to discussions in new issues
  .github/ISSUE_TEMPLATE/config.yml
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 37a9d23bcee8d24ddf1071b29fd5987ce8edd55e [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

🔧 MAINTAIN: Link to discussions in new issues (2)
  .github/ISSUE_TEMPLATE/config.yml
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for f0d9690974fa7a67629178f7c656f540c153e92c [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for f0d9690974fa7a67629178f7c656f540c153e92c [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 1519278ab57635e1ba26ec95b6747393bd939e51 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 1519278ab57635e1ba26ec95b6747393bd939e51 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

🧪 TESTS: Allow CREATEDB with test user
  aiida/manage/external/postgres.py
  aiida/manage/tests/main.py
Due: pylint

apply review suggestions
  aiida/manage/external/postgres.py
  aiida/manage/tests/main.py
Due: pylint

`Node`: add the `copy_tree` method
  aiida/orm/nodes/repository.py
  aiida/repository/repository.py
  docs/source/topics/repository.rst
  tests/orm/node/test_repository.py
  tests/repository/test_repository.py
Due: pylint

🧪 TESTS: Add `CREATEDB` priviliges for DB user (#5127)
  aiida/manage/external/postgres.py
  aiida/manage/tests/main.py
Due: pylint

Path conditions:
  mypy: any of: (?x)^(
    aiida/common/progress_reporter.py|
    aiida/manage/manager.py|
    aiida/engine/.*py|
    aiida/manage/database/delete/nodes.py|
    aiida/tools/graph/graph_traversers.py|
    aiida/tools/groups/paths.py|
    aiida/tools/importexport/archive/.*py|
    aiida/tools/importexport/dbexport/__init__.py|
    aiida/tools/importexport/dbimport/backends/.*.py|
)$ and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    setup.py|
    setup.json|
    utils/dependency_management.py
)$
  pyproject: any of: (?x)^(
    setup.json|
    setup.py|
    utils/dependency_management.py|
    pyproject.toml
)$
  dependencies: any of: (?x)^(
    setup.json|
    setup.py|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$
  version-number: any of: (?x)^(
    setup.json|
    utils/validate_consistency.py|
    aiida/__init__.py
)$
