Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: aiida/.*py and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$

Process control: Warn instead of except when daemon is not running
  aiida/cmdline/commands/cmd_process.py
  aiida/engine/processes/control.py
  tests/engine/processes/test_control.py
Due: imports, pylint, verdi-autodocs

Process control: Warn instead of except when daemon is not running (#6047)
  aiida/cmdline/commands/cmd_process.py
  aiida/engine/processes/control.py
  tests/engine/processes/test_control.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for ad4fbcccb14ac68653a941bf17be2e532ca162bc [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Process control: Change language when not waiting for response
  aiida/engine/processes/control.py
Due: imports, pylint

DevOps: Do not assume PG cluster started in fixture
  aiida/manage/tests/pytest_fixtures.py
Due: imports, pylint

DevOps: Do not assume `pgtest` cluster started in `postgres_cluster` fixture (#6050)
  aiida/manage/tests/pytest_fixtures.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 1de2ca576c7fbe5c6586f53160304b46c99a3a10 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Process control: Change language when not waiting for response (#6048)
  aiida/engine/processes/control.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 68cb4579d9e77b32dc6182dc704e6079b6f9c0c2 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Fix log messages being logged twice to the daemon log file
  aiida/common/log.py
  tests/manage/external/test_rmq.py
Due: imports, pylint

Fix log messages being logged twice to the daemon log file (#6051)
  aiida/common/log.py
  tests/manage/external/test_rmq.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for bfd63c790a6bd5fdcb60a2d1b840c7b285c53334 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Additional fixes
  aiida/storage/psql_dos/migrations/utils/integrity.py
  aiida/storage/psql_dos/migrations/versions/12536798d4d3_trajectory_symbols_to_attribute.py
  aiida/storage/psql_dos/migrations/versions/140c971ae0a3_migrate_builtin_calculations.py
  aiida/storage/psql_dos/migrations/versions/37f3d4882837_make_all_uuid_columns_unique.py
  aiida/storage/psql_dos/migrations/versions/3d6190594e19_remove_dbcomputer_enabled.py
  aiida/storage/psql_dos/migrations/versions/5d4d844852b6_invalidating_node_hash.py
  aiida/storage/psql_dos/migrations/versions/5ddd24e52864_dbnode_type_to_dbnode_node_type.py
  aiida/storage/psql_dos/migrations/versions/7b38a9e783e7_seal_unsealed_processes.py
  aiida/storage/psql_dos/migrations/versions/7ca08c391c49_calc_job_option_attribute_keys.py
  aiida/storage/psql_dos/migrations/versions/91b573400be5_prepare_schema_reset.py
  aiida/storage/psql_dos/migrations/versions/e734dd5e50d7_data_migration_legacy_process_attributes.py
Due: imports, pylint

CLI: Added `compress` option to `verdi storage maintain` (#5540)
  aiida/cmdline/commands/cmd_storage.py
  aiida/repository/backend/disk_object_store.py
  tests/cmdline/commands/test_storage.py
  tests/repository/backend/test_disk_object_store.py
  tests/storage/psql_dos/test_backend.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for add474cbb0d67e278803e9340e521ea1046ef35c [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`QueryBuilder`: Deprecate `debug` argument and use logger
  aiida/orm/querybuilder.py
Due: imports, pylint

🔧 Add types for DefaultFieldsAttributeDict subclasses
  aiida/common/datastructures.py
  aiida/schedulers/datastructures.py
Due: imports, pylint

Update datastructures.py
  aiida/schedulers/datastructures.py
Due: imports, pylint

fix mypy
  aiida/engine/processes/calcjobs/calcjob.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 39763444499eac6fbe76e337fe7e7ca21d675a07 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Update aiida/manage/configuration/schema/config-v9.schema.json
  aiida/manage/configuration/schema/config-v9.schema.json
Due: none

🔧 Add types for `DefaultFieldsAttributeDict` subclasses (#6059)
  aiida/common/datastructures.py
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/schedulers/datastructures.py
Due: imports, pylint

`QueryBuilder`: Deprecate `debug` argument and use logger (#6055)
  aiida/orm/querybuilder.py
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for afed5dc4630b25b72b2c5a27d542222c086067a7 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 603ff37a0b6ecd3f5309c8148054b2ac5d022833 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Config: Add option to change recursion limit in daemon workers (#6044)
  aiida/engine/daemon/worker.py
  aiida/manage/configuration/schema/config-v9.schema.json
Due: imports, pylint

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 226159fd96c01782f4e1b4b52db945e3aef76285 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

`verdi process status`: Add `call_link_label` to stack entries
  aiida/cmdline/commands/cmd_process.py
  aiida/cmdline/utils/ascii_vis.py
  tests/cmdline/commands/test_process.py
Due: imports, pylint, verdi-autodocs

Devops: Update Docker base image `aiida-prerequisites==0.7.0`
  Dockerfile
Due: none

Dependencies: Drop support for Python 3.8
  .github/workflows/ci-code.yml
  .github/workflows/ci-style.yml
  .github/workflows/docs-build.yml
  .github/workflows/rabbitmq.yml
  .github/workflows/release.yml
  .github/workflows/test-install.yml
  .molecule/default/setup_python.yml
  aiida/engine/transports.py
  aiida/manage/configuration/config.py
  aiida/storage/sqlite_zip/migrations/utils.py
  aiida/tools/archive/create.py
  aiida/tools/archive/implementations/sqlite_zip/writer.py
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.8.txt
  tests/engine/processes/calcjobs/test_monitors.py
  tests/storage/psql_dos/migrations/conftest.py
  utils/dependency_management.py
Due: imports, pylint, dm-generate-all, dependencies

Dependencies: Update requirement for `jupyter-client~=8.0`
  pyproject.toml
Due: dm-generate-all, dependencies

Devops: Update code to fix mypy error codes
  aiida/cmdline/commands/cmd_help.py
  aiida/cmdline/commands/cmd_verdi.py
  aiida/cmdline/groups/verdi.py
  aiida/cmdline/utils/decorators.py
  aiida/orm/utils/serialize.py
  aiida/tools/ipython/ipython_magics.py
  tests/orm/nodes/data/test_jsonable.py
Due: imports, pylint, verdi-autodocs

Devops: Update the dependency requirements files
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.9.txt
Due: none

`verdi process status`: Add `call_link_label` to stack entries (#6056)
  aiida/cmdline/commands/cmd_process.py
  aiida/cmdline/utils/ascii_vis.py
  tests/cmdline/commands/test_process.py
Due: imports, pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for bd9372a5f4ce6681b16ef806338512c0fb02e25e [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none
