Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, generate-conda-environment, validate-conda-environment, verdi-autodocs

imports:
  name: imports
  entry: python utils/autogenerate_all_imports.py
  language: python
  require_serial: true
  pass_filenames: false

generate-conda-environment:
  name: Update conda environment file
  entry: python ./utils/dependency_management.py generate-environment-yml
  language: system
  pass_filenames: false

validate-conda-environment:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Stop autogenerating imports for user API
  .pre-commit-config.yaml
  utils/autogenerate_all_imports.py
Due: none

Stop autogenerating imports for user API (#7579)
  .pre-commit-config.yaml
  utils/autogenerate_all_imports.py
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for c67410cd87ddcc4606173e52ed68b5f31879847f [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

docs(JsonableData): document reserved @-prefixed keys per MSONable convention (#7598)
  docs/source/topics/data_types.rst
Due: none

fix(JsonableData): validate reserved @-prefixed keys against MSONable convention (#7598)
  src/aiida/orm/nodes/data/jsonable.py
  tests/orm/nodes/data/test_jsonable.py
Due: imports

Bump IPython to remove stale type ignore
  src/aiida/tools/ipython/ipython_magics.py
  uv.lock
Due: imports

Bump IPython to remove stale type ignore (#7599)
  src/aiida/tools/ipython/ipython_magics.py
  uv.lock
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 0615839d64beb2fa35a911ebc535c02906d32cb9 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 6b3d98220128a7bd38e837f1310df80f5f37c6ab [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

🐛 Missing greenback portal on terminal transitions
  src/aiida/engine/processes/process.py
  tests/engine/test_process.py
Due: imports

🐛 Missing greenback portal on terminal transitions (#7593)
  src/aiida/engine/processes/process.py
  tests/engine/test_process.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for bae336194f97a11c8334c4fb8fc4003aaef881ae [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

‼️ Migrate plumpy log level to general engine log level (#7587)
  CHANGELOG.md
  src/aiida/common/log.py
  src/aiida/manage/configuration/config.py
  src/aiida/manage/configuration/migrations/migrations.py
  tests/common/test_logging.py
  tests/manage/configuration/migrations/test_migrations.py
  tests/manage/configuration/migrations/test_samples/input/10.json
  tests/manage/configuration/migrations/test_samples/reference/11.json
  tests/manage/configuration/test_options.py
Due: imports

🐛 Initialize missing restored context (#7587)
  src/aiida/engine/processes/mixins.py
  tests/engine/processes/test_mixins.py
Due: imports

🐛 Reject unsupported future states (#7587)
  src/aiida/engine/processes/persistence.py
Due: imports

🐛 Bind interrupt actions to process loop (#7587)
  src/aiida/engine/processes/generic/futures.py
  src/aiida/engine/processes/generic/process.py
  tests/engine/processes/generic/test_process.py
Due: imports

🐛 Handle no-reply process execution (#7587)
  src/aiida/engine/processes/communications.py
  tests/engine/processes/test_communications.py
Due: imports

🐛 Preserve RPC callback exceptions (#7587)
  src/aiida/engine/processes/generic/process.py
Due: imports

🐛 Protect WorkChain step method (#7587)
  src/aiida/engine/processes/workchains/workchain.py
  tests/engine/test_work_chain.py
Due: imports

📚 Point process docs at vendored engine classes (#7587)
  docs/source/conf.py
  docs/source/howto/plugin_codes.rst
  docs/source/howto/workchains_restart.rst
  docs/source/howto/write_workflows.rst
  docs/source/installation/troubleshooting.rst
  docs/source/internals/broker.rst
  docs/source/nitpick-exceptions
  docs/source/topics/calculations/usage.rst
  docs/source/topics/processes/concepts.rst
  docs/source/topics/processes/functions.rst
  docs/source/topics/processes/usage.rst
  docs/source/topics/workflows/usage.rst
Due: none

🐛 Forward continuation keyword arguments (#7587)
  src/aiida/engine/processes/states.py
  tests/engine/processes/test_states.py
Due: imports

🔧 Remove plumpy from import check in cmdline (#7587)
  src/aiida/cmdline/commands/cmd_devel.py
Due: imports, verdi-autodocs

🐛 Retain asynchronous engine tasks (#7587)
  src/aiida/engine/daemon/worker.py
  src/aiida/engine/processes/communications.py
  src/aiida/engine/processes/futures.py
  src/aiida/engine/processes/generic/process.py
  src/aiida/engine/runners.py
  src/aiida/engine/utils.py
Due: imports

📚 Update in-tree process references (#7587)
  src/aiida/engine/persistence.py
  src/aiida/engine/processes/calcjobs/tasks.py
  src/aiida/engine/processes/generic/process.py
  src/aiida/engine/processes/generic/spec.py
  src/aiida/engine/processes/greenback.py
  src/aiida/engine/processes/launcher.py
  src/aiida/engine/processes/persistence.py
  src/aiida/engine/processes/ports.py
  src/aiida/engine/processes/workchains/workchain.py
  src/aiida/orm/utils/serialize.py
Due: imports

🔒 Restrict pickle directory permissions (#7587)
  src/aiida/engine/processes/persistence.py
Due: imports

🐛 Await remote process status result (#7587)
  src/aiida/engine/processes/communications.py
Due: imports

🐛 Accumulate repeatedly exposed ports (#7587)
  src/aiida/engine/processes/generic/spec.py
  tests/engine/test_process_spec.py
Due: imports

🐛 Bind process futures to event loop (#7587)
  src/aiida/engine/processes/generic/process.py
Due: imports

🐛 Handle keyword-only broadcast filters (#7587)
  src/aiida/engine/processes/communications.py
Due: imports

🐛 Correct process class annotations (#7587)
  src/aiida/engine/processes/communications.py
Due: imports

🔧 Rename frozen attributes YAML tag (#7587)
  src/aiida/orm/utils/serialize.py
Due: imports

🐛 Persist cancelled savable futures (#7587)
  src/aiida/engine/processes/persistence.py
  tests/engine/test_persistence.py
Due: imports

🔧 Rename state map cache marker (#7587)
  src/aiida/engine/processes/state_machine.py
Due: imports

🐛 Build state maps per subclass (#7587)
  src/aiida/engine/processes/state_machine.py
  tests/engine/processes/test_state_machine.py
Due: imports

🐛 Preserve tracebacks without tblib (#7587)
  pyproject.toml
  src/aiida/engine/processes/states.py
  tests/engine/processes/test_states.py
Due: imports, generate-conda-environment, validate-conda-environment

🐛 Ignore completed waiting interrupts (#7587)
  src/aiida/engine/processes/states.py
  tests/engine/processes/test_states.py
Due: imports

🐛 Bind waiting futures to process loop (#7587)
  src/aiida/engine/processes/states.py
Due: imports

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  generate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  validate-conda-environment: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
