Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$

Update src/aiida/calculations/arithmetic/add.py
  src/aiida/calculations/arithmetic/add.py
Due: imports

test added
  tests/orm/nodes/test_calcjob.py
Due: none

Update tests/orm/nodes/test_calcjob.py
  tests/orm/nodes/test_calcjob.py
Due: none

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for 61be15d548eab6001a43127eb851aa766d514067 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Docs: Enhancements to Installation, Introduction, and Tutorial Sections (#6806)
  docs/source/installation/docker.rst
  docs/source/installation/guide_complete.rst
  docs/source/intro/index.rst
  docs/source/tutorials/basic.md
Due: none

apply review after talking with geigerj2
  src/aiida/orm/nodes/data/code/portable.py
Due: imports

apply review after talking with geigerj2
  src/aiida/cmdline/commands/cmd_data/cmd_export.py
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/data/code/portable.py
  tests/orm/data/code/test_portable.py
Due: imports, verdi-autodocs

Docs: Fix the logic in FizzBuzz WorkChain example (#6812)
  docs/source/topics/workflows/usage.rst
Due: none

fix regression tests
  src/aiida/orm/nodes/data/code/portable.py
Due: imports

Add path support for filepath_executable
  src/aiida/orm/nodes/data/code/portable.py
  tests/orm/data/code/test_portable.py
  tests/orm/test_fields/fields_aiida.data.core.code.portable.PortableCode.yml
Due: imports

fine-tuned baby!
  .github/workflows/ci-code.yml
  .github/workflows/verdi-smart.sh
  .pre-commit-config.yaml
  environment.yml
  pyproject.toml
  src/aiida/cmdline/commands/cmd_config.py
  src/aiida/cmdline/commands/cmd_smart/cmd_smart.py
  src/aiida/cmdline/commands/cmd_smart/llm_backend.py
  src/aiida/cmdline/commands/cmd_smart/utils/__init__.py
  src/aiida/cmdline/commands/cmd_smart/utils/generate_verdi_cli_json.py
  src/aiida/cmdline/commands/cmd_smart/utils/verdi_cli.json
  uv.lock
Due: imports, dm-generate-all, dependencies, verdi-autodocs

remove code that was purely for debugging
  src/aiida/cmdline/commands/cmd_data/cmd_export.py
Due: imports, verdi-autodocs

add conversion of path to str to support path for filepath_executable
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/data/code/portable.py
  tests/orm/data/code/test_portable.py
  tests/orm/test_fields/fields_aiida.data.core.code.portable.PortableCode.yml
Due: imports

use py3.9 compatible replacement for Path.walk
  tests/orm/data/code/test_portable.py
Due: none

docstring updated
  src/aiida/orm/nodes/process/process.py
Due: imports

added an extra check
  src/aiida/orm/nodes/process/process.py
  tests/orm/nodes/test_calcjob.py
Due: imports

Add test for DbSearchResults.__iter__
  tests/test_dbimporters.py
Due: none

Use disk-objectstore~=v1.3.0
  environment.yml
  pyproject.toml
  uv.lock
Due: dm-generate-all, dependencies

rm versioning in deps to use main branch of disk-objectstore
  environment.yml
  pyproject.toml
Due: dm-generate-all, dependencies

minimal changes to try out py313 after fixes in disk-objectstore
  .github/workflows/ci-code.yml
  .github/workflows/test-install.yml
  pyproject.toml
  src/aiida/tools/dbimporters/baseclasses.py
  uv.lock
Due: imports, dm-generate-all, dependencies

update spglib in lock file to 2.6
  uv.lock
Due: none

fix the condition
  src/aiida/orm/nodes/process/process.py
Due: imports

Update src/aiida/calculations/stash.py
  src/aiida/calculations/stash.py
Due: imports

Use TextIOWrapper instead of StringIO for opening file from repository in text mode
  src/aiida/orm/nodes/repository.py
  src/aiida/tools/data/cif.py
Due: imports

Support for Python 3.13 (#6600)
  .github/workflows/ci-code.yml
  .github/workflows/test-install.yml
  environment.yml
  pyproject.toml
  src/aiida/tools/dbimporters/baseclasses.py
  tests/test_dbimporters.py
  uv.lock
Due: imports, dm-generate-all, dependencies

Reference issue in commented out validators
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/data/code/portable.py
Due: imports

Comment out code model validation
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/data/code/portable.py
Due: imports

Regenerate regression test data w.r.t path types
  tests/orm/test_fields/fields_aiida.data.core.code.portable.PortableCode.yml
Due: none

Move field validation to initialization or storage (#6824)
  src/aiida/cmdline/commands/cmd_code.py
  src/aiida/common/pydantic.py
  src/aiida/orm/authinfos.py
  src/aiida/orm/comments.py
  src/aiida/orm/entities.py
  src/aiida/orm/groups.py
  src/aiida/orm/nodes/data/array/array.py
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/data/code/installed.py
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/nodes/data/enum.py
  src/aiida/orm/nodes/node.py
  src/aiida/orm/nodes/process/calculation/calcjob.py
  tests/orm/data/code/test_abstract.py
  tests/orm/data/code/test_installed.py
  tests/orm/data/code/test_portable.py
  tests/orm/models/test_models.py
  tests/orm/test_fields/fields_aiida.data.core.code.portable.PortableCode.yml
Due: imports, verdi-autodocs

Discard legacy `core.code` from `data_plugin` fixture
  tests/orm/nodes/data/test_data.py
Due: none

Use correct type hint for paths
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/data/code/portable.py
Due: imports

Regenerate regression file
  tests/orm/test_fields/fields_aiida.data.core.remote.stash.compress.RemoteStashCompressedData.yml
Due: none

Comment out field validation in abstract code
  src/aiida/orm/nodes/data/code/abstract.py
Due: imports

Remove TODOs related to issue #6821
  src/aiida/orm/nodes/data/code/abstract.py
  src/aiida/orm/nodes/data/code/installed.py
Due: imports

add pytest-benchmarks:ubuntu-22.04,psql_dos benchmark result for eb34b06062f1aad1ab78b12330706d12979b73d2 [ci skip]
  dev/bench/ubuntu-22.04/psql_dos/data.js
Due: none

Add common.typing for common types
  src/aiida/common/typing.py
  src/aiida/orm/nodes/data/code/portable.py
  src/aiida/orm/nodes/data/folder.py
  src/aiida/orm/nodes/data/singlefile.py
  src/aiida/orm/nodes/repository.py
  src/aiida/repository/repository.py
Due: imports

Change pydantic model type for paths to only str
  src/aiida/orm/nodes/data/code/portable.py
  tests/orm/test_fields/fields_aiida.data.core.code.portable.PortableCode.yml
Due: imports

`StashCalculation`: a new `CalcJob` plugin (#6772)
  pyproject.toml
  src/aiida/calculations/stash.py
  src/aiida/calculations/transfer.py
  src/aiida/engine/daemon/execmanager.py
  src/aiida/engine/processes/calcjobs/tasks.py
  tests/calculations/test_stash.py
Due: imports, dm-generate-all, dependencies
