Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: aiida/.*py and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$

🔃 REFACTOR: Scheduler/Transport
  aiida/calculations/importers/arithmetic/add.py
  aiida/client.py
  aiida/cmdline/commands/cmd_calcjob.py
  aiida/cmdline/commands/cmd_computer.py
  aiida/engine/daemon/execmanager.py
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/engine/processes/calcjobs/manager.py
  aiida/engine/processes/calcjobs/tasks.py
  aiida/engine/runners.py
  aiida/engine/transports.py
  aiida/orm/authinfos.py
  aiida/orm/computers.py
  aiida/orm/nodes/data/code/installed.py
  aiida/orm/nodes/data/code/legacy.py
  aiida/orm/nodes/data/remote/base.py
  aiida/orm/nodes/process/calculation/calcjob.py
  aiida/orm/utils/remote.py
  aiida/transports/cli.py
  docs/source/howto/cookbook.rst
  tests/engine/test_manager.py
  tests/engine/test_transport.py
Due: imports, pylint, verdi-autodocs

Automated update of requirements/ files.
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: none

Dependencies: Remove upper limit on `werkzeug`
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: dm-generate-all, dependencies

Dependencies: Remove upper limit on `werkzeug` (#5904)
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: dm-generate-all, dependencies

Docs: Notify that an entry point is required for creating a data plugin
  docs/source/topics/data_types.rst
Due: none

CI: install Transifex CLI (#5748)
  .github/workflows/post-release.yml
Due: none

update sphinkx-intl version (#5748)
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
Due: dm-generate-all, dependencies

attempt to add output formats
  aiida/cmdline/commands/cmd_code.py
Due: imports, pylint, verdi-autodocs

make it compatible with the latest version of PBS
  aiida/schedulers/plugins/pbspro.py
Due: imports, pylint

Docs: point to CalcJob input documentation
  docs/source/howto/run_codes.rst
Due: none

Update run_codes.rst
  docs/source/howto/run_codes.rst
Due: none

Docs: Add note on how to create a code that uses Conda environment
  docs/source/howto/run_codes.rst
Due: none

Docs: Add note on how to create a code that uses Conda environment (#5905)
  docs/source/howto/run_codes.rst
Due: none

Docs: Add link to all `metadata.options` inputs in `CalcJob` submission example (#5912)
  docs/source/howto/run_codes.rst
Due: none

Docs: Notify that an entry point is required for creating a data plugin (#5456)
  docs/source/topics/data_types.rst
Due: none

Update docs/source/topics/data_types.rst
  docs/source/topics/data_types.rst
Due: none

Docs: Note that an entry point is required for using a data plugin (#5907)
  docs/source/topics/data_types.rst
Due: none

add devcontainer
  .devcontainer/devcontainer.json
Due: none

add further setup
  .devcontainer/devcontainer.json
Due: none

wait for postCreateCommand
  .devcontainer/devcontainer.json
Due: none

proper use of postCreate/postStart
  .devcontainer/devcontainer.json
  .devcontainer/post_create.sh
Due: none

move to docker-compose
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yaml
  .docker/opt/configure-aiida.sh
Due: none

rename docker-compose
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: none

fixes to docker-compose
  .devcontainer/docker-compose.yml
Due: none

fixes to docker-compose
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/post_create.sh
Due: none

back to Dockerfile
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .devcontainer/post_create.sh
Due: none

fixes
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
Due: none

fix Dockerfile
  .devcontainer/Dockerfile
Due: none

fix docker-compose
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: none

working docker-compose setup
  .devcontainer/Dockerfile
  .devcontainer/configure-aiida.sh
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/post_create.sh
Due: none

add `locate`
  .devcontainer/Dockerfile
Due: none

Update nitpick-exceptions
  docs/source/nitpick-exceptions
Due: none

fix remaining tests
  aiida/orm/computers.py
  tests/manage/tests/test_pytest_fixtures.py
Due: imports, pylint

nightly seems to be hanging?
  .github/workflows/tests_nightly.sh
Due: none

glob -> iglob
  aiida/engine/daemon/execmanager.py
Due: imports, pylint

type check execmanager
  .pre-commit-config.yaml
  aiida/engine/daemon/execmanager.py
Due: imports, pylint
