Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, pylint, dm-generate-all, dependencies, verdi-autodocs

Path conditions:
  imports: any of: aiida/.*py and \.py$
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  dm-generate-all: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
    pyproject.toml|
    utils/dependency_management.py|
    environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
    aiida/cmdline/commands/.*|
    aiida/cmdline/params/.*|
    aiida/cmdline/params/types/.*|
    utils/validate_consistency.py|
)$

:sparkles: Add unary operations to NumericType
  .gitignore
  aiida/orm/nodes/data/numeric.py
  tests/orm/nodes/data/test_base.py
Due: imports, pylint

Fix incorrect import of exception from `kiwipy.communications`
  aiida/engine/processes/control.py
Due: imports, pylint

CLI: Improved customizability and scriptability of `verdi storage maintain` (#5936)
  aiida/cmdline/commands/cmd_storage.py
  aiida/repository/backend/disk_object_store.py
  tests/cmdline/commands/test_storage.py
Due: imports, pylint, verdi-autodocs

CLI: Change `--yes` to `--force` for `verdi storage maintain`
  aiida/cmdline/commands/cmd_storage.py
  tests/cmdline/commands/test_storage.py
Due: imports, pylint, verdi-autodocs

CLI: Change `--yes` to `--force` for `verdi storage maintain` (#5951)
  aiida/cmdline/commands/cmd_storage.py
  tests/cmdline/commands/test_storage.py
Due: imports, pylint, verdi-autodocs

Docs: Add alternative for conda env activation in submission script
  docs/source/howto/run_codes.rst
Due: none

`Scheduler`: Move setting of env variables into base class
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/schedulers/datastructures.py
  aiida/schedulers/plugins/direct.py
  aiida/schedulers/plugins/lsf.py
  aiida/schedulers/plugins/pbsbaseclasses.py
  aiida/schedulers/plugins/sge.py
  aiida/schedulers/plugins/slurm.py
  aiida/schedulers/scheduler.py
  tests/schedulers/test_all.py
Due: imports, pylint

[feature] verdi process report -e now attempts to collect remote dir
  aiida/cmdline/commands/cmd_process.py
Due: imports, pylint, verdi-autodocs

`Scheduler`: Move setting of env variables into base class (#5948)
  aiida/engine/processes/calcjobs/calcjob.py
  aiida/schedulers/datastructures.py
  aiida/schedulers/plugins/direct.py
  aiida/schedulers/plugins/lsf.py
  aiida/schedulers/plugins/pbsbaseclasses.py
  aiida/schedulers/plugins/sge.py
  aiida/schedulers/plugins/slurm.py
  aiida/schedulers/scheduler.py
  tests/schedulers/test_all.py
Due: imports, pylint

`verdi process list`: Simplify the daemon load implementation
  aiida/cmdline/commands/cmd_process.py
  aiida/cmdline/utils/common.py
  tests/cmdline/commands/test_process.py
  tests/cmdline/utils/test_common.py
Due: imports, pylint, verdi-autodocs

`DaemonClient`: Refactor to include parsing of client response
  aiida/cmdline/commands/cmd_daemon.py
  aiida/cmdline/commands/cmd_status.py
  aiida/cmdline/utils/daemon.py
  aiida/engine/daemon/client.py
  aiida/manage/configuration/schema/config-v9.schema.json
  aiida/manage/tests/pytest_fixtures.py
  tests/cmdline/commands/test_config.py
  tests/cmdline/commands/test_daemon.py
  tests/cmdline/utils/test_daemon.py
  tests/engine/daemon/test_client.py
Due: imports, pylint, verdi-autodocs

:sparkles: Add `__abs__` to `orm.NumericType`
  aiida/orm/nodes/data/numeric.py
  tests/orm/nodes/data/test_base.py
Due: imports, pylint

Docs: Add alternative for conda env activation in submission script (#5950)
  docs/source/howto/run_codes.rst
Due: none

:gear: `test_unary_abs` have been fixed
  tests/orm/nodes/data/test_base.py
Due: pylint

ORM: Add unary operations `+`, `-` and `abs` to `NumericType` (#5946)
  .gitignore
  aiida/orm/nodes/data/numeric.py
  tests/orm/nodes/data/test_base.py
Due: imports, pylint

CLI: Respect config log levels if `--verbosity` not explicitly passed
  aiida/cmdline/params/options/main.py
  aiida/cmdline/utils/echo.py
  aiida/common/log.py
  aiida/manage/configuration/schema/config-v9.schema.json
  tests/cmdline/commands/test_storage.py
  tests/cmdline/params/options/test_verbosity.py
  tests/conftest.py
Due: imports, pylint, verdi-autodocs

Address PR review comments
  docs/source/topics/cli.rst
  tests/cmdline/params/options/test_verbosity.py
Due: pylint

CLI: Respect config log levels if `--verbosity` not explicitly passed (#5925)
  aiida/cmdline/params/options/main.py
  aiida/cmdline/utils/echo.py
  aiida/common/log.py
  aiida/manage/configuration/schema/config-v9.schema.json
  docs/source/topics/cli.rst
  tests/cmdline/commands/test_storage.py
  tests/cmdline/params/options/test_verbosity.py
  tests/conftest.py
Due: imports, pylint, verdi-autodocs

Fix incorrect import of exception from `kiwipy.communications` (#5947)
  aiida/engine/processes/control.py
Due: imports, pylint

Fix bug in `aiida.engine.utils.instantiate_process`
  aiida/engine/utils.py
  tests/engine/test_utils.py
Due: imports, pylint

Fix bug in `aiida.engine.utils.instantiate_process` (#5952)
  aiida/engine/utils.py
  tests/engine/test_utils.py
Due: imports, pylint

Process functions: Allow nested output namespaces
  docs/source/topics/processes/functions.rst
  docs/source/topics/processes/include/snippets/functions/calcfunction_nested_outputs.py
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  tests/engine/test_process_function.py
  tests/engine/test_work_chain.py
Due: pylint, dm-generate-all, dependencies

Process functions: Allow nested output namespaces (#5954)
  docs/source/topics/processes/functions.rst
  docs/source/topics/processes/include/snippets/functions/calcfunction_nested_outputs.py
  environment.yml
  pyproject.toml
  requirements/requirements-py-3.10.txt
  requirements/requirements-py-3.11.txt
  requirements/requirements-py-3.8.txt
  requirements/requirements-py-3.9.txt
  tests/engine/test_process_function.py
  tests/engine/test_work_chain.py
Due: pylint, dm-generate-all, dependencies

Hide the 'edit this page' button on the apidoc pages
  docs/source/_templates/layout.html
Due: none

CLI: Fix error in `aiida.cmdline.utils.log.CliFormatter`
  aiida/cmdline/utils/log.py
  tests/cmdline/utils/test_log.py
Due: imports, pylint

Fix logging configuration leading to doubled output
  aiida/common/log.py
Due: imports, pylint

Fix logging configuration leading to doubled output (#5959)
  aiida/common/log.py
Due: imports, pylint

Docs: Hide the "Edit this page" button on the API reference pages (#5956)
  docs/source/_templates/layout.html
Due: none

CLI: Fix error in `aiida.cmdline.utils.log.CliFormatter` (#5957)
  aiida/cmdline/utils/log.py
  tests/cmdline/utils/test_log.py
Due: imports, pylint
