Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, dm-generate-all, pyproject, dependencies, verdi-autodocs, version-number

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.30.0
    hooks:
    -   id: yapf
        name: yapf
        types: [python]
        exclude: &exclude_files >
            (?x)^(
                docs/.*|
            )$
        args: ['-i']

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.780
    hooks:
    -   id: mypy
        pass_filenames: true
        files: >-
            (?x)^(
                aiida/engine/processes/calcjobs/calcjob.py|
                aiida/tools/groups/paths.py
            )$

-   repo: local

    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        types: [python]
        language: system
        exclude: *exclude_files

    -   id: dm-generate-all
        name: Update all requirements files
        entry: python ./utils/dependency_management.py generate-all
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.py|
                setup.json|
                utils/dependency_management.py
            )$

    -   id: pyproject
        name: Validate pyproject.toml
        entry: python ./utils/dependency_management.py validate-pyproject-toml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                pyproject.toml
            )$

    -   id: dependencies
        name: Validate environment.yml
        entry: python ./utils/dependency_management.py validate-environment-yml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                setup.py|
                utils/dependency_management.py|
                environment.yml|
            )$

    -   id: verdi-autodocs
        name: Automatically generating verdi docs
        entry: python ./utils/validate_consistency.py verdi-autodocs
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                aiida/cmdline/commands/.*|
                aiida/cmdline/params/.*|
                aiida/cmdline/params/types/.*|
                utils/validate_consistency.py|
            )$

    -   id: version-number
        name: Check version numbers
        entry: python ./utils/validate_consistency.py version
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                setup.json|
                utils/validate_consistency.py|
                aiida/__init__.py
            )$

ORM: move attributes/extras methods of frontend node to mixins
  aiida/orm/entities.py
  aiida/orm/nodes/node.py
  docs/source/howto/data.rst
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 8dec3265835dd9f335aaa43cfe5537cb5409ccc3 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 8dec3265835dd9f335aaa43cfe5537cb5409ccc3 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

`CalcJob`: improve logging in `parse_scheduler_output`
  aiida/engine/processes/calcjobs/calcjob.py
  tests/conftest.py
  tests/engine/processes/test_exit_code.py
  tests/engine/test_calc_job.py
Due: pylint

`CalcJob`: improve logging in `parse_scheduler_output` (#4370)
  aiida/engine/processes/calcjobs/calcjob.py
  tests/conftest.py
  tests/engine/processes/test_exit_code.py
  tests/engine/test_calc_job.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 93bde426fd0f083d3b9750beaa926acb4827c098 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 93bde426fd0f083d3b9750beaa926acb4827c098 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

`BaseRestartWorkChain`: do not run `process_handler` when `exit_codes=[]`. (#4380)
  aiida/engine/processes/workchains/utils.py
  tests/engine/processes/workchains/test_utils.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for aa3b009870a674b11e66e46c49b6246114773a32 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for aa3b009870a674b11e66e46c49b6246114773a32 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Prepare the code for the new repository implementation
  aiida/cmdline/commands/cmd_code.py
  aiida/cmdline/commands/cmd_node.py
  aiida/cmdline/utils/repository.py
  aiida/engine/daemon/execmanager.py
  aiida/manage/backup/backup_general.py
  aiida/manage/database/integrity/duplicate_uuid.py
  aiida/orm/nodes/data/code.py
  aiida/orm/nodes/data/singlefile.py
  aiida/orm/nodes/node.py
  aiida/orm/utils/_repository.py
  aiida/orm/utils/repository.py
  aiida/repository/__init__.py
  aiida/repository/common.py
  aiida/restapi/translator/nodes/node.py
  aiida/tools/importexport/dbexport/__init__.py
  aiida/tools/importexport/dbimport/backends/django/__init__.py
  aiida/tools/importexport/dbimport/backends/sqla/__init__.py
  tests/cmdline/commands/test_node.py
  tests/cmdline/utils/test_repository.py
  tests/orm/utils/test_repository.py
  tests/restapi/test_routes.py
  tests/tools/importexport/test_specific_import.py
Due: pylint, verdi-autodocs

Prepare the code for the new repository implementation (#4344)
  aiida/cmdline/commands/cmd_code.py
  aiida/cmdline/commands/cmd_node.py
  aiida/cmdline/utils/repository.py
  aiida/engine/daemon/execmanager.py
  aiida/manage/backup/backup_general.py
  aiida/manage/database/integrity/duplicate_uuid.py
  aiida/orm/nodes/data/code.py
  aiida/orm/nodes/data/singlefile.py
  aiida/orm/nodes/node.py
  aiida/orm/utils/_repository.py
  aiida/orm/utils/repository.py
  aiida/repository/__init__.py
  aiida/repository/common.py
  aiida/restapi/translator/nodes/node.py
  aiida/tools/importexport/dbexport/__init__.py
  aiida/tools/importexport/dbimport/backends/django/__init__.py
  aiida/tools/importexport/dbimport/backends/sqla/__init__.py
  tests/cmdline/commands/test_node.py
  tests/cmdline/utils/test_repository.py
  tests/orm/utils/test_repository.py
  tests/restapi/test_routes.py
  tests/tools/importexport/test_specific_import.py
Due: pylint, verdi-autodocs

add pytest-benchmarks:ubuntu-18.04,django benchmark result for ac0d55995ef6620e61ba1bb25bc1df5d23ff1778 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for ac0d55995ef6620e61ba1bb25bc1df5d23ff1778 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

allow subclasses to configure cropping of log message without changing default behavior
  aiida/transports/plugins/ssh.py
Due: pylint

`Group`: add support for setting extras
  aiida/backends/djsite/db/migrations/0045_dbgroup_extras.py
  aiida/backends/djsite/db/migrations/__init__.py
  aiida/backends/djsite/db/models.py
  aiida/backends/sqlalchemy/migrations/versions/0edcdd5a30f0_add_extras_to_group.py
  aiida/backends/sqlalchemy/migrations/versions/0edcdd5a30f0_dbgroup_extras.py
  aiida/backends/sqlalchemy/models/group.py
  aiida/orm/groups.py
  aiida/orm/implementation/django/utils.py
  aiida/orm/implementation/sqlalchemy/utils.py
  aiida/orm/nodes/data/remote.py
  tests/backends/aiida_django/migrations/test_migrations_0045_dbgroup_extras.py
  tests/backends/aiida_sqlalchemy/test_migrations.py
  tests/orm/test_groups.py
Due: pylint

`Group`: add support for setting extras on groups (#4328)
  aiida/backends/djsite/db/migrations/0045_dbgroup_extras.py
  aiida/backends/djsite/db/migrations/__init__.py
  aiida/backends/djsite/db/models.py
  aiida/backends/sqlalchemy/migrations/versions/0edcdd5a30f0_add_extras_to_group.py
  aiida/backends/sqlalchemy/migrations/versions/0edcdd5a30f0_dbgroup_extras.py
  aiida/backends/sqlalchemy/models/group.py
  aiida/orm/groups.py
  aiida/orm/implementation/django/utils.py
  aiida/orm/implementation/sqlalchemy/utils.py
  aiida/orm/nodes/data/remote.py
  tests/backends/aiida_django/migrations/test_migrations_0045_dbgroup_extras.py
  tests/backends/aiida_sqlalchemy/test_migrations.py
  tests/orm/test_groups.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 26f14ae0c352bfe7b7f3bd0282291831b71320ed [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 26f14ae0c352bfe7b7f3bd0282291831b71320ed [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

`SshTransport` : refactor interface to simplify subclassing (#4363)
  aiida/transports/plugins/ssh.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for f2f6e2f89580eb824c4175703718a07a2d4b0bee [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for f2f6e2f89580eb824c4175703718a07a2d4b0bee [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Fix to the exception message of the LinkManager
  aiida/orm/utils/managers.py
Due: pylint

Remove duplicated migration for SqlAlchemy
  aiida/backends/sqlalchemy/migrations/versions/0edcdd5a30f0_add_extras_to_group.py
Due: pylint

Remove duplicated migration for SqlAlchemy (#4390)
  aiida/backends/sqlalchemy/migrations/versions/0edcdd5a30f0_add_extras_to_group.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 0b155a518327b6e904e1424956bdb7d7103251fc [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 0b155a518327b6e904e1424956bdb7d7103251fc [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Release `v1.4.0`
  CHANGELOG.md
  aiida/__init__.py
  aiida/orm/utils/repository.py
  aiida/repository/__init__.py
  aiida/repository/common.py
  setup.json
  tests/manage/external/test_rmq.py
  tests/static/__init__.py
Due: pylint, dm-generate-all, pyproject, dependencies, version-number

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 59ebaf478511c13fc3e2de55569004fb88ab1dc7 [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 59ebaf478511c13fc3e2de55569004fb88ab1dc7 [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

verdi import --in-place between file systems
  aiida/cmdline/commands/cmd_export.py
Due: pylint, verdi-autodocs

Drop support for Python 3.5
  .github/workflows/ci-code.yml
  .github/workflows/test-install.yml
  aiida/common/hashing.py
  docs/source/intro/installation.rst
  mypy.ini
  pyproject.toml
  requirements/requirements-py-3.5.txt
  setup.json
  setup.py
  tests/orm/data/test_code.py
  utils/dependency_management.py
Due: pylint, dm-generate-all, pyproject, dependencies, version-number

Drop support for Python 3.5 (#4386)
  .github/workflows/ci-code.yml
  .github/workflows/test-install.yml
  aiida/common/hashing.py
  docs/source/intro/installation.rst
  mypy.ini
  pyproject.toml
  requirements/requirements-py-3.5.txt
  setup.json
  setup.py
  tests/orm/data/test_code.py
  utils/dependency_management.py
Due: pylint, dm-generate-all, pyproject, dependencies, version-number

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 559abbaab690bc7f94c84ece63ad4810500592bf [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 559abbaab690bc7f94c84ece63ad4810500592bf [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

`LinkManager`: fix inaccuracy in exception message for non-existent link (#4388)
  aiida/orm/utils/managers.py
Due: pylint

add pytest-benchmarks:ubuntu-18.04,django benchmark result for 01845181740c2768ce3c31165a3f80e18d241a9f [ci skip]
  dev/bench/ubuntu-18.04/django/data.js
Due: none

add pytest-benchmarks:ubuntu-18.04,sqlalchemy benchmark result for 01845181740c2768ce3c31165a3f80e18d241a9f [ci skip]
  dev/bench/ubuntu-18.04/sqlalchemy/data.js
Due: none

Dependencies: increase minimum version requirement `plumpy~=0.15.1`
  environment.yml
  requirements/requirements-py-3.6.txt
  requirements/requirements-py-3.7.txt
  requirements/requirements-py-3.8.txt
  setup.json
Due: dm-generate-all, pyproject, dependencies, version-number

Implement `next` and `iter` for the `Node.open` deprecation wrapper
  aiida/orm/nodes/node.py
  tests/orm/node/test_node.py
Due: pylint
