Repository aiidateam/aiida-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports, dm-generate-all, dependencies, verdi-autodocs

imports:
  name: imports
  entry: python utils/make_all.py
  language: python
  require_serial: true
  pass_filenames: false

dm-generate-all:
  name: Update all requirements files
  entry: python ./utils/dependency_management.py generate-all
  language: system
  pass_filenames: false

dependencies:
  name: Validate environment.yml
  entry: python ./utils/dependency_management.py validate-environment-yml
  language: system
  pass_filenames: false

verdi-autodocs:
  name: Automatically generating verdi docs
  entry: python ./utils/validate_consistency.py verdi-autodocs
  language: system
  pass_filenames: false

Simplify access to DumpStore (now ProcessingQueue) and DumpTracker registries
  src/aiida/tools/dumping/detect.py
  src/aiida/tools/dumping/executors/__init__.py
  src/aiida/tools/dumping/executors/collection.py
  src/aiida/tools/dumping/executors/deletion.py
  src/aiida/tools/dumping/executors/group.py
  src/aiida/tools/dumping/executors/process.py
  src/aiida/tools/dumping/executors/profile.py
  src/aiida/tools/dumping/facades.py
  src/aiida/tools/dumping/tracking.py
  src/aiida/tools/dumping/utils/__init__.py
  src/aiida/tools/dumping/utils/helpers.py
Due: imports

Remove default prefix and appendix for group and profile dump paths
  src/aiida/tools/dumping/utils/paths.py
Due: imports

Remove old, failing ProcessDumpExecutor unit tests for now.
  docs/source/reference/command_line.rst
  src/aiida/tools/_dumping/utils.py
  tests/tools/dumping/conftest.py
  tests/tools/dumping/managers/test_process_dump_executor.py
Due: imports

Add changes to docs
  docs/source/howto/data.rst
  docs/source/reference/command_line.rst
Due: none

Simplify DumpConfig (remove serialization to click options)
  src/aiida/tools/dumping/config.py
Due: imports

Fix RTD and bugs
  src/aiida/tools/dumping/detect.py
  src/aiida/tools/dumping/executors/collection.py
  src/aiida/tools/dumping/executors/group.py
  src/aiida/tools/dumping/executors/process.py
  src/aiida/tools/dumping/executors/profile.py
Due: imports

Fix group validation exception on `verdi profile dump -G` and creation of empty dirs for deselected groups.
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/detect.py
  src/aiida/tools/dumping/managers/profile.py
  tests/tools/dumping/test_facades.py
Due: imports, verdi-autodocs

Update docs for data dumping
  docs/source/howto/data.rst
Due: none

Fix failing RTD references
  docs/source/reference/command_line.rst
  src/aiida/tools/_dumping/config.py
  src/aiida/tools/_dumping/detect.py
  src/aiida/tools/_dumping/executors/deletion.py
  src/aiida/tools/_dumping/executors/process.py
Due: imports

Fix type annotation for groups input of config model.
  src/aiida/tools/_dumping/config.py
Due: imports

Remove unused type ignore
  src/aiida/tools/_dumping/utils.py
Due: imports

Add facades
  src/aiida/tools/dumping/facades.py
Due: imports

Rename logger module
  src/aiida/tools/dumping/detect.py
  src/aiida/tools/dumping/engine.py
  src/aiida/tools/dumping/managers/collection.py
  src/aiida/tools/dumping/managers/deletion.py
  src/aiida/tools/dumping/managers/group.py
  src/aiida/tools/dumping/managers/process.py
  src/aiida/tools/dumping/managers/profile.py
  src/aiida/tools/dumping/tracking.py
  tests/tools/dumping/conftest.py
Due: imports

Minor changes to CLI interfaces.
  docs/source/howto/data.rst
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/tools/dumping/engine.py
  src/aiida/tools/dumping/managers/group.py
Due: imports, verdi-autodocs

Add dump managers
  src/aiida/tools/dumping/managers/__init__.py
  src/aiida/tools/dumping/managers/deletion.py
  src/aiida/tools/dumping/managers/process.py
  src/aiida/tools/dumping/managers/profile.py
  src/aiida/tools/dumping/processes.py
Due: imports

Expose arguments via `dump` methods of orm types explicitly, and introduce separate config classes.
  docs/source/reference/command_line.rst
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/manage/configuration/profile.py
  src/aiida/orm/groups.py
  src/aiida/orm/nodes/process/process.py
  src/aiida/tools/_dumping/config.py
  src/aiida/tools/_dumping/detect.py
  src/aiida/tools/_dumping/engine.py
  src/aiida/tools/_dumping/executors/collection.py
  src/aiida/tools/_dumping/executors/deletion.py
  src/aiida/tools/_dumping/executors/group.py
  src/aiida/tools/_dumping/executors/process.py
  src/aiida/tools/_dumping/executors/profile.py
  src/aiida/tools/_dumping/facades.py
  src/aiida/tools/_dumping/utils.py
  tests/tools/dumping/integration_tests.py
Due: imports, verdi-autodocs

Fix dump_mode evaluation via config. For group dump, build mapping only for specified group.
  src/aiida/manage/configuration/profile.py
  src/aiida/orm/nodes/process/process.py
  src/aiida/tools/_dumping/config.py
  src/aiida/tools/_dumping/detect.py
  src/aiida/tools/_dumping/engine.py
  src/aiida/tools/_dumping/mapping.py
Due: imports

Add group-node-mapping
  src/aiida/tools/dumping/mapping.py
Due: imports

Add dump logger
  src/aiida/tools/dumping/logger.py
Due: imports

Fix integration tests to use ORM dump methods rather than Dumper classes.
  src/aiida/tools/dumping/managers/collection.py
  src/aiida/tools/dumping/managers/profile.py
  src/aiida/tools/dumping/utils/paths.py
  tests/tools/dumping/integration_tests.py
Due: imports

Update docs, and remove ProfileDumpSelection enum
  docs/source/howto/data.rst
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/engine.py
  src/aiida/tools/dumping/facades.py
  src/aiida/tools/dumping/managers/collection.py
  src/aiida/tools/dumping/managers/group.py
  src/aiida/tools/dumping/managers/profile.py
  tests/tools/dumping/test_facades.py
Due: imports, verdi-autodocs

Fix bug in explicitly-groupd sub-workflows being filtered out for profile/group dumping
  src/aiida/tools/dumping/detect.py
Due: imports

Fix RTD
  docs/source/howto/data.rst
Due: none

Remove DumpRegistryCollection
  src/aiida/tools/dumping/engine.py
  src/aiida/tools/dumping/executors/collection.py
  src/aiida/tools/dumping/executors/deletion.py
  src/aiida/tools/dumping/executors/group.py
  src/aiida/tools/dumping/executors/profile.py
  src/aiida/tools/dumping/tracking.py
  tests/tools/dumping/conftest.py
  tests/tools/dumping/integration_tests.py
  tests/tools/dumping/managers/test_process_dump_executor.py
Due: imports

Done with all executors apart from Process. Fix bug with overwrite mode.
  src/aiida/manage/configuration/profile.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/detect.py
  src/aiida/tools/dumping/engine.py
  src/aiida/tools/dumping/executors/collection.py
  src/aiida/tools/dumping/executors/deletion.py
  src/aiida/tools/dumping/executors/group.py
  src/aiida/tools/dumping/executors/process.py
  src/aiida/tools/dumping/executors/profile.py
  src/aiida/tools/dumping/tracking.py
  src/aiida/tools/dumping/utils/helpers.py
  src/aiida/tools/dumping/utils/paths.py
Due: imports

Fix unwanted group dump nesting
  src/aiida/manage/configuration/profile.py
  src/aiida/orm/groups.py
  src/aiida/orm/nodes/process/process.py
  src/aiida/tools/dumping/detect.py
  src/aiida/tools/dumping/engine.py
  src/aiida/tools/dumping/executors/collection.py
  src/aiida/tools/dumping/executors/group.py
  src/aiida/tools/dumping/executors/profile.py
  src/aiida/tools/dumping/utils/paths.py
Due: imports

Finalize rename to executors
  src/aiida/tools/dumping/engine.py
  src/aiida/tools/dumping/executors/collection.py
  src/aiida/tools/dumping/executors/group.py
  src/aiida/tools/dumping/executors/profile.py
Due: imports

Remove offending annotations for RTD
  src/aiida/tools/__init__.py
  src/aiida/tools/_dumping/__init__.py
  src/aiida/tools/_dumping/config.py
  src/aiida/tools/_dumping/detect.py
  src/aiida/tools/_dumping/executors/deletion.py
  src/aiida/tools/_dumping/executors/process.py
Due: imports

Add dump engine
  src/aiida/tools/dumping/engine.py
Due: imports

Go through `ProcessDumpExecutor``
  src/aiida/tools/dumping/engine.py
  src/aiida/tools/dumping/executors/collection.py
  src/aiida/tools/dumping/executors/deletion.py
  src/aiida/tools/dumping/executors/group.py
  src/aiida/tools/dumping/executors/process.py
  src/aiida/tools/dumping/executors/profile.py
  src/aiida/tools/dumping/tracking.py
  src/aiida/tools/dumping/utils/paths.py
Due: imports

Pre executor refactor
  src/aiida/tools/dumping/executors/collection.py
  src/aiida/tools/dumping/executors/group.py
  src/aiida/tools/dumping/executors/process.py
  src/aiida/tools/dumping/executors/profile.py
  src/aiida/tools/dumping/tracking.py
  src/aiida/tools/dumping/utils/helpers.py
  src/aiida/tools/dumping/utils/paths.py
Due: imports

Remove `dump_data` and `dump_processes` flags and not yet implemented data infrastructure.
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/cmdline/params/options/main.py
  src/aiida/manage/configuration/profile.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/detect.py
  src/aiida/tools/dumping/tracking.py
  src/aiida/tools/dumping/utils/helpers.py
Due: imports, verdi-autodocs

Fix pre-commit
  .pre-commit-config.yaml
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/detect.py
  src/aiida/tools/dumping/executors/collection.py
  src/aiida/tools/dumping/executors/deletion.py
  src/aiida/tools/dumping/executors/process.py
  src/aiida/tools/dumping/executors/profile.py
  src/aiida/tools/dumping/facades.py
  src/aiida/tools/dumping/tracking.py
  src/aiida/tools/dumping/utils/paths.py
Due: imports

Expose ProcessDumper via 'public' API. Remove some `aiida_profile_clean`. Exclude `_dumping` from codecov
  codecov.yml
  docs/source/howto/data.rst
  src/aiida/tools/_dumping/__init__.py
  tests/tools/dumping/integration_tests.py
Due: imports

Revert name to DumpPaths
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/tools/dumping/detect.py
  src/aiida/tools/dumping/engine.py
  src/aiida/tools/dumping/facades.py
  src/aiida/tools/dumping/logger.py
  src/aiida/tools/dumping/managers/collection.py
  src/aiida/tools/dumping/managers/deletion.py
  src/aiida/tools/dumping/managers/group.py
  src/aiida/tools/dumping/managers/process.py
  src/aiida/tools/dumping/managers/profile.py
  src/aiida/tools/dumping/utils/paths.py
  tests/tools/dumping/conftest.py
  tests/tools/dumping/test_facades.py
Due: imports, verdi-autodocs

Start cleaning up unnecessary logging.
  src/aiida/cmdline/commands/cmd_group.py
  src/aiida/cmdline/commands/cmd_process.py
  src/aiida/cmdline/commands/cmd_profile.py
  src/aiida/manage/configuration/profile.py
  src/aiida/orm/groups.py
  src/aiida/orm/nodes/process/process.py
  src/aiida/tools/dumping/config.py
  src/aiida/tools/dumping/detect.py
  src/aiida/tools/dumping/engine.py
  src/aiida/tools/dumping/executors/collection.py
  src/aiida/tools/dumping/executors/deletion.py
  src/aiida/tools/dumping/executors/group.py
  src/aiida/tools/dumping/executors/process.py
  src/aiida/tools/dumping/executors/profile.py
  src/aiida/tools/dumping/facades.py
  src/aiida/tools/dumping/mapping.py
  src/aiida/tools/dumping/tracking.py
  src/aiida/tools/dumping/utils/__init__.py
  src/aiida/tools/dumping/utils/helpers.py
  src/aiida/tools/dumping/utils/paths.py
  tests/tools/dumping/conftest.py
Due: imports, verdi-autodocs

Add utils
  src/aiida/tools/dumping/utils.py
  src/aiida/tools/dumping/utils/__init__.py
  src/aiida/tools/dumping/utils/helpers.py
  src/aiida/tools/dumping/utils/paths.py
Due: imports

Finalize `utils.py` and solve dry-run issue
  src/aiida/tools/_dumping/engine.py
  src/aiida/tools/_dumping/executors/process.py
  src/aiida/tools/_dumping/utils.py
Due: imports

Rename dump logging infrastructure
  src/aiida/tools/dumping/detect.py
  src/aiida/tools/dumping/engine.py
  src/aiida/tools/dumping/managers/collection.py
  src/aiida/tools/dumping/managers/deletion.py
  src/aiida/tools/dumping/managers/group.py
  src/aiida/tools/dumping/managers/process.py
  src/aiida/tools/dumping/managers/profile.py
  src/aiida/tools/dumping/tracking.py
  src/aiida/tools/dumping/utils/helpers.py
  src/aiida/tools/dumping/utils/paths.py
  tests/tools/dumping/conftest.py
  tests/tools/dumping/test_facades.py
Due: imports

Clean up and finalize engine.py
  src/aiida/tools/dumping/detect.py
  src/aiida/tools/dumping/engine.py
  src/aiida/tools/dumping/tracking.py
Due: imports

Path conditions:
  imports: any of: src/aiida/.*py and \.py$
  dm-generate-all: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py
)$
  dependencies: any of: (?x)^(
  pyproject.toml|
  utils/dependency_management.py|
  environment.yml|
)$
  verdi-autodocs: any of: (?x)^(
  src/aiida/cmdline/commands/.*|
  src/aiida/cmdline/params/.*|
  src/aiida/cmdline/params/types/.*|
  utils/validate_consistency.py|
)$
